[2016-02-17 14:13] caniszczyk opened #1 "Develop a process for CNCF project proposals and approval"
Per the charter, the CNCF TOC is responsible for:
* approving new projects within the scope for CNCF set by the Governing Board, and create a conceptual architecture for the projects
* aligning projects, removing or archiving projects,

This issue will track coming up with a process to accept projects within the CNCF.

[2016-03-31 18:00] caniszczyk opened #3 "Develop a process for Working Group formation"
There is an interest to form Working Groups around specific topics.

We should have a simple formal process to establish these.

[2016-04-04 13:39] jonboulle commented on #3
Can you give some examples of topics for which there's been interest in
creating working groups?

On Thu, Mar 31, 2016 at 8:00 PM, Chris Aniszczyk <notifications@github.com>
wrote:

[2016-04-12 15:32] chriswright commented on #3
@jonboulle some topics that came up:
- Service Broker
- Storage
- Networking
- OpenStack collaboration

[2016-04-12 15:39] jonboulle commented on #3
Thanks - and what's the thinking in terms of how these working groups
interact with CNCF projects? I'm just trying to understand what the
implications are

On Tue, Apr 12, 2016 at 5:32 PM, Chris Wright <notifications@github.com>
wrote:

[2016-04-13 02:02] caniszczyk commented on #3
drafted a proposal here in google doc form for comment tomorrow:
https://docs.google.com/document/d/1rs13t8oTTyYgnm_0bGF_K38rRzG7WtYa0ztbD2K8T8E/edit#

If people are happy with it, I can turn it into proposal where we can vote on it.

[2016-04-14 09:44] caniszczyk opened #5 "Clarify CNCF project acceptance criteria"
It's great that we now have a formal project proposal process, one thing we haven't done yet is to clarify acceptance criteria for new technologies to include in CNCF (outside of what is specified in the charter: https://cncf.io/governance). We can choose to do this as an amendment section to the project proposal process or include in another document.

[2016-04-20 16:07] bcantrill commented on #3
It remains unclear to me what problem is being solved here: if people wish to meet and discuss, CNCF doesn't prevent that -- but if some sort of implicit endorsement is being sought to be given by the TOC and/or CNCF, we should be much more clear about what is being done here and why.  Why not let an informal group form and then come to the TOC when they feel that the association with the CNCF wou

[2016-04-20 16:12] caniszczyk commented on #3
@bcantrill they are already discussing this and want a place to do it in a formal fashion as the end result may be a CNCF project proposal (these are CNCF members wanting to do this). We should provide it for them along with some simple rules (transparent meetings, short lived charter, etc)

The purpose is clearly laid out here, feel free to comment on the PR:
https://github.com/cncf/toc/blob/add-

[2016-10-11 19:01] caniszczyk commented on #1
closing this old issue, this was done awhile ago:
https://github.com/cncf/toc/blob/master/process/project_proposals.adoc

[2016-10-11 19:01] #1 closed

[2016-10-11 19:04] caniszczyk opened #16 "Call a vote on Cloud Native Reference Architecture"
@kenowens12 and a bunch of other folks have done excellent work on a reference architecture:
https://docs.google.com/presentation/d/1uMw2wkK0ubmc3khxqIuxK_rLK_wN89tNCnK7gDmTGR8/edit#slide=id.g15843037bc_2_6

The last TOC meeting there was a request to call a vote to approve and finalize this.

[2016-10-11 19:19] caniszczyk commented on #16
@kenowens12 there seems to be a comment from @bgrant0607 there on Provisioning that hasn't be replied to, once that is done I'll call for a formal vote to have the reference architecture approved

[2016-10-12 05:33] bgrant0607 commented on #16
@caniszczyk @kenowens12 I resolved comments, including the provisioning one, that look like they'd been addressed. I did add one last set of comments and questions, though, on slide 7, with regards to resource management.

[2016-12-07 15:45] caniszczyk opened #26 "Update project proposal process to indicate project type"
Now that the graduation criteria is approved (https://github.com/cncf/toc/pull/24), we should update the project proposal process to indicate the project type at proposal time.

[2017-02-21 16:04] caniszczyk commented on #3
This is finally done: https://github.com/cncf/toc#working-groups

[2017-02-21 16:04] #3 closed

[2017-02-27 00:46] caniszczyk opened #31 "Update Project Proposal Process v1.1"
This is no longer true: "All projects start in the incubator TLP"

[2017-03-21 04:36] rothgar commented on #16
Can someone explain on slide 8 what is meant by provisioning layer? I'm assuming this is everything that installs or prepares an operating system for the top 3 layers but I'm not sure why that is in scope for the CNCF. This is a very broad list and IMO has no specifics on being cloud native.

[2017-03-21 05:28] rothgar commented on #16
After looking at the landscape again I understand what products/projects are in this space but I'm still not sure why they would be included as part of CNCF as there doesn't seem to be anything particularly cloud native about them except some of them can create infrastructure on a provider.

[2017-04-21 06:09] warmchang opened #35 "Invalide link of kubernetes's pause"
The kubernetes repo's directory structure has been adjusted, and should update  the pause's info:
https://github.com/cncf/toc/blob/master/proposals/kubernetes.adoc
![image](https://cloud.githubusercontent.com/assets/13084624/25264786/c8a0a2da-269b-11e7-8f12-48e91bb5b225.png)
The link "https://github.com/kubernetes/kubernetes/blob/master/third_party/pause/LICENSE" get the 404 error.

[2017-07-11 18:56] wattsteve opened #39 "Presentation of gluster-kubernetes to the CNCF TOC"
Hi Folks

We'd like to introduce the TOC to [gluster-kubernetes](https://github.com/gluster/gluster-kubernetes/) and would appreciate it if we could get a slot on the next CNCF TOC meeting to present the project as a candidate project to join the CNCF. Gluster-Kubernetes is an Apache licensed storage platform that deploys and runs [Gluster](https://www.gluster.org/) in kubernetes. It has native su

[2017-07-11 18:58] caniszczyk commented on #39
Thanks @wattsteve, does anyone oppose to have @wattsteve present the project at an upcoming meeting, most likely the second TOC meeting in August?

[2017-07-31 21:37] dlx opened #41 "Presentation of CNCF CI Cross-cloud project on Aug 15 TOC Meeting"
Our CI Working Group has been tasked with demonstrating best practices for integrating, testing, and deploying projects within the CNCF ecosystem across multiple cloud providers. The Cross-Cloud CI uses multiple project CI pipelines (cross-project) driving multi-cloud deployments (cross-cloud) with e2e tests.

We have 3 projects on Cross-Cloud CI now, Prometheus, CoreDNS and Kubernetes.

The ii co

[2017-07-31 21:41] caniszczyk commented on #41
Thanks @dlx, I'll slot you in!

You can add your presentation to the deck here + run a demo at the 8/15 TOC meeting:
https://docs.google.com/presentation/d/1Gl6oZb--jB6BPWJOoQdFk9PyHYIn_Hvl9kG3VovT0LQ/edit?usp=sharing

Thanks!

[2017-07-31 21:41] #41 closed

[2017-08-07 17:30] caniszczyk commented on #39
I have you tentatively scheduled for Aug 15th, we currently have Envoy and the CI WG so the schedule is fairly packed and we may ask you to delay presenting until the Sept 5th meeting.

cc: @monadic

[2017-08-15 14:13] caniszczyk commented on #39
You're official set for 9/5/17 @wattsteve

[2017-08-15 14:13] #39 closed

[2017-09-07 21:10] caniszczyk opened #45 "Schedule project graduation reviews"
In November, we should schedule project graduation reviews as some of our projects are close to meeting graduation requirements: https://github.com/cncf/toc/blob/master/process/project_proposals.adoc

I'd like to see Kubernetes and Prometheus be first to present since they were the first two projects in CNCF and have almost met all the qualifications.

[2017-09-08 03:19] zhengxiaochuan-3 opened #46 "how should i propose my project"
I`m in china , not easy to go to CNCF TOC meeting. sorry.
how should i propose my project :
[https://github.com/ipdcode/containerfs](https://github.com/ipdcode/containerfs)

[2017-09-08 14:29] caniszczyk commented on #46
@zhengxiaochuan-3 can you explain a bit more about the project, who is using it in production, how many contributors you have, what competitors are out there and so on? The @cncf/toc is usually looking for high velocity open source projects with growing adoption

[2017-09-20 20:51] ajessup opened #49 "Presentation of SPIFFE to the CNCF TOC"
Hi folks,

We'd like to introduce the TOC to [SPIFFE](https://github.com/spiffe/spiffe) and [SPIRE](https://github.com/spiffe/spire) an Apache 2.0 licensed platform originally proposed by @jbeda for issuing identities to software systems in heterogenous environments. It is particularly well suited for elastic or ephemeral cloud workloads and container schedulers such as Kubernetes. The goal of the

[2017-09-20 20:53] caniszczyk commented on #49
You're set for Nov 7th: https://github.com/cncf/toc/blob/master/README.md#scheduled-community-presentations

Does that work @ajessup

[2017-09-20 20:53] ajessup commented on #49
Perfect, thanks!

[2017-09-20 20:54] caniszczyk commented on #49
@monadic @bgrant0607 are you OK with this since you have spoken with the SPIFFE team before on behalf of the @cncf/toc

[2017-09-21 07:44] sebgoa commented on #49
On Wed, Sep 20, 2017 at 10:51 PM, Andrew J <notifications@github.com> wrote:

That SPIRE link does not work

[2017-09-21 15:40] ajessup commented on #49
Hey @sebgoa - the SPIRE repository is currently private (we're planning to open it up next week). I've invited you in the meantime. If there are others who would like access, just let me know.

[2017-09-21 15:42] caniszczyk commented on #49
@ajessup feel free to invite me

[2017-09-21 15:43] ajessup commented on #49
@caniszczyk done

[2017-09-22 07:49] wu-sheng opened #50 "Proposal sky-walking APM to join the CNCF"
Hi CNCF TOC,
I am @wu-sheng. I want to proposal the [sky-walking](https://github.com/wu-sheng/sky-walking) to join the CNCF hosted projects. This is a project, I found two years ago, from Chinese open source community, hosted it in github since 2015, and now the team want it to join CNCF.

Skywalking is an APM, Application Performance Monitoring, for distributed system, and also definitely a distr

[2017-09-22 08:15] terrymanu commented on #50
DangDang use sky-walking to do APM collect and remote call tracing analyze. Sky-walking can collect information for java automatically and can support every language by manually collect. Sky-walking has a beautiful picture to analyze and draw system dependencies diagram, the collector can scale out wonderful. We like to use it, it is a good solution for APM.

[2017-09-22 13:41] caniszczyk commented on #50
Thanks @wu-sheng, the first step in the process is to have a presentation about SkyWalking if the @cncf/toc thinks its appropriate to invite you to present about the project (if its a fit for CNCF). The GPLv3 license would be a deal breaker, so it's great to hear you're considering the ALv2

https://github.com/cncf/toc#scheduled-community-presentations

[2017-09-22 13:57] wu-sheng commented on #50
@caniszczyk Glad to have your reply. I am aware of the presentation from @bhs. What should I prepare for the presentation? I checked your presentations, October 17 is the only free day in 2017, can we do the presentation at that day?

As I said, if we pass your review/presentation, I will change the license to Apache 2.0 directly. The skywalking PMC has voted, passed,  before I submit this proposa

[2017-09-22 14:36] monadic commented on #49
@caniszczyk yes let's move to presentation phase

[2017-09-22 14:39] caniszczyk commented on #49
Perfect thanks!

[2017-09-22 14:39] #49 closed

[2017-09-22 15:03] bgrant0607 commented on #49
+1

[2017-09-22 15:46] duffqiu commented on #50
Thanks @wu-sheng is helping us to apply apm system for our financial customer. That Skywalking follows OpenTracing is most attractive feature for us to choose it.   We are trying to use Skywalking for Springcloud microservice framework and our message based micro service framework. Our customers really love it because it provides the good idea how to track system's performance issues with low effo

[2017-09-27 02:47] caniszczyk commented on #50
@wu-sheng, we were planning to discuss this at the next TOC call (Oct 3rd), it's up to you whether you want to still leave this open for discussion

[2017-09-27 03:13] wu-sheng commented on #50
Sure. I am reopening this.

[2017-09-27 03:19] wu-sheng commented on #50
@caniszczyk Does Oct 3rd mean the third week of Oct? Do we need to attend the meeting?

[2017-09-27 03:25] caniszczyk commented on #50
Oct 3rd simply means the TOC will decide whether to invite the project for
a presentation or not, you're welcome to attend the meeting but not
required

On Tue, Sep 26, 2017 at 8:19 PM 吴晟 Wu Sheng <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2017-09-27 03:29] wu-sheng commented on #50
a presentation or not, you're welcome to attend the meeting but not
required

@caniszczyk  I see. Thanks. Where can I find the link to the meeting? I suppose it is an online meeting, right?

[2017-09-27 18:03] caniszczyk commented on #50
@wu-sheng https://github.com/cncf/toc#meeting-time

[2017-09-29 15:34] tsandall opened #51 "Presentation of the Open Policy Agent project to the CNCF TOC"
Hello!

We would like to introduce [the Open Policy Agent (OPA) project](http://www.openpolicyagent.org) to the TOC. OPA is an Apache 2.0 licensed, general-purpose policy engine. OPA can be applied to any system, at any layer of the stack. OPA’s goal is to enable policy-based control throughout the cloud native ecosystem.

As part of the presentation, we can provide an overview of how OPA works as

[2017-09-29 15:54] caniszczyk commented on #51
@tsandall we can make Nov 21st work

@cncf/toc are you OK with OPA being presented? It is licensed under the ALv2

[2017-09-29 15:58] tsandall commented on #51
Nov 21st would be great!

[2017-09-29 17:07] bgrant0607 commented on #51
That's the week of Thanksgiving in the US. A number of people may be on vacation, including me. I suggest we cancel or move that week's meeting.

[2017-09-29 17:09] bgrant0607 commented on #51
@caniszczyk Yes, @kenowens12 and I asked for a presentation.

[2017-09-29 17:11] bgrant0607 commented on #51
cc @alfus

[2017-09-29 18:15] caniszczyk commented on #51
@bgrant0607 what are your thoughts about bumping up the meeting a week? Nov 14th?

cc: @monadic

Anyways, we can discuss this on the TOC call next week.

[2017-09-29 19:31] bgrant0607 commented on #51
@caniszczyk The 14th would work for me.

[2017-10-02 15:51] tsandall commented on #51
Nov 14th is fine on this side.

[2017-10-03 15:59] caniszczyk commented on #51
@tsandall you're all set for Nov 14th

cc: @cncf/toc

[2017-10-03 15:59] #51 closed

[2017-10-04 17:18] suniljames commented on #49
@caniszczyk what time are you proposing we conduct this meeting? I'd like to get things on the calendar ASAP for my team.

[2017-10-04 17:20] suniljames commented on #49
Ignore. I see the designated meeting times.

[2017-10-09 15:20] duglin opened #53 "Nov 7th TOC Call - wg-serverless presentation"
We'd like to add an agenda item to the Nov 7th TOC call where the wg-serverless team can present the whitepaper and summarize the work//outcome.

[2017-10-09 15:29] caniszczyk commented on #53
you're all set @duglin

[2017-10-09 15:29] #53 closed

[2017-10-09 15:34] duglin commented on #53
thanks!

[2017-10-11 00:40] wu-sheng commented on #50
@caniszczyk  I have already contributed `wu-sheng/sky-walking` project to [OpenSkywalking](https://github.com/OpenSkywalking) Oragnization, and the new repository is https://github.com/OpenSkywalking/skywalking

And this project is under APLv2 License.

[2017-10-12 22:18] caniszczyk opened #55 "Istio presenting to the TOC"
The Istio team would like to request presenting to the TOC on Nov 7th: https://istio.io/

Are you OK with this @cncf/toc cc: @monadic @bgrant0607

[2017-10-13 01:22] bgrant0607 commented on #55
Works for me

[2017-10-13 11:49] monadic commented on #55
Yes, let's invite them, Nov 7th is a good date.

[2017-10-13 13:52] caniszczyk commented on #55
Thanks, all set!

https://github.com/cncf/toc/commit/b299bca5b5cbf592e1dfaf2ed2c88e85310b9122

[2017-10-13 13:52] #55 closed

[2017-10-13 13:52] caniszczyk commented on #45
Scheduled for Nov 14th

[2017-10-13 13:52] #45 closed

[2017-10-19 09:46] wu-sheng commented on #50
@caniszczyk Do you have any news for use about the TOC meeting?

[2017-11-01 16:15] idvoretskyi commented on #35
@warmchang the "pause" is still here https://github.com/kubernetes/kubernetes/tree/master/build/pause, but without a LICENSE file.
Do you have an idea where it can be located now?

[2017-11-01 16:19] idvoretskyi commented on #5
@caniszczyk it should be already defined here https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc

[2017-11-01 16:33] caniszczyk commented on #46
closing due to inactivity

[2017-11-01 16:33] #46 closed

[2017-11-01 16:33] caniszczyk commented on #5
closing this old issue, but the TOC principles will help cover this

[2017-11-01 16:33] #5 closed

[2017-11-02 04:29] warmchang commented on #35
@idvoretskyi , as part of kubernetes, the pause use the Apache v2.0 license ([pause.c](https://github.com/kubernetes/kubernetes/blob/master/build/pause/pause.c)).
Can we just use the kubernetes' [LICENSE](https://github.com/kubernetes/kubernetes/blob/master/LICENSE)?

[2017-11-14 14:45] wu-sheng commented on #50
@caniszczyk I got your reply from @bhs . So can you settle an arrangement about our presentation? When should I do that?

[2017-11-16 05:17] caniszczyk commented on #50
@wu-sheng, shoot me an email at cra at linuxfoundation.org, I can start helping you put together a presentation deck. We may have room Dec 5th or we can do it in early January.

Will you happen to be at kubecon in December by any chance?

[2017-11-16 07:47] wu-sheng commented on #50
@caniszczyk Already sent you the mail. My mail is wu.sheng at  foxmail.com

[2017-11-29 07:13] #50 closed

[2017-11-29 07:13] wu-sheng commented on #50
I am closing this proposal.

[2018-01-17 18:46] stevehu opened #79 "Project proposal: light-4j microservices framework"
As suggested by @caniszczyk, we submit light-4j for consideration to be included in CNCF projects.

Github repo: https://github.com/networknt/light-4j
Document: https://doc.networknt.com/

More information can be be found in the following document.

https://docs.google.com/document/d/1p1v2Fy05SUy5vTTPMhySdpT7KsHJNh4-u7QgGdKEOAA/edit?usp=sharing

To get started with RESTful APIs, these two tutorial

[2018-01-17 19:55] clintkitson opened #80 "Present REX-Ray to TOC"
Hello team,

Last year we did a presentation to the TOC about REX-Ray/libStorage. At the time the relevance of storage to cloud native was less clear and the SWG was asked to discuss this topic. Since then CSI was formed and the industry is rallying around this new interop API. With the introduction of storage projects like Rook and Vitess, it feels like the right time to readdress this important

[2018-01-18 19:14] monadic commented on #80
I am open to this.

[2018-01-18 19:15] monadic commented on #80
Would love to hear from Storage experts in the TOC and community, but seems fair to invite them back.

[2018-01-21 17:10] ultrasaurus commented on #31
what is TLP?

[2018-01-29 17:19] jessfraz opened #85 "Consider removing inception"
I will leave this to you all as my last request before stepping aside from caring about this.

Please consider removing inception. It was described to me as being there mainly for things like "linkerd" so service meshes before service meshes were cool. Now service meshes are cool. Actually I can't stop hearing about service meshes. Everyone is drinking the service mesh koolaid.

Can you directly t

[2018-01-29 17:43] kris-nova commented on #85
Jumping in here because I have strong opinions and GitHub is a great place to share them...

If an incubator is *all* we have... then yes.. That model seems flawed to me.

However, if we didn't have a way to formally work together on a piece of open source code then the project would be total anarchy. Which is why I think getting the CNCF involved as a mediator/peace keeper is a win.

Ideally we w

[2018-01-29 17:44] caniszczyk commented on #85
@jessfraz at the next TOC meeting we have an agenda item to discuss updating the graduation levels: https://lists.cncf.io/g/cncf-toc/topic/agenda_for_upcoming_cncf/9463078?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,9463078

The inception level serves a similar purpose as the Apache Incubator, not all projects are expected to succeed, it gives the @cncf/toc freedom to support projects it think

[2018-01-29 17:44] monadic commented on #85
Please see my proposed agenda for Feb 6 TOC meeting.  You are most welcome to join that discussion.

The CNCF is the only foundation I am aware of that strives to align with how open source actually works.  It does not try to "make fetch happen".  The opposite is the case.  Nobody wants Inception to be a mark of "We made it".  It was created due to demand for an open space with *some very modest*

[2018-01-29 17:45] monadic commented on #85
@kris-nova I think jess meant "inception" in her text

[2018-01-29 17:46] kris-nova commented on #85
Yeah @jbeda just pointed that out too 😄

[2018-01-29 18:50] jessfraz commented on #85
I got them mixed up because its all the same letters kinda and I'm a dingus but yeah inception haha

I think also making it very clear to outsiders what it is in inception and what is in incubation is needed so that's good to hear. I have some problems where I think projects were even added to _incubation_ solely for political reasons but that's just my opinion.

Honestly you all do you. And I hop

[2018-01-29 22:32] monadic commented on #85
I got them mixed up because its all the same letters kinda and I'm a dingus but yeah inception haha

I think also making it very clear to outsiders what it is in inception and what is in incubation is needed so that's good to hear.

I have some problems where I think projects were even added to incubation solely for political reasons but that's just my opinion.

Honestly you all do you.

And I hop

[2018-01-29 22:38] jessfraz commented on #85
I'm going to have a lot of people mad at me for this, but really ok, I'll be the bad guy, I'll call out all BS:

**notary**: no one actually uses it, it is integrated into docker but could never be turned on by default because LOL this issue https://github.com/moby/moby/issues/25852 (fwiw I actually use a notary server and signer with my private registry but I still think this was a political move

[2018-01-29 22:44] jessfraz commented on #85
TLDR on the issue I linked but you literally cannot run an image you built locally when content trust is turned on.... like c'mon.... seriously... and that's the only project notary is built into....

[2018-01-29 22:49] jessfraz commented on #85
Honestly I don't think the people choosing what should be in the foundation have actually _tried_ using the things or they would have seen what I saw. And the container runtime one is a different story obviously but not one I really want to get into tbqh.

[2018-01-29 23:56] jessfraz commented on #85
Also I _know_ no one uses notary in docker the one project where it is integrated because I was the sole person filing issues when official images went unsigned https://github.com/docker-library/official-images/issues/2537

[2018-01-30 00:29] jessfraz commented on #85
Someone sold you a lemon there and I'm unsure if you all were aware of it or not.

[2018-01-30 10:21] jzelinskie commented on #85
use std::disclaimer;

You don't have 100% knowledge of Notary usage: in addition to the Docker Registry, VMWare's Harbor and CoreOS's Quay also support DCT. Quay even extended Notary by working with the TUF maintainers to add multiple roots of trust all in order to improve the poor UX. If the ecosystem cared, Quay would extend support to Application repositories, and then Helm charts and Kubernete

[2018-01-30 10:38] jessfraz commented on #85
So the foundation’s job is now to get the bad projects fixed? Instead of
just adding good projects to start with.

Can someone please inform me of what the overall goal of this foundation
is? Because I thought it was to give projects that are used and innovative
help. Not help lost causes.

On Tue, Jan 30, 2018 at 02:21 Jimmy Zelinskie <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R /

[2018-01-30 10:46] jessfraz commented on #85
I would be willing to bet money that more people use my dotfiles than have notary turned on in docker.

[2018-01-30 10:47] jessfraz commented on #85
Can I add my dotfiles to CNCF?

[2018-01-30 11:54] monadic commented on #85
@jessfraz IMO the goal of the foundation is to foster rapid adoption of cloud native via good projects and education, in a manner that helps projects and gives end users confidence.  See also https://github.com/cncf/toc/blob/master/PRINCIPLES.md

The first couple of years of CNCF have been 'start up mode'.  Choose your metaphor: flying the plane while still attaching the wings, etc.  We have focus

[2018-01-30 14:00] kmova commented on #85
A transparent DD, or an yardstick against which similar solutions are evaluated is currently missing.

The DD need not be comprehensive from day 1 but at least a live doc that keeps getting updated. It is quite possible that some that have moved into Graduation > Archived, because those projects no longer make sense (problems no longer exist) or a better solution has emerged.

[2018-01-30 14:47] monadic commented on #85
@kmova do you mean something like this?  https://github.com/cncf/toc/blob/9d4f27c5bd029d2a9a9284719c0b768feab9cb88/process/due-diligence-guidelines.md

[2018-01-30 15:40] randomvariable commented on #85
Think the guidelines need to be broken up by graduation, or at least a bit of exposition on how the questions in the due diligence guidelines relate to the graduation criteria at each tier?

Some of the proposals have been very early stage - not having a lot of the technical questions even covered yet, but as the inception criteria is "add value to cloud native computing (i.e., containerization, o

[2018-01-30 16:21] monadic commented on #85
@randomvariable we have said no to quite a few projects.

[2018-01-30 17:26] jessfraz commented on #85
I thought this was the TOCs job? I figured the TOC would at least try to use the thing they are going to add. If they did try to use it they would have seen it did not work and I wouldn’t be sitting here having the same argument I had two years ago about how it doesn’t work.

Those three projects are the ones I’d label as being added by politics but honestly I haven’t done due diligence in all the

[2018-01-30 17:30] clintkitson commented on #80
Ok sounds good, Feb 20th it is.

[2018-01-30 17:33] #80 closed

[2018-01-30 17:34] monadic commented on #85
As the DD load has increased and the bar has gotten higher we have been asking more and more people for help.  The role of TOC Contributor was created ....

If you look at recent DD docs and Github threads I think you will see this is taken rather seriously.

[2018-01-30 17:39] caniszczyk commented on #85
Here's info along with explanation of why TOC contributors exist: https://github.com/cncf/toc/blob/master/CONTRIBUTORS.md#toc-contributor-information

We can't expect the @cncf/toc to be experts in every aspect of software and rely on our community to pitch in during the due diligence phase which every project goes through.

[2018-01-30 17:45] jessfraz commented on #85
Nah sorry if I’m going to devote time to something I’d like a real vote.

On Tue, Jan 30, 2018 at 09:39 Chris Aniszczyk <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-01-30 17:50] lukaszgryglicki commented on #85
If needed I can be a volunteer to try to every project and see if it works - that would be fun :)

[2018-01-30 18:13] monadic commented on #85
@jessfraz why?

@lukaszgryglicki thank you please let @caniszczyk know

[2018-01-30 18:16] jessfraz commented on #85
because I'd rather spend my time actually writing software than playing politics on mailing lists. This is exhausting, I actually don't know how people do this. And this is not my first rodeo, it's not even my first rodeo on the "notary is flawed by design" argument. I have other places I would like to devote my time, so if I had a vote I would take it seriously but no, otherwise I'm not going to

[2018-01-30 18:22] lukaszgryglicki commented on #85
Some notary stats can be found there: https://notary.cncftest.io

[2018-01-30 18:23] jessfraz commented on #85
I don't need stats to know that no one actually uses it in docker ;)

[2018-01-30 18:24] lukaszgryglicki commented on #85
Sure, I've just posted this - it *may* be useful for somebody...

[2018-01-30 19:17] monadic commented on #85
@jessfraz just in case it was not clear from my previous comments, the CNCF is not a retirement home for dead projects.  The TOC are fully empowered to remove projects that do not play a role.

Re "if I’m going to devote time to something I’d like a real vote" you said "I'd rather spend my time actually writing software than playing politics on mailing lists".

Here is a DD example: Vitess.  Would

[2018-01-30 19:23] jessfraz commented on #85
I understand the due diligence stuff and I think it has a good purpose.

My point is, if I am going to "vet" a project as being ok, then I am going to have to read about vitess, install vitess, run vitess for a few days, look at original design docs, and actually grow an informed opinion on vitess. Maybe I am just a perfectionist, but I would spend quite a bit of time looking into it, and my time

[2018-01-30 19:36] monadic commented on #85
@jessfraz re "... read about vitess, install vitess, run vitess for a few days, look at original design docs, and actually grow an informed opinion on vitess".

We have been turning over a lot of rocks with vitess for a long time, and consulting with production end users.

I like your (implied) suggestion that DD should include a DD volunteer trying to install and run the software from scratch.  I

[2018-01-30 19:42] jessfraz commented on #85
I will chime in the future when I have informed opinions but I like to remain silent when I’m not informed :)

[2018-01-30 19:42] jessfraz commented on #85
Sure I can also add that to the process

[2018-01-30 19:42] jzelinskie commented on #85
This may not be the correct venue, but I'd like to hear more about this. From what you've discussed, it sounds more like a problem of integrating Notary client with Docker and nothing inherent to TUF.

[2018-01-30 19:45] jessfraz commented on #85
I have no problems with TUF my problem is that notary is flawed by design.
If you can’t use it client side and everyone just keeps it turned off
because it’s unusable when it’s turned on and breaks the very workflow that
made docker popular, than ya it doesn’t work. Security that is unusable,
will not be used.

On Tue, Jan 30, 2018 at 11:42 Jimmy Zelinskie <notifications@github.com>
wrote:

--

Je

[2018-01-30 19:47] jessfraz commented on #85
@jzelinskie as far as the internal politics that unfolded around that issue, you can ping me on the k8s slack :)

[2018-01-30 20:00] monadic commented on #85
@jessfraz thanks, yes please do chime in on DD process guidelines.md

Re: Notary.  The TOC evaluated TUF and Notary together and it was a long and slow process involving many points of view.  That process may have been flawed, and if you could take a look at the discussions it could help too.  If you do not want to do that, then time will tell if Notary moves forward, backward, up or down.  The CN

[2018-01-30 20:05] jessfraz commented on #85
I saw the discussion, and points of view are motivated. I think people who have binding votes should form opinions not based on motivated opinions.

I'll cross my fingers that some nice soul at CoreOS or otherwise can fix the flawed design and actually get it to work. Or ya know they can always build and design something that works from the very start :)

[2018-01-30 21:07] monadic commented on #85
If the design is flawed as you say, then fixing it would be better than removing the project or the whole tier

[2018-01-30 21:21] jessfraz commented on #85
Ya I would consider something that breaks the very workflow that made docker popular flawed. But open to hearing from others as to how that is not true :)

[2018-01-30 21:23] jessfraz commented on #85
Almost like “double jeopardy” I don’t think you can die on the same hill twice so I’m willing to have this argument now

[2018-01-31 21:19] monadic commented on #85
I think everyone else may have left the room now :-(

[2018-01-31 21:20] monadic commented on #85
In all seriousness, if projects have flaws, then either they are fixable ("let's fix them!") or they are fundamental and may even be non-obvious.  If so then time will flush them out.

[2018-01-31 21:50] jessfraz commented on #85
may the odds be ever in their favor :)

[2018-01-31 23:11] JustinCappos commented on #85
I think there is fair amount of due diligence being done by folks, often
behind the scenes.  I know I've spent quite a bit of time the past few
months digging into SPIFFE, etc. to provide an outside / independent
security analysis.

If you have the time, in my experience the community here is quite
appreciative.

For me, there are only so much time I can walk along the Brooklyn Heights
promenade o

[2018-02-01 07:18] jessfraz commented on #85
@justincappos to each their own. I can have a lot more impact spending my time building, designing, and writing innovative software.

[2018-02-01 15:28] skamille commented on #85
@jessfraz I appreciate your perspective on this issue, your detailed understanding of notary, and I think we all agree that we can, if not exactly do better, be more specific about what we can do in vetting projects. But I would like to remind everyone on this thread that we are trying to build a collaborative community and this thread to me feels like it has become unproductive to that end. I wou

[2018-02-01 16:20] estesp commented on #85
I'll wade into these potentially treacherous waters re: `notary`. @jessfraz may have more than the use case that has been widely discussed here re: "turning off" Docker Content Trust because of the UX issue with locally built images (which hopefully we all can agree is not good from a "surprisingly unexpected behavior" for a security feature).

However, my problem with this in context of a CNCF "i

[2018-02-16 14:25] mfdii opened #89 "Present Sysdig's Falco to TOC"
Would it be possible for Loris Degioanni and Mark Stemm of Sysdig to present Sysdig's Falco to the TOC on the March 6th, 2018 call? https://sysdig.com/opensource/falco/

In short, Falco leverages Sysdig's ability to tap into system calls, and provides a rules engine to alert when a container performs "abnormal" operations. This alert can be used to take action on the container -such as kill it, st

[2018-02-16 14:35] caniszczyk commented on #89
@mfdii we could potentially doing something in late March or April, right now presentations on are hold until the TOC finalizing the new sandbox project process.

Can you share some more details? Is this the GitHub repo? https://github.com/draios/falco/

It's under GPLv2 currently, is there any plans to make it ALv2?

[2018-02-20 08:33] mfdii commented on #89
We are currently talking internally about licensing. That should be resolved soon and we are aware that we need to change the license if we were to participate in the CNCF as a project on any level.

Expanding a bit on Falco, we see it fitting nicely with Kubernetes to provide runtime security. Falco essentially works as an intrusion detection system. You deploy it across a Kubernetes cluster as a

[2018-02-20 16:41] caniszczyk opened #90 "Update reference architecture"
From today's TOC call there's been a desire to update the reference architecture. @kenowens12 from the @cncf/toc will be leading this effort.

[2018-02-20 16:45] leecalcote commented on #90
Improvements here are needed. I wonder if we're not on a path to convergence between the landscape and the reference architecture. I'd like to assist in iterating on the reference arch.

[2018-02-20 16:45] kenowens12 commented on #90
Please let me know your interest in contributing to this work group. Slide 13 and 14 along with the landscape document are our start point. https://docs.google.com/presentation/d/1BthkP9OftIICEn1h9ML1F0TKXhaUxXILlcDpuz3Sjzg/edit#slide=id.g31fcaed9a5_0_12

[2018-02-20 18:03] johnbelamaric commented on #90
I'd like to help out as well.

[2018-02-20 22:32] dankohn commented on #90
The landscape was always designed to take it's groupings from the reference
architecture. That's still the plan going forward.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Tue, Feb 20, 2018 at 1:03 PM, John Belamaric <notifications@github.com>
wrote:

[2018-03-05 18:54] integrii opened #94 "Kuberhealthy as a sandbox CNCF project"
Hey guys,

I have a tool that I would like to see become a Kubernetes sandbox project, but I am not sure exactly where to pitch it.  Currently, the code lives within the corporation I work for, but we are looking to open source it (and hand the rights to the name over to the CNCF).  The corporation is a member of the CNCF.

The project is still immature and likely should be considered alpha, but i

[2018-03-05 18:57] caniszczyk commented on #94
@integrii I'll get back you in a week or so, the sandbox process isn't approved yet but will be soon

I'd advise you to open source the code first under ALv2 under your corporate open source home first before bringing it into CNCF. I'd also advise you to present to the kubernetes community first too which you can sign up here: https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZr

[2018-03-05 19:06] twilfong commented on #94
It sounds like this may be the right approach. @integrii and I could get this open sourced under a different name at our corporate open source home, then potentially rename and migrate to CNCF sandbox if we make it though the approval process.

[2018-03-06 00:30] rothgar commented on #90
What's the goal of providing a reference architecture? Is this going to call out specific products? Would that go against the "no king makers" moto?

[2018-03-06 01:52] leecalcote commented on #90
@rothgar, correct. No specific products will be named in the reference architecture. Those that are in the two slides are placed there as examples to quickly convey by example what is meant by the newly proposed layers / architecture.

[2018-03-06 14:06] dankohn commented on #90
The TOC approved this document as the reference architecture in November 2016: https://docs.google.com/presentation/d/1uMw2wkK0ubmc3khxqIuxK_rLK_wN89tNCnK7gDmTGR8/edit#slide=id.g15843037bc_2_6

[2018-03-06 15:53] caniszczyk commented on #90
indeed this is old news, @kenowens12 is currently working on a process to update things and I suggest folks follow https://github.com/cncf/toc/issues/90 and work with him and the @cncf/toc

[2018-03-06 16:43] caniszczyk opened #95 "Sandbox Naming Redux"
At today's @cncf/toc call the TOC wants to hold a vote amongst itself and the TOC Contributors (https://github.com/cncf/toc/blob/master/CONTRIBUTORS.md):

* Labs
* Launchpad
* Prototype
* Sandbox
* Workshop

On the March 20th meeting, the TOC will use the results of this vote to make a final decision amongst themselves on whether we stick with the name or update it.

Was there anything else I miss

[2018-03-06 16:45] leecalcote commented on #95
Vote here or await a mailing list invitation?

[2018-03-06 16:46] monadic commented on #95
voting will be on the list

[2018-03-06 16:49] caniszczyk commented on #95
I will send a vote out via CIVS (condorect style) later this week, I'd like to limit it to only the TOC and TOC Contributors as discussed above. The results will be public.

[2018-03-06 16:52] rothgar commented on #90
Thanks for the additional context Lee and Dan

[2018-03-06 17:03] yurishkuro commented on #95
"Launchpad" was another suggestion somewhere last week.

[2018-03-06 17:12] jbeda commented on #95
Some comments as I won’t be eligible to vote.

One question: Was there anything out of the ToC meeting around voting in
these projects?  There were concerns at the GB meeting around lowering the
bar wrt 2 votes vs a full vote. Is that still the case?

As far as naming — I’d prefer a name that says “early but promising” but
not “experimental”.  To attract the right projects you want projects that
a

[2018-03-06 17:20] josephjacks commented on #95
I’m also not a fan of “Sandbox” as to be it implies untested software. Exactly how low is this bar expected to be? As the criteria / definition materializes, I think the name will become pretty important.

“Lighthouse” could work as it points to the future, promise and shedding light for incoming vessels. I like “Workshop”, too.

JJ

[2018-03-06 17:22] caniszczyk commented on #95
@yurishkuro I'll add it to the list, I will kick off the vote on Thursday to give some time for people to comment, the TOC will than take that as an input at the next TOC meeting to make their final decision, thanks

[2018-03-06 23:19] integrii commented on #94
I've requested a presentation slot for 3/8 (this week)

[2018-03-09 17:03] bgrant0607 commented on #95
@caniszczyk Did voting start on this yet?

[2018-03-09 17:29] caniszczyk commented on #95
I will start the voting on Monday with the names suggested, close it the
following Monday before the TOC meeting.

On Fri, Mar 9, 2018 at 11:03 AM, Brian Grant <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-03-10 21:10] monadic commented on #95
@jbeda thanks for the comments.

One of (several) objectives for the entry level tier is to have a place for existing projects to initiate prospective extensions, as with this - https://github.com/kubernetes/community/blob/master/incubator.md ... which makes it very hard to have an objective quality bar.  Notice that k8s incubator also has two sponsors.  I do understand that this means two project

[2018-03-11 01:16] jbeda commented on #95
The Kubernetes incubator is being deprecated and is generally seen to have not worked particularly well.  There are multiple reasons -- the low bar is one.  Another is an expectation that there is a formulaic path to graduation. The final reason is that folks were joining looking for an endorsement vs. a real connection to ongoing core work.

Things are moving in the direction of a [3 tiered proje

[2018-03-11 07:59] monadic commented on #95
Yes, I am aware that k8s incubator is being deprecated and why.  This is one of the reasons we are tidying up the entry level tier.  K8S and other major CNCF projects are big enough to need quite a lot of ramified machinery ranging from (as you say) core pieces to various associated pieces.  So we need a flexible system that allows that, and keeps projects in control of their own governance.  Also

[2018-03-13 21:35] integrii commented on #94
I will be doing a quick presentation on Kuberhealthy in the community meeting on the 15th of this month.

[2018-03-16 18:36] richarddli opened #99 "Project proposal: Telepresence for CNCF Sandbox"
Telepresence is a developer tool for Kubernetes. Telepresence lets developers code their Kubernetes services locally, while creating a bi-direction network proxy to a remote Kubernetes cluster. This lets developers who are working on multi-service apps to get the benefits of both local development (fast feedback cycle, IDE, debugger, etc.) and cloud development (unlimited compute/network resources

[2018-03-16 21:06] caniszczyk commented on #99
Hey @richardli thanks for reaching out! (did you forget number three?)

Does April 17 work for you to present to the @cncf/toc community meeting (April 3rd will be taken for another topic I plan to announce soon)? That has to be done before we ask for TOC sponsors.

[2018-03-16 21:09] richarddli commented on #99
Oops, that was a typo. Deleted the #3. Yes, 4/17 works.

[2018-03-16 21:11] caniszczyk commented on #94
closing this, please come back with a request once the project has been open sourced

[2018-03-16 21:11] #94 closed

[2018-03-20 15:22] mfdii commented on #89
@caniszczyk Chris, I see the Sandbox process has been finalized. Would it be possible to get on the TOC meeting for April 17th?

[2018-03-20 15:33] caniszczyk commented on #89
@mfdii I need to find a @cncf/toc member to support you presenting first + I have a concern presenting a technology that is GPLv2, are there plans to move to the ALv2 any time soon?

[2018-03-20 17:34] mfdii commented on #89
@caniszczyk We are reviewing what it will take to move to ALv2. We aren't opposed to it, it's just that there's shared code between Faclo, and the [Sysdig OSS](https://github.com/draios/sysdig) project.

Right now Falco uses the Sysdig kernel module as it's source of data. This module is GPLv2. In theory Falco can use another source for its data stream, the Sysdig module could be one of many sourc

[2018-03-27 09:54] vongosling opened #103 "Present OpenMessaging to TOC"
OpenMessaging, a vendor-neutral open standard for distributed messaging and streaming, which includes the establishment of industry guidelines and messaging, streaming specifications to provide a common framework for finance, e-commerce, IoT and big-data area. The design principles are the cloud-oriented, simplicity, flexibility, and language independent in distributed heterogeneous environments.

[2018-03-27 14:11] caniszczyk commented on #103
Thanks @vongosling, I'll check with the @cncf/toc but May 15th SGTM.

[2018-03-28 16:01] bgrant0607 commented on #95
Problems with [K8s incubator](https://github.com/kubernetes/community/blob/master/incubator.md) as I saw them:
1. People wanted to move their existing projects under Kubernetes, for endorsement, attracting contributors, leveraging our community infrastructure (slack, meetings, etc.), and other reasons. However, the Kubernetes project was really equipped to accept outside projects, process-wise, le

[2018-03-28 16:03] bgrant0607 opened #105 "Update Inception section of graduation doc"
To replace it with sandbox.

[2018-03-28 16:05] caniszczyk commented on #105
I'm on it and have a git stash with changes already, was going to wait
until the next TOC meeting but I can do that later today.

On Thu, Mar 29, 2018 at 12:03 AM, Brian Grant <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-03-29 16:21] dankohn commented on #90
@kenowens12 Do you want to do a call to kick off this review?

[2018-04-04 09:38] tamalsaha opened #107 "Collecting analytics on Helm charts"
Hi,
We, AppsCode, publish a number of charts in Helm stable charts. We collect usage events from our various tools. Currently this generally means we send a Google analytics event every time a cli command is executed. This can be disabled via a flag --enable-analytics=false. This is also noted in the readme file for charts.

We are trying to expose this flag in our charts hosted on stable charts r

[2018-04-04 09:39] tamalsaha commented on #107
cc: @dankohn @bgrant0607 @technosophos @mattfarina @timstoop @unguiculus

[2018-04-04 09:57] timstoop commented on #107
To add my point of view, as I started with opposing the default:

My biggest concern (not my only one, though) is with regards to GDPR. I'm in the EU and the GDPR is a Big Thing:tm: over here. I'm not a lawyer or versed in legal issues in any way, but from what I've been told, it's very important that end-users in the EU need to explicitly approve any form of tracking. Defaulting to `allow` is not

[2018-04-04 12:52] dankohn commented on #107
CNCF's parent, the Linux Foundation, recently conducted its GPDR audits. Based on my reading, Google Analytics (GA) is compliant with GDPR as long as no Personally Identifiable Information (PII) is captured, which it's not in this case. So, whether charts should default to supporting analytics is not, I believe, a legal question.

It does seem one that should be addressed by the Helm project maint

[2018-04-04 13:00] timstoop commented on #107
Thank you for your reply! That takes away the legal concerns then. I'll take the moral concerns to the project maintainers and have them decide whether it should be escalated to the Steering Committee or not.

[2018-04-04 14:13] dankohn commented on #107
I'll close then unless @tamalsaha wants to add anything, but if you open an issue on the Helm repo can you please paste the URL here to link them for posterity.

[2018-04-04 14:25] justincormack commented on #107
What is the full set of data sent to Google Analytics? This is not documented in the other PR or cli options, so it is hard to be sure if it is PII, or indeed reasonable or not.

[2018-04-04 15:09] caniszczyk commented on #99
you're scheduled to present for 4/17

[2018-04-04 15:09] #99 closed

[2018-04-04 15:29] bacongobbler commented on #107
Thanks Dan! I think we can start having a discussion with those thoughts in our minds. Let's close this out and bring the discussion back to the charts/helm dev calls and report back.

I've filed a ticket here for discussion: https://github.com/kubernetes/charts/issues/4697

[2018-04-04 15:46] #107 closed

[2018-04-04 18:16] tamalsaha commented on #107
Thanks @dankohn  ! This is immensely helpful .

@justincormack , to answer your question, this is the actual logic, https://github.com/appscode/stash/blob/master/pkg/cmds/root.go#L36 .

Say, my cli has a command `mycli get pods`. Then we compute a [client_id](https://github.com/appscode/kutil/blob/master/tools/analytics/analytics.go#L77) by taking md5 hash of clusters master ip. Then we send an ev

[2018-04-04 21:55] adrianmaurer commented on #79
looks like you just glued a bunch of libraries and utilities together on top of undertow? What if I don't want all that stuff and compose something that works for my specific needs?

[2018-04-05 00:55] stevehu commented on #79
@adrianmaurer Yes. We basically built dozens of middleware handlers that address all cross-cutting concerns for most microservices running in a container. In addition, we provide handlers to support different style of APIs like Swagger 2.0, OpenAPI 3.0, GraphQL and RPC. If users want to build services with asynchronous events, we have Event Sourcing/CQRS, transactional messaging and saga framework

[2018-04-05 12:59] adrianmaurer commented on #79
Still sounds to me like light4j brings on a lot of assumptions and baggage. I think I understand what you're trying to do and that is to provide a reference architecture and some standard dev tools. But I'm not sure light4j achieves that. And here is why

1. Everything you've selected to be part of the ecosystem are more or less wrappers around common tools and patterns with opinions so that they

[2018-04-05 13:41] stevehu commented on #79
We are not trying to provide a reference architecture but trying to provide a skeleton that allows users to create their own handlers to attach/inject to it. It is just like we build a Lego base and provide some blocks as references. Other players can use our blocks or build something totally different.

Although light-4j is built on top of Undertow, it has the same performance as you build the ap

[2018-04-16 21:25] kenowens12 commented on #90
Lets get a meeting scheduled for the next week. Please respond if your available on:
Friday at 2pm PT or Monday at 10am PT or 1pm PT

[2018-04-17 20:48] mattfarina commented on #90
If anyone is still working on this I would be happy to contribute. We've been looking at app dev and ops tools for awhile (on k8s) and I may have some insight or useful info to help.

[2018-04-17 20:49] mattfarina commented on #90
@kenowens12 I could make the Monday time at 10am PT. The other two I can't commit to but could try.

[2018-04-17 22:01] r2d4 commented on #90
monday at 10
monday at 1

[2018-04-18 11:37] leecalcote commented on #90
1) Friday at 2pm PT, 2) Monday at 10am PT

[2018-04-27 07:12] monadic opened #108 "Project Proposal: Weave Cortex for the Sandbox"
The Cortex team would like to make an initial TOC presentation for moving Cortex the CNCF Sandbox.

https://github.com/weaveworks/cortex

The project implements a horizontally scalable time series database backend for Prometheus, using Kubernetes as the orchestration engine.  Originally implemented to manage hosted Prometheus as a multi-tenant service on AWS, the project has expanded to support ot

[2018-04-27 13:56] caniszczyk commented on #108
We can schedule you on June 5th to present to the @cncf/toc if no one objects.

[2018-04-27 22:54] clintkitson opened #109 "Present Harbor to TOC"
# Who, what, why?
Harbor is a enterprise-grade container registry project from VMware. The project includes a variety of important features including replication between disparate Harbor nodes, authentication via LDAP/AD, repository grouping by project with role-based access control, vulnerability scanning, audit logging, trusted content through image signing, and an HTML5 web interface. Harbor co

[2018-04-28 00:08] caniszczyk commented on #109
Thanks, if no one from the @cncf/toc has an issue, I will schedule this for June 19th

[2018-04-28 00:08] caniszczyk commented on #109
RFC @cncf/toc

[2018-04-30 10:37] RichiH opened #110 "Present OpenMetrics to TOC"
# Who, what, why?
OpenMetrics aims to evolve the Prometheus exposition format into its own standard to help adoption. The project is currently nearing technical completion after which we will write the specs and Internet Draft to publish an RFC.

This effort has been ongoing for well over a year with healthy buy-in from CNCF TOC, especially @monadic , the community, and [several companies](https:/

[2018-05-01 07:10] caniszczyk commented on #110
If I hear no issues from the @cncf/toc by the end of this week, I will schedule you for June 19th

[2018-05-01 18:03] RichiH commented on #110
I might have a scheduling conflict on that date, but it should work out. Will be able to tell next week, but you are free to schedule and if all else fails, I will reschedule.

[2018-05-07 23:08] kenowens12 commented on #90
I knew that @dankohn  :-)

I'm OOF this week so looking at the week of 5/14.

Please let me know availability for the following options:

5/14 - Monday PDT
9:30am
10:00 am
12:00 pm
2:30 pm

[2018-05-08 04:03] dankohn commented on #90
I'm good for

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, May 7, 2018 at 7:08 PM, Ken Owens <notifications@github.com> wrote:

[2018-05-08 04:04] dankohn commented on #90
Sorry, I'm good for 10, 12, and 14:30 on Monday, 5/14. Once we pin down a
time, I'll send out a meeting invite.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Tue, May 8, 2018 at 12:03 AM, Dan Kohn <dan@linuxfoundation.org> wrote:

[2018-05-08 22:59] RichiH commented on #110
June 19th is most likely better; remind me at what UTC time this will happen, please.

[2018-05-08 23:01] caniszczyk commented on #110
8am PT = 3pm UTC I believe

June 19th it is!

[2018-05-08 23:19] RichiH commented on #110
Sgtm

Sent by mobile; please excuse my brevity.

On Wed, May 9, 2018, 01:01 Chris Aniszczyk <notifications@github.com> wrote:

[2018-05-08 23:36] ceohockey60 opened #113 "Present TiKV to TOC"
**Who, what, why?**

TiKV is an open-source distributed transactional key-value store written in Rust built by the company, PingCAP. It provides strong consistency, ACID compliance, and horizontal scalability. TiKV’s transaction model is based on Google’s Percolator model with a few optimizations, and it uses the Raft consensus protocol (with a Multi-Raft implementation) to execute data replicatio

[2018-05-08 23:54] caniszczyk commented on #113
Thanks, I'll wait to hear from the @cncf/toc if there are any objections but we can schedule you July 3rd or July 17th

[2018-05-09 02:41] ceohockey60 commented on #113
Sounds good! July 3rd works for us. Thanks!

[2018-05-09 15:57] bgrant0607 commented on #109
I hear that the OCI distribution spec has NOT been finalized, that the effort basically just started.

Note the mention of "Docker" (rather than OCI) everywhere in the spec:
https://github.com/opencontainers/distribution-spec/blob/master/spec.md

[2018-05-09 17:16] caniszczyk commented on #109
This is because the OCI just recently created the distribution spec project and ported the Docker registry API spec over, there still needs to be work before a first release is done but we expect backwards compatibility.

[2018-05-10 15:34] caniszczyk commented on #108
Scheduled for June 5th

[2018-05-10 15:34] #108 closed

[2018-05-10 15:34] caniszczyk commented on #110
Scheduled for June 19th

[2018-05-10 15:34] #110 closed

[2018-05-10 15:47] caniszczyk commented on #89
Scheduled to July 14th

[2018-05-10 15:47] #89 closed

[2018-05-11 08:01] sebgoa commented on #89
fwiw: I tried Falco recently on GKE and tied it to kubeless using NATS. Easy setup, ability to define custom security rules. It would benefit from a strong integration to NATS but it would make a nice security addition to the sandbox.

[2018-05-16 00:14] bgrant0607 commented on #89
@caniszczyk
July 14 is a Saturday

[2018-05-16 02:43] caniszczyk commented on #89
@bgrant0607 yes you're right, calendar entry was right my typing was wrong

https://github.com/cncf/toc/commit/dd29bdea62d5d8d1b87c1d778022c3a15f11be71

[2018-05-21 17:42] dankohn commented on #90
@taylorwaggoner Could you please kick off a Doodle Poll here with several slots for this week and next? We'd like to find a recurring slot where we can do an architecture call, such as the 2nd and 4th Friday of the month.

[2018-05-21 18:17] kenowens12 commented on #90
I like this idea the best! Thanks Dan.

[2018-05-21 23:26] dankohn commented on #90
Here is the Doodle Poll: https://doodle.com/poll/6nik8mc8r56s3wu3

We also have set up a mailing list: https://lists.cncf.io/g/cncf-reference-architecture

Please feel free to join, and let's please move discussion there.

[2018-05-22 02:02] caniszczyk commented on #109
scheduled for 19th

[2018-05-22 02:02] #109 closed

[2018-05-22 02:02] caniszczyk commented on #113
scheduled for July 3rd!

[2018-05-22 02:02] #113 closed

[2018-05-22 02:04] #105 closed

[2018-05-22 02:05] caniszczyk commented on #95
We've decided on the initial v1.0 of the sandbox guidelines here:
https://github.com/cncf/toc/blob/master/process/sandbox.md

We can also update them over time, I actually encourage we look at our governance on an annual basis.

[2018-05-22 02:05] #95 closed

[2018-06-01 16:18] #31 closed

[2018-06-04 15:39] mfdii commented on #89
Linking the project proposal and project presentation to this issue.

[Falco Project Proposal](https://docs.google.com/document/d/1uf20azEZ_CciqzdG60rtqjrqzrUVlyVOwevPrxhfpoA/edit)

[Falco Presentation](https://docs.google.com/presentation/d/1YZL5v1lyL-S2UPPhYlefHNHQeKL96T2L0XdUULz-gTA/edit?ts=5aa177b6)

[2018-06-05 17:17] nebhale opened #121 "Present RSocket to the TOC"
RSocket is an application-layer network protocol designed for micro-services and browser interaction.  It is built upon a message-driven, asynchronous, and multiplexed design and embraces "reactive" principals from the [Reactive Manifesto](http://www.reactivemanifesto.org/).  The protocol is transport, payload, programming model, and language agnostic and includes useful features such as flow cont

[2018-06-05 17:21] mogul commented on #89
Hello, product lead from cloud.gov here! I [presented](https://youtu.be/wFQOXMcZnQg?t=6m25s) on the cloud.gov team's (afaik) novel use of Falco to implement [dynamic behavior monitoring](https://cloud.gov/docs/apps/experimental/behavior-monitoring/) in cloud.gov, a Cloud Foundry Certified Platform. It would be great to see Falco included in the CNCF activity which has already led to closer collabo

[2018-06-05 17:24] caniszczyk commented on #121
Thanks, RFC: @cncf/toc

If I don't hear any objections by Monday, I'll schedule you for 8am PT on Aug 7th or 21st (whatever works best for you)

[2018-06-05 17:30] caniszczyk commented on #121
@bgrant0607 that's what I'm going for moving forward, no more than 1 community presentation a meeting unless something is time sensitive

[2018-06-05 17:34] nebhale commented on #121
@caniszczyk We'd prefer August 7, pending any objections.

[2018-06-05 20:35] justincormack commented on #121
It would be nice to have a more detailed comparison with gRPC given the audience, it is briefly mentioned in the FAQ.

[2018-06-07 16:04] nebhale commented on #121
@justincormack We're working on the slides for that now and will be prepared to go into more depth verbally as desired.

[2018-06-07 20:07] monadic commented on #121
@caniszczyk I agree with @bgrant0607 about keeping "work time" free during TOC meetings for now.

[2018-06-07 20:13] monadic commented on #121
Just wanted to say that having spent several hours on this with the principals, I am keen to sponsor RSocket as a sandbox project.  The project supports different semantics from gRPC and is perhaps best seen as a distributed rxJava alternative.  There are several intriguing properties eg. how flow control may itself be distributed.  I have a few concerns, notably that the project may be better sui

[2018-06-07 22:29] smaldini commented on #121
@monadic it would be interesting to get your opinion separately on the credit based issues. Also if you have comments regarding the Leasing and Resumption specifications, they should ring some bell to you :). Your assessment regarding gRPC is right (It is intended to be a distributed Reactive Streams alternative more than specifically an RxJava one).

[2018-06-08 21:22] sclevine opened #122 "Present Buildpacks to the TOC"
Buildpacks replace Dockerfiles in the app development lifecycle with a higher level of abstraction. In doing so, they provide a balance of control that reduces the operational burden on developers and supports enterprise operators who manage apps at scale. Buildpacks ensure that apps meet security and compliance requirements without developer intervention. They provide automated delivery of both O

[2018-06-08 22:47] duglin commented on #122
@sclevine can you elaborate on where, or what, this "project" is? The url to github you provided is just to a README. All of the links in there go to other sites. Are you proposing a project that has code - and if so, where is it? or are you suggesting we pick-up the CF code base? Or is this project a specification?  the CF spec? the heroku spec?

[2018-06-08 23:17] caniszczyk commented on #122
RFC @cncf/toc

If I don't hear anything against scheduling from the TOC by end of next week, how does Aug 21st work at 8am PT?

[2018-06-09 04:01] sclevine commented on #122
@duglin We intend to contribute a specification for a new buildpack interface that adopts cloud native principles and standards, a corresponding reference implementation, and a set of tools. We don't currently plan to contribute existing buildpacks.

Apologies for the lack of clarity -- this is an early-stage project intended for the sandbox, and we plan to publish more before presenting to the TO

[2018-06-09 10:36] duglin commented on #122
Great, thanks for the clarification.

Sent from my iPad

[2018-06-09 10:38] garethr commented on #122
What's a good place for folks to contribute to this effort?

[2018-06-09 14:48] dankohn commented on #122
@sclevine Could you please speak to why Heroku and Cloud Foundry are not planning to contribute the existing buildpacks?

[2018-06-09 21:22] ktsaou opened #123 "proposal to accept netdata in CNCF"
Hi,

We kindly request to review the following information and provide instructions for the next steps.

We will be honored to be part of CNCF.

Thank you!

---

# netdata

Name of project: **netdata**

## netdata description

netdata is an open source, distributed performance and health monitoring system. At its core is a highly optimized, lightweight monitoring agent that is installed on all sys

[2018-06-09 22:41] dankohn commented on #123
Thanks for the submission. The CNCF [charter](https://www.cncf.io/about/charter/) Section 11 requires all projects to be released under the Apache 2.0 license unless an explicit vote is taken by the governing board (GB). The GB would be very unlikely to support a GPLv3-licensed project.

Could you please speak to the willingness of the project maintainers to relicense from GPLv3 to Apache-2.0, and

[2018-06-09 22:48] ktsaou commented on #123
Yes, this has already been discussed and all key contributors have agreed to transfer their copyright to a legal entity we will create for netdata. So, this new entity will be able to relicense netdata under whatever open source license is required.

We will need some help from CNCF for the details (how this copyright transfer will be legally binding, etc).

More details can be found at https://gi

[2018-06-10 02:28] ktsaou commented on #123
I did a few edits on the original post to correct typos and grammar issues. I also expanded a bit 2 places that I thought would be helpful during the evaluation.

[2018-06-11 13:22] caniszczyk commented on #122
@sclevine you can present to the TOC on August 21st if that works at 8am PT

[2018-06-11 13:27] caniszczyk commented on #123
@ktsaou we can schedule you to present to the @cncf/toc on September 4th if that works at 8am PT

[2018-06-11 16:28] ktsaou commented on #123
hm... I plan to present netdata Monitorama Amsterdam at Sep 4th and 5th. Can we do it on another date? Also, where will this presentation take place?

[2018-06-11 17:07] caniszczyk commented on #123
@ktsaou no worries, how about September 18th?

[2018-06-11 17:39] ktsaou commented on #123
Sep 18th, 8pm (PT), is fine.

By examining past meeting minutes I understand you need a few slides in advance. Right? Are there any questions I should prepare answers for? Are there any other preparations I should take care of?

[2018-06-11 17:48] caniszczyk commented on #123
@ktsaou correct, you can take examples from previous presentations

essentially, describe the goals of the project, what it does, size of community/adopters, what you're looking for from CNCF

[2018-06-11 18:17] bgrant0607 commented on #123
@caniszczyk Could we please quickly review prospective projects during a meeting rather than just scheduling them?

Github notifications are virtually white noise for me, so I'd prefer not needing to try to stay on top of individual github issues, and I don't see many other TOC members responding, either.

[2018-06-11 18:19] caniszczyk commented on #123
@bgrant0607 I'll add a slide to the TOC deck that mentions future presentations

[2018-06-12 16:53] chipchilders commented on #122
@dankohn I'll let @sclevine and the Heroku folks reply as well, but generally think about buildpacks as artifacts that are designed to be varied across users and use cases. An imperfect analogy would be Dockerfiles. There's discussion in the works around a buildpack registry to help with discoverability across the ecosystem of buildpack authors.

What matters is the standardization of the API and

[2018-06-12 18:11] dankohn commented on #122
I agree that you can treat buildpacks as opaque and just standardize the
interfaces for them. However, I know from experience that there are
thousands of hours of engineering invested in, say, the internals of the
Ruby or Node.js buildpacks. I would think that CF and Heroku might want to
collaborate to share that engineering rather than maintain their own
buildpacks. But perhaps that collaboration

[2018-06-13 13:39] dankohn commented on #90
Group and call details: https://lists.cncf.io/g/cncf-toc/topic/updating_the_cncf_reference/22077335?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,22077335

[2018-06-14 16:16] kmonsoor commented on #123
Congratulations to @ktsaou and all the contributors on this success. Thank you for this excellent tool.
Long live this project.

src: https://twitter.com/linuxnetdata/status/1006897293948145668

[2018-06-15 14:28] caniszczyk commented on #79
closing, no interest from @cncf/toc to present

[2018-06-15 14:28] #79 closed

[2018-06-15 14:28] caniszczyk commented on #16
closing old issue, this is being redone via: https://github.com/cncf/toc/issues/90

[2018-06-15 14:28] #16 closed

[2018-06-15 14:29] caniszczyk commented on #26
this is done: https://github.com/cncf/toc/blob/master/process/project_proposals.adoc

[2018-06-15 14:29] #26 closed

[2018-06-20 23:57] jbw976 opened #126 "Present Rook graduation to Incubating stage to the TOC"
The maintainers of the [Rook project](https://github.com/rook) would like to present to the TOC about graduation from Sandbox to Incubating stage.  Rook was initially accepted as a CNCF hosted project on [2018-01-29](https://www.cncf.io/blog/2018/01/29/cncf-host-rook-project-cloud-native-storage-capabilities/).

Since being accepted, Rook has continued to grow in accordance with the [Incubating st

[2018-06-21 01:07] caniszczyk commented on #126
@jbw976 August 7th seems fair. Can you also do a PR against the toc/reviews, i.e., https://github.com/cncf/toc/blob/master/reviews/incubation-coredns.md

[2018-06-21 01:19] jbw976 commented on #126
Yes @caniszczyk, we'll put a PR together for a toc/reviews entry.

[2018-06-26 15:36] mattrpav opened #127 "Thoughts on numbering convention for uid/gid values"
One of the challenge with shipping 'ready-to-go' containers (containers that do not need further modification) is the assignment of uid/gid values to run as non-root-- especially for containers that use a volume. User namespaces look to address the stateless use case, but there is a gap for stateful services (and vm-managed by k8s) to address the filesystem uid+gid collision issue.

I'm curious to

[2018-06-26 15:46] justincormack commented on #127
4 billion is hardly any, sadly (Posix should allow 64 bit uids really). I don't quite understand how giving IBM a single uid would help. The problem is that you want each container on a host to use a different uid ideally, but also to know what it will be up front when there is no real coordination mechanism.

[2018-06-26 16:22] mattrpav commented on #127
@justincormack volumes can span hosts (and be shared between container instances), in those use cases, it is prudent to know the uid's ahead of time.

You do bring up a good point about IBM needing a bunch of ids.. perhaps tweaking the approach that the PEN numbers are used for the user namespace value. This would allow IBM to "own" the uid+gid space within its namespace, and follows how PEN numbe

[2018-06-26 21:40] fatherlinux commented on #127
@mattrpav, @justincormack brought up another problem. What happens when you run the exact same piece of IBM software three times on the same host? There will still be collisions. That's why shiftfs or something like that, which can dynamically map uids in the container to dynamically chosen uids outside the container makres so much sense.

Then every software vendor is free to choose whatever they

[2018-06-28 16:33] caniszczyk commented on #126
@jbw976 any idea when you plan to do this?

[2018-06-28 17:51] jbw976 commented on #126
my apologies @caniszczyk, I had made the assumption that a PR there needed to be opened just before the August 7th presentation.  I can put together something before the end of next week, the long pole is reaching out and syncing up with our production users. Does that sound good?

[2018-06-29 12:33] vongosling commented on #103
Hi @caniszczyk. I am so sorry to delay the OpenMessaging  report, Could we schedule it at Sep 4th :-)

[2018-07-03 16:49] erinboyd opened #128 "Present Keycloak to TOC"
Keycloak is an Open Source Identity and Access Management Solution for today’s Cloud Native Applications and Services. It provides an easy way to secure applications and services with minimum effort.

The Keycloak team believes that this project aligns well with section 1(c) of the CNCF Charter by providing a standard and simple way to secure Cloud Native applications and services. Out of the box,

[2018-07-03 17:01] erinboyd commented on #128
@caniszczyk FYI.. Thanks in advance.

[2018-07-03 17:11] caniszczyk commented on #128
Thanks @erinboyd, I will leave this open for a week or so to get feedback from the @cncf/toc and wider community. If they are OK with you presenting, we will schedule for Sept 4th or Oct 2nd

[2018-07-04 07:07] caniszczyk commented on #103
done

On Fri, Jun 29, 2018 at 7:33 AM, von gosling <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-07-04 07:47] vongosling commented on #103
thanks @caniszczyk :-)

[2018-07-06 16:24] mayakacz commented on #89
Please confirm this is actually the 17th and not the 14th.
Would be excited to see this happen, thanks.

[2018-07-06 16:36] caniszczyk commented on #89
It’s tge 17th

On Fri, Jul 6, 2018 at 6:24 PM Maya Kaczorowski <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-07-08 02:47] allencloud opened #130 "Present Dragonfly to TOC"
# Who, What, Why?

  [Dragonfly](https://github.com/alibaba/dragonfly) is an intelligent P2P based container image distribution system. It provides a native image distribution solution for cloud native applications. Compared to traditional central server mode, Dragonfly integrates P2P and CDN technologies, as well as multiple intelligent ways to solve image distribution challenges. These challenge

[2018-07-08 21:19] caniszczyk commented on #130
Thanks @allencloud, RFC: @cncf/toc

If I don't hear an objection at the next TOC meeting, we will schedule you for Oct 2nd at 8am PT if that's OK!

[2018-07-09 13:04] allencloud commented on #130
Thank your for the arrangement, @caniszczyk .
Actually Oct 2nd is in the National Day holiday here, so if we could not set a day before Oct 2nd, I am afraid we have to postpone maybe one week. Is it Ok for you to re-arrange this?

[2018-07-09 13:05] caniszczyk commented on #130
let me see what I can do Allen, I can't move the TOC meeting time but I can
potentially move you to an earlier or later meeting

On Mon, Jul 9, 2018 at 3:04 PM, Allen Sun <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-07-09 15:35] erinboyd commented on #128
@caniszczyk let's do September 4th. Thanks.

[2018-07-10 12:59] caniszczyk commented on #128
@erinboyd already taken, I'm going to slot to Oct 2nd

[2018-07-10 13:01] #128 closed

[2018-07-10 13:02] erinboyd commented on #128
Ok. Thanks.

On Tue, Jul 10, 2018, 7:00 AM Chris Aniszczyk <notifications@github.com>
wrote:

[2018-07-18 16:41] khash opened #134 "Present Habitus to TOC"
# Who, What, Why?

Habitus is a build workflow tool for Docker images. Using Habitus, users can:

- Build multi-stepped Docker images across a shared cluster of build servers.
- Use and move build artifacts between different steps
- Provide secrets during build (for example private SSH keys to pull build dependencies in private repositories) without leaving trace
- Squashing layers in Docker image

[2018-07-18 16:54] caniszczyk commented on #134
We will discuss this at the next TOC meeting on August 7th to see if the @cncf/toc is interested in inviting you to present, hanks for your patience.

Also @khash can you speak to competing solutions out there in this space, along with pros and cons and where habitus fits.

[2018-07-21 16:50] tamalsaha commented on #130
Has one looked into leveraging ipfs https://github.com/ipfs/go-ipfs ?

[2018-07-27 17:50] erinboyd opened #136 "Present etcd to TOC"
etcd is a distributed, reliable, consistent, key-value store for the most critical data of a distributed system.  It is used by several CNCF projects, particularly Kubernetes, as well as many other projects in the broader cloud-native ecosystem.  Red Hat supports etcd as a part of OpenShift. We do not have plans to productize etcd independently.

The etcd team believes that this project aligns wel

[2018-07-27 17:52] caniszczyk commented on #136
RFC @cncf/toc

If I don't hear any objections by next week, we can schedule you on Oct 16th if that works

[2018-07-27 19:10] xiang90 commented on #136
@erinboyd

We probably should use `etcd` instead of `Etcd` :)

[2018-07-27 21:45] purpleidea commented on #136
I'm against moving things into foundations like this. It's a 501(c)(6) not a 501(c)(3) so we need additional written assurances to prevent complete corporate control and "pay to play" direction so that smaller parties have an influence too.

In particular, if contributing to etcd in the future would require signing a CLA, I would most likely find it difficult to send any future patches.

I'm only

[2018-07-27 21:56] caniszczyk commented on #136
@purpleidea requiring a CLA is up to the project, CNCF allows projects to choose DCO+Apache2 or CLA+Apache2, it would be up to the etcd community to make that decision.

@purpleidea 501(c) is a tax status and nothing more... there is no pay to play here, it's more PAY TO SUSTAIN the project by having us provide services such as events, technical writing, infrastructure (see https://github.com/cncf

[2018-07-27 22:08] purpleidea commented on #136
@caniszczyk

Does CNCF allow projects to choose just Apache2, or LGPLv3+ or AGPLv3+ ?

https://en.wikipedia.org/wiki/501(c)_organization

(c)(3): benefits the public
(c)(6): benefits the paying business membership.

CNCF is the latter. I'm not against business, I'm actually for it, but since there are many heavyweight partners in CNCF it would be great to have some community assurances that those

[2018-07-27 22:12] bgrant0607 commented on #136
@purpleidea How is owned by one company better with respect to your concerns than owned by a foundation?

[2018-07-27 22:17] bgrant0607 commented on #136
@caniszczyk @erinboyd I am in favor and am happy to sponsor if there isn't one already

[2018-07-27 22:32] erinboyd commented on #136
@bgrant0607 Thank you.

On Fri, Jul 27, 2018, 4:17 PM Brian Grant <notifications@github.com> wrote:

[2018-07-27 22:40] caniszczyk commented on #136
@bgrant0607 I'm here to serve so sure, it's a @cncf/toc call.

We can do as soon as Aug 7th or 21st

[2018-07-28 04:34] purpleidea commented on #136
@caniszczyk

You didn't answer my first question. It was:

RE:

Because I trust that company to provide good stewardship more than I do the companies controlling the CNCF.

[2018-07-28 06:15] caniszczyk commented on #136
@purpleidea

We default to the Apache v2.0 license but the charter allows other licenses if approved by the board, I linked to our organization charter and IP Policy which covers this information: https://www.cncf.io/about/charter/

I encourage you to take up any issues you have with the etcd official maintainers as they work with the process bring their project under neutral ownership and governa

[2018-07-28 08:44] warmchang commented on #136
@purpleidea ,I read the blog [(copyleft)](https://purpleidea.com/blog/2017/10/17/copyleft-is-dead-long-live-copyleft/) and learned that you want to adopt the GPL-like license's motivation.

I don't choose which side of the opinion, just hope that etcd can continue to develop better, after all, it is an excellent and widely used software.

[2018-07-28 16:52] purpleidea commented on #136
@caniszczyk

I believe that a mono-culture of permissively licensed software is bad for the world, and since it's well-known that CNCF and it's membership are strongly against copyleft, then you understand one reason I'm against etcd moving there. Historically, Red Hat has not been against copyleft, which is why I think they're currently a more responsible steward.

If you'd like to dispute the an

[2018-07-28 17:39] jdumars commented on #136
FWIW, I am strongly in favor of this proposal.

[2018-07-28 18:10] caniszczyk commented on #136
@purpleidea your discussion is out of topic for this particular issue which is around bringing etcd to a neutral home, if you have issues with their decision I encourage you to reach out to the etcd community, for other topics, I already linked my calendly and you can setup a meeting with me any time

I'm going to close this issue and schedule etcd to present at the TOC meeting on Aug 7th or 21st

[2018-07-28 18:10] #136 closed

[2018-07-28 18:13] caniszczyk commented on #130
We will do this Sept 4th with OpenMessaging since it's from the same org

[2018-07-28 18:13] #130 closed

[2018-07-29 01:00] gyuho commented on #136
I completely agree. And I did not mean to block any discussions (I apologize if you felt that way!).

I'd really like to know more about your concerns, and let's discuss more in https://github.com/coreos/etcd/issues/9967.

[2018-08-02 15:18] erinboyd opened #138 "Request to present Strimzi to TOC"
Strimzi enables users to run Apache Kafka on Kubernetes. It is using the proven operator concept and aims to address the whole Apache Kafka life cycle:

Creating clusters
Managing running clusters
Optimizing running clusters for performance and efficiency
Scaling clusters up and down
Managing topics, users and permissions

Apache Kafka has emerged as a leading platform for building real-time data

[2018-08-02 15:18] erinboyd commented on #138
@caniszczyk thanks in advance for your work to schedule this review in

[2018-08-02 15:22] caniszczyk commented on #138
@erinboyd thanks, we will put this on the list for the @cncf/toc to consider for presentation next week

A quick question: why wouldn't this just be upstreamed to the Apache Kafka project?

[2018-08-03 17:15] erinboyd commented on #138
@caniszczyk because it's more an enabler for Kafka to run on kube and leverage kube fundamentals that make it more consumable in a cloud native environment.  Having said that, this is still a valid question we should talk in more depth with the TOC. Are you considering this for the Aug 7th presentation? Just want to give that team a heads up if so. Thanks!

[2018-08-06 15:13] khash commented on #134
@caniszczyk Habitus is a build workflow tool for containers. It supports Docker but unlike docker multi-staged builds, is not limited to building Docker images. It can be used to decouple builds from the underlying image format.

On the surface, Habitus is similar with Docker multi-stage builds. However it supports the following:

- Providing secrets during build (like private SSH keys needed duri

[2018-08-06 19:39] jbw976 commented on #126
PR #139 has been opened for the review, I am planning on presenting to the TOC on August 21st.

[2018-08-07 10:29] bboreham opened #140 "Present Weave Net to TOC"
[Weave Net](https://github.com/weaveworks/weave) is a container overlay network from Weaveworks: it implements the CNCF CNI and Docker CNM plugin interfaces, and also Kubernetes NetworkPolicy.

Typical reasons people choose Weave Net are because it is easy to install, or because they want host-to-host encryption, or support for multicast in a public cloud.

First released in 2014, the Weave Net Do

[2018-08-07 15:13] caniszczyk commented on #140
RFC @cncf/toc

@bboreham are you thinking sandbox or incubation?

[2018-08-07 16:06] bboreham commented on #140
Sandbox please.

[2018-08-13 10:34] 2opremio opened #144 "Present Weave Scope to TOC"
[Weave Scope](https://github.com/weaveworks/scope) provides observability, troubleshooting and control for distributed applications, automatically building a map of your services. Weave Scope doesn't require any instrumentation, detecting processes, containers, connections and hosts out of the box. It provides seamless integration with Docker, Kubernetes, DC/OS and AWS ECS.

People choose Weave Sc

[2018-08-21 05:27] bgrant0607 commented on #138
I second the question of why this doesn't belong in the Kafka project.

[2018-08-21 08:44] aeneasr opened #147 "Present ORY Hydra to TOC"
## Project Description

ORY Hydra is an OpenID Certified OAuth 2.0 and OpenID Connect open source server. It implements best practices for access control security and builds on top of open standards and protocols. Contrary to existing projects in this space, ORY Hydra defines a clear boundary around OAuth 2.0 and OpenID Connect and does not aim to solve all authentication, authorization, and acces

[2018-08-21 14:43] caniszczyk commented on #147
Thanks, we will get back to you in a couple of weeks to see if we can slot you in

RFC @cncf/toc

[2018-08-21 15:42] caniszczyk opened #148 "Clarify Archiving Process"
We should probably clarify the archiving process, right now we only mention it in the sandbox process:

https://github.com/cncf/toc/blob/master/process/sandbox.md#sandbox-exit-requirements

We should make it more clear and detailed.

Thanks to @mattfarina for pointing this out.

[2018-08-21 17:33] mattfarina commented on #148
Thanks for filing an issue on this @caniszczyk.

We have some projects with limited support. For example, Notary has had 13 commits in the past quarter in total. I'm not suggesting Notary or others should be archived. Just that they may be candidates to be evaluated for archival or an effort to reinvigorate engagement.

[2018-08-23 13:47] mattfarina commented on #148
@caniszczyk I chose Notary on purpose for several reasons:

1. It does not have a 1.0.0 release. If I look at something like [SemVer](http://semver.org) it means there is no stable release. There is something to communicating expectations.
2. Other projects, such as the recently added Harbor, use Notary. It's a dependency for other CNCF projects so there are complicated implications.
3. The limite

[2018-08-28 14:38] justincormack commented on #148
I don't think that Notary is in any way appropriate as an example; we are looking towards graduation not archiving. Yes it is fairly stable, but there are some parts of the TUF spec not implemented, which is the primary reason that it has not gone to 1.0 (although perhaps we could do a 1.0 release and then add those for 2.0). It is security code so the review process is more detailed than other pr

[2018-08-28 15:05] caniszczyk commented on #122
@bgrant0607 and @monadic are happy to sponsor this in the sandbox

@sclevine can you put forth a project proposal and issue a PR against the TOC repo?

[2018-08-28 18:08] sclevine commented on #122
Thanks @bgrant0607 and @monadic! Don't hesitate to reach out to us if you have any questions about the project. We really appreciate your interest! 😄

@caniszczyk Will do ASAP.

[2018-08-31 07:07] gabrielyuyang commented on #122
Hi, it'd better there is a video demo. So that we can understand the whole thing piece by piece in an organized way. Now, I only vaguely know what you are proposing without any knowledge of the capabilities, usage, developments, etc.

[2018-08-31 19:03] sclevine commented on #122
@caniszczyk proposed here: https://github.com/cncf/toc/pull/150

[2018-09-04 15:13] caniszczyk commented on #130
Hey @jonboulle just to confirm, you're interested in sponsoring this project for the sandbox?

RFC @cncf/toc

[2018-09-04 19:30] monadic commented on #103
This is a great start.  I would really like to see feedback from messaging implementations, if I am to support this wholeheartedly.  eg Nats?  @ColinSullivan1

[2018-09-05 15:04] 2opremio commented on #144
RFC @cncf/toc :)

[2018-09-05 16:58] ColinSullivan1 commented on #103
@monadic, sure.  I'd like to dig into this further, and will comment in the next few days.

[2018-09-06 01:46] qqeasonchen commented on #103
Webank uses different banking architectures, from distributed architecture to open source technologies, and fully utilizes on the benefits of messaging by implementing various messaging techniques in different scenarios, such as message exchanges and pub/sub models. We believe OpenMessaging can address our current challenges, and as a member of OpenMessaging, we hope more and more corporations can

[2018-09-07 05:30] sijie commented on #103
This is Sijie from Apache Pulsar community. I think it is a good idea to have a open messaging standard for different messaging implementations. That would provides great interoperability between different messaging systems. It would be great to see OpenMessaging can grow into a vendor neutral  standard with more and more organization involving in it.

[2018-09-07 09:36] Jason918 commented on #103
As a member of OpenMessaging, Didi Chuxing has its own messaging implementation with proprietary protocol. We strongly believe the benefits that OpenMessaging can bring to us. With the release of OpenMessaging 1.0, we are actively developing our implementation and plan to open source our implementation by the end of this year.  We hope OpenMessaing will become better and better under CNCF. @vongos

[2018-09-07 09:41] vongosling commented on #103
@monadic I am really excited to hear from your feedback :-) Also thanks @Jason918

[2018-09-07 17:17] ColinSullivan1 commented on #103
I’ve taken a look through... What comes to mind with the OpenMessaging specification is JMS (Java Message Service).  Some of us on the NATS team were involved in JMS in the early days, and we’re well versed in the benefits and drawbacks of an API specification over messaging.

Messaging has become somewhat commoditized, where standard patterns across various vendors and projects are supported, nam

[2018-09-11 12:02] duhengforever commented on #103
@ColinSullivan1 @monadic As you pointed out, API is not the focus of our work, we are more concerned with the delivery of messages and their data exchange model, metadata，spec etc., just like cloudevents, openMetrics. but cloudevents more concerns about the event，and OpenMessaging focused on messaging. As shown in our landscape, Streaming, Connector will be included in the future，which is somethin

[2018-09-11 19:05] sijie commented on #103
+1 I strongly believe open messaging should start with simple/basic api. so different messaging implementations can easily adopt the api.

in Apache Pulsar, we have a concept called `shared` subscription, which a group of consumers consume one (or a set of) topic(s) competingly. It is a `stateless` consuming mode. We are leveraging the autoscaling capability provided by k8s. The consuming mode has

[2018-09-13 12:49] duhengforever commented on #103
@ColinSullivan1  Yes, OpenMessaging only provides a few simple core APIs at the Interface level, rather than making this part very heavy. One is to ensure the adaptation of the existing system, and the second is to ensure the ease of use and acceptance of new users.
In addition, we sincerely hope that NATS can join OpenMessaging and promote the development of the messaging field.

[2018-09-17 08:53] vongosling commented on #103
totally agree, actually, before we start the project, we contacted many users of messaging, and then scoped the required an optinal parts, thanks the
community and @monadic suggestion, I am eagerly hope to work together with more messaging experts @ColinSullivan1 come together, make openmessaging grow and prosper under cncf vision of the pen source without vendor lock-in :-)

[2018-09-18 01:25] rbitia opened #154 "Present Virtual Kubelet to TOC"
**What is Virtual Kubelet?**
Virtual Kubelet is an open source Kubernetes kubelet implementation that masquerades as a kubelet for the purposes of connecting Kubernetes to other APIs.  Using Virtual Kubelet users can connect their Kubernetes cluster to multiple providers like IoT Edge, Service Fabric Mesh, AWS Fargate, VIC, CRI, Azure Container Instances, and many more. Thus benefiting from Kubern

[2018-09-22 14:06] duhengforever commented on #103
@ColinSullivan1 Although the focus of our work will be on the continuous improvement of the specification and the integration with the surrounding ecology, such as CloudEvents, OpenTracing, OpenMetrics etc.. Actually，as long as the definition of the data exchange specification is clear and concise enough, any implementation of this standard will be very simple, which is one of our principles.

But

[2018-09-24 12:43] caniszczyk commented on #134
Sorry @khash the @cncf/toc has a bit of a backlog and still deciding on scheduling projects

[2018-09-24 12:53] caniszczyk commented on #126
This was presented to the TOC already and being voted upon, closing the backlog

[2018-09-25 19:49] aeneasr commented on #147
Hi there, no pressure or anything but I wanted to check if there has been any progress here?

[2018-09-25 19:55] caniszczyk commented on #147
Sorry for the delay, the @cncf/toc is still working to schedule presentations and make decisions, there's a bit of a backlog, give us a couple more weeks.

[2018-09-25 20:00] aeneasr commented on #147
No problem, thank you for the update!

[2018-09-26 22:57] caniszczyk commented on #126
https://blog.rook.io/rook-moves-into-the-cncf-incubator-d25197a6bb14

[2018-09-26 22:57] #126 closed

[2018-09-27 14:49] tombentley commented on #138
The Apache Kafka project is extremely focused on the core Kafka broker, and Java clients. There are many examples of other components which, it could be argued, belong inside the Apache project, including:

* Other language clients
* Management tooling
* Protocol bridges and proxies

But these are all managed outside of the project. (For a fuller list, see here: https://cwiki.apache.org/confluence

[2018-09-28 09:40] CsatariGergely commented on #144
@2opremio can you please add a list of the dependecies used to build Weave Scope?

[2018-09-28 09:42] CsatariGergely commented on #140
@bboreham can you please add a list of the dependecies used to build Weave Net?

[2018-09-28 15:09] bboreham commented on #140
@CsatariGergely it's a bit of a long boring list; can you point me at another submission that supplied a list so I can see how it is done?

The Go ones are visible under https://github.com/weaveworks/weave/tree/master/vendor and packages at https://github.com/weaveworks/weave/blob/master/build/Dockerfile and https://github.com/weaveworks/weave/blob/master/prog/weaver/Dockerfile.template.

[2018-10-01 14:53] 2opremio commented on #144
Here you go (obtained with `jq -r .dependencies[].importpath < vendor/manifest | sort | uniq`):

[code]

[2018-10-08 03:37] jovizhangwei commented on #154
Great to see this move for virtual kubelet community.

As a early user of virtual kubelet, we choose it as core component in Alibaba Cloud's Serverless Kubernetes service. It's a fully managed kubernetes service, allows user to quickly create kubernetes container applications without having to manage and maintain clusters and servers, this gives cluster "unlimited" capability to scale container ap

[2018-10-08 21:34] ktsaou commented on #123
@dankohn @caniszczyk  following up the presentation to CNCF TOC on Sep 18th, is there a timeline for a response? What is next?

btw, we are 88% to get the CII Best Practices badge for netdata: https://bestpractices.coreinfrastructure.org/en/projects/2231.

We track the pending issues here: https://github.com/netdata/netdata/issues/4256

[2018-10-08 22:13] caniszczyk commented on #123
@ktsaou, it's a matter of finding two @cncf/toc sponsors at this point and preparing a proposal (see falco as an example: https://github.com/cncf/toc/pull/157)

I will close this issue as you formulate an official proposal pull request and find 2 TOC sponsors. If you can't find 2 TOC sponsors, CNCF can not accept your project.

[2018-10-08 22:13] #123 closed

[2018-10-08 22:56] ktsaou commented on #123
@caniszczyk the team @cncf/toc is private. Do you have the list of members somewhere else?

[2018-10-08 22:59] caniszczyk commented on #123
https://github.com/cncf/toc#members

On Mon, Oct 8, 2018 at 5:56 PM Costa Tsaousis <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-10-09 13:30] benh commented on #130
After chatting more with the team I'm also willing to sponsor this project.

[2018-10-10 12:53] benh commented on #148
Some suggestions for considering a project archivable:

- There haven't been any issues opened for _N_ months (where _N_ should be debated).
- Opened issues haven't received a response within _M_ months (where _M_ should be debated).
- It hasn't seen a commit in over _O_ months (where _O_ should be debated).
- It's binaries/source are no longer being downloaded (if it's even possible to track this

[2018-10-13 10:17] CsatariGergely commented on #140
@bboreham https://github.com/cncf/toc/issues/147 is a great example. I agree, that this is a long list, but open source licenses are never boring :)

[2018-10-13 10:36] bboreham commented on #140
I’m not quite getting this. The list at #147 appears to be Go 3rd-party package dependencies only, so it is not a full list. (It omits the Go standard library, for instance).

What use is an incomplete list?  What are you going to do with it?

@dholbach has analysed licenses for Weave Net; perhaps he has something to add?

[2018-10-13 16:06] dholbach commented on #140
I did not know about the [licenses tool](https://github.com/pmezard/licenses). It looks nice, but it

 1. failed to run on `github.com/weaveworks/weave`, as the main-level directory does not contain go files.
 1. did not recognise two dependencies as Apache License (`inconshreveable/mousetrap` and `jmespath/go-jmespath`) - it stated `The Unlicense`

If that's the format you expect for reviewing li

[2018-10-15 12:30] CsatariGergely commented on #140
@bboreham okay, maybe https://github.com/cncf/toc/issues/147 was not the best example. A complete list would be needed. The list added by @dholbach looks good, however there are some incorrect entries there:

- github.com/weaveworks/weave/vendor/github.com/ghodss/yaml is [MIT licensed](https://github.com/weaveworks/weave/blob/master/vendor/github.com/ghodss/yaml/LICENSE)
- github.com/weaveworks/we

[2018-10-15 13:02] bboreham commented on #140
Why?  Is this a requirement that is written down somewhere?  I'm a maintainer of two CNCF projects and have never come across it.

Just trying to understand where you are coming from.

[2018-10-15 14:40] CsatariGergely commented on #140
@bboreham it is required by step 2/viii of [the project proposal process](https://github.com/cncf/toc/blob/master/process/project_proposals.adoc).

[2018-10-15 15:11] dholbach commented on #140
Ok. So I went over the output of `licenses` in my earlier comment, removed duplicate entries (where subtrees of the same path turned up), compared the differences between `licenses` and `licensecheck` and did a fair amount of manual checking and I agree with your assessment earlier @CsatariGergely. The list is:

[code]

[2018-10-17 12:01] CsatariGergely commented on #140
@dholbach this looks good. Thanks.

[2018-10-24 09:12] warmchang commented on #35
/close

[2018-10-24 09:12] #35 closed

[2018-10-25 14:40] ColinSullivan1 commented on #103
@vongosling , I'm happy to assist where I can.

[2018-10-25 15:54] mattrpav commented on #103
Hello-

I'm Matt Pavlovich, I am currently working as CTO of HYTE Technologies. We offer a hybrid messaging platform. I've worked with messaging systems across all vendors and protocols for over 15 years and have founded and participated in open source projects for over 20.

I agree there is a need for a modern, cross-platform, cross-language messaging standard, and am happy to share and help out

[2018-10-25 20:52] vongosling commented on #103
@mattrpav Thanks for your attention. Looking forward to your thoughts :-)

[2018-10-26 01:20] #127 closed

[2018-10-26 21:28] caniszczyk opened #169 "Run TOC Election for Jan 2019"
TOC nominations are starting TODAY for the 6 TOC slots that open up in Jan 2019 that are selected by GB members (members can propose UP TO TWO NOMINEES, where you can only nominate up to one candidate from your organization, the other candidate has to be outside your organization): https://github.com/cncf/toc/blob/master/process/election-schedule.md

The seats that open up are:

Jonathan Boulle (t

[2018-10-30 01:54] caniszczyk commented on #169
had a couple of CNCF members ask for TOC attendance records so posting it here:
https://docs.google.com/spreadsheets/d/1kRJLoWBOKQCPbCYV-YqdCqLG0-vBCt8qI3FNiIKoYtg/edit#gid=2000252942

[2018-10-31 14:05] caniszczyk commented on #148
@benh @mattfarina thanks for your comments, I put forth a proposal here based on some of your ideas: https://github.com/cncf/toc/pull/170

RFC @cncf/toc

[2018-10-31 16:04] rothgar commented on #148
How about projects that may not live up to UX, operational and development patterns, or are not adopted widely like we would expect for CNCF projects? I'm not sure what those standards are and they are very hard (possible impossible) to quantify but I think they should be considered.

I don't mean to pick on specific projects but I can talk about the projects I have experience with.
Example 1: Har

[2018-11-01 01:20] caniszczyk commented on #169
updated the process to reflect https://lists.cncf.io/g/cncf-toc/message/2580

[2018-11-09 14:11] caniszczyk commented on #154
no need to present, VK is proposed in #153

[2018-11-09 14:11] #154 closed

[2018-11-21 13:18] chris-vest commented on #138
I have contributed some documentation to the Strimzi project, and am also using Strimzi for a project at my current employer. I chose Strimzi after evaluating the other projects attempting to offer a similar experience to Strimzi, however none came close to offering what Strimzi does! If Strimzi is already so mature at such an early stage, I can't imagine how quickly it would develop if it were to

[2018-11-26 17:55] oicheryl opened #174 "Proposal: Add criteria for graduating projects to publish a 6 month product roadmap"
I spoke to a Kubernetes end user company who are currently planning their 2019 technical architecture. The CTO asked me whether projects had feature roadmaps for the next six months - one year which they can incorporate into their planning. They are a small company with four infrastructure engineers, so lack the time to engage directly with each project.

I propose that the graduation criteria sho

[2018-11-26 23:34] quinton-hoole-2 commented on #174
SGTM

This should arguably be covered by the CII Best Practises Program
<https://bestpractices.coreinfrastructure.org/en>, which is a requirement
for CNCF graduation.  If not, we should fill the gap, IMO.

Q

On Mon, Nov 26, 2018 at 9:55 AM Cheryl J. Hung <notifications@github.com>
wrote:

--
Quinton Hoole
quinton@hoole.biz

[2018-11-27 01:14] lucperkins commented on #174
I do think that roadmaps are a good idea and a best practice *in general*, but there are also projects for which roadmaps make less sense, particularly for projects that are essentially specifications or have a heavy specification component. CNI, TUF, SPIFFE, OpenMetrics, and CloudEvents are existing CNCF projects that fit this bill.

I would argue for relaxing any hypothetical roadmap requirement

[2018-11-27 02:08] gwenshap commented on #138
As a PMC member in Apache Kafka, I'd like to mention that this contribution was not even proposed to the Apache Kafka community.

While I agree with the sentiment that Apache Kafka community is focused on the core broker and rarely accepts other components, I think it is worthwhile raising it for discussion within the community rather than jumping to conclusions. Our last survey of the Kafka commu

[2018-11-27 03:29] quinton-hoole-2 commented on #174
I think that having a roadmap that says "we have no roadmap and here's why"
is a good way to deal with that.

Co-incidentally, that's exactly what CII does:

https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/roadmap.md

Q

On Mon, Nov 26, 2018 at 5:14 PM Luc Perkins <notifications@github.com>
wrote:

--
Quinton Hoole
quinton@hoole.biz

[2018-11-27 13:08] oicheryl commented on #174
Thanks @quinton-hoole @lucperkins for the feedback. I agree that a roadmap for a specification project can explicitly state that there are no planned upcoming changes.

Any other feedback, or shall we add it as an agenda item to a future TOC meeting?

[2018-11-27 13:31] skamille commented on #174
I don't think it's our business to tell open source projects that they need
to put roadmaps out for the benefit of end users. It's nice if they do, but
that seems like a rather excessive requirement that is far beyond what I've
seen from not-for-profit open source anywhere else.

On Tue, Nov 27, 2018 at 8:08 AM Cheryl J. Hung <notifications@github.com>
wrote:

[2018-11-28 18:58] oicheryl commented on #174
Right, it could never be a requirement for all open source projects, but would you say that "Graduation" implies enough maturity for people to plan six months ahead?

[2018-11-28 19:03] skamille commented on #174
No, I wouldn't.

On Wed, Nov 28, 2018 at 1:58 PM Cheryl J. Hung <notifications@github.com>
wrote:

[2018-11-28 20:14] quinton-hoole-2 commented on #174
Camille, could you expand a bit on your objections to making a roadmap a
requirement for graduation.  I want to make sure I understand the crux of
your objections. I've heard "rather excessive" and "far beyond other OSS
projects", but I sense that there's more?

Playing the devils advocate for the moment, if we're telling users that
they can "bet the farm" on graduated projects, and projects are s

[2018-11-28 20:30] quinton-hoole-2 commented on #174
Aah, that makes sense and, on second thoughts, I do share most of your
concerns.

I'm going to amend my position on this to "nice to have" rather than a
requirement, for the reasons you mention.

Q

On Wed, Nov 28, 2018 at 12:25 PM Camille Fournier <notifications@github.com>
wrote:

--
Quinton Hoole
quinton@hoole.biz

[2018-12-09 06:50] philips commented on #148
What happens to the intellectual property from an archived project? e.g. trademarks, or copyrights. Is there a doc on that?

[2018-12-09 20:00] caniszczyk commented on #148
@philips no docs yet but current thinking it remains in the LF, just not actively promoted by CNCF

[2018-12-10 05:20] quinton-hoole-2 commented on #148
+1

On Sun, Dec 9, 2018, 12:00 Chris Aniszczyk <notifications@github.com wrote:

[2018-12-10 05:32] philips commented on #148
What would the process be for a CNCF project to move the IP to a different
non-profit?

On Sun, Dec 9, 2018, 12:00 PM Chris Aniszczyk <notifications@github.com
wrote:

[2019-01-10 11:54] dholbach commented on #144
It looks like this request has the `sandbox ` label. Fons originally requested incubation though.

[2019-01-10 20:42] omerlh opened #188 "Proposal: Kamus - Sandbox project"
Hello,
Recently we released [Kamus](https://github.com/Soluto/kamus), a solution for secret encryption/decryption for Kubernetes platform. In a high-level overview, Kamus solve a common problem for containerized applications - how to pass secrets securely? Kamus designed to encrypt secrets for a specific application, represented by a service account. Only this application can decrypt the secret, a

[2019-01-10 21:14] caniszczyk commented on #188
@omerlh can you describe a bit about who is currently using it in production?

Also I noticed it was MIT licensed, CNCF prefers projects to be Apache 2.0 licensed

Also I recommend you present this to the SAFE folks: https://github.com/cn-security/safe

[2019-01-10 21:23] omerlh commented on #188
I think we can change the license - I will clarify that. Currently, it is used only by Soluto, but the project is open source only 2 weeks. I started to work hard on presenting it (I'll be featuring it as part of my talk at AppSec California this year), so I do hope we have more users soon. You can see on the issues that we have 2 issues/comments that are external users (not Soluto's employees).

[2019-01-13 20:08] omerlh commented on #188
Question: What are the next steps? I assume I need to open a PR with the official proposal, but I guess it is better to have a sponsor first (this is also specified in the proposal documentation). Is there an option to present this to the group and request a sponsor? How does the process work?

[2019-01-13 23:58] caniszczyk commented on #188
@omerlh I suggest doing a project proposal PR and asking the @cncf/toc for feedback

You can see examples here: https://github.com/cncf/toc/tree/master/proposals

You can read about the sandbox process here:  https://github.com/cncf/toc/blob/master/process/sandbox.md#roadmap-for-sandbox-projects

[2019-01-28 18:46] lucperkins commented on #188
@omerlh If you do submit a proposal, please note that you do *not* need to write it in Asciidoc. For some reason a lot of the projects have chosen that but I'm not sure why 🙃

[2019-01-28 19:41] omerlh commented on #188
I just copy-pasted other proposal and modify it, assumed this is the best approach. I can convert it to markdown if that important :)

[2019-01-29 06:06] omerlh commented on #188
Yes? Why did you closed the issue?

[2019-01-29 06:12] caniszczyk commented on #188
we will look at the PR instead

On Tue, Jan 29, 2019 at 12:06 AM Omer Levi Hevroni <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-01-29 17:55] caniszczyk commented on #169
https://www.cncf.io/blog/2019/01/29/new-year-new-toc/

[2019-01-29 17:55] #169 closed

[2019-01-29 17:57] caniszczyk opened #191 "TOC-selected TOC seat for March 2019"
The TOC is entitled to selecting 2 TOC members of the 9 (known as TOC-selected seats)

https://github.com/cncf/toc/blob/master/process/election-schedule.md

One of these TOC-selected seats frees up on 3/17/2019 held by Quinton

[2019-01-29 17:59] caniszczyk opened #192 "TOC Chair for 2019"
We will have a process to select the TOC Chair for 2019

Goal is to finalize this by the next TOC meeting.

[2019-01-29 18:03] caniszczyk commented on #192
We will leave nominations open by end of this week, Fri EOD PT time.

[2019-01-29 20:40] caniszczyk commented on #192
@quinton-hoole reached out and ask expressed interest in being TOC chair

[2019-01-30 07:14] caniszczyk commented on #192
Kelsey is interested in running as chair

[2019-01-31 07:51] glerchundi commented on #147
toc toc!

Now that it seems the new TOC was settled, do you have a timeframe on when is going to start the evaluation? No hurries just to know if it fits on our plan as we're currently evaluating between ORY Hydra, dex & Keycloak and this will be a point in favor of ORY Hyra.

Thanks in advance and keep up the good work @aeneasr!

[2019-01-31 13:49] caniszczyk commented on #147
@glerchundi we're going to actively rebooting project evaluation but focusing on the backlog of graduation requests first. The TOC is also reworking the way projects are organized at a high level to help scale CNCF: https://docs.google.com/document/d/1mt1LH1QJgwA91A6x-DEdjg4ZOXrOnxxc1d2xhq4Hq3I/edit#heading=h.sgr75xakh1k6

[2019-01-31 13:53] glerchundi commented on #147
Thanks for the update and tip! Will keep my eyes open then 👀!

[2019-02-11 18:03] yurishkuro opened #195 "Clarify TOC sponsors requirements"
The [Sandbox Guidelines v1.0](https://github.com/cncf/toc/blob/master/process/sandbox.md) state that 2 TOC sponsors are required to enter the sandbox. The incubation and graduation criteria do not mention sponsors, although in practice one TOC sponsor is required.

In all cases, there does not seem to be an explicit definition of what the responsibilities the sponsors have over the normal TOC duti

[2019-02-11 20:02] caniszczyk commented on #195
Sure, generally you need one TOC sponsor who can call to kick off the
formal incubation/graduation vote

We will put this on the backlog of docs to update.

On Mon, Feb 11, 2019 at 12:03 PM Yuri Shkuro <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-02-12 15:41] caniszczyk opened #196 "Update Graduation Requirements + CII Levels"
On the last TOC call there was a call to look at updating the graduation requirements and also to look at the various CII levels: https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc

One idea was to potentially have the incubating level require the "silver" level for CII and graduated "gold" level:

https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/oth

[2019-02-12 18:56] caniszczyk commented on #192
Here are the results: https://civs.cs.cornell.edu/cgi-bin/results.pl?num_winners=1&id=E_098d8badcdbef698&rkey=7acb75700b9d1200&algorithm=runoff

Brendan won the election but declined the seat due to Microsoft (and any company on the GB) being limited two 2 GB members (which would have Michelle step down as dev representative on the board). Brendan thought it was more important to maintain the dive

[2019-02-12 18:56] #192 closed

[2019-02-12 19:02] JustinCappos commented on #196
As much as I am a supporter of the CII badging program, I think it would be
a mistake to have the silver and gold criteria required for CNCF projects.

Note, there are only 8 project with a silver badge and 2 with a gold
badge.  The TUF project is the only CNCF project to have a Silver CII badge
or higher.  Of the 2 projects with a gold badge, one is the "Badge App"
project.

Obtaining a higher ba

[2019-02-12 20:55] mattklein123 commented on #196
I agree. My feeling is that we need a blended badge, or we should work with the CII folks to make modifications to the existing levels. From my perspective, some of the requirements in basic should be in higher levels, and some of the requirements from higher levels should be in the basic level (or whatever level we choose CNCF graduated projects to adhere to).

My specific requests for graduated

[2019-02-19 16:56] ultrasaurus commented on #196
Generally agree with @mattklein123 -- we want to encourage projects to create a resilient, diverse community of contributors (which seems to be reserved for "Gold" in CII)

On security, we've been talking about creating some guidance about projects being aware of their own security concerns via self-assessment and peer review.  We came up with a [presentation template](https://docs.google.com/pres

[2019-02-19 18:26] jbeda commented on #196
One other idea for graduation criteria -- a documented and reasonable support policy.  Not sure what we want there but we want to make sure that at least N previous versions (or N months after a version released) will receive critical (including security) bug fixes.

[2019-02-19 18:30] timothysc commented on #196
@quinton-hoole ^ This is exactly what we were talking about during our LTS conversation.

[2019-02-19 18:41] mattklein123 commented on #196
Joe, I like this idea, but I think we should talk through what this means from a resourcing perspective. I.e., this requires some type of release management, branch management, cherry picking, etc. which can end up being a non-trivial amount of effort. We have shied away from doing this on Envoy because we have no one that has shown interest in this yet. So, like the idea, but concerned about fund

[2019-02-19 18:42] mattklein123 commented on #196
(Also, to clarify, lots of people ask for this on Envoy, so we would love it to happen if we could fund it.)

[2019-02-21 06:57] bgrant0607 commented on #196
As I mentioned during the meeting, one reason to work with CII is to broaden the impact beyond our direct projects. One motivation is that our projects depend on many other projects. Dependencies will be our weakest link if we don't address them.

[2019-02-22 20:17] bgrant0607 commented on #196
The small numbers of projects with silver and gold badges suggests to me that those criteria should be easy to change

[2019-02-24 03:44] integrii commented on #94
Hey @caniszczyk - Kuberhealthy is now open sourced and gaining traction!  Is it possible to look at getting Kuberhealthy into the CNCF incubator program?

[2019-03-18 13:01] caniszczyk commented on #191
Michelle Noorali picks up the TOC-selected seat:
https://github.com/cncf/toc/commit/e9bfb9597ce249456bc2665c85de191420d15b11

[2019-03-18 13:01] #191 closed

[2019-03-18 13:02] caniszczyk opened #209 "TOC chair election March 2019"
Now that we have a fully formed TOC, a TOC chair needs to be selected.

We will leave nominations open by end of this week, Fri 5pm PT time.

[2019-03-18 18:28] lizrice commented on #209
I'll put myself forward

[2019-03-19 00:10] jbeda commented on #209
I'd also like to put myself forward.

[2019-03-19 01:11] caniszczyk commented on #209
thanks, we now have enough to at least hold an election ;)

cc: @cncf/toc

[2019-03-19 16:51] moderation commented on #209
Would be great to see one or both or our end-user TOC members @mattklein123 and @brewer531 nominate.

[2019-03-21 23:52] philips opened #213 "CVE Filing for OSS Projects Shut down (DWF)"
A requirement of graduation to CNCF is following the [CII Criteria](https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc). And one of the requirements is [having CVE numbers in release notes](https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md#release_notes_vulns).

Unfortunately, two weeks ago the DWF system designed for OSS projects to gener

[2019-03-22 02:11] caniszczyk commented on #213
I'm open to exploring CNCF becoming a CNA in the future, in the short term, projects can generate CVEs via this form https://cveform.mitre.org (Envoy just did it for some issues).

I'll write a document for projects on how to generate CVEs and their own security disclosure process and put that somewhere that's easy to reference.

[2019-03-22 03:37] mattklein123 commented on #213
@htuch can comment, but he recently used MITRE and it seemed pretty straightforward to me, I'm not sure that we need any additional solution?

[2019-03-22 03:41] htuch commented on #213
We were advised by k8s folks that becoming a CNA is the way to go medium term. It's apparently not that hard to go through the training process and on-board as a CNA. Once you are a CNA, you have a reserved block of N CVEs each year that you can allocate to projects via your own processes. This makes private disclosure handling even easier. If CNCF do this and make the CNA scope all CNCF projects,

[2019-03-22 04:19] lizrice commented on #213
+1 on CNCF becoming a CNA. I agree that in the shortish term going straight
to MITRE should be fine.

I wouldn't want to see a relaxation of the requirements on projects.

On Fri, 22 Mar 2019 at 09:12, htuch <notifications@github.com> wrote:

--
Liz Rice
@lizrice  | lizrice.com | +44 (0) 780 126 1145

[2019-03-22 14:34] david-a-wheeler commented on #213
[The DWF shutdown](https://twitter.com/kurtseifried/status/1103858442479910913) is just a minor change in process.  To submit a CVE, you now [use the MITRE CVE submission form](https://cve.mitre.org/cve/request_id.html).  Specifically , "Open Source software product vulnerabilities not already covered by a CNA listed on (that) page" are covered by [cveform.mitre.org](https://cveform.mitre.org/].

[2019-03-22 16:59] mattklein123 opened #214 "RFC: redesign this repo's README and documentation"
I don't think the README for this repo, as a landing page for understanding the TOC, is in the best interest of our community. A few high level notes of things I would like to discuss doing:
- Leave overview, members, and mailing list / meeting / contact info
- Move all other sections into sub-pages, linked to from the primary README
- On the projects page, either remove it and link to the main CN

[2019-03-22 17:22] mattfarina commented on #213
If the CNCF were to become a CNA would it be more appropriate for TLF to become a CNA? Then it could handle CVEs for all linux foundation projects that need a CVE?

[2019-03-22 17:24] leecalcote commented on #213
@david-a-wheeler the LF overall becoming a CNA makes sense to me.

[2019-03-22 17:24] caniszczyk commented on #213
@mattfarina I plan on having discussions with other LF sub foundations/initiatives to see if we can do something across the board, will take a bit of time to coordinate everyone. The MITRE CVE form is actually better than the previous DWF situation imho, faster response time

[2019-03-22 18:06] xiang90 commented on #214
I suggest we remove it from the toc repo and just link to main CNCF site.

There is a website guideline section. I am not sure how it relates to the toc.

[2019-03-25 13:08] RichiH commented on #213
Having used the MITRE form in the past, it's quite easy and straightforward to work with. I am not fully convinced LF taking up non-essential services which are already handled outside in a reliable manner is the best use of resources.

The CVE requirement should not be dropped, and creating a new system without substantial traction will invoke https://xkcd.com/927/

[2019-03-25 13:29] lizrice commented on #214
Great idea, thanks for kicking this off @mattklein123. +1 all your suggestions. In addition

For meeting info, let's make it clear who can attend.  We can move the links to minutes & presentations on a separate page, in reverse chronological order.

As part of clarifying the whole new project process (in fact the project lifecycle), let's clarify the role of TOC sponsors.

[2019-03-25 16:22] philips commented on #213
Just so we know what we are dealing with: issuing a CVE via MITRE took 24
hours. I filed on Friday at 8am and got a CVE ID on Saturday at 8am.

On Mon, Mar 25, 2019 at 6:08 AM Richard Hartmann <notifications@github.com>
wrote:

[2019-04-01 13:35] udinachmany commented on #213
@caniszczyk on the heels of our work with the LF on the Community Bridge launch, Snyk would be happy to help out (if we can) until CNCF is a CNA. Our HQ is one floor above Weave if Alexis is involved, we're also at CF Summit and other events coming up, otherwise zoom FTW.

[2019-04-02 14:05] caniszczyk commented on #209
Liz Rice has been elected as TOC Chair, thanks!

https://civs.cs.cornell.edu/cgi-bin/results.pl?num_winners=1&id=E_cf1dfc636429c32a&rkey=394dd8647cdcd5f8&algorithm=runoff

FYI: @cncf/toc

[2019-04-02 14:05] #209 closed

[2019-04-02 14:17] pragashj commented on #209
Congrats Liz! ♥️

On Tue, Apr 2, 2019, 7:06 AM Chris Aniszczyk <notifications@github.com
wrote:

[2019-04-02 15:50] caniszczyk opened #218 "Should graduation criteria be refined for spec projects?"
Some projects under CNCF operate essentially as specification only, should we refine the graduation requirements to be different for these types of projects?

cc: @michelleN

[2019-04-02 17:07] duglin commented on #218
I'd be very interested in hearing the ideas around this given our work in CloudEvents. As of now, the biggest hurdle to move from sandbox to incubator (IMO) is this:
- - -
Document that it is being used successfully in production by at least three independent end users which, in the TOC’s judgement, are of adequate quality and scope.
- - -
And that seemed like a reasonable request of a project reg

[2019-04-02 17:13] JustinCappos commented on #218
In a similar vein the TUF project was asked in the past for a lot of
detailed documentation about use metrics as part of our Graduation
proposal.  We can point to things like blog posts from major adopters, but
don't have the sort of relationship where we can ask for data.  Sometimes
we only find out about an adoption after someone blogs about having used it
in production for some time...

On Tue,

[2019-04-02 17:22] yurishkuro commented on #218
Tracking users / adopters is my number 1 pain point. I raised it to @mattklein123 when he solicited feedback from project maintainers:

[2019-04-03 05:42] philips commented on #213
Second data point. I notified MITRE on Friday to publish CNI CVE-2019-9946 and they got around to it on Tuesday. https://nvd.nist.gov/vuln/detail/CVE-2019-9946

[2019-04-03 06:40] lizrice commented on #214
Also need to document the SIG liaisons

[2019-04-03 20:41] xiang90 commented on #214
@mattklein123

Shall we start to execute the plan you proposed? I can help on creating PRs to finish it.

[2019-04-04 03:12] mattklein123 commented on #214
@xiang90 if you have cycles to start working on it that sounds awesome. @lizrice WDYT?

[2019-04-04 08:41] lizrice commented on #214
Sounds great to me! I'll try to pitch in on some of this too

[2019-04-06 16:06] ultrasaurus commented on #214
Here's unmerged PR that has some suggestions along these lines for SIG content: https://github.com/quinton-hoole/toc/pull/3

[2019-04-11 16:06] caniszczyk commented on #138
strimzi presented on 4/9/2019: https://docs.google.com/presentation/d/1bijEpuwaaa6jR1D5PAjyW731-j6Xc1TFHJuUh_FwwK8/edit#slide=id.g25ca91f87f_0_0

If they find enough TOC sponsors, they can submit a PR with an official project proposal

[2019-04-11 16:06] #138 closed

[2019-04-12 01:53] bgrant0607 commented on #138
I think we should always ask such projects to send proposals to their corresponding upstream projects first.

Did anyone follow up with the PMC, as suggested here?
https://github.com/cncf/toc/issues/138#issuecomment-441870920

[2019-04-13 19:55] duglin commented on #218
@caniszczyk would it be possible to get some clarity from the TOC on this point during the next call? I'd be happy to open a PR but I'd like to first get a sense from the TOC on what direction they would like to go.  To be clear... for me, I'd like more guidance around what "end users" means at least w.r.t. specifications. Does it mean implementers of the spec, or users of implementations of the s

[2019-04-14 06:43] lizrice commented on #218
Yes, I would like to have this on the agenda for discussion on the next call

[2019-04-14 15:47] caniszczyk commented on #218
added to the agenda for May https://docs.google.com/document/d/1jpoKT12jf2jTf-2EJSAl4iTdA7Aoj_uiI19qIaECNFc/edit#

[2019-04-16 21:29] yurishkuro commented on #195
Chris, any news on that? What obligations does the TOC sponsor assume by calling for a vote?

[2019-04-16 21:38] caniszczyk commented on #195
they just need to say that they are comfortable calling a vote for the
project asking for graduation

we also need to ensure due diligence is done for the graduated project
https://github.com/cncf/toc/blob/master/process/due-diligence-guidelines.md

On Tue, Apr 16, 2019 at 4:29 PM Yuri Shkuro <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-04-18 17:10] mattklein123 commented on #195
@caniszczyk on the topic of Jaeger, I will work with @yurishkuro on the due diligence to determine whether we should vote on graduation. I do think we should clarify this process somewhere before resolving this issue.

[2019-04-24 14:06] xmulligan opened #229 "Update CNCF Cloud Native Definition v1.0"
CNCF Cloud Native Definition v1.0 does a good job of covering what Cloud Native technology allows companies to do but misses one key aspect, increasing resource utilization/reducing cost. The Cloud Native definition should be updated to include this component.

**Supporting Information:**
On the CNCF's own [website](https://www.cncf.io/) under "What is CNCF?" part of the definition is "optimize re

[2019-04-25 21:15] philips commented on #213
What is the call on the CVE situation? Can the TOC please discuss and triage this?

[2019-04-27 13:45] monadic commented on #213
thanks @philips

@lizrice please can we get this onto TOC agenda at some point?

[2019-04-29 14:54] xmulligan commented on #229
Forgot about [VSCO](https://www.cncf.io/vsco-case-study/)

[2019-04-30 17:29] arnaldopereira opened #230 "Add portuguese definition translation"
Add brazilian portuguese translation of the CNCF definition.

[2019-05-04 09:39] lizrice commented on #213
I've added to the agenda for May 7th. @philips would you like to take the lead on presenting this?

[2019-05-06 14:56] caniszczyk commented on #213
added info on how to currently request a CVE for projects here: https://github.com/cncf/servicedesk/blob/master/README.md#how-do-i-file-a-security-cve-as-a-project

[2019-05-06 23:50] xiang90 commented on #218
For specifications, a better measurement is probably the number of successful implementations. I would interpret end users as the actual consumer, not the service provider or broker.

[2019-05-07 03:21] JustinCappos commented on #218
One complicating factor we've seen is that if a spec is fairly easy to
implement, then integrators tend to re-implement it rather than integrate a
common implementation.  This happens even more in my experience if the
languages popular tools are in differ.

So TUF, which is very widely used (automotive, cloud native, OS, language
package managers, etc.), has about as many implementations as in-tot

[2019-05-07 16:33] michelleN commented on #218
I think the TOC needs to figure out what we're looking for from a spec in the first place and then define metrics.

- I'd like to see that the spec is stable and unambiguous. So, having/requiring some specific versioning scheme and a reference implementation would help me with understanding that.
- I'd also like to see that the spec is holding up in different scenarios. So, requiring information a

[2019-05-07 17:45] philips commented on #213
Sorry Liz. Github notifications are really easy to miss. If you need me to
followup on this at the next meeting please let me know via an email.

On Sat, May 4, 2019 at 2:39 AM Liz Rice <notifications@github.com> wrote:

[2019-05-08 18:03] lizrice commented on #213
My bad, it was a bit short notice! It is now in the [working doc](https://docs.google.com/document/d/1jpoKT12jf2jTf-2EJSAl4iTdA7Aoj_uiI19qIaECNFc/edit) for a future session

[2019-05-09 01:42] #230 closed

[2019-05-15 20:01] #148 closed

[2019-05-15 20:04] caniszczyk commented on #90
old issue, close out

[2019-05-15 20:04] #90 closed

[2019-05-17 12:57] MatthewJamesBoyle commented on #147
Just a quick comment to say that here at Curve we are looking to move ORY Hydra into production in the coming weeks and have been very happy with it.

[2019-05-17 13:35] glerchundi commented on #147
Same here in our company, we'll be putting into production by the end of this year.

[2019-05-24 12:21] xmulligan commented on #229
Also included as one of the major benefits for telco adoption of Kubernetes https://docs.google.com/presentation/d/1iAgzRp5eFv7LWmpR2u1Wy0LdhvB85SkKJBxXFSNH8XE/edit#slide=id.g51566346dd_1_494

[2019-05-28 08:07] ant31 commented on #94
This project seems to have a small scope and would probably better fit into the kubernetes community.  Have you presented it to the sig-instrumentation from kubernetes  ?

[2019-05-28 22:53] integrii commented on #94
We did awhile back, and I agree that is a better fit.  I will revisit that path.

Thanks for your feedback on the project!

[2019-05-30 15:11] caniszczyk commented on #213
FYI GitHub has a new feature that solves a lot of issues:
https://help.github.com/en/articles/about-maintainer-security-advisories
https://help.github.com/en/articles/creating-a-maintainer-security-advisory

You still have the problem of requesting a CVE ID but GitHub is working on this so this may be a solved program in the future.

[2019-05-31 13:09] caniszczyk opened #248 "Add FAQ to clarify topics/process for projects"
The roles of sponsor have been very different for Incubation & Sandbox.
1) Incubation: the sponsor acts as a champion for the end-end process
and may get very deeply involved in technical DD and user interviews.
2) Sandbox: the sponsor is part of a quorum of N (=2 today). That is
all. There are no down-votes or deep DD docs.

The processes are also very different:
1) Incubation. Needs filling out

[2019-05-31 13:10] caniszczyk opened #249 "revisit the idea of needing 3 TOC Sponsors for Sandbox"

[2019-06-01 07:42] RichiH commented on #213
@caniszczyk that sounds like the best option, provided they solve the CVE assignment in the medium term as well.

[2019-06-02 14:50] philips commented on #213
@RichiH Why does that sound like the best option? Is there any indication that GitHub will become a CNA?

[2019-06-18 12:56] caniszczyk commented on #144
If you want to present this to the TOC, can you do a formal PR with the project proposal and we will schedule you

[2019-06-18 12:56] #144 closed

[2019-06-18 12:56] caniszczyk commented on #140
If you want to present this to the TOC, can you do a formal PR with the project proposal and we will schedule you

[2019-06-18 12:56] #140 closed

[2019-06-21 08:26] lizrice commented on #249
TOC had some discussion on this and didn’t reach consensus, on the basis that it’s unclear what problem we are trying to solve and therefore whether three sponsors would solve that problem

[2019-06-21 08:28] lizrice commented on #248
Cc @brendandburns @mattklein123, some input to the process flow chart idea

[2019-07-01 16:27] caniszczyk commented on #147
can you make a formal project proposal and send us a PR? we will then schedule you for a presentation (e.g., https://github.com/cncf/toc/pull/256)

Thanks!

[2019-07-01 16:27] #147 closed

[2019-07-01 16:29] caniszczyk commented on #134
Hey @khash we require formal project proposals first before we have project present to the TOC. Can you please do something like this if you're still interested: https://github.com/cncf/toc/pull/256

[2019-07-01 16:29] #134 closed

[2019-07-01 17:04] erinaboyd opened #263 "Request to present Operator Framework"
The Operator Framework is an open source toolkit to manage Kubernetes native applications, called operators, in an effective, automated, and scalable way. Operators take advantage of Kubernetes's extensibility to deliver the automation advantages of cloud services like provisioning, scaling, and backup/restore while being able to run anywhere that Kubernetes can run. First introduced by CoreOS in

[2019-07-01 17:05] erinaboyd commented on #263
@amye @caniszczyk heads up

[2019-07-01 17:42] aeneasr commented on #147
Ok, will do! Is the plan to present this to the SIG still open?

[2019-07-01 19:12] lopezator commented on #147
We also are going to put this into production shortly! Great product @aeneasr !

[2019-07-01 21:03] caniszczyk commented on #263
Thanks @erinaboyd, can you turn this into a formal project proposal? e.g., https://github.com/cncf/toc/pull/176

We will schedule it then.

[2019-07-01 21:21] erinaboyd commented on #263
@caniszczyk yep, I always thought we needed to both..is that not accurate?

[2019-07-01 22:13] caniszczyk commented on #263
just the PR from now on and request the presentation from that point on :)

On Mon, Jul 1, 2019 at 4:21 PM erinaboyd <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-07-02 00:18] erinaboyd commented on #263
@caniszczyk please close then, I will open a new PR

[2019-07-02 14:53] #263 closed

[2019-07-23 10:09] glerchundi commented on #147
Hei @aeneasr, does the proposal PR exist or where could I subscribe in order to see how is this going? Thanks!

[2019-07-23 10:10] aeneasr commented on #147
Sorry, we didn't have time to follow up with this.

[2019-07-23 10:18] glerchundi commented on #147
Don't worry, thanks for the update and keep up the good work!

[2019-07-23 10:58] lizrice commented on #147
Nice to see there are folks commenting in support of this project. Now that SIG Security is in place it would make sense to schedule a presentation with them first for their thoughts.

Also we have recently added that we would like to see projects tell us how they compare and contrast to other similar projects and products (eg Keycloak)

[2019-07-23 11:34] glerchundi commented on #147
Happy to contribute and help in case it needed.

Reasons why we've chosen Hydra:
* Simple: It does one thing and it does it well
* Extensible: How they designed the flows allowed us to create a custom login page with our custom authentication mechanisms which make our whole app much simple with less attack surface making in the end much more easy to manage, operate & protect.
* We feel comfortable

[2019-08-01 10:36] ultrasaurus opened #270 "establish conflict of interest guidelines"
Clear conflict of interest guidelines can mitigate the risk that there is real or perceived bias and accelerate the work of the SIGs, supporting TOC ["No Kingmakers" principle](https://github.com/cncf/toc/blob/master/PRINCIPLES.md#no-kingmakers--one-size-does-not-fit-all).

The CNCF TOC relies on [TOC Contributors](https://github.com/cncf/toc/blob/master/CONTRIBUTORS.md) and [SIG](https://github.c

[2019-08-01 16:33] jbeda commented on #270
Sounds good to me.  There is always gray here but this sounds like a good start. Regardless we want to make sure that there are outside eyes on any projects/info/evaluation.

[2019-08-03 01:08] charlesrichard opened #272 "Add proposal to archive Notary project"
The Notary project, currently in Incubating status, has seen a significant decline in contributions, including active maintainers, since it was added to CNCF in 2017.  This decline drops below the bar set for Incubating projects including "Have a healthy number of committers" and "Demonstrate a substantial ongoing flow of commits and merged contributions."  While both of these attributes are subje

[2019-08-04 01:50] dims commented on #270
IEEE seems to distinguish between Employment and Affiliation ( https://standards.ieee.org/faqs/affiliation.html ) probably too much for us..

[2019-08-07 13:43] lizrice commented on #272
Notary is overdue a review anyway so TOC will schedule that review.

Until the TOC does that review, it would be appreciated if people could stop reaching the very premature conclusion that we're going to accept this PR.

Comments from community members who have experience with Notary are very welcome.

[2019-08-07 13:51] justincormack commented on #272
As a maintainer of the Notary project and an employee of Docker, I would like to directly address the implications in the above proposal; that somehow Notary is not a healthy OSS project. One should most importantly judge an open source project health by its usage and usage beyond the company that might have originally sponsored it.  Docker, Microsoft Azure and IBM are a set of companies that use

[2019-08-07 14:10] JustinCappos commented on #272
I'd like to second Justin Cormack's thoughts here.

From the TUF side, we're very conservative about changing a widely used specification that does its job well.  So, while we deliberate quite a lot on changes to the spec with different adopters, we are conservative about the actual changes we ask from our adopters, such as Notary.  Notary is very widely used in the cloud native space, accounting

[2019-08-07 14:52] SantiagoTorres commented on #272
I second what @justincormack and @JustinCappos said. Sharing the bar for security projects and otherwise is not ideal, and github-generation metrics (stars, commits, forks) will always put systems security projects in a bad light.

"move fast and break things" is the opposite of what you want with Notary.

[2019-08-07 15:05] technosophos commented on #272
I am opposed to archiving a stable and highly useful project. It sends the signal that the value of a piece of software is _how much it changes_, not whether it is solving the problem it set out to solve. We've been happily using Notary, and feel that it is already a stable and reliable part of our toolchain. I don't see why archiving a production-grade project with plenty of usage is a good idea.

[2019-08-07 19:26] mattfarina commented on #272
Something that is overlooked is that Notary is an incubating project. Could there be a push to have it as a graduated project? A graduated project is very much process based and is something I think notary can go through.

Aside from graduation, you chase after what you measure. It ends up setting goals and expectations. It's been almost 5 months since grep, the GNU version most Linux users use, h

[2019-08-07 20:00] lumjjb commented on #272
We (IBM Research) are still making new innovations on top of the notary as a foundational component. However, many of the things that we do on top of notary do not require any changes in notary itself since it is targeted security component that does its very specific functionality well. In that sense, we don't see there to be a need in any massive feature changes. Like most crypto related compone

[2019-08-08 03:45] raravena80 commented on #272
👎 for archiving
👍 for keeping it

The release cycle of security components tends to be slower imo, which maybe lead to the misinterpretation that the project is not useful.

[2019-08-08 10:56] danmx commented on #272
Even though the project has not a lot of contributions it still can continuously maintain its quality.
For example:
- updating outdated and vulnerable dependencies (e.g. integration with GolangCI or Snyk)
- fuzzing for unknown vulnerabilities ([Envoy example](https://www.cncf.io/blog/2018/09/28/gsoc-2018-extending-envoys-fuzzing-coverage/))
Both of them still can be done continuously for stable an

[2019-08-11 13:31] FeynmanZhou opened #273 "Is it possible to contribute an open source project of k8s distribution to CNCF sandbox?"
Hi, @lizrice @caniszczyk ,  is it possible to contribute an open source project of k8s distribution (e.g. Rancher 2.0) to CNCF sandbox?

[2019-08-11 14:06] dims commented on #273
@FeynmanZhou interesting question. I am guessing you meant - "something that looks like Rancher 2.0" (and not Rancher 2.0 itself!). It would be interesting to explore that idea.

Just in terms of "platforms / distributions" that claim conformance - there are several open source (and under CNCF) projects:
https://github.com/cncf/k8s-conformance/tree/master/v1.14
(kubeadm, kubespray, kind etc)

[2019-08-11 14:08] dankohn commented on #273
Here are the 5 conformant Kubernetes installers that are part of the K8s project: https://landscape.cncf.io/category=certified-kubernetes-installer&format=card-mode&grouping=category&organization=cloud-native-computing-foundation-cncf

[2019-08-11 14:21] caniszczyk commented on #273
Anything is possible per discretion of the @cncf/toc ;)

Where does the code currently live? @FeynmanZhou

You'd have to put forth a formal project proposal and then it will be discussed.

[2019-08-12 15:04] timothysc commented on #273
I would heavily vote against this just due to the potential conflicts around this, and I firmly believe @kubernetes/steering-committee should have a say on this.

[2019-08-12 15:46] danmx commented on #272
Some platforms even offer fuzzing for free for open source projects: https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/

[2019-08-12 16:03] SantiagoTorres commented on #272
I agree this is a good idea, I've been meaning to submit TUF and in-toto to oss-fuzz (and I may borrow Envoy's idea of making it a gsoc project :)).

I think most projects within the CNCF are not being actively fuzzed either.

[2019-08-12 21:15] jbeda commented on #273
As someone that is on both the TOC and the k8s SC, this isn't something I'd support. We have enough confusion as it stands.  If there is a gap to be filled here I'd suggest we do it within the k8s project itself.

Is there a specific project being proposed here or is this a hypothetical?

[2019-08-14 15:11] lizrice opened #274 "Project proposal doc is unclear that Sandbox doesn't need a vote"
Projects get admitted to Sandbox simply by having a sufficiency of sponsors from the TOC; this is not clear from the [project proposals doc](https://github.com/cncf/toc/blob/6e4e68bcf72bf07fb851a1e13411e49713515e4a/process/project_proposals.adoc)

[2019-08-16 17:57] fntlnz opened #275 "clarification: meaning of appointed terms"
I think that this repo should explain the meaning of the appointed types such as:
- GB-appointed
- TOC-appointed
- Enduser-appointed

I wasn't really able to understand those terms on my own or finf a source of truth to understand what those mean. My suggestion is to explain them in the readme.

[2019-08-16 19:44] fntlnz commented on #275
Nevermind it's right there !!

[2019-08-16 19:44] #275 closed

[2019-09-02 20:13] ultrasaurus commented on #270
FYI: SIG-Security has established [conflict of interest guidelines for security reviewers](https://github.com/cncf/sig-security/blob/master/assessments/guide/security-reviewer.md#conflict-of-interest) (with discussion in PR https://github.com/cncf/sig-security/pull/125)

Writing something down helps streamline our process.  We're happy to adjust anything, as needed, whenever CNCF TOC decides to mo

[2019-09-02 20:49] ultrasaurus opened #287 "[SIG-Security] recommendation for in-toto evaluation for supply chain security improvements"
Supply chain attacks on are on the rise.  SIG-Security's [in-toto assessment](https://github.com/cncf/sig-security/tree/master/assessments/projects/in-toto) includes a set of recommendations, including one that identifies a way that CNCF can help this project increase the security of the ecosystem:

* Identify UX Researcher to engage 2-3 companies or projects to evaluate the time and effort requir

[2019-09-03 14:51] JustinCappos commented on #287
Oh, that would be great!  We'll be looking forward to it!

[2019-09-03 15:12] michelleN opened #288 "add info around how to get involved with SIGs in this repo"

[2019-09-04 18:03] ultrasaurus commented on #288
suggest that each SIG have a new member page -- SIG-Security is working on one here: https://github.com/cncf/sig-security/pull/248

[2019-09-24 19:55] trishankatdatadog commented on #272
I am against archiving Notary, too. In fact, Notary needs to fully support all of the features of the TUF specification in order to accommodate future needs like supply chain security. As such, we expect to make and see changes in Notary relatively soon.

[2019-09-26 09:24] amatestuser123 commented on #272
Reading the comments here, I think there might be some additional things that should be considered here. To me, Notary needs some short term additional help with maintenance to be considered an active project, in the longer term.

Active projects focused on security, should get a level of maintenance required to address outstanding vulnerabilities at a minimum.

Some specifics:-

- The latest rele

[2019-09-26 16:03] squillace commented on #272
https://github.com/cncf/toc/issues/272#issuecomment-519103032.

[2019-10-04 20:01] caniszczyk commented on #213
GitHub is offering this built-in now and should be ready by GitHub Universe
https://twitter.com/github/status/1174371016497405953

[2019-10-04 20:01] #213 closed

[2019-10-07 15:00] mfdii opened #305 "Fix typos in Due Diligence review template"
This [section](https://github.com/cncf/toc/blob/master/process/dd-review-template.md#introduction) has the following text/typos:

```The decision to graduate or promote a project depend on the TOC sponsors of the project performina dn documenting the evaluation process in deciding upon initial or continued inclusion of projects through a Technical Due Diligence ('Tech DD') exercise. ```

I wasn't

[2019-10-31 08:53] caniszczyk opened #314 "Add graduated table"
We need a table for "graduated" projects with date + announcement

Add: https://github.com/cncf/toc/blob/master/docs/projects.md

[2019-10-31 09:26] lukaszgryglicki commented on #314
Data for this is available here: https://github.com/cncf/devstats-docker-images/blob/master/devstats-helm/projects.yaml, for each project that graduated just search for `graduated_date` field.

[2019-11-05 14:18] caniszczyk commented on #314
@amye to update

[2019-11-21 01:12] #314 closed

[2019-12-04 21:33] mattklein123 opened #323 "Proposal to change TOC nomination process"
Per email thread here: https://lists.cncf.io/g/cncf-toc/message/3907

I propose we work towards a change to the nomination process (including a charter change if necessary) that would involve:

- Make all nominations public, with who / what org nominated the nominee.
- Some ability for a public comment period on the nominees. If there is concern around public comments, the comments could only go t

[2019-12-04 22:05] snakescott commented on #323
Seems like by definition this would increase transparency, and increased transparency leading to increased trust seems common sense ish.

If anyone is opposed it would be interesting to understand what they see as the negatives. Would this process put undue burden on anyone? What concerns are there when it comes to public nominations and public comment? Perhaps they can be mitigated without needin

[2019-12-04 22:07] monadic commented on #323
+1 excellent suggestion

[2019-12-04 22:13] onlydole commented on #323
+1 - It'd be great to have this process be more transparent.

[2019-12-04 22:35] baldwinSPC commented on #323
+1 for 100% transparency.

[2019-12-04 22:57] dankohn commented on #323
If you’re aware of any, could you please provide references to any other open source election, maintainer selection, or similar open governance process where public comments on candidates was encouraged?

It seems like it might quickly devolve into the worst parts of high school, but I’m happy to see examples where this approach has worked well.

[2019-12-05 00:08] hannibalhuang commented on #323
well for one: https://governance.openstack.org/election/

[2019-12-05 00:25] onlydole commented on #323
I like how the Python organization manages their elections, too! You can see [nominees and nomination details](https://www.python.org/nominations/elections/).

[2019-12-05 00:31] dankohn commented on #323
I haven’t commented on the proposal to make nominees public.

I don’t see in OpenStack or Python election materials where public comments are solicited and posted on the qualification of the nominees, which is @mattklein123‘s proposal, as I understand it. Could you please provide specific links?

[2019-12-05 01:52] hannibalhuang commented on #323
For OpenStack there is always a [campaign phase](http://lists.openstack.org/pipermail/openstack-discuss/2019-February/002923.html) that asking candidates questions which in nature a demonstration of their qualification. However the qualification for entrance of the election is written in the governance although it is quite simple.

I think what @mattklein123 proposed here is not about the qualific

[2019-12-05 01:55] rootsongjc commented on #323
+1 100% transparency

[2019-12-05 02:54] AevaOnline commented on #323
For a bit of history, the OpenStack Technical Committee  (equivalent of Kubernetes TOC) accepts self-nominations from any eligible candidate - any contributor active in the last 12mo, IIRC. There were never board-appointed seats on the TC. The initial TC was seeded from the PPB (project planning board), which itself was composed of the technical leaders of the first ~7 projects to spin out of Nova

[2019-12-05 07:20] dankohn commented on #323
Interesting. I looked at that thread but am having trouble figuring out:
* How many questions are asked?
* What % of applicants answer some or all of the questions?
* Is this process documented somewhere?

In any event, a public Q&A period seems substantially different than a "public comment period", where people are called on to comment on nominees.

[2019-12-05 07:30] AevaOnline commented on #323
OS TC election process is documented in git, and there is a discussion period mentioned here as part of the campaigning process:
  https://opendev.org/openstack/election#tc-campaigning

[2019-12-05 14:30] fungi commented on #323
Links to the process documentation for technical election officials has already been provided, but to clarify: It's a voluntary and open-ended period wherein members of the community at large are encouraged to publicly ask candidates questions on the openstack-discuss mailing list about their platform statements, prior activities or more general questions on pressing topics of the day. This "campa

[2019-12-05 17:09] mattklein123 commented on #323
Thanks everyone for the great discussion. I want to clarify a few points:

- The thing I care about most is nomination transparency. I see zero downside for making it very clear who got nominated by whom, especially for the GB appointed seats. This simple change would make it vastly more obvious when an organization is focused on self dealing, ignoring diversity, etc.
- Regarding public comments:

[2019-12-05 17:12] snakescott commented on #323
Could this ticket be split in to two,

1. Nomination transparency
1. Everything else

Nomination transparency seems like a simpler and more binary suggestion, might be easier to act on if  decoupled from "additional community involvement"?

[2019-12-08 03:45] sdake commented on #323
Hi @mattklein123. As the general developer population doesn't have an opportunity to see who nominates who from the GB, would you please provide a prior or existing examples of self-dealing? I'd really like to understand which vendors and other GB members are behaving in this way...

I get diversity may be ignored. Diversity should be baked into the charter. So should ethics...

[2019-12-08 16:52] RichiH commented on #323
@dankohn The way Debian does Debian Project Leader  is roughly:

1. Any Debian Developer can nominate any other Debian Developer
2. Nominees publish a platform statement
3. Public discussion with and about nominees
4. All Debian Developers can cast a secret vote via Condorcet with Schulze method https://en.wikipedia.org/wiki/Condorcet_method#Schulze_method
5. Publish result and list of voters, kee

[2019-12-17 16:42] ultrasaurus commented on #305
Here's clarified wording based on my understanding of the process:

@michelleN @quinton-hoole what do you think?

[2019-12-17 16:46] ultrasaurus commented on #249
would be good to address open question about the responsibility of sponsors here: https://github.com/cncf/toc/issues/195

[2020-01-08 10:04] VinodAnandan opened #331 "Change the world for the better-TOC Operations, Transparency, Open, Fair, No Kingmakers, Lobbying, Conflict of Interest, etc."
I would like to thank and congratulate the amazing work done by the Technical Oversight Committee (TOC) and the volunteers from SIG. Your work is very much appreciated and it has a significant impact on the future of CNCF and open-source projects. Similar to that, many others spend their significant time and effort on different open-source projects. I think having more transparency with the TOC se

[2020-01-08 15:16] bdaw commented on #331
This touches number of struggles we experienced with Keycloak submission process. I think it would be highly beneficial to incorporate ideas brought up by Vinod in this issue.

[2020-01-08 15:26] caniszczyk commented on #331
@VinodAnandan I think summarizing input from SIGs part of the process is a great idea.

Also, all the TOC meetings are public including the project backlog via a github board, so they are as open and transparent as can be. We have been opposed to time boxing as that gives the TOC less flexibility to prioritize and make decisions on the fly.

Just because your project doesn't get accepted doesn't m

[2020-01-08 22:05] VinodAnandan commented on #331
@caniszczyk, thank you for your response.

Yes, there is a certain level of transparency, thanks to everyone who is helping to achieve that. I do watch the TOC meeting recordings and follow the mailing list, that’s why I felt that not all opensource projects are treated fairly. I created this issue hoping that it will start some discussion and ideas for improvement.

In addition to the rejection o

[2020-01-09 17:28] lizrice commented on #331
There is [an existing PR](https://github.com/cncf/toc/pull/321) in progress for improving and documenting the onboarding process better, including getting input from the SIGs. One of the benefits of the SIGs is that we get to leverage expertise from a much broader group of people. The TOC still have final discretion and we would still require that a project gets sponsors, but sponsors will be maki

[2020-01-10 09:28] VinodAnandan commented on #331
That PR is based on the "SPONSOR" model. I am requesting to reconsider that model. That model is contradicting to the CNCF and TOC principles.

Apologies, I didn't mean to say that it is an active problem, that's why I used the "potential" word. I believe the "SPONSOR" model is flawed that's why it made you think those possibilities. And the company is just one of many other factors when it comes

[2020-01-10 16:03] lizrice commented on #218
I think this was covered by #277 - @michelleN @caniszczyk please reopen if you disagree

[2020-01-10 16:03] #218 closed

[2020-01-13 11:11] derberg commented on #331
Because [Kyma](https://kyma-project.io/) was mentioned here in this thread, for the sake of transparency, I'd like to clarify that even though [this comment](https://github.com/cncf/toc/pull/292#issuecomment-556393240) states what is the reason for not accepting Kyma:
- The decision was not done on an open meeting
- We were not given a chance to present on any open and recorded TOC meeting
- Kyma

[2020-01-14 11:52] tomkerkhove opened #335 "Proposal to donate Kubernetes Event-driven Autoscaling (KEDA) as Sandbox project"
Hi,

We'd like to propose to donate Kubernetes Event-driven Autoscaling (KEDA) as a sandbox project.

Since the new process is still in flux I'm basing this on the current proposal template, but have left out `External Dependencies` & `Release methodology and mechanics` as this is still WIP but not relevant at this stage.

*CC @jeffhollan @anirudhgarg @duglin*
*Relates to https://github.com/kedaco

[2020-01-14 12:15] lizrice commented on #335
Great! Thanks @tomkerkhove.

@quinton-hoole @raravena80 please could SIG Runtime take a look and give the TOC a recommendation?

[2020-01-14 16:45] raravena80 commented on #335
Thanks @lizrice we'll discuss it in the upcoming meeting (01/16/20). Fyi, we will be following [this process](https://github.com/cncf/toc/pull/321#issuecomment-573033534).

[2020-01-14 16:58] jeffhollan commented on #335
Thanks - and know there has been conversations around SIGs (Apps and Runtime) and how it relates to the serverless WG lead by @duglin but worth noting we did present in November to that group and had strong agreement this fit well. We’ve actually had a few follow on meetings as well. Let me know if anything needed from me for 1/16

[2020-01-16 21:23] lachie83 opened #337 "Service Mesh Interface (SMI) proposal"
We would like to propose [Service Mesh Interface (SMI)](https://smi-spec.io/) specification for donation as a sandbox project in the CNCF.

The SMI proposal was presented during the CNCF sig-network, January 16, 2020. The proposal deck can be found [here](https://docs.google.com/presentation/d/1Pn6PvdaCnKf-MRhATWDFgKGmM7Z6tycumb07xYSev5U/edit?ts=5e179825#slide=id.g4054009e6b_5_0).

Please find ass

[2020-01-16 21:24] lachie83 commented on #337
/assign @leecalcote @mattklein123

[2020-01-16 21:24] mattklein123 commented on #337
+1 from me. Happy to be one of the TOC sponsors.

[2020-01-16 21:26] leecalcote commented on #337
+1 here. I support SMI's entrance.

[2020-01-16 21:26] grampelberg commented on #337
I'm so excited about this proposal!

[2020-01-16 21:28] olix0r commented on #337
Big +1 from me as well.

[2020-01-17 05:01] mhausenblas commented on #337
+1

Cheers,
Michael

[2020-01-17 05:07] caniszczyk commented on #337
thanks @mattklein123, any other @cncf/toc members want to sponsor this project for the sandbox?

[2020-01-17 06:41] raravena80 commented on #335
Update: We discussed this on the 1/16 meeting however SIG-Runtime is just being stood up and I was the only chair present in the meeting. I'd like to discuss with other chairs, tech-leads (@quinton-hoole, @dfeddema, @k82cn) about what TOC recommendation template to use (if any at this point?). We take any suggestions too.

[2020-01-17 07:49] tomkerkhove commented on #335
Thanks for the update @raravena80!

@lizrice probably knows concerning your template question.

[2020-01-17 16:28] caniszczyk opened #339 "Create mailing list for maintainers to support each other"
https://lists.cncf.io/g/cncf-toc/message/4082

[2020-01-17 17:32] amye commented on #339
Creating cncf-project-maintainers@ - this list will be open to maintainers to subscribe to, but will be a private list that's moderated by CNCF staff.

[2020-01-17 17:54] amye commented on #339
Correct: cncf-private-maintainers to make it more explicit that this is a private list.

[2020-01-17 17:54] #339 closed

[2020-01-17 21:45] alexellis commented on #337
👏🐳

[2020-01-21 19:17] michelleN commented on #337
I'm also happy to sponsor @caniszczyk

[2020-01-22 04:55] quinton-hoole commented on #305
To be honest, it's not clear to me what the purpose of this Due Diligence Review Template is.

It appears to be largely a duplicate of material published elsewhere, for example:

[Due Diligence Guidelines](https://github.com/cncf/toc/blob/master/process/due-diligence-guidelines.md) and the few documents linked from there, for example:

https://github.com/cncf/toc/blob/master/process/graduation_cri

[2020-01-22 19:25] ultrasaurus commented on #305
Several of the SIGs are making additional templates for due diligence reviews, and I'd prefer to have a single template with the info that TOC wants/requires (and of course, SIGs can create additional area-specific templates or Q&A with *additional* info, but prefer we not all be creating different versions of the same thing

[2020-01-22 19:59] erinaboyd commented on #305
@quinton-hoole @ultrasaurus Quinton - As per our F2F in San Diego, we discussed creating a more clear process by which projects new to the process clearly understand how to get started and what steps to take. I believe we took away from that creating a flow and/or template for each level would be helpful. Though these documents do exist we either need a clearly way of knitting them together or a m

[2020-01-22 22:09] lachie83 commented on #337
@monadic would you be interested in sponsoring?

[2020-01-22 22:11] monadic commented on #337
Potentially but would need to know more.  Is any other TOC member keen?

[2020-01-23 00:54] quinton-hoole commented on #305
@erinaboyd @ultrasaurus   Having templates and workflows is fine.  But it will be important to tie all those back to the correct sources or truth provided by the TOC.  Otherwise, for example, the TOC's graduation criteria and technical due diligence guidelines will over time not be consistent with the templates.  I would prefer the templates to link back to the original sources of truth, rather th

[2020-01-23 01:43] brendandburns commented on #337
I'm willing to sponsor, but I'm not sure if I can given that @michelleN is already sponsoring?

[2020-01-23 14:14] tomkerkhove commented on #335
Any feedback on this @quinton-hoole, @dfeddema, @k82cn?

[2020-01-29 20:35] erinaboyd commented on #335
@raravena80 We haven't officially voted/published a template, but it will be based on this: https://docs.google.com/document/d/1x3jlFsP0Z5DGyXiU3mwPMxH5HGnoi_ZvUcpczBMGwz4/edit?usp=sharing

[2020-01-30 02:54] raravena80 commented on #335
Thanks, @erinaboyd. Since it hasn't been voted/published, my take is that in the meantime for sandbox we'll use slide 2 here: https://docs.google.com/presentation/d/1xQHPHI7U2WxIUJm5zSj1MamWNr-Ru7_4nABrRkveDBU

If no objections from @quinton-hoole, @dfeddema, @k82cn? I'd like to invite the project to present in the SIG-runtime meeting.

[2020-01-30 09:19] tomkerkhove commented on #335
Thank you @raravena80!

We are happy to present to SIG Runtime, if I get it correctly the next meeting is on 6th of February at 8am (USA Pacific)?

@jeffhollan You are definately the best man to pitch KEDA, are you up for doing that?

[2020-01-30 14:50] erinaboyd opened #344 "Sandbox Project Proposal Template"
# CNCF SIG Sandbox Project Request Template & Promotion Template

# <Project>

## <Promotion/Acceptance> to CNCF <Incubation/Sandbox>

**Primary aim: This template helps a project to prepare for a presentation to the SIG, and then helps the SIG share the collated information with the TOC.**

**Authors:**

# Background

**_Link to TOC PR_**

**_Link to Presentation_**

**_Link to GitHub project_**

[2020-01-31 03:20] k82cn commented on #335
That'll be great to have a presentation at sig-runtime meeting :)

[2020-01-31 03:38] jeffhollan commented on #335
Definitely happy to do so. Can plan on joining the Feb 6 meeting. Let me know if you need anything else as well.

[2020-01-31 03:48] raravena80 commented on #335
@tomkerkhove @jeffhollan actually, we already have a 20 min presentation scheduled on Feb 6th. Feb 20th works better for the presentation, all co-chairs have a meeting 30 minutes past the SIG-Runtime meeting, does that work? If yes, you can add it to the agenda with the time it's supposed to take here:
https://docs.google.com/document/d/1k7VNetgbuDNyIs_87GLQRH2W5SLgjgOhB6pDyv89MYk/
You are welcome

[2020-01-31 03:49] k82cn opened #345 "Add sig/wg label for related issues, e.g. presentation"
For now, we have several sig/wg to have a review on sandbox/incubator proposal. It's better to have a label to identify which sig/wg should help to review it; the project owner may help to identify the related sig/wg :)

[2020-01-31 23:21] jeffhollan commented on #335
Yep that will work. I'm anxious to keep this progressing 😄 but can wait for 20 more days to present.  I'll join the 6th meeting as would be great to meet a few of you folks - we've been working most closely with the Serverless WG - so not as familiar with the SIG-Runtime.  And will also plan on the 20th for now.  Thanks for the help

[2020-02-03 18:11] michelleN opened #347 "end user member feedback loop"
@oicheryl and I had a chat last week about how to best get end user members involved to create the right feedback loop between them and the CNCF TOC/SIGs while keeping in mind

- end users may not have the time for fully immersing themselves full time in multiple cloud native initiatives
- end user feedback incredibly and increasingly valuable so we need to find a way to make this work
- end users

[2020-02-03 18:12] caniszczyk commented on #347
We do survey our end user community 1-2 times a year, this could be a good way to solicit some feedback: https://github.com/cncf/surveys/tree/master/enduser

[2020-02-03 18:22] oicheryl commented on #347
The goal is to get end users to engage in TOC & SIGs and give small regular feedback on projects. The big survey is for broad feedback, overall satisfaction and so on.

[2020-02-03 18:26] caniszczyk commented on #347
My suggestion was to create a new survey or something that allows feedback
to projects / ecosystem.

Asking them to commit to joining TOC calls and SIGs may be difficult versus
a simple survey :)

On Mon, Feb 3, 2020 at 10:22 AM Cheryl Hung <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-02-03 18:33] oicheryl commented on #347
Agreed that joining calls is difficult, but I'm also wary of survey fatigue.

[2020-02-03 20:51] michelleN commented on #347
@caniszczyk - I think a survey would be a good way of getting feedback after we start experimenting with just sending blurbs out in the newsletters (say in 4-6 months or so?). I agree with your judgement on TOC/SIG calls being too much commitment. However, I do think creating a norm where end users can jump on one call that is particularly relevant instead of having to commit to regular calls woul

[2020-02-03 20:56] michelleN commented on #347
Another example blurb may look like this:
_SIG X is doing an annual review for the sandbox project y. [Project y](link to project) solves the problem abc. We'll be doing the annual review at our meeting on Wednesday Feb. 7, 2020 at 11:30am PT. This is a great time to share feedback, understand the roadmap/priorities/community growth of this project. Here is a link to the agenda which contains the

[2020-02-03 22:31] lizrice commented on #337
@brendandburns I don’t think there is any reason you & Michelle can’t both sponsor now that we’re looking for three of 11 TOC members (@caniszczyk please shout if I’m missing something). With @mattklein123 that would make three.

[2020-02-03 22:36] caniszczyk commented on #337
@lizrice there is nothing against the rules, we did have an unspoken policy that if you were a maintainer or strongly associated with the project you would let other people sponsor

[2020-02-03 22:38] xiang90 commented on #337
@lizrice @caniszczyk

We probably should make this an explicit rule if we agree on this.

[2020-02-04 08:39] oicheryl commented on #347
It's a good summary, but if there were 5 of them the newsletter would get long. I'd keep it to a few sentences if possible.

Emailing me directly is fine.

[2020-02-04 15:41] ultrasaurus commented on #344
It might be helpful to move the content to a PR and update the issue to reflect the problem that we're attempting to solve with the template (for folks who haven't been directly involved).  From my perspective, having a template will
- reduce the work for individuals who are volunteering to help with the process (SIG Chairs/Tech leads, TOC members/contributors, etc)
- increase transparency in the

[2020-02-04 16:49] xiang90 commented on #344
@erinaboyd

Thanks for putting this up.

A few comments:

Some of the general questions are duplicate with the initial toc proposal here: https://github.com/cncf/toc/blob/master/process/project_proposals.adoc#cncf-project-proposal-process-v12. I suggest to remove the duplicated questions from this template and link to the proposal one.

The intention is to sponsor projects after the SIG assessment

[2020-02-04 17:44] kgamanji commented on #347
I definitely support the idea of instigating end user feedback via newsletters.

Also, having concise and straightforward blurbs would definitely be more effective. It is always possible for users to follow up and proceed with further research at their own pace.

[2020-02-04 22:15] lachie83 commented on #337
Thanks for the clarification. In the interest of getting this sponsored to comply with these rules would either of you (@xiang90 @lizrice) be interested in sponsoring?

[2020-02-05 00:43] michelleN commented on #347
Great feedback. In 3 sentences, we'll state what is happening in which SIG, give context, and link to the agenda which should have links to meeting recording and mailing list.

[2020-02-05 03:24] jbw976 opened #352 "Present Rook graduation proposal to TOC"
The [Rook project](https://rook.io/) is going through the [graduation criteria](https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc#graduation-stage) and would like to get on the schedule to present to the TOC.

The goal is to hopefully achieve all the graduation requirements and be formally voted and approved before Kubecon Amsterdam starts March 30th.

Some questions from th

[2020-02-05 15:17] caniszczyk commented on #352
@jbw976 you need to first present to a SIG and in your case, CNCF SIG Storage is best, we are currently updating all the project process flowcharts

You need 1 TOC sponsor to call the actual graduation vote, which will require 2/3 approval to pass

[2020-02-07 01:25] AloisReitbauer commented on #344
LGTM.

I also added a section at the end for review summary and recommendation to the project for things they should address going forward.

[2020-02-07 17:13] lizrice commented on #344
I would be very supportive of having a first version of the template published quickly, which we can iterate on

[2020-02-07 17:31] raravena80 commented on #344
+1 to move this to a PR and getting it published so we can iterate.

[2020-02-07 18:22] CAPTCHA167902 opened #354 "มีสแปมในมือถือผมอยู่ในตอนนี้ผมต้องการให้พวกคุณช่วยเอามันออกไปจากชีวิตของผมทีเถอะครับ"
#344
![Uploading  @5361C551-AB91-498A-B045-E3B1C14E1F69.jpeg…]()
![E682E91F-0171-45EF-BF8D-77C20319781F](https://user-images.githubusercontent.com/60781121/74054540-d7486700-4a10-11ea-8f31-b0b315479fe7.jpeg)
![69463022-A747-4CA6-8D0D-DBBA9DC5A70F](https://user-images.githubusercontent.com/60781121/74054541-d7e0fd80-4a10-11ea-9a3d-89c6a71dbe7a.jpeg)
![9628CE6E-8EFF-4805-ABBF-48734DBAAC6D](https://u

[2020-02-07 18:28] #354 closed

[2020-02-07 22:17] lachie83 commented on #337
Thank you all. The TOC sponsors have been updated as follows in the proposal:
 - mattklein123
 - brendandburns
 - brewer531

[2020-02-14 19:59] xiang90 commented on #344
@erinaboyd @lizrice

as #335 gets merged. shall we create a PR for adding this template?

[2020-02-18 22:14] amye commented on #103
Checking in here, are we still interested in contributing this to the CNCF?

[2020-02-18 22:32] amye commented on #345
Labels created!

[2020-02-18 22:32] #345 closed

[2020-02-20 01:13] duhenglucky commented on #103
@amye thanks for your reminder, we are still very interested in entering CNCF. OpenMessaging has now received support from more than 30 cloud vendors and open-source vendors. Many cloud vendors including Alibaba Financial Cloud have begun to use OpenMessaging in their commercial messaging products. Active discussions are ongoing with several other cloud vendors to advance OpenMessaging as a true d

[2020-02-20 15:59] erinaboyd commented on #344
@xiang90 yes I will remove the TOC sponsor solicitation blurb...good idea

[2020-02-20 17:31] tomkerkhove commented on #335
Thank you for having us present KEDA in SIG-Runtime standup @raravena80!

It was a pleasure and we've opened a PR to SIG-Runtime recommendation list, thanks for considering!
https://github.com/cncf/sig-runtime/pull/10

Once that's merged we are looking for sponsors, if anybody is willing to sponsor us from TOC, feel free to reach out.

We've already had interest from @duglin, are you still willing

[2020-02-20 21:03] michelleN commented on #287
@ultrasaurus does SIG Security recommend in-toto for incubation status or is this study a blocking requirement for moving to incubation?

[2020-02-21 01:17] ultrasaurus commented on #287
Hi @michelleN -- thanks for checking in.  This came out of the part of the security assessment when we think about if there are ways the CNCF could help the project.  I think this would be helpful to in-toto, and might relate to how much we evangelize vs encourage folks to use it, but shouldn't be considered a blocking issue at all.

I kicked off a conversation with @oicheryl last year, but got a

[2020-02-24 15:19] lizrice commented on #352
Yes we would now like a recommendation from SIG Storage as the next step please cc @erinboyd @alexchircop @quinton-hoole

[2020-02-24 20:27] timothysc opened #363 "Proposal to donate Dex as a Sandbox project"
Hello TOC,

Per request for the Dex maintainers, they would like to donate Dex to the CNCF.
xref: https://github.com/dexidp/dex/issues/1379

## Proposal
**Name of project:** Dex

**Description:**
Dex is an identity service that uses OpenID Connect to drive authentication for other apps.

Dex acts as a portal to other identity providers through "connectors." This lets dex defer authentication to LD

[2020-02-25 01:21] dcalvin opened #364 "Propose Chaos Mesh as a Sandbox project"
Hey, we would like to propose Chaos Mesh, a versatile Chaos Engineering platform that orchestrates chaos experiments on Kubernetes environments. The detailed  proposal can be seen here:

https://github.com/cncf/sig-app-delivery/issues/23

Thanks.

[2020-02-25 15:13] mattfarina opened #365 "How do projects go for graduation? Open Questions"
We would like to take the Helm project through the graduation process. But, we are unsure of what to do in the [new process](https://github.com/cncf/toc/blob/132bccd4199870653b11aa46f0b371ffe521441a/process/project_proposals.adoc).

The graduation section reads:

I've asked many of this in SIG App Delivery and of CNCF staff (e.g., Amye) who have tried to answer them and track down answers but the

[2020-02-25 16:16] quinton-hoole commented on #352
Yup, we're on it, thanks.

On Mon, Feb 24, 2020 at 7:19 AM Liz Rice <notifications@github.com> wrote:

--
Quinton Hoole
quinton@hoole.biz

[2020-02-25 18:05] technosophos commented on #365
It is my understanding that we are _not_ obligated to re-do the incubation steps just because the requirements have been changed for new projects entering incubation. For example, it doesn't make sense that we would retroactively be accountable to a SIG after we've been in incubation for a couple of years and have a demonstrable track record of success.

I am assuming that `projects get accepted i

[2020-02-25 18:44] mattfarina commented on #365
@technosophos this is partially where my confusion comes in.

I was told to fill out the incubation due diligence information which would be covering material from previous steps. I would like to know if we do not need to do that.

[2020-02-26 10:02] tomkerkhove commented on #335
SIG-Runtime is now officially supporting us as the recommendation has been merged and is available on - https://github.com/cncf/sig-runtime/blob/master/recommendations/sandbox/keda.md

Thank you @raravena80!

**We are actively looking for sponsors** - Is anybody from TOC interested in supporting us?

[2020-02-26 18:26] kapilt opened #368 "Proposal - Cloud Custodian"
We would like to propose the Cloud Custodian project (https://github.com/cloud-custodian/cloud-custodian) for donation as an incubating project in the CNCF.

The Cloud Custodian project was presented during the CNCF sig-security, December 11, 2019.
https://www.youtube.com/watch?v=gHV1pHX2S7k

We're still working through due diligence with cncf sig security for their threat model assessment.
backgr

[2020-02-26 18:28] michelleN opened #369 "guidance on submitting SIG recommendation"
We've defined in the[ project process doc](https://github.com/cncf/toc/blob/master/process/project_proposals.adoc) that a project should open a GitHub issue in the TOC repo as the initial step. That's when triage happens then SIG review. What is unclear is where the SIG should submit their recommendation, the GitHub issue or the proposal PR. I saw for one project, the SIG recommendation was confir

[2020-02-26 18:50] monadic commented on #368
Fwiw, I'm supportive!

On Wed, 26 Feb 2020, 18:26 Kapil Thangavelu, <notifications@github.com>
wrote:

[2020-02-27 14:01] mattfarina commented on #369
At what step does the PR happen? For example, if we look at the current [sandbox process](https://github.com/cncf/toc/blob/132bccd4199870653b11aa46f0b371ffe521441a/process/project_proposals.adoc) there is no step listing a PR as part of it. From the documented process it appears a project can go through the whole process and be accepted as a sandbox project without a PR. If this is the case I woul

[2020-02-27 14:16] gerred commented on #369
@guenter Do you remember where you got this PR template from? #261. We opened a PR for sandbox, but in retrospect and looking at the docs, I'm not sure _why_ this is. I'm working on the due diligence now for SIG recommendation and having clarity on this will be great - do we need to open an issue instead?

[2020-02-27 17:15] guenter commented on #369
@gerred IIRC there used to be a template in this repo somewhere but I can't find it anymore. Or I may have used a different project proposal as a starting point. The PR requirement was not documented but KUDO was asked in private to open a PR before presenting to the TOC.

[2020-02-28 17:08] amye commented on #363
Holding off on adding a SIG to this until TOC review.

[2020-03-01 05:36] justaugustus commented on #363
Let us know if you need additional info on the dex side, Amye! :)

[2020-03-02 02:12] nynymike opened #371 "Proposing Gluu as a Sandbox project"
We've been working on the Gluu Server for ten years. It's currently one of the most comprehensive OpenID Connect implementations, according to the [published self-certification results](https://openid.net/certification/). We are the only implementation to self-certify four times. We are passing all OP test, the FAPI OP tests, and very soon, we'll submit the CIBA tests as well. The Gluu Server is a

[2020-03-02 11:39] justincormack commented on #371
For the sandbox process you should present to SIG Security first, open an issue on https://github.com/cncf/sig-security/issues

[2020-03-02 17:19] lizrice commented on #335
As someone with some history in autoscaling in a previous life, I'm happy to sponsor KEDA to Sandbox.

[2020-03-02 18:20] tomkerkhove commented on #335
Awesome, thank you @lizrice!

[2020-03-02 23:41] caniszczyk commented on #368
awesome, can you send a PR with the full proposal? e.g., https://github.com/cncf/toc/pull/367

[2020-03-02 23:45] amye commented on #371
So yes on the SIG Security, except -- issues are not tracked on the project board, PRs are.
I am closing this and will look for a PR to add to the board.

[2020-03-02 23:45] #371 closed

[2020-03-02 23:47] caniszczyk commented on #371
Hey @nynymike, since you're in Austin, please try to grab time with me this Friday if you're around, happy to do coffee and walk you through the CNCF/LF process https://calendly.com/caniszczyk

[2020-03-02 23:48] amye commented on #364
Excellent!
However, process note: these should be in pull requests so that I can track them in the [project board](https://github.com/cncf/toc/projects/4).
Closing, will watch for PR to add to our queue.

[2020-03-02 23:48] #364 closed

[2020-03-02 23:49] amye commented on #363
So yes! And this should be a PR so that it can be [tracked](https://github.com/cncf/toc/projects/4).
Closing in favor of a PR to follow.

[2020-03-02 23:49] #363 closed

[2020-03-02 23:50] amye commented on #337
Closing this as [SMI](https://github.com/cncf/toc/pull/336) is on the [project board](https://github.com/cncf/toc/projects/4).

[2020-03-02 23:50] #337 closed

[2020-03-02 23:51] amye commented on #249
Closing as this changed when the TOC increased to 11.

[2020-03-02 23:51] #249 closed

[2020-03-03 00:06] justaugustus commented on #363
Sounds good, @amye. I'll get a PR opened for this!

[2020-03-03 15:32] tomkerkhove commented on #335
While we are working to get more TOC sponsors, I've noticed that new proposals have to use PRs instead. Is this something we have to do as well? Otherwise I'm happy to start this in parallel.

[2020-03-03 16:00] ultrasaurus commented on #368
FYI: there's a related open question (https://github.com/cncf/toc/issues/369) about new process docs -- when PR happens seems to have been accidentally left out of the steps!

Thanks @caniszczyk for chiming in to get this on track!

Thinking that might be good to write down a bit about how security assessment related to project proposal / on-boarding process and can probably tag some parts of the

[2020-03-03 20:05] tsurdilo opened #377 "Sandbox Proposal - Serverless Workflow Specification"
Proposal PR: https://github.com/cncf/toc/pull/376

[2020-03-03 20:07] amye commented on #377
Closing, we're running proposals through PRs only.

[2020-03-03 20:07] #377 closed

[2020-03-03 21:40] michelleN opened #378 "update due diligence document"
@mattfarina brought up some confusing nuances around how the due diligence review template is structured. We should take a fresh look and update as needed.

[2020-03-04 17:07] justaugustus commented on #363
PR opened here: https://github.com/cncf/toc/pull/379

[2020-03-04 18:17] michelleN opened #380 "KUDO proposal for sandbox"
KUDO has submitted a proposal for sandbox in PR #261 and has done a presentation to SIG App Delivery (recording [here](https://youtu.be/noXA70bNdzg?t=401)).

There was some talk of KUDO moving into Operator Framework as a subproject [here](https://github.com/operator-framework/community/pull/1#issuecomment-560126054). That ended up not happening but @gerred, a KUDO maintainer, is now involved in t

[2020-03-04 18:23] resouer commented on #380
Thanks @michelleN , it's much clearer for the SIG to continue the process now.

[2020-03-04 18:26] gerred commented on #380
Thanks @michelleN. I was given a document by @bryanl for due diligence. This document is here: https://docs.google.com/document/d/1QOumLAXaET8nkZinsok8oIUfnmPyHQsvpsDvERUW_N0/edit I've made a copy while I work on it.

@michelleN, @resouer, What are the expectations currently on me to help SIG App Delivery provide a recommendation?

[2020-03-04 18:29] resouer commented on #380
Should work on this one: https://github.com/cncf/toc/issues/344

[2020-03-04 18:31] caniszczyk commented on #380
re: sig recommendation, I'd do something that just puts the rec in the repo like SIG Network is doing for SMI, e.g., https://github.com/cncf/sig-network/pull/3

[2020-03-04 18:37] gerred commented on #380
Working on that PR now.

[2020-03-05 15:36] michelleN commented on #335
I'm happy to be a TOC sponsor KEDA.

cc/ @amye @lizrice

[2020-03-05 15:43] tomkerkhove commented on #335
Thank you so much Michelle!

Kind regards,

*Tom Kerkhove*
*Microsoft Azure MVP & Advisor *
*– AZUG Crew Member - Azure Architect at Codit *

*Blog -* blog.tomkerkhove.be
*Twitter -* @TomKerkhove <https://twitter.com/TomKerkhove>

Op do 5 mrt. 2020 om 16:36 schreef Michelle Noorali <
notifications@github.com>:

[2020-03-09 17:12] xiang90 commented on #335
I would like to sponsor KEDA for sandbox project.

[2020-03-09 17:15] jeffhollan commented on #335
Thank you @xiang90, @michelleN, and @lizrice !  Let us know what we should do for next steps now that we've secured the 3 sponsors (@amye as well since I saw you helped with the backlog before)

[2020-03-09 17:19] caniszczyk commented on #335
@jeffhollan can you create a PR for keda here? https://github.com/cncf/toc/tree/master/proposals/sandbox

List the confirmed TOC sponsors and we will work with you to do the asset transfer and set up the project maintainers with the CNCF servicedesk :)

[2020-03-09 17:19] caniszczyk commented on #335
@jeffhollan you can email me caniszczyk@linuxfoundation.org for the asset transfer dance

[2020-03-09 17:57] caniszczyk commented on #335
we will close this now that there is an official PR in: https://github.com/cncf/toc/pull/383

[2020-03-09 17:57] #335 closed

[2020-03-09 18:42] tomkerkhove commented on #335
Thank you so much @xiang90!

[2020-03-13 17:43] umamukkara opened #390 "LitmusChaos proposal for SandBox"
Hi,

We would like to propose to donate LitmusChaos to CNCF as a SandBox project. We have been advised to follow the new process outlined [here](https://github.com/cncf/toc/blob/master/process/project_proposals.adoc). The template we are following is outlined [here](https://github.com/cncf/toc/issues/344).

Please consider this proposal and guide us through the process.

Authors:
- Uma Mukkara, @u

[2020-03-13 17:45] caniszczyk commented on #390
Thanks for the detailed proposal, well done! @amye can you schedule a review, most likely SIG App Delivery

[2020-03-13 17:47] amye commented on #390
Also, and I hate to do this, but can this be a PR instead of an issue?

[2020-03-13 18:02] umamukkara commented on #390
Hi @amye , the PR is #391

[2020-03-17 12:57] lizrice commented on #331
In #303 @VinodAnandan started a discussion that I think is more appropriate to bring back into this issue.

@VinodAnandan, you sent me an email with unsubstantiated claims about biased behaviour, which I would describe as "opinion" rather than "information". The only "concrete example" provided was a screenshot showing that an ex-member of the TOC had put a thumbs-up reaction on a sandbox submissi

[2020-03-17 15:08] VinodAnandan commented on #331
I appreciate your reply. I am not interested in any personal accusation or hurting anyone's feelings, we all are doing volunteer work and I believe that everyone's work should be respected.

I also think it's not bad to admit if something went wrong and make improvements instead of covering it up. I think it will help to avoid repeating it. I am being vague because I don't want to pinpoint people.

[2020-03-17 16:47] lizrice commented on #331
Contour is still with SIG Network for recommendation. In practice this one got a bit caught up in the change to the new SIG process, and two sponsors stepped up before we decided it should go through the SIG. But TOC members don't start from a blank slate, we can use our existing knowledge and experience. If as individuals we're already familiar with a project and believe it will be a good fit, wh

[2020-03-17 18:20] VinodAnandan commented on #331
Thank you for your reply.

Don't you recognise the potential chance of a conflict of interest that may arise when the TOC sponsors a project in 5 minutes which is backed by a vendor for whom the TOC member was working for?

Don't you believe that this action also results in unfair treatment for other projects which are waiting for TOC sponsors for more than a year?

Do you acknowledge that if the

[2020-03-17 21:02] derberg commented on #331
@lizrice I'm no longer working for SAP and no longer involved in Kyma project. You have to check with Kyma team if they go forward with LF or not.

I added my [comment](https://github.com/cncf/toc/issues/331#issuecomment-573612947) to this issue only because I had a feeling that @caniszczyk's [comment](https://github.com/cncf/toc/issues/331#issuecomment-572120195) showed the way Kyma was handled a

[2020-03-17 21:53] lucperkins commented on #331
@derberg The Kyma documentation (above all [here](https://kyma-project.io/docs/root/kyma)) makes it abundantly clear that the project is intended as an end-to-end cloud native "stack" tying together a wide variety of disparate components (service mesh, Prometheus/Grafana, authz, API gateway, etc.). There is thus ample information available to decline the project on the basis of the CNCF's [clearly

[2020-03-17 21:58] VinodAnandan commented on #331
If  "winning stack" was a concern, why it wasn't a concern for harbor? Is this because it's backed by VMware, Aqua, etc?

Also, why is the TOC interested in bringing Istio to CNCF, which does the same ("winning stack")?

[2020-03-17 22:04] lucperkins commented on #331
@VinodAnandan Harbor isn't a "stack" in any meaningful way. It's a container registry and thus a single component of a cloud native "stack." Istio is a service mesh and thus also not a stack. It's agnostic to API gateway, event bus, and much else.

[2020-03-17 22:12] VinodAnandan commented on #331
"_Harbor is an open source container image registry that secures images with role-based access control, scans images for vulnerabilities, and signs images as trusted._ " - https://goharbor.io/

Harbor "vertically integrated set of projects as a solution" more information can be found below:

https://goharbor.io/docs/1.10/install-config/  (Harbor Components)

[2020-03-17 22:17] caniszczyk commented on #331
re: Istio, there are multiple service meshes in CNCF and linkerd has been there since the beginning, Istio was originally proposed to CNCF but was put hold on Google, SMI just same in a spec across service meshes which is supported by linkerd etc

re: @lucperkins made the point about Harbor, it solves a singular purpose of being a registry versus kyma, which is more of a platform. Also Quay is als

[2020-03-17 23:29] raravena80 opened #395 "Google docs seem too wide open"
Any anonymous hacker can type anything on a bunch of TOC-SIG Google doc. I can basically type 'Anonymous was here' from an incognito window on these Google docs (and more):

- SIG-Security notes (Ironically 😄):
  - https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g
- SIG-Runtime notes:
  - https://docs.google.com/document/d/1k7VNetgbuDNyIs_87GLQRH2W5SLgjgOhB6pDyv89MYk

[2020-03-17 23:40] duglin commented on #395
I believe some folks require people to be a member of a certain google group before they can add comments or even see docs. So that’s one option.

[2020-03-17 23:57] amye commented on #395
There's version history if we need to use it, but it's not yet been an issue.
Do you have some other tool in mind?

[2020-03-18 00:10] caniszczyk commented on #395
By default, all docs should be comment only and edit access is given to who should have it.

I have never seen a gdoc hijacked yet in a CNCF related project so I think this is a fairly minor issue.

[2020-03-18 00:34] raravena80 commented on #395
Yes, I've never seen any of the CNCF docs hijacked either. Raising the issue for awareness.

- Google Groups is good because it's tightly integrated with gdocs.
- Groups.io doesn't seem to have integration with gdocs(?)
- An alternative would be [Slack -> gdocs](https://gsuite.google.com/slack/) integration.

[2020-03-18 00:52] VinodAnandan commented on #331
@caniszczyk , thanks for your reply. I would like to clarify that I like all open source projects including Contour, Harbor, Istio, etc. I would love them all under CNCF as graduate projects. I am sorry if I have hurt any project maintainers or community members' feelings. It was never my intention, I was being challenged that I am being vague and there were no issues with the TOC sponsorship and

[2020-03-18 07:05] derberg commented on #331
@lucperkins as you might notice I'm not questioning the decision of TOC (we knew we are not perfect but we were opened for discussion, recommendations and adjustments, as we understood sandbox purpose is exactly this), I'm just questioning the style of how the decision was made and communicated. If anyone from CNCF or TOC is interested in detailed explanation and timeline I'd love to share, but pr

[2020-03-18 11:33] monadic commented on #331
@VinodAnandan

I would like to address the points that you have raised above.  You have spent a lot of time making claims, implications and half-implications about conflicts, unfairness, and more.  You have not yet provided any evidence other than repeated insinuations.  I would ask you to be explicit about your statements and back them up with concrete evidence.  Or kindly withdraw them and desis

[2020-03-18 12:44] monadic commented on #331
Hi @derberg

I wanted to speak about Kyma since this is clearly a sore topic still.  I am really sorry that the decision to push it back was hurtful in some way.  Unfortunately in a world of very limited attention, time, and other resources, plus a lot of demand for that time, we make decisions based on what is in front of us.  The only good news is that like with any form of 'investment', you can

[2020-03-18 13:15] derberg commented on #331
I'll use my right to remain silent 😄 I always wanted to say it in some situation (influence of American cinematography)

Any response from me would continue discussion only about the past as I'm not aware of what is the future of Kyma, thus I won't advocate for it. I learned my lesson the hard way 😄

[2020-03-18 17:42] VinodAnandan commented on #331
Yes, I am talking about Contour and only referring to the TOC sponsorship/support and not to the entire process. In case if you haven’t noticed the email and commits, the email sent on 7th Jan

“**I know we’ve talked about not syncing on TOC meetings to get new projects in. As things stand, we have just submitted contours as a sandbox project and there is support from Alexis and Matt and me.
What

[2020-03-19 17:23] brendandburns commented on #103
I think the right next step is a review with SIG-Runtime

[2020-03-19 23:25] amye opened #398 "TOC chair election March 2020"
Now that we have a fully formed TOC, a TOC chair needs to be selected.

We will leave nominations open by end of next week, Fri March 27,  5pm PT time.

Please comment here if you're interested in standing for chair.

[2020-03-19 23:58] lizrice commented on #398
I’d like to stand again

[2020-03-20 04:08] raravena80 commented on #103
@brendandburns we (SIG-Runtime) briefly discussed this and believe that it's in SIG-Network's scope. (gRPC, NATS, CNI, etc).  Thx.

[2020-03-20 12:06] justincormack commented on #398
Happy to nominate Liz!

On Thu, Mar 19, 2020 at 11:58 PM Liz Rice <notifications@github.com> wrote:

[2020-03-22 19:28] archyufa opened #399 "Update email information for TOC Contributor"
Please update TOC Contributor information for Ayrat Khayretdinov.
Would be able to change my email as i've changed the company?
From:
akhayretdinov@cloudops.com
To:
ayratk@google.com

I've stopped receiving updates and invitations to TOC meeting and would like to resume my participation. Also can this information be propagated to the website page: https://www.cncf.io/people/technical-oversight-com

[2020-03-23 17:35] resouer commented on #344
@erinaboyd Just check if you will move this to a PR?

We have several on-going sandbox level candidates need to change to this template.

[2020-03-23 18:19] erinaboyd commented on #344
@resouer already did https://github.com/cncf/toc/pull/361 :)

[2020-03-23 19:37] mattfarina opened #401 "Proposal: Artifact Hub as Sandbox project"
The [current process](https://github.com/cncf/toc/blob/de7446cd7d9fcb2b9516b675a5b061c9eeea69ac/process/project_proposals.adoc) notes creating an issue to propose a project for sandbox. This issue serves as that step.

A pull request with more details will be coming soon that includes the usual information and more detail on the proposal.

This is for https://artifacthub.io/ whose code is at https

[2020-03-24 02:01] michelleN commented on #401
Did we get a decision on whether this would go under SIG-Runtime or SIG App Delivery? @lizrice

[2020-03-24 05:06] quinton-hoole commented on #401
I think realistically both of those sigs will want to take a close look.  Also, is that GitHub repo still empty?

[2020-03-24 15:14] mattfarina commented on #401
@michelleN I'm curious why SIG Runtime. SIG App Delivery I can see because of operators and Helm. SIG Security I could see because of Falco and OPA (which have been discussed). I'm curious of the reason for SIG Runtime.

[2020-03-24 16:24] michelleN commented on #331
@VinodAnandan  - would you be interested in drafting a conflict of interest statement for the TOC and taking over #270 ?

[2020-03-25 03:50] quinton-hoole commented on #401
There seems to be a fair amount of overlap with container registries, which fall within SIG Runtime.    See also https://github.com/cncf/toc/blob/master/sigs/runtime-charter.md#interfaces-with-other-related-groups

[2020-03-25 04:45] raravena80 commented on #401
I believe the repo is https://github.com/artifacthub/hub. There also seems to be a DB component that might fall within SIG-Storage: https://github.com/artifacthub/hub/tree/master/database.

I think from the SIG-Runtime pov: Helm Generates YAML template -> Template contains pods -> Pod definition contains container definitions -> container points to container registry -> Images are pulled from cont

[2020-03-25 21:26] xiang90 commented on #401
@michelleN

I think the main SIG responsible for this should be SIG App Delivery. SIG App Delivery should decide which other SIGs need to be involved and coordinate the review process accordingly.

I am going to assign this to SIG App Delivery if I hear no objection.

[2020-03-27 17:33] xiang90 commented on #401
@mattfarina I assigned to SIG App Delivery for the initial review. Note that the Sandbox proposal still needs to be added. The template is TBD as it is now (the old one looks like [this](https://github.com/cncf/toc/blob/de7446cd7d9fcb2b9516b675a5b061c9eeea69ac/process/project_proposals.adoc#project-proposal-requirements)). I assume it should be ready in the next couple of weeks.