[2021-10-05 23:18] amye commented on #719
Yes and that gets complicated in a hurry!
If you have space tomorrow, we have a monthly project sync on the CNCF public calendar at 8am Pacific tomorrow, come talk to me there and I will explain.
If not, I can explain in here. :)

[2021-10-06 00:51] zasgar commented on #674
@amye,  analytics are done: (4) Website: Analytics transferred to amye@linuxfoundation.org

Transferring domains using the system now.

[2021-10-06 01:29] amye commented on #674
Confirmed on the analytics!

[2021-10-06 16:50] thomastaylor312 commented on #690
CII badge has been added and has an open PR to add to the readme: https://github.com/krustlet/krustlet/pull/685

Also, the part about the LF footer on the webpage should be checked off as that has been added

[2021-10-06 17:04] thomastaylor312 commented on #690
And PR to add to the landscape: https://github.com/cncf/landscape/pull/2301

[2021-10-06 17:44] amye commented on #674
That does indeed work! I will mark that off.

[2021-10-06 18:18] zasgar commented on #674
Awesome! Can we mark this issue as done? I think all the required issues are resolved.

[2021-10-06 19:20] amye commented on #674
You're actually waiting on me now, and I'll get you all finished this afternoon!

[2021-10-06 20:44] amye commented on #584
Renaming issue to reflect the actual name of the group.

[2021-10-06 20:45] amye commented on #649
If you need me to help with a call, I am happy to do so!

[2021-10-07 20:09] kflansburg commented on #691
@amye Thanks for the update. It looks like there may have been some miscommunication, our final selection was the top row, third from the left (with grey moon and bronze helmet), with Ferris moved in front of the moon.

Also, once we have a final version, will it be possible to get a vector graphic?

Thanks!

[2021-10-07 20:13] amye commented on #691
I see what happened, "Awesome! I really like Ferris in the upper left. Could that be combined with the moon from the upper right?" was communicated.
We'll recalibrate!

[2021-10-07 22:17] amye commented on #691
[krator-logos-v3.pdf](https://github.com/cncf/toc/files/7307227/krator-logos-v3.pdf)
Let me know if this suits.

[2021-10-08 12:55] RainbowMango commented on #721
Hi @amye These steps can be checked off:
- [x] GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

- [x] GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project
- [x] CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en

[2021-10-10 11:49] iliapolo commented on #556
@amye

Confirmed. (checked box)

Confirmed (checked box)

We have not yet. My understanding is that this isn't required for sandbox, only for incubation - is that right?

[2021-10-11 08:07] haosanzi commented on #722
Hi, here is an update.

I ensure I understand:

- Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
-  Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
-  Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-

[2021-10-12 01:13] YangLiang3 commented on #722
@amye Thanks! please help on this.

[2021-10-12 03:50] yiwei-C commented on #723
LF footer has been added at https://superedge.io

[2021-10-12 08:03] bartdong commented on #723
Domain: transfer domain to the CNCF - please send a transfer code to project-onboarding@cncf.io

Because superedge.io currently belongs to Tencent, we need to sign an agreement to ensure the transfer's success.

Could CNCF help us provide the agreement or add domain transfer in the trademark transfer agreement?

[2021-10-12 19:11] amye commented on #721
Lovely!
Next big thing:
Provide emails for the maintainers added to https://maintainers.cncf.io in order to get access to the maintainers mailing list and ServiceDesk

[2021-10-13 03:02] RainbowMango commented on #721
You can get the maintainer's email from [MAINTAINERS.md](https://github.com/karmada-io/karmada/blob/master/MAINTAINERS.md) which is referenced by https://maintainers.cncf.io.

[2021-10-13 16:59] amye opened #729 "[INCUBATING PROJECT ONBOARDING] Cilium"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:
- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introd

[2021-10-13 17:01] amye commented on #729
Welcome Cilium! @tgraf, we'll be tracking work in here.

[2021-10-14 07:06] RainbowMango commented on #721
@amye
- Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork
It Will be done by https://github.com/cncf/artwork/pull/297.

[2021-10-15 05:20] Oats87 commented on #649
@amye @dfarrell07 I really do apologize for my late reply here.

I'm dealing with some procedure issues for the trademark transfer; I expect it to go through, but I keep having to bark up different trees only to find that the squirrel I'm looking for is not in the tree I'm barking up. This is seemingly a side effect of the recent Rancher acquisition by SUSE, but by no means a complete barrier to t

[2021-10-15 06:10] haosanzi commented on #722
@amye Hi, about to `Create space for meetings/events on community.cncf.io, e.g., https://community.cncf.io/pravega-community/`. We need one to interact with the community to engage more users and developers.

I make a request as followed, but I am not sure whether it can meet the demand. Could you give us some help?
![image](https://user-images.githubusercontent.com/26923638/137440479-28430c59-906

[2021-10-15 13:08] RainbowMango commented on #721
Hi @amye , these steps can be checked off:

- Understand the project proposal process and reqs:
- Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- Ensure your project meets the CNCF IP Policy:
- Review the online programs guidelines:
- Understand the trademark guidelines:
- Understand the license allowlist:
- Has your project adopted open gove

[2021-10-15 16:01] amye commented on #649
Got it! I will keep this open, good luck with the squirrels.   🌳

[2021-10-15 16:27] amye commented on #721
Slack: Are your slack channels migrated to the Kubernetes or CNCF Slack?
A: No.
@idvoretskyi can help with this. Do you already have slack channels?

Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements
 -- No, we have a 'no registered trademarks agreement', please look again.

[2021-10-15 17:42] dfarrell07 commented on #649
Thanks for the update @Oats87, we appreciate the tree-barking!

[2021-10-16 02:28] RainbowMango commented on #721
Hi Amye,

We have Slack at https://karmada-io.slack.com and have two channels `general`/`karmada-dev`. Can we create a new channel in Kubernetes and CNCF Slack?

Do we mean we need to sign the [CNCF Trademark and Account Assignment Agreement(for use with no registered trademarks)](https://github.com/cncf/foundation/blob/master/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20

[2021-10-18 19:48] amye commented on #719
We have another sync this week! Let's see if we can't talk there.

No, we'll need to have the contributed project come in under Apache 2.0.

[2021-10-18 19:48] caniszczyk commented on #719
For the license change, MSFT legal is the original owner so they can deal
with the legal license change.

If they are having issues, we can put our lawyers in connection with them.
If the project was using an MS CLA already, you can do the license switch
in one fell swoop.

Shoot me a note Edrick over email if you're running into issues over there
internally.

On Mon, Oct 18, 2021 at 2:46 PM Edric

[2021-10-19 08:43] yiwei-C commented on #723
PRs have been submitted to:
- artwork: https://github.com/cncf/artwork/pull/298
- landscape: https://github.com/cncf/landscape/pull/2328

[2021-10-19 23:18] jdolitsky commented on #692
Here is all the background on the original logo: https://github.com/oras-project/oras/pull/82#issuecomment-484716118

The `oras.land` domain was purchased by me, and I transferred this into LF about a month ago.

I do not claim any IP on the logo or domain, and it is my understanding that LF is now in ownership.

Website and analytics are currently hosted in a Netlify account, which @bridgetkromho

[2021-10-20 12:31] yiwei-C commented on #723
SuperEdge website is hosted on Netlify. How can we get enterprise level support on Netlify?

[2021-10-20 13:55] BinaryHB0916 commented on #677
@amye thanks for the reminder. I'm on it:

- Domain transferring code is requesting and expecting to have it in a few days
- Trademark agreement is in progress for legal, it may takes months
- The rest actions will be done within a month

[2021-10-20 16:41] bridgetkromhout commented on #692
@amye @caniszczyk  Do you want the oras.land site in netlify moved from the Helm netlify org into the CNCF Projects org? It appears I may be able to use the "Transfer site" option, or Chris could likely do it. I believe @jdolitsky originally put it in with Helm for expedience, but of course ORAS is now a stand-alone sandbox project.

[2021-10-20 16:56] caniszczyk commented on #692
I transferred it over the CNCF projects site

On Wed, Oct 20, 2021 at 11:42 AM Bridget Kromhout ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-10-20 21:22] amye commented on #692
We are complete on domain!

[2021-10-21 00:16] sajayantony commented on #692
I just wanted to thanks @bridgetkromhout @amye and @SteveLasker.  +1

[2021-10-22 01:35] RainbowMango commented on #721
Hi @idvoretskyi  @amye

I don't quite understand the rule. Does it mandatory for projects to create channels in CNCF slack(or Kubernetes)? Can we keep the slack [we are using now](https://join.slack.com/t/karmada-io/shared_invite/zt-omhy1wfa-LmAkCLfpDMnBjVXp3_U~0w)?

[2021-10-22 01:38] amye commented on #721
Only the CNCF + Kubernetes slack will keep history, that's why we are really encouraging projects to migrate to either one.

[2021-10-27 16:04] caniszczyk opened #735 "Blog post featuring TOC elections 2022"
It will be election season soon and we should do an updated post

[2021-11-01 06:52] yiwei-C commented on #723
- Invitation has been sent to amye@linuxfoundation.org for joining Google Analytics
- DCO is enabled for all SuperEdge repos

[2021-11-01 06:53] yiwei-C commented on #723
Can we get some help to transfer the Slack channel and Netlify account? Thanks.

[2021-11-01 15:05] amye commented on #723
Marking off both, @idvoretskyi can help with Slack

[2021-11-01 15:08] idvoretskyi commented on #723
@yiwei-C which Slack instance (URL) does your project use right now?

[2021-11-01 19:04] yiwei-C commented on #723
@idvoretskyi Our Slack url is superedge-workspace.slack.com

[2021-11-01 20:41] idvoretskyi commented on #723
@yiwei-C perfect, I'll ask you to follow this procedure - https://slack.com/help/articles/217872578-Import-data-from-one-Slack-workspace-to-another and export the necessary data, send it to me the secure way you prefer :)

[2021-11-03 16:49] amye opened #738 "[Incubating PROJECT ONBOARDING] Dapr"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-05 20:12] Pkanjai opened #739 "[Annual Review] project"
Your annual review should answer the following questions:

[] Include a link to your project’s devstats page. We will be looking for signs of consistent or increasing contribution activity. Please feel free to add commentary to add colour to the numbers and graphs we will see on devstats.
[] How many maintainers do you have, and which organisations are they from? (Feel free to link to an existing

[2021-11-06 00:32] #739 closed

[2021-11-09 17:32] amye opened #743 "[SANDBOX PROJECT ONBOARDING] OpenELB"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-09 17:32] amye opened #744 "[SANDBOX PROJECT ONBOARDING] Open Cluster Management"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-09 17:32] amye opened #745 "[SANDBOX PROJECT ONBOARDING] VS Code Kubernetes Tools"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-09 20:13] amye commented on #744
Welcome  @mdelder, @deads2k, @qiujian16 and @mikeshng!
Running off of https://github.com/open-cluster-management-io/community/blob/main/OWNERS, is this the file you want for your owners file?

[2021-11-09 20:14] amye commented on #738
@msfussell, @yaron2 - we'll be tracking work in here!

[2021-11-09 21:53] msfussell commented on #738
@amye - Perfect. We have started on this list. Do you want us to check the boxes above as they are completed to track the work? Also I presume it is fine to put comments to clarify the work in this issue. Is that the expectation?

[2021-11-09 22:00] amye commented on #738
Comments very welcome! If you have your owners file (and project maintainer emails) handy, that would be a big help!

[2021-11-10 03:06] sighingnow commented on #645
Hi Emye,

Just a polite ping that we have send a updated version of trademark assignment agreement to amye@linuxfoundation.org. Please let me know if you don't received it yet or there are still issues that blocking the process in the agreement.

[2021-11-10 03:41] amye commented on #645
This is in progress with Legal, thank you for the reminder!

[2021-11-10 14:34] mikeshng commented on #744
Thank you @amye for welcoming us.

Yes, please use the updated https://github.com/open-cluster-management-io/community/blob/main/OWNERS file.

[2021-11-10 16:12] mikeshng commented on #744
Hi @amye These steps can be checked off:

- Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
- Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
 - Review the online programs guidelines: https://github.com/cncf/foundation/blob/master/online-programs-guidelines.md
-

[2021-11-11 16:39] yaron2 commented on #738
@amye - updating that I've added Chris and The Linux Foundation as org owners.

[2021-11-11 16:45] amye commented on #738
Marking off maintainers emails and github transfer, thank you!

[2021-11-11 20:28] mikeshng commented on #744
@amye please see below for the following:

[code]

[2021-11-11 20:41] mikeshng commented on #744
Hi @amye the following steps are done:
- Create maintainer list + add to aggregated https://maintainers.cncf.io list by submitting a PR to it
- Have added your project to https://github.com/cncf/contribute
- GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project

Thanks.

[2021-11-15 18:59] squillace commented on #745
Hi all, I believe that Ivan Towlson, who submitted the original application, has a new email address, but I'll wire him up. Thanks for the cool check list.

[2021-11-15 19:56] amye commented on #744
I just saw artwork come through, marking that off too!

[2021-11-16 03:37] yiwei-C commented on #723
SuperEdge Slack channels have been migrated to CNCF workspace.

Thank you for your help. @idvoretskyi

[2021-11-16 15:49] amye commented on #723
Exciting to see this start coming into the last few pieces!
Last two big things:

Domain: transfer domain to the CNCF - please send a transfer code to project-onboarding@cncf.io
Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements

[2021-11-16 16:09] mikeshng commented on #744
Hi @amye we have a few questions, please see below

1. `Understand the license allowlist`
OCM repos all use Apache2 Licenses and we understand the license allowlist. Do we have to make sure all our 3rd party usage is supposed to follow the same guideline as well?
2. `Has your project adopted open governance already?`
We understand and have started to adopt open governance. Could you mark this as d

[2021-11-16 17:03] amye opened #751 "[SANDBOX PROJECT ONBOARDING] Nocalhost"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-16 17:03] amye opened #752 "[SANDBOX PROJECT ONBOARDING] KubeArmor"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-16 17:03] amye opened #753 "[SANDBOX PROJECT ONBOARDING] K8up"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-16 17:04] amye opened #754 "[SANDBOX PROJECT ONBOARDING] kube-rs"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intro

[2021-11-16 18:51] amye commented on #735
https://www.cncf.io/blog/2021/11/16/cncf-toc-elections-for-2022/ is out!

[2021-11-16 18:51] #735 closed

[2021-11-16 19:10] amye commented on #752
@nyrahul has beaten me to inviting you all in, I have marked off 'contribute'!

[2021-11-16 19:33] edrickwong commented on #719
@amye I believe we've checked off all the items in the checklist. One thing we don't have is analytics for our docs website, but we can give access to the Gitbook platform that we use to host it if that's helpful.

[2021-11-16 19:38] amye commented on #719
@edrickwong Oh, let me see, @idvoretskyi will know better than I will!

[2021-11-16 19:41] amye commented on #719
@edrickwong:
I'm not seeing the domain or github org, was that the list you were thinking of?

[2021-11-16 19:47] amye commented on #594
Checking in here, we're looking to get all outstanding projects completed by December 15th.

[2021-11-16 19:48] amye commented on #558
Marking Trademarks off and closing as I know that's with Legal now.

[2021-11-16 19:48] #558 closed

[2021-11-16 19:48] #626 closed

[2021-11-16 19:52] amye commented on #647
@xcaspar: checking back in here, anything we can help with?
We'd like to get all onboarding completed by December 15th.

[2021-11-16 19:53] amye commented on #676
@leecalcote  - your assistance here?

[2021-11-16 19:54] amye commented on #677
Checking back in here, we'd like to get all onboarding projects closed out by December 15th. Thanks!

[2021-11-16 19:55] amye commented on #678
@thebsdbox  - Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:55] amye commented on #679
@jian-he Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:56] amye commented on #690
@thomastaylor312 - so very close! We'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:56] amye commented on #691
@kflansburg. @thomastaylor312: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:57] amye commented on #692
@bridgetkromhout: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:57] amye commented on #693
@LiamRandall @autodidaddict: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:58] amye commented on #720
@russellb: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:58] amye commented on #721
@RainbowMango: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:58] SteveLasker commented on #692
ack

[2021-11-16 19:59] amye commented on #729
@tgraf: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 19:59] amye commented on #738
@yaron2, @msfussell: Checking in again, we'd like to get all project onboarding closed out by December 15th. Thanks!

[2021-11-16 20:01] amye commented on #743
@FeynmanZhou - who else should be involved here?

[2021-11-16 20:02] amye commented on #744
You should be good with your OCM repos. I'll mark the rest of these off.

[2021-11-16 20:04] bridgetkromhout commented on #692
@amye Thanks! Will aim for finishing before that.

[2021-11-16 20:05] amye commented on #745
@squillace: We're trying to make it easy here! @ppog_penguin, your help here?

[2021-11-16 20:05] amye commented on #751
@lyzhang1999, can you help here?

[2021-11-16 20:07] kate-goldenring commented on #719
I believe we still need to do the following:

Is there a specific LF footer should we use? Should I just copy the one [Helm uses on their site](https://helm.sh/docs/).

[2021-11-16 20:13] russellb commented on #720
I'm sorry, I've lost track?  What are we missing?  I had an open ticket with legal that I think is waiting on their response?  I'm really not worried about it as I'm *pretty* sure it's fine, but some other community members wanted to clarify.

[2021-11-16 20:22] amye commented on #719
https://envoyproxy.com/ makes more sense to copy!

[2021-11-16 20:22] amye commented on #719
Oh wait, you all just have a Gitbook site, no .com - so yes, CC-By-4.0 is your correct license.

[2021-11-16 20:30] amye commented on #720
Here's what I see outstanding:
Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements
 Website: Analytics transferred to amye@linuxfoundation.org
 CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
Adopt a license scanning tool, like FOSSA or Snyk

[2021-11-16 20:44] danderson commented on #720
For trademarks, my last reply still applies:

Last I head we were waiting on CNCF legal to indicate what needs to happen.

[2021-11-16 20:47] msfussell commented on #738
The following can be checked-off so far
- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction - - Read. And understood.
- [x]  Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/ - Read. And understood
- [x]  Has your project adopted open governance already? see htt

[2021-11-16 21:19] orizohar commented on #738
A new version of [dapr.io](https://dapr.io) has been deployed and includes changes to accommodate the website guidelines (adding CNCF logo and footer for LF) so the following can be checked:

- [x] Website: ensure LF footer is there and website guidelines followed

[2021-11-16 21:24] AaronCrawfis commented on #738
Google Analytics has been shared

[2021-11-17 00:15] greenie-msft commented on #738
Artwork has been submitted and merged in https://github.com/cncf/artwork

[2021-11-17 01:23] amye commented on #738
Done!

[2021-11-17 01:33] xcaspar commented on #647
OK, let me check again what things are still unfinished.

[2021-11-17 01:38] amye commented on #647
Here's what I'm seeing!
 Slack: Are your slack channels migrated to the Kubernetes or CNCF Slack?
 Domain: transfer domain to the CNCF - please send a transfer code to amye@linuxfoundation.org
 Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements
 Adopt a license scanning tool, like FOSSA or Snyk
 CII: Sta

[2021-11-17 01:43] xcaspar commented on #647
Yes! Can you help me to create it?

[2021-11-17 01:51] amye commented on #647
Yes, yes I can!

[2021-11-17 03:11] FeynmanZhou commented on #743
Hi Amye, I am working on these items. I will follow it up ASAP.

[2021-11-17 03:40] msfussell commented on #738
Create maintainer list + add to aggregated https://maintainers.cncf.io list by submitting a PR to it
This is the PR for maintainers list - https://github.com/cncf/foundation/pull/235

[2021-11-17 06:42] tobru commented on #753
I'll help with the onboarding from K8up's side :+1:

[2021-11-17 10:14] RainbowMango commented on #721
Sure Amye.
We are in the progress of migrating slack now.
And who can help with this task?

[2021-11-17 12:34] lyzhang1999 commented on #751
Hi @amye These steps can be checked off:
[x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
[x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
[x] Review the online programs guidelines: https://github.com/cncf/foundation/blob/master/online-programs-guidelines.

[2021-11-17 15:30] idvoretskyi commented on #721
@RainbowMango I'll assist you with both tasks.

- for Slack migration, please follow the steps described here - https://slack.com/help/articles/217872578-Import-data-from-one-Slack-workspace-to-another and provide me with an archival dump from your existing Slack (you can email or DM me on CNCF Slack).

- for community.cncf.io, I've created a chapter for you - https://community.cncf.io/karmada-com

[2021-11-17 16:41] mikeshng commented on #744
Hi @amye , we completed the following items:

- `Website: ensure LF footer is there and website guidelines followed` see https://open-cluster-management.io
- `CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en` see https://github.com/open-cluster-management-io/OCM/pull/9

[2021-11-17 17:22] lukaszgryglicki commented on #754
DevStats [page](https://kubers.devstats.cncf.io) added.

[2021-11-17 17:23] lukaszgryglicki commented on #753
DevStats [page](https://k8up.devstats.cncf.io) added.

[2021-11-17 17:23] lukaszgryglicki commented on #752
DevStats [page](https://kubearmor.devstats.cncf.io) added.

[2021-11-17 17:24] lukaszgryglicki commented on #751
DevStats [page](https://nocalhost.devstats.cncf.io) added.

[2021-11-17 17:24] lukaszgryglicki commented on #745
DevStats [page](https://vscodek8stools.devstats.cncf.io) added.

[2021-11-17 17:25] lukaszgryglicki commented on #744
DevStats [page](https://openclustermanagement.devstats.cncf.io) added.

[2021-11-17 17:25] lukaszgryglicki commented on #743
DevStats [page](https://openelb.devstats.cncf.io) added.

[2021-11-17 17:26] lukaszgryglicki commented on #738
DevStats [page](https://dapr.devstats.cncf.io) added.

[2021-11-17 17:35] russellb commented on #720
I don't think we have any analytics to transfer, so you can close this one.

OK, we'll look into these soon.  cc @rata @johananl @fedepaol

[2021-11-17 17:40] idvoretskyi commented on #720
@russellb on the scanning tool, we have FOSSA and Snyk tools available for free for the projects, so let me know if you'll decide on one of them - I'll help you with setting them up.

[2021-11-17 17:44] russellb commented on #720
Any preference or recommendation from your end?  It's a golang project, if that helps.  Hopefully it can be run as CI against the github repo and report against PRs or something like that?

[2021-11-17 17:44] fedepaol commented on #720
I don't think we have a strong preference. MetalLB uses circleCI, having some example to set one of them would be super helpful.

[2021-11-17 17:59] idvoretskyi commented on #720
@russellb you can use this GitHub Action for FOSSA, this might be the simplest solution - https://github.com/marketplace/actions/fossa-action.

Snyk is more feature-rich, so you can use it not only for license scanning but for other purposes as well (eg. vulnerability scanning). Golang is well-supported there - https://docs.snyk.io/products/snyk-open-source/language-and-package-manager-support/sny

[2021-11-17 18:01] idvoretskyi commented on #720
@fedepaol both work with CircleCI - https://docs.fossa.com/docs/circleci and https://docs.snyk.io/features/integrations/ci-cd-integrations/circleci-integration-overview; however we encourage projects to use GitHub Actions if possible.

[2021-11-17 22:06] willtsai commented on #738
If I'm not mistaken, looks like this was already done as a part of https://github.com/cncf/landscape/pull/2346

[2021-11-17 22:10] amye commented on #738
And so it was!
I think you all have access to check things off now?

[2021-11-17 22:12] yaron2 commented on #738
I do not...

[2021-11-17 22:47] willtsai commented on #738
@amye - it looks like I still don't have access to check things off even though you added me as an assignee. I think only the author of the comment and Approver+ roles in this repo will have permissions to edit comments, including checking off items. Reference: https://github.com/isaacs/github/issues/590

[2021-11-17 22:50] amye commented on #738
Curses, I knew there was a reason it wasn't working - I was hoping it was resolved. Hokay, moving on. :)

[2021-11-17 22:58] msfussell commented on #738
@amye - This can also be checked off, if you are the person doing this. This is not Slack, only Discord for Dapr.

[2021-11-18 02:24] lyzhang1999 commented on #751
Hi @amye , We have not received an invitation email from Service Desk, here is the maintainers information from: https://github.com/nocalhost/nocalhost/blob/main/MAINTAINERS.md.

| Maintainer | GitHub ID | Affiliation | Email |
| --------------- | --------- | ----------- | ----------- |
| Zhenwei Wang | @jack230230 | Tencent | <wangzhenwei@coding.net> |
| Wei Wang | @lyzhang1999 | Tencent | <wangw

[2021-11-18 03:38] lyzhang1999 commented on #751
https://github.com/nocalhost/nocalhost/blob/main/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin

[2021-11-18 08:36] fedepaol commented on #720
That's reasonable. CircleCI was in place since a while now, migrating to gh actions is definitely doable but it will require a bit of time :-).

[2021-11-18 12:17] lyzhang1999 commented on #751
/assign @amye

[2021-11-18 15:09] idvoretskyi commented on #751
@lyzhang1999 invites sent to the ServiceDesk.

[2021-11-18 15:11] lyzhang1999 commented on #751
Got it, Thanks for your help.

[2021-11-18 15:16] idvoretskyi commented on #738
@msfussell no problem, but do you want us to create a Slack channel for you (as an alternative source of communication)?

[2021-11-18 16:45] tobru commented on #753
I did read through the various pages provided:

- [X] Understand the project proposal process and reqs
- [X] Understand the services available for your project at CNCF
- [X] Ensure your project meets the CNCF IP Policy
- [X] Review the online programs guidelines
- [X] Understand the trademark guidelines
- [X] Understand the license allowlist

Some other information asked:

* _Has your project adop

[2021-11-18 17:34] mikeshng commented on #744
Hi @amye we have a few questions again:
- `GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners`
The invitation has been sent, but it seems like @thelinuxfoundation hasn't accepted yet. Is there anything we need to do on our side ie should we send another invite?
- `Domain: transfer domain to the CNCF`
What should the `LF stakeholder email?` be? Is it `amye@linuxfou

[2021-11-18 18:03] thomastaylor312 commented on #690
@amye We are still waiting on an answer about the license scanner. We have something in place that is built for Rust, but I don't know if it is "blessed"

@flynnduism do you have access to the website analytics so we can pass those on?

[2021-11-18 18:15] idvoretskyi commented on #690
@thomastaylor312 re: license scanner, let me check with the Snyk team on their Rust support status now (it was in the early stage a few months ago). Alternatively, you may consider FOSSA - https://docs.fossa.com/docs/rust, but Rust is in Alpha there still.

Can you share the details of your license scanner as well, please? FOSSA and Snyk are the preferred tools for us, but we are fine with grantin

[2021-11-18 18:38] thomastaylor312 commented on #690
@idvoretskyi `cargo deny` is used across the ecosystem and we have all the stuff in place to check for license scanning already: https://embarkstudios.github.io/cargo-deny/checks/licenses/index.html

[2021-11-18 18:40] idvoretskyi commented on #690
@thomastaylor312 great, thanks. Can I see a sample report of it, please?

I've just got a confirmation from Snyk that Rust support is not ready yet (ETA - H1'2022), so either your tool or FOSSA can be a good solution in your case.

[2021-11-18 18:50] flynnduism commented on #690
Yes I will go do that

[2021-11-18 19:47] msfussell commented on #738
@idvoretskyi - Yes please, that is a good idea on Slack channel. Then at least maintainers may choose to use this in future and it would be ready to go.

[2021-11-18 19:54] idvoretskyi commented on #738
#dapr is created, enjoy! :)

[2021-11-18 21:53] thomastaylor312 commented on #690
@idvoretskyi Here is the latest report: https://github.com/krustlet/krustlet/runs/4255117884?check_suite_focus=true

You'll notice the failure from one of the MPL-2.0 licensed things we have that we have an open issue for to get an exception from the CNCF.

You can see what we are checking for here: https://github.com/krustlet/krustlet/blob/main/deny.toml#L7-L61

[2021-11-18 22:15] idvoretskyi commented on #690
Sounds good, thanks @thomastaylor312!

I’ll let @caniszczyk comment, but I don’t see an issue here.

[2021-11-19 02:21] RainbowMango commented on #721
@amye @idvoretskyi
The slack archival dump has been sent to @idvoretskyi , and the https://community.cncf.io/karmada-community/ also has been created.

[2021-11-19 05:52] msfussell commented on #738
@idvoretskyi  - After some discussion with the other maintainers, it was pointed out that having Dapr Slack and Dapr Discord would be very confusing and not that useful. So can I revert the decision to have a Dapr Slack channel and delete this?

[2021-11-19 06:39] msfussell commented on #738
@idvoretskyi  - One tools that we would like to have for the community and governance calls is Zoom. How do we go about getting a CNCF Zoom account(s) for Dapr?

[2021-11-19 07:40] idvoretskyi commented on #738
@msfussell no problem, we'll delete it.

We can offer you a Zoom account or as an alternative - space at community.cncf.io, where you can run the regular calls - https://help.bevy.com/hc/en-us/sections/1500001848241-Bevy-Virtual-Events

[2021-11-19 08:23] tobru commented on #753
More work conducted:

- [X] Create maintainer list + add to aggregated https://maintainers.cncf.io list by submitting a PR to it
- [X] Provide emails for the maintainers added to https://maintainers.cncf.io in order to get access to the maintainers mailing list and ServiceDesk
- [X] CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en

E-Mail addresses of mainta

[2021-11-19 14:03] tobru commented on #753
- [X] Website: Analytics transferred to amye@linuxfoundation.org

[2021-11-19 14:30] russellb commented on #720
@idvoretskyi We have fossa running via a github action.  Can we get on the cncf plan somehow?  The way I have it set up so far it looks like I can't add other maintainers so they can help resolve the warnings.

[2021-11-19 14:31] fedepaol commented on #720
via circleci*

[2021-11-19 14:38] russellb commented on #720
github action?  https://github.com/metallb/metallb/blob/main/.github/workflows/fossa.yaml

@idvoretskyi can you also help us with access to Snyk?  The initial report from fossa is a bit of a nightmare of false positives, so I'd like to see if Snyk provides a better starting point.

[2021-11-19 17:16] amye commented on #721
Should I mark that off for you?

[2021-11-19 17:17] thomastaylor312 commented on #691
I think everything in the "Things that CNCF will need from the project:" section are done. The license checker we are using is the same we are using in Krustlet, so we should be good there

[2021-11-19 17:17] amye commented on #691
Do I have a 'no registered trademark' agreement from you?

[2021-11-19 17:21] thomastaylor312 commented on #691
I am pretty sure we did an agreement for Krator when I was at Microsoft. @squillace could you by chance double check?

[2021-11-19 17:22] amye commented on #691
No, you're right, July 28th says 'signed', let me go hunt on my side.

[2021-11-19 17:28] amye commented on #691
The domain is actually missing on our end, we can do a ticket through LFIT: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

amye@linuxfoundation.org is your LF contact, you'll want to choose 'Cloud Native Computing Foundation' for the project.

[2021-11-19 18:20] idvoretskyi commented on #721
FYI, Slack import is completed, let’s mark this off :)

[2021-11-19 18:33] amye commented on #721
Marking off.
Trademarks seems the last big thing!

[2021-11-19 18:40] squillace commented on #691
I'm out until after next week, but if I need to do something I can try when not intoxicated. Promise.

[2021-11-19 20:29] thomastaylor312 commented on #691
@amye I don't think we have a domain for krator

[2021-11-19 20:47] amye commented on #691
That would do it!

[2021-11-19 21:07] msfussell commented on #738
@idvoretskyi - What's the difference? Is Bevy another virtual meeting tool? The same as Zoom in effect? Zoom seems more familiar with most people. Also we do have a requirement of ensuring people in China can join and some tools are blocked there (we know Zoom is not)

[2021-11-19 22:07] caniszczyk commented on #691
@thomastaylor312 I picked up krator.dev for all y'all then

[2021-11-20 13:39] kflansburg commented on #691
Hey @amye the following are complete:
* Understand the project proposal process
* Understand the services available
* Review the online programs guidelines
* Understand the trademark guidelines
* Set up `#krator` channel in Kubernetes Slack
* Neutral GitHub organization

* 'thelinuxfoundation' and 'caniszczyk' have been invited as org owners
* I've completed the CII Badge [here](https://bestpracti

[2021-11-20 14:04] RainbowMango commented on #721
Yes, @amye, we are on it.

We can mark this off now I guess.

[2021-11-22 17:39] ddl-kevin commented on #691
Hey @amye, I did not create our logo, a team from the CNCF did (see above in this thread). Can you reach out to them about this?

[2021-11-22 17:44] kflansburg commented on #691
Hey @amye, I did not create our logo, a team from the CNCF did (see above in this thread). Can you reach out to them about this?

[2021-11-22 19:57] amye commented on #753
Thanks for this!
 Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements

There's also a 'no registered trademarks', you'll want that.

[2021-11-22 19:58] amye commented on #753
Other things:
_I'm unsure what to do about the licensing: K8up is currently licensed under BSD-3-Clause. Does the inclusion into CNCF Sandbox mean we have to change the license to Apache-2?_

Yes.

Analytics: you should be able to invite me as an owner?

[2021-11-22 22:56] amye commented on #723
Trademarks are in!

[2021-11-22 23:05] amye commented on #691
I've dropped a note over to @alexcontini to make sure they get in. All will be well!

[2021-11-22 23:22] kflansburg commented on #691
Thanks!

[2021-11-23 07:58] tobru commented on #753
Is there an editable version of these PDFs around? Would make it a bit easier :see_no_evil:

Do you happen to know what steps we have to take to change to license? Can we just replace the LICENSE file with the Apache-2 license and we're good?

That should have already happened

We prepared a merge request to update the K8up website at https://github.com/k8up-io/antora-ui-default/issues/3. We're un

[2021-11-23 12:11] tobru commented on #753
Ok, license is changed.

[2021-11-23 14:05] alexcontini commented on #691
@amye @kflansburg  logos have been added! https://github.com/cncf/artwork/tree/master/projects/krator

let me know if there are any problems

[2021-11-23 14:21] kflansburg commented on #691
Looks great, thanks @alexcontini !

@amye Looks like artwork done!

[2021-11-24 16:31] yaron2 commented on #738
@amye when do you reckon Dapr will be added to the CNCF store? Thanks!

[2021-11-24 16:34] amye commented on #738
We'll send over proofs when they're ready and the store can give us timelines then.

[2021-11-24 16:37] amye commented on #751
Last big things!

Domain: transfer domain to the CNCF - https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements

[2021-11-24 16:42] amye commented on #729
@tgraf: Checking in here, anything we can do to help move this along?

[2021-11-24 20:29] amye commented on #752
@nyrahul: Anything we can do to help here? We'd like to get everyone completely onboarded by December 15th.

[2021-11-25 02:52] yiwei-C commented on #723
@amye Domain transfer code has been sent.

[2021-11-25 02:56] yiwei-C commented on #723
Can we get some help with these two tasks?

- Transfer Netlify account. My Netlify account is larrywei1024@gmail.com
- Setup FOSSA account

[2021-11-25 05:06] nyrahul commented on #752
Thanks @amye. We should be able to handle by Dec 15th. (CC: @namdeirf)

We can tick following action items:

* Understand the project proposal process and reqs: main/process/project_proposals.adoc#introduction
* Understand the services available for your project at CNCF cncf.io/services-for-projects
* Review the online programs guidelines: cncf/foundation@master/online-programs-guidelines.md
* Und

[2021-11-25 19:42] amye commented on #723
@idvoretskyi can help here!

[2021-11-25 19:56] idvoretskyi commented on #723
@yiwei-C do you have any FOSSA account right now, or want me to set it up for you?

Also, besides FOSSA we may offer you a Snyk license instead, the benefit here would be the ability for using other Snyk features as well - https://snyk.io/.

[2021-11-30 07:03] BinaryHB0916 commented on #677
Hi Amye,

DONE:
- GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project
DCO has been intalled to the project of KubeVela.
- CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
Had Configurated. It'll be showing after [this PR](https://github.com/oam-dev/kubevela/pull/2843) merged.
- Adopt a license scanning tool, like FOSSA or Snyk
Ad

[2021-11-30 08:58] xcaspar commented on #647
Hello, amye, I have completed the above tasks. CNCF trademark and account transfer agreement documents have also been sent to you by mail.

[2021-11-30 18:07] amye commented on #677
Responded! Process changed to submitting the code into LFIT!

[2021-11-30 20:12] namdeirf commented on #752
@amye Thank you to everyone for moving so quickly!

I am working with the legal team on our side for the trademarks transfer, but when looking at the the pdfs here at [cncf/foundation/agreements](https://github.com/cncf/foundation/tree/8ccb348ebf084bdd6d43442922f588bd42b5360e/agreements) I do not see editable versions. I downloaded and viewed in Firefox and Preview, so perhaps it is a technical is

[2021-11-30 20:56] amye commented on #752
Correct, these are PDFs that can be loaded into docusign. Send me a signed copy from your side, I'll return a fully executed copy.

[2021-12-01 07:39] tobru commented on #753
@amye I think we're nearly there, I just need some answers from your side to be able to finish the last steps. Would you mind having a look at my questions?

[2021-12-01 16:19] msfussell commented on #738
@amye - Can you check off this
 "Create maintainer list + add to aggregated https://maintainers.cncf.io list by submitting a PR to it"

[2021-12-01 17:04] autodidaddict commented on #693
Pinging @LiamRandall

[2021-12-01 17:41] greenie-msft commented on #738
@amye the CII: Start on a CII best practices badge has been added to the Dapr repo: https://github.com/dapr/dapr

[2021-12-01 17:55] willtsai commented on #738
@amye - I have created https://github.com/cncf/contribute/pull/88 that I believe will fulfill this task: `Have added your project to https://github.com/cncf/contribute`

[2021-12-01 18:16] willtsai commented on #738
@amye - can you please check off this task as well:
"Understand the license allowlist: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist"

[2021-12-01 18:35] amye commented on #753
It looks like the only thing you're looking for is an editable version of the agreement?

Having a governance file will help mark off open governance.

Do you want a space on community.cncf.io for your project?

[2021-12-01 20:00] idvoretskyi commented on #719
@kate-goldenring there are still a few non-marked items on the checklist, do you need any assistance with any of them?

[2021-12-01 20:03] idvoretskyi commented on #720
@russellb I've created a Snyk org for you and added you as an org Admin! You are able to add other folks (or let me know if you want me to help with this).

[2021-12-01 20:06] fabiand commented on #438
Btw  - another issue with the definition is: They can consume one cloud-naitve technology and provide another one.
I.e. we see KubeVirt adopters (which we consider end-users) which use KubeVirt to build VM based applications, and offer these VMs as a cloud service to end-users. IOW they are not selling kubevirt, but a cloud (-native) service running on top of it.

[2021-12-01 20:08] fabiand commented on #438
Another note: I'd appreciat eif the end user definition would be easier to find and not "somehwere" in End users are organizations that use cloud native technologies internally and do not sell any cloud native services externally. This excludes vendors, consultancies, training partners, telcos.

[2021-12-01 20:31] kate-goldenring commented on #719
@idvoretskyi I think we have done them all except for this one "Website: ensure LF footer is there and website guidelines followed" which is a good reminder. I will do that soon. And this one "Domain: transfer domain to the CNCF - please send a transfer code to project-onboarding@cncf.io" I am not sure about. @edrickwong have we transferred the domain.

[2021-12-01 20:56] amye commented on #719
Much easier to file a ticket here with LFIT - https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63
Your project is Cloud Native Computing Foundation

[2021-12-01 22:42] greenie-msft commented on #738
@amye, can you please check off - "Understand the trademark guidelines: https://www.linuxfoundation.org/en/trademark-usage/"

I've have thoroughly read the guidelines and understand trademark usage.

[2021-12-01 23:28] amye commented on #738
We're always here if you have questions :)

[2021-12-01 23:41] clux commented on #754
Hello there. I will be providing these points on behalf of kube-rs. Here are some initial points i think we can check off:

- dedicated [neutral org](https://github.com/kube-rs)
- github: added `caniszczyk` + `thelinuxfoundation` to [kube-rs org](https://github.com/kube-rs)
- [open governance](https://github.com/kube-rs/.github/blob/main/governance.md)
- slack channels not needed at the moment - w

[2021-12-02 00:02] clux commented on #754
I have one question regarding artwork, because of the landscape's SVG requirement we will need to redo ours, and it also could use some refinement anyway. We have an open issue on this in https://github.com/kube-rs/kube-rs/issues/570#issuecomment-882128469 describing our aims, and conveniently, we see that CNCF [might provide help with artwork](https://www.cncf.io/services-for-projects/#design-and

[2021-12-02 02:34] lyzhang1999 commented on #751
I have submitted the form and created the Nocalhost space.

[2021-12-02 07:16] lyzhang1999 commented on #751
/assign @amye

[2021-12-02 08:14] tobru commented on #753
@amye

That's not the only thing, here's a summary what I need:

* Editable version of the agreement
* We prepared a merge request to update the K8up website at k8up-io/antora-ui-default#3. We're unsure if we can keep the Hubspot tracking integrated, can we?
* Tick at "-Domain: transfer domain to the CNCF", this is done

PR will come in the next days :+1:

We're mostly present at https://community

[2021-12-02 09:41] clux commented on #754
We have [started the the CII best practices badge](https://bestpractices.coreinfrastructure.org/en/projects/5413) and have a tracking ticket for outstanding issues in https://github.com/kube-rs/kube-rs/issues/737

[2021-12-02 12:23] idvoretskyi commented on #754
Hey @clux, a few comments here:

Since you don't have a website, can you please explicitly mention that this project is a CNCF Sandbox project in your GitHub README - https://github.com/kube-rs/kube-rs; eg. see https://github.com/envoyproxy/envoy/blob/main/README.md as an inspiration.

Sure, file a ServiceDesk ticket please!

[2021-12-02 13:51] thebsdbox commented on #678
Domain transfer ticket has been created. The transfer of trademark, I see all of the PDF's i'm not sure what I need to do with them?

[2021-12-02 14:32] dims commented on #331
@VinodAnandan ping!

[2021-12-02 14:35] dims commented on #612
Closing this in favor of https://github.com/cncf/tag-security/issues/558 please reopen if needed

[2021-12-02 14:36] dims commented on #554
@jberkus do we still need to do this?

[2021-12-02 14:36] dims commented on #547
@jberkus any left over things to do before we can close this?

[2021-12-02 14:37] dims commented on #498
Looks like we haven't done this yet!

[2021-12-02 15:15] kate-goldenring commented on #719
It looks like GitBooks does not allow footers. What do you all do for other projects that use GitBooks or MkDocs? For example, [kubevirt](https://kubevirt.io/user-guide/) does not have a footer on their mkdocs but they do on their [landing site](https://kubevirt.io/). Maybe this is something we circle back to if/when we have a main site?

[2021-12-02 16:13] idvoretskyi commented on #751
@lyzhang1999 you're invited to https://community.cncf.io/nocalhost-community/

[2021-12-02 20:35] jberkus commented on #547
Nope.

[2021-12-02 20:35] #547 closed

[2021-12-02 23:53] clux commented on #754
Thanks! Ticket filed (CNCFSD-1026), and adding hosted by line at the top of paragraph in the reame.

[2021-12-03 19:17] kate-goldenring commented on #719
@idvoretskyi thanks! added the mention to our docs site landing page (https://docs.akri.sh/) and GitHub [README](https://github.com/project-akri/akri)

[2021-12-05 17:23] clux commented on #754
More things for to check off:

- [cncf/contribute pr](https://github.com/cncf/contribute/pull/89)
- I understand the project proposal process and reqs
- I understand the services available for your project at CNCF  - great page, that :+1:
- I understand the online programs guideline - as an incentive to move to incubating :smiling_face_with_tear:
- I understand the trademark guidelines
- We meet t

[2021-12-06 12:52] idvoretskyi commented on #754
@clux marked this all for you! Also, maintainers are invited to the CNCF ServiceDesk, so will mark that one as well.

Any assistance you need with the remaining items?

[2021-12-06 14:06] idvoretskyi commented on #719
@kate-goldenring thanks!

[2021-12-06 14:08] idvoretskyi commented on #719
@kate-goldenring also, a quick check on the remaining items

[2021-12-06 14:10] idvoretskyi commented on #738
@msfussell and team - anything we can help with the remaining items? :)

[2021-12-06 16:59] nyrahul commented on #752
@amye, we can mark following tasks as done:
CC: @namdeirf

* Ensure your project meets the CNCF IP Policy: cncf/foundation@master/charter.md#11-ip-policy
* Understand the trademark guidelines: linuxfoundation.org/en/trademark-usage
* Has your project adopted open governance already? see http://opengovernance.dev (Ref: kubearmor/KubeArmor#516)
* Have added your project to cncf/contribute (Ref: cncf

[2021-12-06 17:00] idvoretskyi commented on #752
@nyrahul I'll check them for you.

Do you need any assistance with the remaining items?

[2021-12-06 17:49] kate-goldenring commented on #719
@idvoretskyi we have done all of those
- [landscape](https://landscape.cncf.io/card-mode?category=automation-configuration&grouping=category&selected=akri)
- [contribute](https://github.com/cncf/contribute/pull/81)
- [DCO](https://github.com/project-akri/akri/pull/432/checks?check_run_id=4412219012)

[2021-12-06 18:14] idvoretskyi commented on #719
@kate-goldenring ah, great, thanks! Marked them for you.

[2021-12-06 18:49] msfussell commented on #738
@idvoretskyi  -We are meeting to determine outstanding issues and will post an update

[2021-12-06 18:52] idvoretskyi commented on #738
@msfussell great, thanks!

[2021-12-06 22:48] msfussell commented on #738
@amye @idvoretskyi  - You can now sign-off on these two items

- Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
All licences for code have been move to Apache 2.0. Docs has been moved to creative common license. A Bot is in place that requires all first time contributors to sign a DCO for code submissions
 - Review the online pr

[2021-12-06 22:57] idvoretskyi commented on #738
@msfussell done!

[2021-12-07 00:09] clux commented on #754
That's great. 4 more of these are checkable:

- Website + domain entries (3 different ones) are not relevant yet so nothing to transfer atm - we will go through this process once we get around to making one
- CII best practices badge started: https://bestpractices.coreinfrastructure.org/en/projects/5413

Two are blocked by the service desk ticket (artwork + landscape prs both needs the logo)

And

[2021-12-07 01:10] amye commented on #754
I can get you an editable copy. No registered trademarks or registered?

[2021-12-07 06:48] nyrahul commented on #752
Thanks @idvoretskyi , we are working on getting the domain transfer, trademark and logo asset transfer, analytics transferred. I am not sure how this works but my teammate @namdeirf is working on this and has been raising the doubts. @namdeirf, if you have any pending doubts please let know here. Thanks

[2021-12-07 10:10] idvoretskyi commented on #752
@nyrahul Great!

[2021-12-07 13:59] clux commented on #754
Ah, yes, please. Digital signing or print/sign/scan?

Correct, no trademarks.

[2021-12-07 21:02] dfarrell07 commented on #649
@Oats87 I see SUSE/Rancher Legal was able to help with the K3s trademark transfer to CNCF: https://github.com/cncf/toc/issues/513#issuecomment-692239070

Maybe that team can help you find the right people to ask?

[2021-12-07 21:10] dfarrell07 commented on #649
(I talked with Chris on Slack, he sent another round of emails to try to move this forward)

[2021-12-08 00:32] greenie-msft commented on #738
@amye @idvoretskyi I'm working on the CNCF Trademark Agreement Form (with no registered trademarks) with our legal team and they are wondering if there is an editable copy of that form so that we may explicitly enumerate which assets, accounts, and domains will be transferred over.

Is this something that's available?

[2021-12-08 00:35] amye commented on #738
Drop me an email at amye@linuxfoundation.org and I can get one to you!

[2021-12-08 18:57] amye commented on #721
Trademarks are in, marking this closed! Welcome onboard!

[2021-12-08 18:57] #721 closed

[2021-12-08 19:47] mikeshng commented on #744
Hi @amye we have completed the following items:
- `Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io`
- `Understand the trademark guidelines: https://www.linuxfoundation.org/en/trademark-usage/`

[2021-12-08 19:59] amye commented on #744
Domain: transfer domain to the CNCF
What should the LF stakeholder email? be? Is it amye@linuxfoundation.org ?  -- That's totally fine!
For the Community Stakeholder email can we use our public mailing list email open-cluster-management@googlegroups.com or we should use a more private email in case there are sensitive information?
For the Project ITX URL, we are not sure what this is.

ITX is opti

[2021-12-09 01:37] msfussell commented on #738
I see that the Dapr logos have been placed in Sandbox and not Incubating projects here. "Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork." This needs to be fixed with a PR.

[2021-12-09 02:27] amye commented on #738
Easily fixable. :) https://github.com/cncf/artwork/pull/319 resolves.

[2021-12-09 06:06] namdeirf commented on #752
@idvoretskyi Can add new checkmarks:

*Complete*

- [x] Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
- [x] GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project
- [x] CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
- [x] Understand the trademark guidelines: ht

[2021-12-09 12:39] idvoretskyi commented on #752
Thanks, @namdeirf!

What's your issue here? I may try to help.

[2021-12-09 18:50] namdeirf commented on #752
Thanks @idvoretskyi, the instructions [for projects](https://github.com/cncf/communitygroups/blob/main/README.md#cncf-projects) on the community page have us go to this link

It states it's meant for maintainers so I asked to @nyrahul create the space for us, however, he is getting an error message I shared in a screenshot.
<img width="468" alt="Screen Shot 2021-12-09 at 8 37 10 AM" src="https://u

[2021-12-09 19:04] namdeirf commented on #752
@idvoretskyi, this came up on our internal call today that I could not answer, so I apologize if these are silly questions for the *License Scanning Tool* ...

1. is there an existing CNCF license that we should leverage? or create our own.
2. is there any guidance on choosing between Snyk/FOSSA outside of preference, familiarity? - ie is geared towards one type of project vs. another. I suspect i

[2021-12-09 19:11] amye commented on #752
Access to servicedesk is fixed now!

Re: license, are you looking for https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy ?

[2021-12-09 19:26] mikeshng commented on #744
Thanks @amye . For the following items, are there anything we need to do on our side to complete them?

- `Create space for meetings/events on https://community.cncf.io,`
Could you please help us create the Open Cluster Management space? When I tried the https://servicedesk.cncf.io URL to request the space, it asks for login that I don't have.

- `Adopt a license scanning tool, like FOSSA or Snyk`

[2021-12-09 19:33] amye commented on #744
Resent invites to Servicedesk! @idvoretskyi can help with this. :)

[2021-12-09 19:44] namdeirf commented on #752
Thank you @amye for addressing the service desk so quickly! and sorry for the confusion from me, rereading I see it is not as clear as I could be.

Regarding my question on *license* is was more along the lines of is there an official CNCF Snyk/FOSSA account we leverage for the KubeArmor project for license scanning, or do we simply create one on our own?

[2021-12-09 19:45] amye commented on #752
Ohhhh, ok yes that is an @idvoretskyi question.

[2021-12-10 01:09] #753 closed

[2021-12-10 01:09] amye commented on #753
We're all set here!

[2021-12-10 18:26] idvoretskyi commented on #752
@namdeirf we can provide you with licenses for both tools, just whatever you prefer. Note that FOSSA is mostly a purely license-scanning tool (https://fossa.com/product/open-source-license-compliance), while Snyk is way more feature-rich with the focus on security&vulnerability scanning (https://snyk.io/product/open-source-security-management/), so you can use it for other purposes.

Once you deci

[2021-12-10 18:31] idvoretskyi commented on #744
@mikeshng yes! Please file a ServiceDesk ticket, I'll share one with you. And yes, please use that FOSSA Action for this.

[2021-12-10 18:41] mikeshng commented on #744
Thanks @idvoretskyi I just created a ticket for the API key.

As for `Create space for meetings/events on https://community.cncf.io`
I don't see a right category in the ServiceDesk to request a space. Is this something that you can help us with? ie: a space like `https://community.cncf.io/open-cluster-management-community`

[2021-12-10 18:44] idvoretskyi commented on #744
@mikeshng yes, I can help you ask well -  feel free to select any related category, eg. Program Management there.

[2021-12-10 23:46] namdeirf commented on #752
Hope you have a good weekend @idvoretskyi, when you get back, doing the landscape steps: I got this error message
https://github.com/cncf/landscape/pull/2385#issuecomment-991372632

item KubeArmor has an invalid repo https://github.com/kubearmor/KubeArmor/

Anything you can do to point me in the right direction thank you!

[2021-12-11 05:11] idvoretskyi commented on #752
@namdeirf please open an issue under the landscape repo, folks will follow up :)

[2021-12-13 16:54] namdeirf commented on #752
@idvoretskyi / @amye Hope you all had a good weekend.

License scanning tool: The project leverages [Apache SkyWalking Eyes](https://github.com/kubearmor/KubeArmor/blob/60c105f04f1f3bf6fdc5d90264236e104c153d34/.github/workflows/ci-go.yml#L55-L56). If this meets the requirements for the Sandbox project we can check that off, if not please let us know. Info in this tool can be found [here](https://g

[2021-12-13 16:56] idvoretskyi commented on #752
@namdeirf can we see a license scanning report of this tool provided for your project?

[2021-12-13 16:57] FeynmanZhou commented on #743
As for things that CNCF will need from the project, we have completed the first three. The other items will be completed within one or two days. Thanks!

[2021-12-13 18:34] namdeirf commented on #752
@idvoretskyi here is our generated report: https://gist.github.com/daemon1024/3ed45e9294f5bd4f273d03d90d0a6549

If we need to make changes, etc happy to do it.

[2021-12-13 20:27] amye commented on #744
Taken care of!

[2021-12-13 20:42] idvoretskyi commented on #752
@namdeirf ideally, if you could add a badge to the project README, which can point out to the generated report (this is something that FOSSA allows, for instance).

[2021-12-14 05:13] LiamRandall commented on #693
- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
- [x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x] Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
- [x] Review the online program

[2021-12-14 14:42] idvoretskyi commented on #693
Thanks, @LiamRandall! Checked them for you.

Do you need assistance with anything else? Eg. license scanning.

[2021-12-14 16:01] idvoretskyi commented on #744
@mikeshng quick check on the remaining items :)

[2021-12-14 16:04] idvoretskyi commented on #754
@clux quick check on this one - what else we can help you with?

[2021-12-14 16:13] squillace commented on #745
I doubt it. only throughput issues on our side as we roll into the holiday season. But I'll do a little underbrush cleaning here before I DEPART FOR PERSONAL REFRESHLAND

[2021-12-14 16:27] mikeshng commented on #744
Hi @idvoretskyi thanks for checking. We are working on the following 2 items:
- `Ensure your project meets the CNCF IP Policy`
- `Trademarks: transfer any trademark and logo mark assets over to the LF`

For:
- `Domain: transfer domain to the CNCF` We have the ticket generated and its in progress. We don't anticipate there will be any issues: https://jira.linuxfoundation.org/plugins/servlet/theme/p

[2021-12-14 17:23] amye commented on #196
Closing as we've updated guidelines more recently

[2021-12-14 17:23] #196 closed

[2021-12-14 17:23] #214 closed

[2021-12-14 17:24] amye commented on #270
Closing, this can be reopened if there's still outstanding issues.

[2021-12-14 17:24] #270 closed

[2021-12-14 17:25] amye commented on #287
Closing as this is happening as part of incubation review.

[2021-12-14 17:25] #287 closed

[2021-12-14 17:26] #288 closed

[2021-12-14 17:26] amye commented on #305
Closing as we've updated these more recently

[2021-12-14 17:26] #305 closed

[2021-12-14 17:27] amye commented on #323
Closing - we now make qualified nominees public as part of the process.

[2021-12-14 17:27] #323 closed

[2021-12-14 17:30] amye commented on #331
Closing as part of end of year cleanup, can be resubmitted if there's something outstanding!

[2021-12-14 17:30] #331 closed

[2021-12-14 17:31] amye commented on #347
Closing as we have more communication between end users community and TOC

[2021-12-14 17:31] #347 closed

[2021-12-14 17:32] amye commented on #365
Closing as we've updated graduation processes since!

[2021-12-14 17:32] #365 closed

[2021-12-14 17:32] amye commented on #369
Closing as we've updated processes since this was opened.

[2021-12-14 17:32] #369 closed

[2021-12-14 17:33] amye commented on #410
Closing as TAG Security has much more processes now, can revisit in 2022 for improvements.

[2021-12-14 17:33] #410 closed

[2021-12-14 17:33] #378 closed

[2021-12-14 17:33] #411 closed

[2021-12-14 17:35] amye commented on #413
Closing, can be reopened for 2022 if relevant.

[2021-12-14 17:36] amye commented on #438
Closing, can be reopened for 2022 if still relevant

[2021-12-14 17:36] #438 closed

[2021-12-14 17:36] #444 closed

[2021-12-14 17:38] #459 closed

[2021-12-14 17:39] #460 closed

[2021-12-14 17:39] #488 closed

[2021-12-14 17:39] #489 closed

[2021-12-14 17:40] #490 closed

[2021-12-14 17:40] #497 closed

[2021-12-14 17:40] #498 closed

[2021-12-14 17:40] amye commented on #554
We actually did some of this in 2021, closing out for end of year clean.

[2021-12-14 17:40] #554 closed

[2021-12-14 17:41] amye commented on #584
@scottrigby - this can be closed if we have the final trademark paperwork signed, see Servicedesk!

[2021-12-14 17:41] #612 closed

[2021-12-14 17:43] brooksmtownsend commented on #693
Landscape PR merged now, that can be checked off 🙂

[2021-12-14 17:44] amye commented on #406
Closing in favor of https://github.com/cncf/toc/pull/463

[2021-12-14 17:44] #406 closed

[2021-12-14 18:12] jberkus commented on #554
We did not do it, or even any major part of it.  So yeah, it's still open.

[2021-12-14 18:12] squillace commented on #745
all right! @idvoretskyi and @amye we are back in the saddle here. I've wrassled up the appropriate peeps and we'll start on this list. Promise. :-)

[2021-12-14 18:45] amye commented on #693
Analytics is caught!

[2021-12-14 19:05] amye commented on #745
The underbrush cleaning will have much appreciate. :)

[2021-12-14 19:49] itowlson commented on #745
@amye 👋

(Did I give you my twitter handle instead of my GitHub handle?  Sorry about that!)

I'll start working on the list too, and will coordinate with @squillace and @lstocchi.  Re: "Provide emails for the maintainers added to https://maintainers.cncf.io" - how do you want these, e.g. pull request to that repo or via email to you?

[2021-12-14 20:00] fabiand commented on #438
@amye I'd appreciate if we can re-open it right away :)

[2021-12-14 20:01] amye commented on #745
Drop an email to project-onboarding@cncf.io and we will get you sorted!

[2021-12-14 20:31] amye commented on #438
Keeping closed in favor of the open TAG discussion.

I will let https://github.com/cncf/tag-contributor-strategy/issues/30 come back with recommendations, the TAG is the proper working group for this discussion.

[2021-12-14 20:51] itowlson commented on #745
@amye

Forgive me for being obtuse but I can't see the repo for this to send the PR to... could you point me in the right direction please?

[2021-12-14 21:17] namdeirf commented on #752
**Updates**

Complete
- Website: ensure LF footer is there and website guidelines followed (see [here](https://kubearmor.com/))
- Website: Analytics transferred to amye@linuxfoundation.org (email sent)
- Create space for meetings/events (Ticket filed)

In progress:
-  Adopt a license scanning tool, like FOSSA or Snyk (Based on [guidance above](https://github.com/cncf/toc/issues/752#issuecomment-99

[2021-12-14 22:24] bridgetkromhout commented on #692
Due to vacation schedules, we'll resume work on this in January.

[2021-12-14 22:38] amye commented on #692
Confirmed!

[2021-12-15 04:20] itowlson commented on #745
Where we are now:

* Slack channel set up in CNCF Slack
* Neutral organisation created but waiting for maintainer agreement to transfer
* Maintainer PR created as draft - waiting on transfer to set ready
* Maintainer emails provided _(TODO: also send Bhargav's)_
* Artwork: none to transfer
* Domain: none to transfer
* Trademarks: none to transfer
* Required accounts added to neutral GH org as owne

[2021-12-15 14:37] idvoretskyi commented on #752
Snyk is enabled, checking this off :)

[2021-12-15 14:38] idvoretskyi commented on #752
@namdeirf only Slack and Trademarks are left to check out. I see your comment above on the trademarks, what about Slack?

[2021-12-15 17:14] clux commented on #754
Updates;

- have signed and sent over the trademark form to Amye.
- requested a [social media mailing list](https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1042)
- I believe Teo transferred a domain to you that we plan on using
- have a blocked draft for cncf/landscape: https://github.com/clux/landscape/commit/83b72ed398def2539269a62b8c663b9c57175e6f (have put us under o

[2021-12-15 17:33] amye commented on #745
See I knew we could do it. :)

However, Trademarks has both registered and non-registered (common law) trademarks, take another look in that repo for the non-registered trademarks!

[2021-12-15 18:58] amye commented on #754
lol at "least-worst" -- Trademarks are complete.

[2021-12-15 19:06] greenie-msft commented on #738
@amye, I believe the transferring of domains task is now complete. According to the ZenDesk ticket:

"Both domains have been transferred over successfully. Your request status changed to Resolved with resolution Done."

[2021-12-15 19:22] greenie-msft commented on #738
Also,  "GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project" is complete.

DCO checks have been added to all incoming contributions for every repo in the Dapr project.

[2021-12-15 19:25] amye commented on #738
Great!
Last things: do you want a space on community.cncf.io?

[2021-12-15 19:43] namdeirf commented on #752
re: Slack, @idvoretskyi . We are moving the admin/owner privileges over to me and I'll initiate the transfer ASAP.

[2021-12-15 21:01] LiamRandall commented on #693
@amye  @idvoretskyi  License scanning is complete and just emailed over the CNCF Trademark and Account Assignment Agreememnt.

I think we are done!

[2021-12-15 21:03] idvoretskyi commented on #693
@LiamRandall there are a few non-marked items here - https://github.com/cncf/toc/issues/693#issue-943674781, can you check their statuses please?

[2021-12-16 03:07] lyzhang1999 commented on #751
domain transfer is completed, this steps can be checked off: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23332

[2021-12-16 17:28] amye commented on #676
Welcome onboard!

[2021-12-16 17:28] #676 closed

[2021-12-16 17:30] amye commented on #751
Just waiting on trademarks, and that's waiting on us.

[2021-12-16 21:34] namdeirf commented on #752
I got the Slack message on the export side and uploaded to Drive. to import to CNCF to [#kubearmor](https://cloud-native.slack.com/archives/C02R319HVL3) I do not see the import options so I will need to coordinate with someone who has import permissions to hand them off. We we will want to move all members and all messages from the *General* channel to the new CNCF channel.

[2021-12-17 02:41] liangyuanpeng commented on #743
@amye   @idvoretskyi  Hi,Can you help to create the #openelb channel on the kubernetes slack? We want to use it to https://github.com/cncf/contribute. Thanks.

[2021-12-17 07:35] fanux opened #769 "[SANDBOX PROJECT ONBOARDING] sealer"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2021-12-17 19:41] amye commented on #769
Next Sandbox review meeting is January 11th, I will open tickets for accepted projects at that time.

[2021-12-17 19:41] #769 closed

[2021-12-20 13:05] thebsdbox commented on #678
Domain transfer should have happened at this point.. I'm still unsure of the trademark (in terms of what the task required is)

[2021-12-20 13:06] thebsdbox commented on #678
I've read through all of the process documents also, so they can be marked as complete.

[2021-12-20 19:42] mikeshng commented on #744
`Domain: transfer domain to the CNCF` is now completed. Ref: https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-23376

[2021-12-22 19:09] greenie-msft commented on #738
@yaron2 @msfussell please feel free to add your input. I'm happy to just continue with what we use now - zoom and discord.

[2021-12-23 01:19] msfussell commented on #738
@amye We will skip the community.cncf.io for now as per https://github.com/cncf/toc/issues/738#issuecomment-974473252 . Zoom, Discord and YouTube are working well for us. Thanks.
So then at this point it looks like on-boarding is complete, Yes?

[2021-12-28 19:37] greenie-msft commented on #738
@amye @idvoretskyi - Is it necessary to have the DCO check enabled on the Dapr Docs repo? We're finding it challenging to enforce this requirement and a few contributors questioned the need for this (from a docs perspective).

[2021-12-28 19:46] amye commented on #738
Deferring to @idvoretskyi on this!

[2021-12-29 00:04] caniszczyk commented on #738
correct DCO should be enabled for all repos

On Tue, Dec 28, 2021 at 1:47 PM Amye Scavarda Perrin <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-29 05:41] idvoretskyi commented on #738
@greenie-msft yes, either DCO or CLA are mandatory, please see https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

[2021-12-31 22:00] namdeirf commented on #752
Hey @amye / @idvoretskyi  Hope you have a happy new year! Understand people are off for NYE, but when you all get back in, we are trying to resolve kubearmor.com is 'down' We transferred the domain name per the sandbox requirements but were intending to still maintain the site. Is this something we can get resolved quickly? Please let me know.

[2021-12-31 22:08] idvoretskyi commented on #752
@namdeirf if you have already transferred the website to LF/CNCF, can you please file a ticket to the LF support - http://support.linuxfoundation.org

[2021-12-31 22:12] amye commented on #752
https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/37 may be your fastest way in! I am not seeing the domain transfer on our side, so this will need LFIT's help.

[2021-12-31 22:15] amye commented on #752
I take it back, the error I see is "This domain is delegated to an alternate DNS and URL redirects are not supported. Please file a ticket at https://support.linuxfoundation.org if you would like to change the delegation."

What might have happened is that your domain registrar and DNS servers were the same thing, so when the domain moved to a registrar managed by LF, they dropped your nameservers

[2021-12-31 22:45] namdeirf commented on #752
That is possible, I'll need to check on our end.

Thank you!

[2021-12-31 23:04] amye commented on #752
Sorry for the trouble, but this is totally fixable!

[2022-01-03 11:01] squillace commented on #745
I think we are making progress here. @itowlson do you have any updates to share on this issue? I think we took a bunch of strides here.

[2022-01-03 19:58] itowlson commented on #745
Sorry, got derailed by a couple of issues, and am still away until tomorrow because socialist hobbit paradise. I’ll check then.

Where are we at on contributor approvals for the licence change.

@amye re trademarks: I think you’re going to have to give me some hints here. I don’t know what I’m looking for.

[2022-01-03 20:08] amye commented on #745
Here! https://github.com/cncf/foundation/blob/master/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20(2020%20-%20no%20reg%20trademarks).pdf

[2022-01-03 20:57] itowlson commented on #745
Thanks Amye, will look tomorrow!

[2022-01-04 02:57] haosanzi commented on #722
The transfer code has been sent project-onboarding@cncf.io

[2022-01-04 17:12] greenie-msft commented on #738
Thanks for clarifying @idvoretskyi.

@amye, I believe "Trademarks: transfer any trademark and logo mark assets over to the LF" has been completed. Can you please confirm?

At this point, It looks like all onboarding tasks have been completed. Is there anything outstanding?

[2022-01-04 19:54] itowlson commented on #745
Regarding the repo:

* Licence change is waiting on thumbs up from a few more people
* The neutral organisation is set up, but I want to finalise a couple of in-flight PRs and do a release before we do the move (so that if anything goes wrong we've at least cleared the imminent stuff).  This has been held up by the holiday.

[2022-01-05 00:10] amye commented on #738
Welcome onboard!

[2022-01-05 00:10] #738 closed

[2022-01-05 15:30] caniszczyk commented on #678
What's your email? I can add you as an owner to the CNCF netlfy and you can
xfer the site yourself :)

On Wed, Jan 5, 2022 at 9:30 AM Daniel Finneran ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-01-05 15:36] thebsdbox commented on #678
Oh cool, very awesome! it's

daniel.finneran@gmail.com

Thanks !

[2022-01-05 15:37] caniszczyk commented on #678
done :)

On Wed, Jan 5, 2022 at 9:36 AM Daniel Finneran ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-01-05 19:22] amye commented on #722
Yep! Following up from email - process has shifted a bit, you can do this through Linux Foundation's IT portal: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

[2022-01-07 11:29] haosanzi commented on #722
Hi, the request is submitted. https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23461

[2022-01-10 02:28] itowlson commented on #745
The main repository is now moved.  We have a couple of satellite repos also to move (API wrapper and API samples).

[2022-01-10 05:19] lukaszgryglicki commented on #745
What is the new main repository?

[2022-01-10 05:57] itowlson commented on #745
https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools

[2022-01-10 06:26] lukaszgryglicki commented on #745
Thanks, updated Devstats to track a new org and changed the main repo.

[2022-01-11 05:43] haosanzi commented on #722
Hi, amye.

About `Trademarks: transfer any trademark and logo mark assets over to the LF`. I have sent the CNCF Trademark and Account Assignment Agreement file to your [email](amye@linuxfoundation.org).

[2022-01-11 18:24] amye opened #773 "[SANDBOX PROJECT ONBOARDING] Devfile"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-01-12 06:23] lukaszgryglicki commented on #744
I will work on this today, thanks for reporting.

[2022-01-12 07:09] lukaszgryglicki commented on #744
This will do the job:
[code]
I will also update all configurations to no longer track that `org`.

[2022-01-12 07:42] lukaszgryglicki commented on #744
Done, dropped data, updated configs and regenerated all dashboards on both `test` and `prod` envs.

[2022-01-12 16:17] amye commented on #773
@l0rd - We'll be tracking onboarding in here, thanks!

[2022-01-12 17:36] l0rd commented on #773
cc @elsony @resios

[2022-01-12 17:51] l0rd commented on #773
Thank you @amye. We will work on that list in the coming days.

[2022-01-12 18:20] amye commented on #773
Excellent! One of the biggest helps for us is getting that maintainers file in (and getting me emails for you all!)

[2022-01-13 22:40] mikeshng commented on #744
Hi @amye OCM is currently under the orchestration category in landscape: https://landscape.cncf.io/card-mode?category=scheduling-orchestration&grouping=category Can OCM be placed under the security compliance category as well? https://landscape.cncf.io/card-mode?category=security-compliance&grouping=category So it will be in both categories.

[2022-01-13 23:32] amye commented on #744
Unfortunately, you'll have to choose one. Sorry!

[2022-01-14 14:25] mikeshng commented on #744
Thank you for your quick response @amye

We completed the following:
- `Domain: transfer domain to the CNCF`
ref: https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-23376
- `GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners`
![image](https://user-images.githubusercontent.com/58747157/149530711-2d5b09ef-a8f8-4262-b652-5cf3363ae534.png)
![image](http

[2022-01-17 03:36] fanux commented on #769
@amye How do I know if sealer has been accepted or not?

[2022-01-17 07:42] lyzhang1999 commented on #751
Hi amye:
We have updated the maintainers list, please help us merge it. https://github.com/cncf/foundation/pull/277

[2022-01-17 22:06] amye commented on #769
sandbox.cncf.io will always show you what has and hasn't been reviewed.

[2022-01-18 20:01] elsony commented on #773
Created and migrated to the "devfile" slack channel (https://kubernetes.slack.com/archives/C02SX9E5B55) in the Kubernetes workspace.

[2022-01-19 02:57] haosanzi commented on #722
Hi, here is the update.
According to https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23461, `inclavare-containers.io` domain has been successfully transferred

[2022-01-19 06:57] lukaszgryglicki commented on #773
DevStats [page](https://devfile.devstats.cncf.io) added.

[2022-01-20 18:15] amye commented on #752
This is something that @idvoretskyi can help with!

Separately, I can help with getting trademarks transferred, that's the last two remaining things here. :)

[2022-01-20 18:19] amye commented on #719
@kate-goldenring - one last thing! You can transfer ownership of the domain by creating a ticket: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

[2022-01-20 18:21] amye commented on #594
Marking off trademarks as this is with Legal, welcome onboard!

[2022-01-20 18:21] #594 closed

[2022-01-20 18:22] idvoretskyi commented on #752
@namdeirf regarding Slack - please file a ticket to the CNCF ServiceDesk, happy to help you there!

[2022-01-20 18:30] amye commented on #679
I've submitted https://github.com/cncf/landscape/pull/2431 to the landscape to help move this forward.

[2022-01-20 18:33] amye commented on #690
Ok, if we need a license exception here, https://github.com/cncf/foundation/issues is the correct place for this. If there already is an issue created, that's fabulous, I'm just not seeing one.
(Just catching back up on these.)

[2022-01-20 18:53] kate-goldenring commented on #719
Sorry for the delay on this. @edrickwong has been working with our legal team on this. @edrickwong can you give an update?

[2022-01-20 18:59] edrickwong commented on #719
@amye sorry for the delay, we're still waiting on our domain team and legal team to give the final approval. I haven't gotten a time estimate yet, but I'll push for end of next week.

[2022-01-20 19:05] amye commented on #691
Dropping in here again!
We're really close!
Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
Has your project adopted open governance already? see http://opengovernance.dev

Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io  -- https://github.com/cncf/landscape/pull/2432 should resolve

[2022-01-20 19:09] amye commented on #723
Checking back in here, beyond license scanning, we have just two things left:

Understand the license allowlist: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist
 Has your project adopted open governance already? see http://opengovernance.dev

[2022-01-20 19:12] amye commented on #677
Quick check in here:

- Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
- Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
- Review the online p

[2022-01-20 19:15] amye commented on #720
Circling back in here, only two things outstanding! (Trademarks are with legal)
Understand the license allowlist: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist
CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en

[2022-01-20 19:19] amye commented on #647
Marking domains off, trademarks are still in progress.
Last thing is if we want a community space or not!

[2022-01-20 19:20] amye commented on #649
Any luck here?

[2022-01-20 19:24] amye commented on #692
Picking this back up, not sure if these will be relevant!

- Adopt a license scanning tool, like FOSSA or Snyk
- CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en

[2022-01-20 19:27] amye commented on #693
Checking back in here:
*  Has your project adopted open governance already? see http://opengovernance.dev
* Domain: transfer domain to the CNCF - https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 is best!
*  Website: ensure LF footer is there and website guidelines followed
* CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
* [optiona

[2022-01-20 19:30] amye commented on #719
Oh, got it! All good!

[2022-01-20 19:32] amye commented on #722
Currently outstanding:
 Is your project in its own separate neutral github organization? (I know it's live, but nothing's in there yet)
GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2022-01-20 19:34] amye commented on #729
@lizrice @tgraf  - Happy to work with you on this, we'll be tracking onboarding in here :)

[2022-01-20 19:36] amye commented on #743
Checking back in here, I see 'Porter LB' on the landscape, and that's an easy PR to fix!
@FeynmanZhou  - any other updates?

[2022-01-20 19:39] amye commented on #744
Marking off domain and GH ownership as complete.
Looks like Trademarks and IP policy are left!
Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

[2022-01-20 19:40] amye commented on #745
Circling back in here, @itowlson - any updates?

[2022-01-20 19:42] amye commented on #754
@clux - Checking in here!
I just see landscape and artwork!
Landscape, I can probably help with if you need help.

[2022-01-20 19:42] amye commented on #773
@l0rd - checking in here, anything you need our help with?

[2022-01-20 19:45] amye commented on #691
One thing that you might want to be aware of as you look at the IP policy: https://www.linuxfoundation.org/telemetry-data-policy/

[2022-01-20 19:52] thomastaylor312 commented on #690
@amye Right here! https://github.com/cncf/foundation/issues/172

[2022-01-20 19:54] amye commented on #690
aha! I knew I was missing it, I was lookjng for 'krustlet'.

[2022-01-20 19:55] itowlson commented on #745
* All repos are now in the neutral org
* The website has been updated but we might need to update the shortlinks
* @squillace is chasing down the last few contributors to approve the licence change
* @squillace is looking at the trademark stuff (sorry but I still couldn't figure out what you needed us to transfer)
* I am doing a PR to the landscape document

[2022-01-20 20:05] amye commented on #745
Trademarks: this one may be a little weird, because you're not giving over the entire VS Code trademark, it's just for 'kubernetes tools'.
Take a look at https://github.com/cncf/foundation/blob/main/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20(2020%20-%20no%20reg%20trademarks).pdf, @squillace and we'll talk.

[2022-01-20 20:06] itowlson commented on #745
Oh no, the landscape needs a SVG logo which _includes the project name_, which I don't think we have.  @flynnduism could you do a version of the SVG logo https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/master/images/logo.svg with the text "VS Code Kubernetes Tools" on it please?

[2022-01-20 20:12] itowlson commented on #745
@amye Is there any way to tick off things that we've done?  I've been wanting to use your checklist to track what remains but can't tick the boxes myself!

[2022-01-20 20:14] amye commented on #745
Goodness, I wish!
No, just list them here and I'll take care of it.

[2022-01-20 20:26] kflansburg commented on #691
@squillace Does your comment relate to `krator`? I'm not aware of any license issues.

@amye I may need some help to determine our compliance with IP policy:

* CNCF produced logo / artwork, so I believe that is no issue.
* We use DCO for all submissions which I believe functions as a CLA.
* Krator itself is Apache 2.0 and we do scan the licenses of dependencies.

Regarding open governance, I'm al

[2022-01-20 20:36] itowlson commented on #745
*chuckle* I think you can tick these off:

* Slack channel set up in CNCF Slack
* Repos transferred to neutral GitHub org
* Maintainer list PR: sent
* Maintainer emails provided
* Artwork: none to transfer
* Domain: none to transfer
* Required accounts added to neutral GH org as owners
* DCO bot installed in neutral GH org
* Website: LF footer added
* Analytics: transferred analytics for landing p

[2022-01-20 20:41] squillace commented on #691
oh, whoops! thanks @kflansburg , no -- wrong project!!! "nevermind". :-|

[2022-01-20 21:15] amye commented on #691
As long as you've considered open governance, that's fine. It's a requirement for incubating. :)

[2022-01-20 22:20] kflansburg commented on #691
@amye It sounds like these tasks may be complete then. Thanks!

[2022-01-20 22:22] amye commented on #691
Marking those off, welcome onboard!

[2022-01-20 22:22] #691 closed

[2022-01-21 02:50] LiamRandall commented on #693
- Has your project adopted open governance already? see http://opengovernance.dev
We have not published a GOVERNANCE document, but we do use an open process, host weekly community meetings ( https://youtube.com/wasmCloud ), maintain a decision log, and implement an RFC process on our github.

- Domain: transfer domain to the CNCF - https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/cr

[2022-01-21 03:00] amye commented on #693
Rock and roll! We are, in fact, good here!
I'll leave this open a bit as I chase down where that domain transfer might have landed, but welcome onboard!!

[2022-01-21 07:57] haosanzi commented on #722
Hi, here is the update.

yes, please see https://github.com/inclavare-containers/inclavare-containers for more detail.

The invitation has been sent, waiting for @thelinuxfoundation and @caniszczyk to confirm.

[2022-01-21 16:33] amye commented on #722
Excellent! The last thing waiting is Trademarks, and that's on our team.
Thanks!

[2022-01-24 08:48] BinaryHB0916 commented on #677
KubeVela had meet all these checks.

Also, Internal process of trademark reviewing expects to end within a month and then agreement will be sent to you.

Thanks for all the assistances.

[2022-01-24 14:32] dfarrell07 commented on #649
@amye I pinged @Oats87 again to ask for another update. Again, soo sorry about how long this has taken.

[2022-01-24 16:33] amye commented on #677
Optional: Create space for meetings/events on community.cncf.io, e.g., https://community.cncf.io/pravega-community/

[2022-01-24 17:01] l0rd commented on #773
@amye yes I have one question about maintainers: is there a limit on the number of maintainers? What does the maintainer role entail? How is it related to GitHub repositories privileges?

[2022-01-24 17:08] amye commented on #773
So the projects can determine who their maintainers are and submit a PR to maintainers.cncf.io. For us, this limits who has access to the maintainers mailing list and Servicedesk.

[2022-01-24 18:03] russellb commented on #720
I opened CNCFSD-945 back in October for our one outstanding question about this.  Otherwise, I think we're fine.

@fedepaol was working on this one.  It's tracked here: https://github.com/metallb/metallb/issues/1059

[2022-01-25 08:11] attlee-wang commented on #723
@amye “Adopt a license scanning tool, like FOSSA or Snyk” done.  Link： https://app.fossa.com/projects/custom%2B29545%2Fgithub.com%2Fsuperedge%2Fsuperedge/refs/branch/main/123d36f8160fa500f6beb4dbac537a66c77dc968

[2022-01-25 08:14] attlee-wang commented on #723
@amye open governance  done. Link: https://github.com/superedge/superedge/blob/main/GOVERNANCE.md

[2022-01-25 09:34] attlee-wang commented on #723
we have a problem not log in CNCF service desk  about  create meetings/events. The email sent to us forgot to complete the confirmation, can you send it again？ @amye

[2022-01-25 15:15] l0rd commented on #773
@amye we are almost done with the maintainers list. We would also like to create a mailing list as a tool for our open governance and as the contact to put in the CoC. Can you create a mailing list for us in https://lists.cncf.io or should we create that outside of the CNCF?

[2022-01-25 17:36] amye commented on #723
Invites resent!

[2022-01-25 17:39] amye commented on #773
"create a mailing list as a tool for our open governance and as the contact to put in the CoC" -- So I can create that for you, are you thinking that's an open list? (Because the CoC should probably not be.)

[2022-01-25 17:52] l0rd commented on #773
Thank you @amye

We need a mailing list mainly for the open governance, so yes I think it should be an open list. For the CoC it would be better a separate mailing list with the maintainers only. What do you think?

[2022-01-25 17:54] caniszczyk commented on #773
You can just use github discussions instead of a mailing list... mailing
lists are optional imho

On Tue, Jan 25, 2022 at 11:52 AM Mario Loriedo ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-01-25 18:23] l0rd commented on #773
@caniszczyk makes sense for the "open governance". For the CoC contact what do you suggest?

[2022-01-25 18:25] caniszczyk commented on #773
Just point to the CNCF CoC :)
https://github.com/cncf/foundation/blob/main/code-of-conduct.md

On Tue, Jan 25, 2022 at 12:23 PM Mario Loriedo ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-01-25 21:35] bridgetkromhout commented on #692
Thanks, @amye! @SteveLasker has started the CII best practices badge: https://bestpractices.coreinfrastructure.org/en/projects?q=oras

[2022-01-25 21:37] elsony commented on #773
@amye Regarding "Website: Analytics transferred to amye@linuxfoundation.org", can you clarify the requirement? Our website (landing page and docs) currently does not have the analytics set up but we do have telemetry enabled using Segment. Does it means there is no action required for our projects or does that covers telemtry as well? If it does, what is the actions that we need to do?

[2022-01-26 03:19] attlee-wang commented on #723
Thank you very much. SuperEdge community meeting has been submitted, this one can also be done right away.
Link: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1070

[2022-01-26 21:55] elsony commented on #773
Yes, it is. The org is: https://github.com/devfile

[2022-01-27 10:38] slemeur commented on #773
Hi @amye - just to confirm with regards to domain transfert: we need to provide the ownership (and IP) of the domain as well as the DNS configuration, is that correct? For the website we can continue maintaining it and look to move it under Netlify once we are onboarded?

[2022-02-01 09:57] l0rd commented on #773
@amye the following tasks have been completed:
- GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership
- GitHub: ensure DCO or CLA are enabled for all GitHub repositories of the project (DCO enabled)
- Submitted a Pull request to add your project as a sandbox project to landscape.cncf.io

[2022-02-01 12:00] lizrice commented on #729
We're making progress!

- Neutral GitHub repo: all the code is where it belongs in github.com/cilium/cilium except for the cilium.io website, which we're in the process of transitioning over
- Slack: we'll keep the existing Slack since it has over 10k members
- Artwork: just raised [service desk request](https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1078) for help crea

[2022-02-01 13:52] idvoretskyi commented on #729
Totally OK!

[2022-02-01 13:53] idvoretskyi commented on #729
@lizrice I've checked the mentioned items for you, please keep us posted on the remaining things :)

[2022-02-03 14:15] yiwei-C commented on #723
Community event space has been created: https://community.cncf.io/superedge-community/

[2022-02-03 14:17] idvoretskyi commented on #723
@yiwei-C checked off!

The license allowlist is the only remaining item for now - any progress on it so far?

[2022-02-07 05:26] lyzhang1999 commented on #751
Do we have any new information?

[2022-02-07 20:01] elsony commented on #773
@amye Can you confirm if there is any action needed for telemetry given that we currently doesn't has analytics set up?

[2022-02-07 20:07] amye commented on #773
You may want to review the[ telemetry policy](https://www.linuxfoundation.org/telemetry-data-policy/), as I'm not familiar with Segment?

[2022-02-08 22:31] #638 closed

[2022-02-08 22:32] amye opened #783 "TOC Leadership to take "Inclusive Open Source Community Orientation""
The CNCF would like the TOC take the new LFC 102 to provide feedback on the course before making any decisions regarding how it should be rolled out across the CNCF community:

- [x] Katie Gamanji
- [x] Erin Boyd
- [x] Dave Zolotusky
- [x] Justin Cormack
- [x] Ricardo Rocha
- [x] Emily Fox
- [x] Cathy Zhang
- [x] Davanum Srinivas
- [x] Matt Farina
- [x] Richard Hartmann
- [x] Lei Zhang

https://tr

[2022-02-09 03:09] xcaspar commented on #647
@amye Sorry for the late reply. Yes we need a community space, thank you.

[2022-02-09 03:14] amye commented on #647
Got it!
@idvoretskyi and I will connect on this tomorrow.

[2022-02-09 08:37] dzolotusky commented on #783
@amye I took if on Jul 31, 2021. Should I take it again, or just check myself off?

[2022-02-09 14:34] caniszczyk commented on #783
check off is fine

On Wed, Feb 9, 2022 at 2:37 AM Dave Zolotusky ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-02-09 14:36] dzolotusky commented on #783
Done.
Thanks, Chris.

[2022-02-09 15:29] dims commented on #783
Done. https://github.com/cncf/toc/issues/638#issuecomment-822060865 (April 2021)

[2022-02-11 16:08] FeynmanZhou commented on #743
Sorry for the late reply. It has been renamed to OpenELB in CNCF landscape, please see https://github.com/cncf/landscape/pull/2473

[2022-02-14 07:02] lyzhang1999 commented on #751
We have changed the email address of Maintainers, please help us to change the CNCF mail list address, thanks.
New email address: https://github.com/nocalhost/nocalhost/blob/main/MAINTAINERS.md.

/assign @amye

[2022-02-14 18:38] edrickwong commented on #719
@amye `Domain: transfer domain to the CNCF` is complete now!

[2022-02-14 18:39] #719 closed

[2022-02-15 16:25] lukaszgryglicki commented on #773
I can see that Devfile's color icons (both [png](https://github.com/cncf/artwork/blob/master/projects/devfile/icon/color/devfile-icon-color.png) and [svg](https://github.com/cncf/artwork/blob/master/projects/devfile/icon/color/devfile-icon-color.png)) are just a small portion of the image area which makes them look rather bad as devstats icons, see [here](https://devfile.devstats.cncf.io).

[2022-02-15 20:14] amye commented on #693
Domain is complete, welcome onboard!

[2022-02-15 20:14] #693 closed

[2022-02-16 06:37] haosanzi commented on #722
@amye Hi, how long this trademark transfer take? Thank you very much!

[2022-02-16 19:26] lizrice commented on #729
Regarding licenses: after discussion with @caniszczyk we have [this issue](https://github.com/cilium/cilium/issues/18823) to track the dual licensing of the BPF code so I'm ticking that box

[2022-02-16 19:38] amye commented on #729
Adopt a license scanning tool, like FOSSA or Snyk ?

[2022-02-16 21:17] sarahnovotny commented on #729
@amye  or @idvoretskyi Is there any update on these two items?

I'd like to use the Cillium name in reference to work with the project and right now, I can't simply point our legal team back to the LF trademark guidelines.  I would instead need to obtain permission from Isovalent.

[2022-02-16 22:38] elsony commented on #773
@lukaszgryglicki What is recommended size for that icon?

[2022-02-17 11:32] rata commented on #720
The CII best practices badge should be done already, please mark it as done! :)

@amye Also, another question. We would like to use zoom for our community video calls, how should I request that? I think opening a generic issue in the CNCF service desk is probably not the way to go, but unsure what is the way to go. Can you please point me in the right direction? :)

[2022-02-17 16:06] amye commented on #677
Trademarks are with our Legal for review!

[2022-02-17 16:25] rata commented on #720
Oh, sorry then. Will do that! :)

[2022-02-17 16:26] amye commented on #720
You are just fine :)

[2022-02-22 17:02] amye opened #788 "TOC to update end user definition for incubating + graduation"
https://github.com/cncf/toc/blob/main/FAQ.md#what-is-the-definition-of-an-end-user has a definition of end users for projects that needs review and likely updating.

Tracking towards review in March 22nd's closed TOC meeting.

[2022-02-22 17:08] amye commented on #413
Repurposing this for review for March 22nd meeting, TOC to review and provide comments/updates.

- [ ] Erin Boyd
- [ ] Dave Zolotusky
- [ ] Justin Cormack
- [ ] Emily Fox
- [ ] Davanum Srinivas
- [ ] Matt Farina
- [ ] Richard Hartmann
- [ ] Cornelia Davis
- [ ] Lei Zhang
- [ ] TBD

[2022-02-22 22:42] TheFoxAtWork commented on #413
Reviewed, provided a PR for distinct discussion and recommended changes to improve readability and coherence across the document.  There is still more improvements we could make but this is intended to convert it from an initial document to sustainable guiding star with reasoning.

[2022-02-23 13:59] TheFoxAtWork commented on #788
Happy to help on this

[2022-02-23 16:01] amye commented on #754
Welcome onboard!

[2022-02-24 22:36] TheFoxAtWork commented on #783
Redone. Done.

[2022-02-25 15:25] FeynmanZhou commented on #743
Hi @amye ,

I verified the checklist and we see the following items are still in progress:

- Slack: Could you please help us to create a Slack channel `openelb` in Kubernetes workspace?
- Artwork: The artwork could be submitted next week.
- Transfer domain to the CNCF: it could be done next week.
- Trademarks: We have not registered trademark for this project yet, do we need to sign this agreemen

[2022-03-01 14:41] mattfarina commented on #783
Done

[2022-03-02 16:03] amye opened #794 "[INCUBATING PROJECT ONBOARDING] Knative"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-03-02 16:51] amye commented on #729
Circling back in here again, trademarks are still with the project. @lizrice, anything we can do to assist?

[2022-03-02 17:30] amye commented on #794
Welcome @thisisnotapril, @pmorie, @lance!

[2022-03-02 19:16] thisisnotapril commented on #794
@amye we'd like to discuss our options re: DCO and CNCF CLA. Is there a lawyercat that could talk to Steering about these options?

[2022-03-02 19:23] amye commented on #794
Maybe - what's the issue initially? We're happy for projects to use either, #easycla is the channel in CNCF slack that has that team to help migrate to the CLA tool provided by Linux Foundation.

[2022-03-02 19:53] thisisnotapril commented on #794
We want to understand the implications of using DCO and if LF/CNCF has a preference? I know a lot of folks would like DCO but I don't know how that might impact our current processes.

[2022-03-02 20:04] caniszczyk commented on #794
We don't really have a preference, you can use one or the other.

I will say 95% of CNCF projects just use DCO as there is no "legal
paperwork" that has to be signed (which can be a blocker for
organizations). The downside of DCO is that you have to sign off each
commit (git commit -s) and some folks get a bit annoyed by that and you
have to be clear in your CONTRIBUTING.md file that CONTRIBUTORS

[2022-03-02 20:24] thisisnotapril commented on #794
Thank you @caniszczyk that's super helpful!

[2022-03-02 20:29] vaikas commented on #794
Woot Woot!!!

[2022-03-02 21:52] csantanapr commented on #794
cc @dims

[2022-03-02 21:55] csantanapr commented on #794
Thanks, @amye for the warm welcome!  including @itsmurugappan which is a member of knative steering representing end-users

[2022-03-02 23:12] csantanapr commented on #794
@amye In which git repo do we update to add knative to this webpage? https://www.cncf.io/projects/
Is that the same as _Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/_ ?

[2022-03-02 23:42] amye commented on #794
Correct, Landscape populates the project page

[2022-03-03 15:28] lukaszgryglicki commented on #794
DevStats [test](https://knative.teststats.cncf.io) and [prod](https://knative.teststats.cncf.io) pages added, will add this project to `All CNCF` as well - ETA for this is tomorrow. Also created affiliations research task - will import this once completed.

[2022-03-03 17:41] vaikas commented on #794
@amye how can we check off things that have been completed? We don't seem to have the magic powers to do so.

[2022-03-03 18:00] amye commented on #794
Comments in here when they're done work fine!

[2022-03-03 19:05] lizrice commented on #729
The [dual license](https://github.com/cilium/cilium/issues/18823) issue is completed now

Working on the trademark paperwork now

[2022-03-03 19:10] caniszczyk commented on #729
Thanks Liz!

On Thu, Mar 3, 2022 at 1:06 PM Liz Rice ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-05 06:36] lukaszgryglicki commented on #794
Knative added to "All CNCF" DevStats instances on both [test](https://all.teststats.cncf.io) & [prod](https://all.devstats.cncf.io).

[2022-03-05 10:33] csantanapr commented on #794
You can mark this one done
Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/
Knative now shows up incubating  https://landscape.cncf.io/card-mode?project=incubating

[2022-03-05 10:36] csantanapr commented on #794
@lukaszgryglicki which repo is this configured?
Does it cover our 2 github orgs?
Knative and knative-sandbox?
The logo is not showing as Knative logo

[2022-03-05 10:48] lukaszgryglicki commented on #794
`knative` and `knative-sandbox` GitHub orgs. For log to show, you need to add logos to `cncf/artwork` repos - as all other CNCF projects. do.

[2022-03-05 10:59] csantanapr commented on #794
Thank you @lukaszgryglicki for the quick response, I was not aware of the logo requirement. We have Knative logo files and we add them there.

[2022-03-05 11:04] lukaszgryglicki commented on #794
Follow any other project for that, DevStats needs those https://github.com/cncf/artwork/tree/master/projects/kuma/icon/color - replace `kuma` with `knative`:

- https://github.com/cncf/artwork/blob/master/projects/kuma/icon/color/kuma-icon-color.png
- https://github.com/cncf/artwork/blob/master/projects/kuma/icon/color/kuma-icon-color.svg

[2022-03-08 19:12] amye opened #798 "[SANDBOX PROJECT ONBOARDING] FabEdge"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-03-08 19:12] amye opened #799 "[SANDBOX PROJECT ONBOARDING] Confidential Containers"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-03-08 19:35] amye commented on #799
Welcome!  @magowan @sameo @fitzthum @ariel-adam, we'll be tracking work in here.

[2022-03-08 19:43] raravena80 commented on #799
Congrats!

[2022-03-08 19:46] lukaszgryglicki commented on #799
I will have some delay on adding this to DevStats. Sorry, I have a lot of work to do, I can barely start any work on this on Monday.
cc @caniszczyk

[2022-03-08 19:48] caniszczyk commented on #799
no rush, one week is fine

On Tue, Mar 8, 2022 at 1:46 PM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-09 00:02] peterzcst commented on #799
Great!

[2022-03-09 07:52] ariel-adam commented on #799
Hello everyone, we are thrilled to be joining the CNCF :-)

[2022-03-10 16:43] csantanapr commented on #794
@amye Could you mark the following TODO done?

https://landscape.cncf.io/card-mode?project=incubating

[2022-03-10 16:45] amye commented on #794
Happy to! Also marking off 'neutral GH org'

[2022-03-10 17:07] csantanapr commented on #794
Thank you @amye

Just to have it on record here.
Knative have only two official github orgs
- https://github.com/knative
- https://github.com/knative-sandbox

[2022-03-10 19:56] csantanapr commented on #794
@amye @caniszczyk

Is there still time to submit the maintainer track for KubeCon EU 2022?
How do we work this out?

[2022-03-10 19:59] amye commented on #794
Email events@cncf.io, they know to expect you.

[2022-03-11 09:34] xcaspar commented on #647
Hi @amye, the domain name service provider reported that they locked the transfer out because the domain name has not been transferred out for a long time. When do you plan to operate the transfer? We can cooperate with you at any time. Thank you~

[2022-03-11 14:55] xmulligan commented on #729
We are tracking the License scanning in the above issue

[2022-03-11 16:05] tgraf commented on #729
The name Cilium was never trademarked by Isovalent. Please advise whether we need to take any action.

I assume Isovalent or myself own the Cilium logo because I've originally drawn it. This transfer is currently in progress, I've seen the draft and it's in legal review right now.

[2022-03-11 16:08] amye commented on #729
This is currently with Legal for review.

[2022-03-14 13:30] dcmiddle commented on #799
Hi, Regarding CoC..

It looks like CNCF projects like containerd[1], etcd[2], and others follow the practice of having the CoC _file_ at the root of the repo. github recognizes it there and it can be managed in a .github repo.
This issue says to put it in the README but I assume that just means make it visible and we can put a CoC file in our .github like this: https://github.com/confidential-cont

[2022-03-15 11:28] lukaszgryglicki commented on #799
DevStats [page](confidential.containers.devstats.cncf.io) added.

[2022-03-15 11:29] lukaszgryglicki commented on #798
DevStats [page](https://fabedge.devstats.cncf.io) added.

[2022-03-15 15:23] lukaszgryglicki commented on #799
Also [added](https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1) to `All CNCF`, including the `Projects Health` report.

[2022-03-16 23:44] amye commented on #584
And complete here!

[2022-03-16 23:44] #584 closed

[2022-03-17 08:14] Jinglun-Shang commented on #798
Hi Amye, I emailed you two days ago, hope you still remember me, lol.
This is my first time use Github, a little bit unfamiliar. Can you invite 'haotao geng', 'yanjianbo', 'YLyangling' and 'wanglet' to this Issues? (Please don't forget me)
Thank you very much.

[2022-03-21 17:42] magowan commented on #799
Hi @amye ,
We are progressing the tasks, but we aren't sure how you would like us to update our progress here?
We can't tick the tasks or edit the description to tick the tasks but happy to represent our progress here in whatever way works best.
Thanks

[2022-03-21 17:46] amye commented on #799
Comments here are fine! It's a limitation of Github, that's why.

[2022-03-22 01:44] amye opened #810 "TOC Chair Election, March 2022"
Now that we have a fully formed TOC, a TOC chair needs to be selected.

We will leave nominations open through next Tuesday, March 29th at noon Pacific.

Please comment here if you're interested in standing for chair.

[2022-03-22 15:03] dzolotusky commented on #810
I know that it says "comment here if you're interested in standing for chair.", but I'd like to use this space to nominate instead.

I'd like to nominate @dims for the role of TOC chair.

[2022-03-22 16:01] dims commented on #810
@dzolotusky thanks for the nomination! Yes, i would love to stand for the chair role.

fyi, We talked about this in the closed toc meeting as well. @RichiH and @cdavisafc could not make it, we should wait for them to chime in as well.

[2022-03-22 22:53] mkorbi opened #814 "Proposal Environmental Sustainability WG"
Dear TOC,

we would like to propose you a new WG.

Environmental sustainability is a growing and important topic and can be done effectively only if everyone delivers their part to it. The data centers' global energy consumption, and therefore the reason for CO2 emission, is around 2%. That maybe doesn't sound a lot but is equivalent to Canada or Germany, and is also bigger than the emissions caus

[2022-03-22 22:54] mkorbi commented on #814
/cc @amye

[2022-03-23 15:03] dims opened #815 "Document the Annual Review Process and expectations for sandbox projects"
This year we had a public Annual Review process:
- The TOC self-organized to assign one TOC member for each Annual Review
- The assigned member, went through the filed PRs and also took a look at community health
- On the private TOC channel, before the meeting we started a thread for each project
- On the thread, assigned shepherds gave and gathered feedback, everyone else chimed in
- We invited

[2022-03-28 04:52] brant-ruan opened #818 "Question about the Status of Standbox Project Application"
Hello,

We planned to contribute our project [Metarget](https://github.com/Metarget/metarget) to CNCF as sandbox project. We have followed the [project proposal process](https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#sandbox-process) and finished the application last year, but haven't received any reply yet. Could you please tell me where or how I can know the TOC review proc

[2022-03-28 13:18] magowan commented on #799
Hi @amye ,
I am looking at :
Understand the license allowlist: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist

And also observing under
Things that the CNCF will do or help the project to do:
Adopt a license scanning tool, like [FOSSA](https://fossa.com/) or [Snyk](https://snyk.io/)

Can we work with CNCF to adopt a license scan

[2022-03-28 16:13] amye commented on #818
[sandbox.cncf.io. ](http://sandbox.cncf.io/) has the list of applications and you'll be able to find yourself in the queue.
Our next Sandbox review meeting is listed on [https://docs.google.com/document/d/1jpoKT12jf2jTf-2EJSAl4iTdA7Aoj_uiI19qIaECNFc/edit](Public TOC Meeting Notes) as April 26, 2022.

[2022-03-28 16:13] #818 closed

[2022-03-29 01:37] brant-ruan commented on #818
Thank you : )

[2022-03-29 02:52] csantanapr commented on #794
@amye Could you mark these 2 done.

- [ ] Create maintainer list + add to aggregated https://maintainers.cncf.io/ list by submitting a PR to it

- [ ] Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk

[2022-03-29 02:53] jeefy commented on #794
Updated. :)

[2022-03-29 02:55] csantanapr commented on #794
@amye Could you mark the following 6 done.

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction
- [x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x] Review the online programs guidelines: https://github.com/cncf/foundation/blob/master/online-programs-gu

[2022-03-29 02:58] jeefy commented on #794
Also updated! 🎉

[2022-03-29 03:15] csantanapr commented on #794
@amye Could you mark the following done.

- [ ] Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork

The logo were added https://github.com/cncf/artwork/tree/master/projects/knative

[2022-03-29 03:22] csantanapr commented on #794
@amye @jeefy
Could you mark the following done.

- [ ] GitHub: ensure that hat the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md) (or your adopted version of it) are explicitly referenced at the project's README on GitHub

All our repos across both github orgs have being properly updated with COC info

[2022-03-29 03:29] csantanapr commented on #794
@amye Could you mark the following done.

- [ ] Website: Analytics transferred to [amye@linuxfoundation.org](mailto:amye@linuxfoundation.org)

I added `amye@linuxfoundation.org` as Administrator for our Google Analytics for our website knative.dev

[2022-03-29 03:35] csantanapr commented on #794
@idvoretskyi @jeefy Could you mark the following done.

- [ ] Is your project working on written, open governance? see https://contribute.cncf.io/maintainers/governance/

Our projects practices and is written on open governance:
https://github.com/knative/community/blob/main/GOVERNANCE.md
https://github.com/knative/community/blob/main/TECH-OVERSIGHT-COMMITTEE.md
https://github.com/knative/communit

[2022-03-29 03:37] csantanapr commented on #794
@idvoretskyi @jeefy Could you mark the following done

- [ ] Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of your project on GitHub).

The [knative.dev](https://knative.dev/) has been updated according to g

[2022-03-29 19:04] amye commented on #810
As @dims is running unopposed, I will close this.
Welcome @dims as TOC chair!

[2022-03-29 19:04] #810 closed

[2022-03-29 20:30] amye commented on #814
We can give you time to discuss in the April 5th meeting, will that work?

[2022-03-29 22:17] erinaboyd commented on #783
Done!

[2022-03-30 12:16] dzolotusky commented on #815
I agree with what's been here so far, so I wont bother duplicating my notes on the content.
Though, one point that I think that we should emphasize clarifying is
- We invited the projects to show up in the public meeting. No Biggie if they could not make it.

I think that we need to be very clear on the "No biggie" part, and really focus on making sure that projects don't feel really pressured to

[2022-03-30 15:57] csantanapr commented on #794
@idvoretskyi @jeefy Could you mark the following done.

- [ ] GitHub: ensure @thelinuxfoundation and @caniszczyk are added as initial org owners, this helps us make sure we have continuity of GH ownership

@caniszczyk accepted the invitation, The other account @thelinuxfoundation has a pending invitation

[2022-03-30 16:02] csantanapr commented on #794
@amye @caniszczyk

We have a question for the following item

Steering and TOC members got the invite to the maintainer list access, but we didn't see any information pertaining _**monthly project sync details**_

Can you elaborate on what we need to do for this monthly project sync?
Is this a monthly meeting to report the status of the Knative project to some CNCF entity or program management?

[2022-03-30 16:09] csantanapr commented on #794
@amye @jeefy @idvoretskyi

Could you provide more concrete guidance on what we need to do for this work item?
We are having a co-lo event in KubeCon EU 2022 "KnativeCon" is this related to this, or is related to some other aspect?

[2022-03-30 16:29] jeefy commented on #794
This has to do with KubeCon Reg forms. When registering and/or submitting a CFP, we ask the submitter what they're looking to attend or which project their submission is focusing on.

AFAIK this is a CNCF work item and not a Knative one. :) Also, other work items have been marked done.

[2022-03-30 16:43] amye commented on #794
Ah, I believe I need to be set as owner, not administrator!

[2022-03-30 17:10] amye commented on #794
Checking in here:
Did you want a space on https://community.cncf.io/?

[2022-03-30 19:57] mkorbi commented on #814
Hey @amye yes this will work

[2022-03-30 20:04] amye commented on #814
First on the agenda!

[2022-03-31 11:29] ariel-adam commented on #799
Opened a PR for adding the projects logo: https://github.com/cncf/artwork/pull/333

[2022-03-31 15:30] amye commented on #799
Merged!

[2022-03-31 15:32] amye commented on #799
One note here:

I will need a signed trademark agreement from the project, I am happy to help direct for how this process works!

[2022-04-04 01:25] dims opened #823 "[FOR DISCUSSION][DO NOT MERGE] Filling a seat when TOC members choose to expel someone #322"
Looks like we need to get consensus here before we reopen:
https://github.com/cncf/foundation/pull/322

[code]

[2022-04-04 08:31] dzolotusky commented on #823
I'm curious about how we will handle deciding between the two options in: "The TOC chair may select someone from a previous election to fill this seat (for the reminder of the term of the impacted member) or request the CNCF staff to conduct a fresh election."

Personally, I'd lean towards always conducting fresh elections.

[2022-04-04 15:01] amye commented on #823
Strong +1 to @dzolotusky. The only time that we have not done a special election is when it would be a matter of weeks to the next election.
This likely doesn't need to be a charter change?

[2022-04-04 15:13] amye commented on #823
Two different groups got deadlocked, what we might do is switch to a voting tool that isn't multi-step opt-in because I think that's the biggest change!

[2022-04-04 16:00] ariel-adam commented on #799
@amye who should sign the trademarks transfer?
Is this something we need all the companies in the CoCo project to sign on?
What's the simplest things to move this forward :-) ?

[2022-04-04 16:10] amye commented on #799
What we've done in the past is if it's not attached to a single company, we can have the maintainers who were maintainers at the time of acceptance sign for this.
Roughly how many people might that be?

[2022-04-04 16:19] dims commented on #823
@dzolotusky yep that's fair

[2022-04-04 20:28] amye commented on #814
@mkorbi  - still good with discussion first thing at tomorrow's 8am Pacific meeting?

[2022-04-05 15:12] magowan commented on #799
@jeefy can you help me set up FOSSA/Snyk on our repositories?
Happy to be pointed towards any instructions that may exist to help.

Thanks,

[2022-04-05 16:58] jeefy commented on #799
@magowan Pinged you in CNCF slack, need a good email for you so I can invite you into FOSSA :) Thanks!

[2022-04-05 18:20] fitzthum commented on #799
@amye @ariel-adam

Roughly how many people might that be?

We have a list of 10ish people that we think of as maintainers at the moment, but it might be tricky to get all of them to sign something. Even getting just one party to sign the document would probably require some kind of corporate legal review. The form implies that the Assignor should be a corporation. Is it appropriate for it to be si

[2022-04-06 09:05] sameo commented on #799
@amye Hey there. I send a PR to add Confidential Containers to cncf/contribute: https://github.com/cncf/contribute/pull/99

[2022-04-06 15:37] amye commented on #799
Take a look at the 'no registered trademarks agreement' - https://github.com/cncf/foundation/blob/main/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20(2020%20-%20no%20reg%20trademarks).pdf
If one company isn't the contributing company, we would need all 10 to sign.

The hangup is usually because it's such a different workflow than most other onboarding tasks, I can't give y

[2022-04-07 06:05] Jinglun-Shang commented on #798
Hi @amye

We are working to accomplish these tasks. We have now completed #313, #312 and #313.
Could you please check how we have completed them and help us tick the tasks to complete them? If there are any problems, please do not hesitate to contact me.

Thank you

[2022-04-07 16:22] csantanapr commented on #794
Did you want a space on https://community.cncf.io/?

@amye yes I opened a service desk ticket yesterday
https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1192

[2022-04-07 16:30] csantanapr commented on #794
@amye @jeefy

Can you mark this done.
@thisisnotapril confirmed that trademark is transferred
https://github.com/knative/community/issues/948#issuecomment-1082436473

[2022-04-07 17:35] csantanapr commented on #794
@amye Can you take a look at this question? https://github.com/cncf/toc/issues/794#issuecomment-1083328110
About **monthly project sync details**

[2022-04-07 18:23] jeefy commented on #799
Invite for FOSSA sent to @magowan

[2022-04-11 17:13] amye commented on #798
Added the closed items to the completed checklist!

[2022-04-11 20:53] amye commented on #649
Checking back in here!

[2022-04-11 20:54] amye commented on #647
Oh, please file a ticket with LFIT on this: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

[2022-04-11 20:55] amye commented on #677
Hi all,
Just checking back in on domain transfer: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 is the best place to do that.

[2022-04-11 21:00] amye commented on #692
Checking back in here!

[2022-04-11 21:07] thebsdbox commented on #678
I did, also the domain was transferred a few months ago! 😀

[2022-04-11 21:08] amye commented on #690
@jeefy  - when you get a chance, can I have you check on the license scanning tool? Either Krustlet's or FOSSA will work.

[2022-04-11 21:12] amye commented on #678
Hurray, so that, I can cross off.
Any questions on trademark that I can help you with?

[2022-04-11 23:01] fitzthum commented on #799
@amye

We now have theSlack channel `#confidential-containers` in the CNCF workspace.

I think we may also be ready to check off all of the website-related onboarding tasks. We do not currently have a website, but we have added the LF footer to our [organization profile README](https://github.com/confidential-containers) on GitHub. We have also begun some discussions about our future website, whic

[2022-04-11 23:03] amye commented on #799
That should be fine!

[2022-04-12 00:08] dfarrell07 commented on #649
Thanks for checking in again @amye. Chris has pinged SUSE legal at least twice since the last update here. Last I heard SUSE legal was aware that this looks bad, like they are dragging their feet. I pinged Chris to ask him to check again. Again, so sorry about the delay, I wish there was something I could do.

[2022-04-12 01:57] amye commented on #794
In your welcome letter!

[2022-04-12 02:38] BinaryHB0916 commented on #677
@amye thanks for checking back. I'm a bit confused, do you mean kubevela.io in terms of domain transfer?

If so, that was sent to you via email before in the thread. I assume that now I need to do it again in https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 as well?

[2022-04-12 02:54] amye commented on #677
Jira is the better path here

[2022-04-12 13:02] bridgetkromhout commented on #692
Hi, @amye! We're so close to done! I filed CNCFSD-1197 based on the request in https://github.com/oras-project/oras/issues/334#issuecomment-1021585399.

[2022-04-14 02:43] BinaryHB0916 commented on #677
@amye hi Amye, the domain transfer had been approved in Jira. I assume this one can be signed off now?

Other than that, does the trademark transfer go well?

[2022-04-14 02:49] amye commented on #677
So! Yes on domain transfer, I need additional review on trademark.

[2022-04-14 03:34] attlee-wang commented on #723
@[idvoretskyi](https://github.com/idvoretskyi) @[amye](https://github.com/amye)
We have reviewed the license, we just forgot to reply. Done it.

[2022-04-14 16:00] #723 closed

[2022-04-15 02:59] BinaryHB0916 commented on #677
@amye thanks, may I ask how long would it take? KubeVela is about to propose for Incubation stage.

[2022-04-18 19:49] fitzthum commented on #799
@amye

Ok, I think we can also check off

@dcmiddle has gotten us off to a great start on the CII badge. We've worked through the requirements in two different meetings and created GitHub issues to track outstanding requirements for the completion of the badge. More info available on this issue https://github.com/confidential-containers/community/issues/12

We have DC for all our repos now. See: h

[2022-04-19 15:43] caniszczyk opened #824 "Move most of https://github.com/cncf/toc/blob/main/docs/projects.md to landscape metadata"
I love this document: https://github.com/cncf/toc/blob/main/docs/projects.md

However, most of the data around project acceptance dates, sandbox to incubation dates, security audits etcs should live in the landscape.yml and we can create a nitfy page to show some of this in some fashion: e.g.,
https://github.com/cncf/landscape/blob/master/landscape.yml#L24

[2022-04-19 15:43] caniszczyk commented on #824
I'd like to put this on your plate @jeefy potentially after kubecon EU

[2022-04-20 08:50] Jinglun-Shang commented on #798
Hi @amye

Now, we have completed [302](https://github.com/FabEdge/fabedge/issues/302), [303](https://github.com/FabEdge/fabedge/issues/303), [304](https://github.com/FabEdge/fabedge/issues/304), [305](https://github.com/FabEdge/fabedge/issues/305), [306](https://github.com/FabEdge/fabedge/issues/306), [307](https://github.com/FabEdge/fabedge/issues/307), [309](https://github.com/FabEdge/fabedge/is

[2022-04-20 09:02] Jinglun-Shang commented on #798
Hi @amye

After a series of communications, we decided to sign the agreement.

'Trademarks: transfer any trademark and logo mark assets over to the LF.'

But I have a question, how do we sign the agreement?

[2022-04-20 11:55] magowan commented on #799
We also now have a pull request https://github.com/cncf/landscape/pull/2559

for

(https://github.com/confidential-containers/community/issues/21) Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/

Hoping this matches what is expected @amye ?

[2022-04-20 15:49] amye commented on #798
So you can send me a signed copy at amye@linuxfoundation.org and I'll return a fully executed copy.

[2022-04-20 19:27] bridgetkromhout commented on #692
Hi, @amye! My FOSSA helpdesk issue has been resolved - is there any work left to do? Are we finished onboarding ORAS? Thanks!

[2022-04-20 19:31] amye commented on #692
We are complete here!

[2022-04-20 19:31] #692 closed

[2022-04-20 23:15] amye commented on #799
Checking in here:

- [ ] Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk

I'm getting a lot of questions about trademarks that can best be answered in Servicedesk or in your maintainers list. Current status on getting us emails? You can give them to me privately at amye@linuxfoundation.org

[2022-04-21 01:27] csantanapr commented on #794
@amye Can you mark trademark complete?

[2022-04-21 01:28] amye commented on #794
Done!

[2022-04-21 02:02] csantanapr commented on #794
@amye
Can you mark the following complete

We have a community and was able to run a test event
https://community.cncf.io/knative-community/

[2022-04-21 02:04] amye commented on #794
Of course I can. :)

[2022-04-21 09:47] mkorbi commented on #814
Hallo, I added WG charter proposal https://docs.google.com/document/d/1JaF7lSUmLQ2zmScmca6UF7PgbjMzSxjhhjx2LThThaY/edit?usp=sharing

[2022-04-21 12:35] dims commented on #814
Max,

Thank you! can you please open a PR against
https://github.com/cncf/toc/tree/main/workinggroups when ready and the TOC
will review it again after that.

Overall it looks good. we may want to tighten the definitions to reflect
that the work will be focused in and around the cloud native ecosystem if
possible. (e.g when you mention projects, qualify that we are talking about
the ones here or a

[2022-04-21 18:19] csantanapr commented on #794
I added amye@linuxfoundation.org as Administrator for our Google Analytics for our website knative.dev

@amye the new version of google analytics only has "Administrator" as the role with the most access this is the same as "owner"
![image](https://user-images.githubusercontent.com/1094878/164527240-297844c6-2c01-4f9b-a735-d4637112c74b.png)

Can we close this TODO?

[2022-04-22 00:29] amye commented on #729
Marking trademarks complete!

[2022-04-26 18:25] amye opened #829 "[SANDBOX PROJECT ONBOARDING] OpenFunction"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-04-26 18:25] amye opened #830 "[SANDBOX PROJECT ONBOARDING] Teller"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-04-26 18:25] amye opened #831 "[SANDBOX PROJECT ONBOARDING] sealer"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#intr

[2022-04-26 19:43] fitzthum commented on #799
@amye

Resent

[2022-04-26 19:49] amye commented on #799
Done!

[2022-04-27 01:53] Jinglun-Shang commented on #798
Hi @amye,

I'm sure that you've received FabEdge's trademark transfer contract by now. So, could you please tick the list?

Besides, I think we have finished this one: Website: ensure LF footer is there and website guidelines followed.
Please see, http://www.fabedge.io

Also, About Website: Analytics transferred to amye@linuxfoundation.org. What do we need to do if we want to complete this one?

[2022-04-27 02:25] fanux commented on #769
https://github.com/cncf/toc/issues/831 @amye I don't have issue 831 edit promission, how can I update the todo list?

[2022-04-27 02:53] amye commented on #769
Drop us notes in #831, we'll respond in there 😄

[2022-04-27 04:00] amye commented on #831
@fanux - We're in here! It's great to see you all!
First things: landscape and maintainers.cncf.io is a great place to start!

[2022-04-27 04:04] fanux commented on #831
I got it~

[2022-04-27 14:19] lukaszgryglicki commented on #830
Test [DevStats](https://teller.teststats.cncf.io) page added.

[2022-04-27 14:20] lukaszgryglicki commented on #831
Test [DevStats](https://sealer.teststats.cncf.io) page added.

[2022-04-27 14:46] lukaszgryglicki commented on #829
Test [DevStats](https://openfunction.teststats.cncf.io) page added.

[2022-04-27 15:53] lukaszgryglicki commented on #829
Prod [DevStats](https://openfunction.devstats.cncf.io) page added, ETA for adding new project to [All CNCF](https://all.devstats.cncf.io) is tomorrow (same with adding it to `Project(s) Health).

[2022-04-27 15:53] lukaszgryglicki commented on #830
Prod [DevStats](https://teller.devstats.cncf.io) page added, ETA for adding new project to [All CNCF](https://all.devstats.cncf.io) is tomorrow (same with adding it to `Project(s) Health).

[2022-04-27 15:53] lukaszgryglicki commented on #831
Prod [DevStats](https://sealer.devstats.cncf.io) page added, ETA for adding new project to [All CNCF](https://all.devstats.cncf.io) is tomorrow (same with adding it to `Project(s) Health).

[2022-04-27 16:41] amye commented on #798
Just add me as owner on that!

[2022-04-28 06:19] fanux commented on #831
Maintainers https://github.com/alibaba/sealer/blob/main/MAINTAINERS.md https://github.com/cncf/foundation/pull/335 added.

[2022-04-28 06:25] benjaminhuo commented on #829
@lukaszgryglicki @amye Thanks for these updates, I'm an OpenFunction maintainer and will follow up with the onboarding process.

[2022-04-28 07:50] Jinglun-Shang commented on #798
Thank you!

However, I'm still not sure how to set you up as the owner, could you please give me an example?

[2022-04-28 07:50] Jinglun-Shang commented on #798
Thank you!

However, I'm still not sure how to set you up as the owner, could you please give me an example?

[2022-04-28 16:55] hh commented on #794
- [x] Domain: transfer domain to the CNCF - https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63
  - https://github.com/knative/test-infra/issues/3134#issuecomment-1112436258
  - > Both domains have been transferred in sucessfully

[2022-04-28 21:52] csantanapr commented on #794
@amye Could you mark this done?

Knative badge is located here https://bestpractices.coreinfrastructure.org/en/projects/5913

[2022-04-28 22:49] amye commented on #794
Sure can!
We're so close!

[2022-04-29 07:10] benjaminhuo commented on #829
Hi @amye @lukaszgryglicki, hope you're doing well!

We've created a maintainer list and added it to aggregated https://maintainers.cncf.io/ list by this PR https://github.com/cncf/foundation/pull/336

I'm not sure where should we add emails for the maintainer list:
`Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and S

[2022-04-29 08:41] benjaminhuo commented on #829
Finished items:
- [ ] GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2022-04-29 08:47] lukaszgryglicki commented on #829
New project added to [All CNCF](https://all.devstats.cncf.io/d/1/activity-repository-groups?orgId=1&var-period=h24&var-repogroups=%22OpenFunction%22&var-repogroups=%22Teller%22&var-repogroups=%22sealer%22) instance and [Projects Health](https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1).

[2022-04-29 08:48] lukaszgryglicki commented on #830
New project added to [All CNCF](https://all.devstats.cncf.io/d/1/activity-repository-groups?orgId=1&var-period=h24&var-repogroups=%22OpenFunction%22&var-repogroups=%22Teller%22&var-repogroups=%22sealer%22) instance and [Projects Health](https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1).

[2022-04-29 08:48] lukaszgryglicki commented on #831
New project added to [All CNCF](https://all.devstats.cncf.io/d/1/activity-repository-groups?orgId=1&var-period=h24&var-repogroups=%22OpenFunction%22&var-repogroups=%22Teller%22&var-repogroups=%22sealer%22) instance and [Projects Health](https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1).

[2022-04-29 09:59] fanux commented on #831
'thelinuxfoundation' and 'caniszczyk' are added as initial org owners: https://github.com/sealerio

[2022-04-29 10:29] fanux commented on #831
How to enable [CLA](https://github.com/cncf/cla) for a GitHub repositories? @amye DCO already enabled.

[2022-04-29 16:01] amye commented on #829
Drop me an email - amye@linuxfoundation.org and that'll help me!

[2022-04-29 19:59] csantanapr commented on #794
@amye we decide to go with cncf cla with easyCLA opened a few service desk tickets to onboard into easyCLA

[2022-04-29 20:13] amye commented on #794
Perfect! I'll keep watch on that.

[2022-04-29 20:13] amye commented on #794
Perfect! I'll keep watch on that.

[2022-04-29 20:24] amye commented on #831
DCO is fine, I'll mark that off. We only need one, not both.

[2022-04-30 02:53] fanux commented on #831
@amye add maintainers done: https://github.com/cncf/foundation/pull/335

[2022-05-01 15:09] #823 closed

[2022-05-02 08:58] fanux commented on #831
contribute landscape logo done: https://github.com/cncf/landscape/pull/2572

[2022-05-02 13:17] jondot commented on #830
Added artwork:

https://github.com/cncf/artwork/pull/336

[2022-05-02 14:59] amye commented on #830
Marked off! Happy to check things off from comments here.

[2022-05-02 15:11] jondot commented on #830
Added landscape:
https://github.com/cncf/landscape/pull/2576

[2022-05-02 15:32] amye commented on #830
Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk < -- This one is a big help to us. Thanks!

[2022-05-02 15:56] jondot commented on #830
Done - see here: https://github.com/cncf/foundation/pull/338

[2022-05-02 19:35] lance commented on #794
Yeah, we considered it and discussed at length in the Steering Committee. Our choice, ultimately, was to go with EasyCLA.

[2022-05-02 20:07] caniszczyk commented on #794
OK no worries, I just wanted to give you a shot!

On Mon, May 2, 2022 at 12:36 PM Lance Ball ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-05-02 21:40] fitzthum commented on #799
@amye

Email sent. I will make a PR to the CNCF Maintainers list soon.

[2022-05-04 17:12] fitzthum commented on #799
@amye

Please see https://github.com/cncf/foundation/pull/340 for adding maintainers to CNCF list.

[2022-05-04 20:51] amye commented on #799
Awesome! I will get to this on Monday, I am OOO until then.

[2022-05-05 11:47] benjaminhuo commented on #829
`Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction`

should be changed to

`Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction`

[2022-05-06 06:43] benjaminhuo commented on #829
@amye @lukaszgryglicki , would you please help to create an `#openfunction` channel in https://cloud-native.slack.com ?
OpenFunction hasn't setup an official slack channel yet, so there's no existing one to export and then import, thanks!

Benjamin

[2022-05-06 17:11] caniszczyk commented on #829
created the slack channel for you :)

On Fri, May 6, 2022 at 1:43 AM Benjamin Huo ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-05-07 02:05] benjaminhuo commented on #829
Thanks a lot @caniszczyk !

[2022-05-08 22:03] magowan commented on #799
@amye  I believe we have now fulfilled
- Understand the license allowlist: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist
and
- Adopt a license scanning tool, like [FOSSA](https://fossa.com/) or [Snyk](https://snyk.io/)

[2022-05-09 07:48] kaplanelad commented on #830
add Teller to [contribute](https://github.com/cncf/contribute)
https://github.com/cncf/contribute/pull/110

[2022-05-09 15:08] ariel-adam commented on #799
@amye we hope you enjoyed your vacation :-)
Question from our side, we have the maintainer list, everyone are ready to sign, the other onboarding tasks are completed.
Do you think we could build a plan to get a press release next week in kubecon on the confidential containers project joining CNCF?

[2022-05-09 15:22] amye commented on #799
Marketing is not available to sandbox projects, sorry. The only note that Sandbox projects get is to the TOC list on the day they join.
Press releases are available at the incubation level.

[2022-05-10 02:35] benjaminhuo commented on #829
Artwork added https://github.com/cncf/artwork/pull/338

[2022-05-10 09:11] kaplanelad commented on #830
hey @amye, Could you mark this done?
- [x] CII best practices badge  - https://bestpractices.coreinfrastructure.org/en/projects/6039
- [x] Have added your project to https://github.com/cncf/contribute - https://github.com/cncf/contribute/pull/110

Thanks

[2022-05-11 13:48] fanux commented on #831
@amye  How to transfer analytics to you? And we already done some work, could you mark them off ?

[2022-05-11 13:49] fanux commented on #831
@amye how to transfer Analytics to you? And we have already done some work, could you mark them off?

[2022-05-12 02:42] hh commented on #794
I'm seeing the request to the GitHub Admins to add EasyCLA.
@lance do you want all repos to be covered on do you have a list of specific ones?
<img width="250" alt="image" src="https://user-images.githubusercontent.com/31331/167981405-ee60dc9f-ec21-41b7-bf6b-15e9c7530b2a.png">

[2022-05-12 18:08] vaikas commented on #794
@hh Today during the Steering meeting, we decided to make the switch Tuesday, May 24th. Reasoning is that many folks are traveling to Kubecon, so just in case there are any gotchas, felt it would be better to do this while folks have returned and we have enough hands on the keyboards :)

But, yes, on 24th, we'll flip all the repos on both knative & knative-sandbox.

[2022-05-29 23:46] ahrkrak commented on #720
Is this still waiting on CNCF Legal to indicate what needs to happen? (Seems like this is the only remaining item from the thread above...) Not sure where I'd go to check status of "CNCFSD-945" mentioned by @russellb above.
Would like to understand if there's anything we can do to push this to the next step. Seems like a shame to leave this hanging, given how widespread MetalLB usage is in the clo

[2022-05-30 02:19] dims commented on #720
@ahrkrak that would be https://github.com/cncf/servicedesk

[2022-05-30 07:56] fedepaol commented on #720
CNCFSD-945 is still marked as "waiting on legal", I left a ping on the issue.

[2022-05-30 07:56] fedepaol commented on #720
And I agree with @ahrkrak , please let us know if there's something we can help with to move it forward.

[2022-06-01 16:41] amye commented on #729
I just checked on Github, and it looks like this might have expired?
"GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership"
@xmulligan  - can you help here?

[2022-06-02 16:22] amye commented on #831
Please invite projects@cncf.io to your Google Analytics account.

[2022-06-02 19:02] kaplanelad commented on #830
Hey @amye, can you please check our completed tasks?

[2022-06-02 20:19] amye commented on #830
Question: Is "SpectralOps" a neutral GH org?
Process change: Analytics should now go to projects@cncf.io

[2022-06-02 22:45] caniszczyk commented on #830
The GitHub org needs to change for sure, please do that.

On Thu, Jun 2, 2022 at 3:19 PM Amye Scavarda Perrin <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-06-03 09:18] jondot commented on #830
Is there a definition for neutral? so we can help assess if we need to move (which in any way will be challenging because of our security requirements)

[2022-06-03 12:36] caniszczyk commented on #830
not tied to a company :)?

I'd just use the name of the project for the github org, e.g.,
tellerproject etc

On Fri, Jun 3, 2022 at 4:18 AM Dotan J. Nahum ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-06-07 20:34] amye commented on #830
Ah, so as I look through, I don't see emails - drop an email to cncf-maintainer-changes@cncf.io and we'll see you taken care of!

[2022-06-07 20:34] amye commented on #831
Checking back in here, I don't yet have emails for you all!
Drop an email to cncf-maintainer-changes@cncf.io and we'll get you taken care of!

[2022-06-08 05:15] jondot commented on #830
@caniszczyk @amye just sent email about maintainers.
On a different topic -- I'm wondering if we can set up a quick Zoom call to discuss the project name and org moves? we have a few challenges here we'd like to get your opinion on. We're GMT+3

[2022-06-10 08:55] benjaminhuo commented on #829
`openfunction.dev` has been transferred to LF
https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24065

[2022-06-10 15:06] amye commented on #829
Thank you!
One change here:
Website: Analytics transferred to projects@cncf.io - not just me anymore!

[2022-06-13 23:19] amye commented on #814
Closing as this group is now active.

[2022-06-13 23:19] #814 closed

[2022-06-13 23:23] amye commented on #815
#816  resolves

[2022-06-13 23:23] #815 closed

[2022-06-13 23:34] amye commented on #830
Yes, you have gotten the bi-weekly project sync in your email!

[2022-06-14 09:13] FeynmanZhou commented on #829
Hi @amye ,

Got it. I assume the Linux Foundation has the right to website analytics since we have transferred the domain. Do we need to send an email to projects@cncf.io to inform the CNCF team to transfer analytics? Just want to confirm it since I don't find guidelines in https://github.com/cncf/foundation and https://github.com/cncf/servicedesk

[2022-06-14 17:16] amye opened #853 "[SANDBOX PROJECT ONBOARDING] Clusterpedia"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:16] amye opened #854 "[SANDBOX PROJECT ONBOARDING] OpenCost"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:16] amye opened #855 "[SANDBOX PROJECT ONBOARDING] Aeraki Mesh"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:17] amye opened #856 "[SANDBOX PROJECT ONBOARDING] Curve"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:17] amye opened #857 "[SANDBOX PROJECT ONBOARDING] OpenFeature"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:17] amye opened #858 "[SANDBOX PROJECT ONBOARDING] kubewarden"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 17:17] amye opened #859 "[SANDBOX PROJECT ONBOARDING] DevStream"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-06-14 23:09] Xunzhuo commented on #855
Hi @amye, thanks for creating this issue and providing the infos to us!  I am going to follow up with the onboarding process.

[2022-06-15 12:09] ariel-adam commented on #799
@amye we are looking at the list and we think we have completed everything so we need your help to checkoff the following points:

1. Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/
2. CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
3. ServiceDesk: confirm maintainers have read https://www.cncf.io/services-for

[2022-06-15 21:45] dwbrown2 commented on #854
Really excited to being work on this today! @amye what's recommended avenue for questions? want us to just use this issue for everything or is another channel better for certain types of questions.

[2022-06-15 22:53] amye commented on #854
This issue is best!

[2022-06-16 02:54] xcaspar commented on #647
It has been submitted, please have time to deal with it, thank you.

[2022-06-17 05:18] Iceber commented on #853
@amye Thank you very much for creating this issue, can I start working for onboarding?

[2022-06-17 07:33] opencurveadmin commented on #856
Curve has its own separate neutral github organization. https://github.com/opencurve, and invitation as org own has been sent to 'thelinuxfoundation' and 'caniszczyk'

But there are projects other than curve under the organization of opencurve, does this matter?

[2022-06-17 08:50] aspirer commented on #856
The domain transfer request is submitted: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24176

[2022-06-17 09:11] aspirer commented on #856
We have created a new slack channel under CNCF workspace: project_curve
We didn't have a slack channel before, so we needn't to import data to this one.

[2022-06-17 11:16] cw123 commented on #856
CII best practices badge has been created:
https://bestpractices.coreinfrastructure.org/en/projects/6136

[2022-06-17 15:52] amye commented on #853
Please do! Getting

[2022-06-17 18:13] amye commented on #856
That is going to be more complicated, can it be in its own?

[2022-06-17 18:13] amye commented on #856
That is going to be more complicated, can it be in its own?

[2022-06-20 02:21] allencloud commented on #831
@amye

I have sent an email including sealer maintainers' email address to [cncf-maintainer-changes@cncf.io](mailto:cncf-maintainer-changes@cncf.io), and all those email addresses could be also found at https://github.com/sealerio/sealer/blob/main/MAINTAINERS.md

- [] Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and

[2022-06-20 03:13] Xunzhuo commented on #855
Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk: How and where can I provide the emails?

[2022-06-20 11:46] ilixiaocui commented on #856
Okay, we'll deal with it.

[2022-06-20 13:36] beeme1mr commented on #857
I'll start working on this from the OpenFeature side! Thanks for putting this checklist together.

[2022-06-20 16:11] amye commented on #855
cncf-maintainer-changes@cncf.io is the best place for that.

[2022-06-20 17:27] oleg-nenashev commented on #857
Me and @DavidPHirsch are also available to help with the project logistics

[2022-06-21 14:05] lukaszgryglicki commented on #859
DevStats [page](https://devstream.devstats.cncf.io) added.

[2022-06-21 14:05] lukaszgryglicki commented on #858
DevStats [page](https://kubewarden.devstats.cncf.io) added.

[2022-06-21 14:05] lukaszgryglicki commented on #857
DevStats [page](https://openfeature.devstats.cncf.io) added.

[2022-06-21 14:06] lukaszgryglicki commented on #855
DevStats [page](https://aerakimesh.devstats.cncf.io) added.

[2022-06-21 14:06] lukaszgryglicki commented on #854
DevStats [page](https://opencost.devstats.cncf.io) added.

[2022-06-22 01:10] basicthinker commented on #859
Hi @amye could we sign the trademark transfer agreement through DocuSign? If so, who will be the signer of CNCF? I may need an email to start the process.

As the IP policy states, "each project shall determine whether it will require use of an approved CNCF CLA." So, is it totally upon the project's decision? What would be CNCF's suggestion?

ASF requires Software Grant Agreement, but it is not r

[2022-06-22 01:14] basicthinker commented on #859
More clarification for this: Does it mean we can decide (1) whether to require CLAs or not, or (2) whether to use the CNCF version or another version but we must require CLAs anyway?

[2022-06-22 06:20] ilixiaocui commented on #856
1. add Curve as a sandbox project: https://github.com/cncf/landscape/pull/2204
2. create maintainer list + add to aggregated: https://github.com/cncf/foundation/pull/368

[2022-06-22 08:46] KeHaohaoke commented on #859
Hi @amye
According to the content of this section : "Domain: transfer domain to the CNCF-https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63".
A form needs to be filled out, in which LF Stakeholder's email is required to be filled. What should I fill in this email? Is there a specific email address available?

[2022-06-24 10:07] Iceber commented on #853
- [x] Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk
* Iceber Gu(caiwei95@hotmail.com)
* Calvin Chen(120380290@qq.com)

[2022-06-24 18:59] amye commented on #831
Marking off as done, invites are out for servicedesk and maintainers lists!

[2022-06-24 19:01] amye commented on #799
Marking you all off, welcome onboard!

[2022-06-24 19:01] #799 closed

[2022-06-24 19:25] amye commented on #853
Marking all those off!
One note: qq.com addresses don't seem to work well with the maintainers lists. Got a different one?

[2022-06-24 19:39] amye commented on #859
Sending me the signed document from your side is fine - project-onboarding@cncf.io is best for that!
^ Same for domain transfer
GitHub: ensure [DCO](https://github.com/apps/dco) or [CLA](https://github.com/cncf/cla) are enabled for all GitHub repositories of the project -- you can use either DCO or CLA

[2022-06-25 00:36] Iceber commented on #853
Calvin Chen(chen.wen.calvin@gmail.com)

Do I need to do anything else for `CII: Start on a CII best practices badge`?

[2022-06-25 02:56] amye commented on #853
Invites are sent!

https://bestpractices.coreinfrastructure.org/en is a good place to start

[2022-06-25 03:14] Iceber commented on #853
clusterpedia has been passed the CII best practices badge https://bestpractices.coreinfrastructure.org/en/projects/5539

[2022-06-25 03:16] amye commented on #853
You're the best! @jeefy will take it from here for a bit.

[2022-06-25 03:37] allencloud commented on #831
We have received the invitation of servicedesk and maintainers lists.

[2022-06-26 10:35] beeme1mr commented on #857
I've invited 'thelinuxfoundation' and 'caniszczyk' as org owners.

[2022-06-26 15:08] KeHaohaoke commented on #859
Hi @amye
From this information "https://jira.linuxfoundation.org/plugins/servlet/theme/kb/view/28485232?applicationId=3e610304-68ac-3a84-9285-cbbb3870e8ed&spaceKey=ITKB&portalId=2&title=%5BCI%5D%20Onboarding%20a%20new%20Project"
, I understand that if we want to manage the domain name ourselves after transferring the domain name, for example, adding A records, CNAME records and so on. We won't be

[2022-06-29 22:55] dwbrown2 commented on #854
I just submitted ticket `IT-24225` to being the domain transfer process!

Here's a quick update on other items:

Added projects@cncf.io as Admin in GA.

@amye anything you see outstanding on these items? huge thanks for all your help so far!

[2022-07-01 11:54] dims opened #867 "New mission for "TOC Contributors""
We have a group called "TOC Contributors":
https://github.com/cncf/toc/blob/main/CONTRIBUTORS.md

And currently here's what we tell them:
https://github.com/cncf/toc/search?q=%22toc+contributor%22

I think it may be better to associate the TOC Contributors to TAGs and WGs to make those bodies more effective as there is a list of people the leaders in those bodies can lean on for their ongoing work

[2022-07-01 13:31] TheFoxAtWork commented on #867
+1.  By shifting TOC contributors to the TAGs and their WGs we increase the pool of potential contributions beyond what it currently has today.  Also, given the TAGs function as expertise domain areas to complement the body of knowledge within the TOC, this further aligns with the documented intent behind TOC contributors, particularly as TAGs do a large portion of project reviews, presentations,

[2022-07-01 16:13] resouer commented on #867
+1 for shifting TOC contributors to TAG/WG.

[2022-07-01 16:45] kgamanji commented on #867
+1 to the shift to TAG/WGs

[2022-07-01 17:01] dims commented on #867
Here's what i am thinking of:

Step 1: Currently in https://github.com/cncf/people/ currently folks can add "TOC Contributor" and they will show up in https://www.cncf.io/people/technical-oversight-committee/#toc-contributors. Instead of "TOC Contributor", folks can say "TAG Security Contributor" and "TAG Runtime Contributor".
Step 2: Notify folks in [CONTRIBUTORS.md](https://github.com/cncf/toc/b

[2022-07-01 17:27] dwbrown2 commented on #854
Also, just finished transfer of OpenCost domain!

[2022-07-01 17:58] halcyondude commented on #867
Some folks contribute to and/or participate in multiple TAGs as well as TOC discussions. We should ensure that our process, workflow(s), and data model accounts and allows for this.

[2022-07-01 23:50] angellk commented on #867
+1 to @halcyondude's comment

Yes, to raising visibility of TAGs, however, Step 1 may serve to alienate people who would otherwise be contributing.

Also, more and more the TAG chairs sound like they are struggling with keeping up with current responsibilities. And, having them now tracking who is contributing does not take into consideration *WHY* people are no longer contributing.

Perhaps it wo

[2022-07-02 00:27] sdake commented on #867
As someone that is a passive “toc contributor”, I think our charter is
poorly defined. I am not sure how best to allocate the limited time I have
available for CNCF work.

I think this proposal has merit.

I understand the alienation problem. I always find it frustrating when I
have contributed to a body of work and structural changes “vanish” those
contributions. I know an EMERITUS file adds a li

[2022-07-03 12:25] KeHaohaoke commented on #859
@amye
"Adopt a license scanning tool, like [FOSSA](https://fossa.com/) or [Snyk](https://snyk.io/)"  Already done

[2022-07-04 02:57] KeHaohaoke commented on #859
Hi @amye
I have done the transfer of the domain "devstream.io" to CNCF:  https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24241

We transfer the domain "devstream.io" to CNCF.

And, we keep the administrative rights of the domain name "devstream.io", i.e. we keep the rights to set our own DNS about A records, CNAME records, etc.

[2022-07-05 08:26] daniel-hutao commented on #859
Done items last week:

- [x] CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en
- [x] Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of your project on GitHub).
- [x] Sla

[2022-07-05 08:35] IronCore864 commented on #859
We DevStream don't have permission to click those checkboxes, so here we summarize our current situation.

We have accomplished the following:

- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
- [x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x] Ensure

[2022-07-05 14:16] beeme1mr commented on #857
From the project side, please ensure that you:

- [x]  Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
- [x]  Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x]  Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charte

[2022-07-05 14:17] dwbrown2 commented on #854
The OpenCost domain is now unreaching taking all our docs down with it. @amye @caniszczyk any chance you can help? We didn't think DNS records would be changing

cc @AjayTripathy @teevans

[2022-07-05 14:30] dwbrown2 commented on #854
Looks like this was excluded somehow. Hosted with vercel. Here's info:

![image](https://user-images.githubusercontent.com/298359/177351907-6a3fcf29-3c7b-41d2-baa2-84f6cfd2af20.png)

Available at https://opencost-website.vercel.app/

[2022-07-05 16:00] jeefy commented on #854
LF IT updated the DNS records ~1hr ago. At this point it's waiting for DNS propagation. I'm checking every 10min or so, will update when something changes!

[2022-07-05 19:26] beeme1mr commented on #857
PR to add OpenFeature on the CNCF landscape.

https://github.com/cncf/landscape/pull/2650

[2022-07-05 23:13] Adam-Stack-PM commented on #854
Hi @jeefy, I noticed opencost.io is still down. Anything we can do on our side to help troubleshoot?

[2022-07-06 01:07] caniszczyk commented on #854
can you put what the DNS changes should be?

I see https://www.opencost.io working on my end, my guess is DNS didn't
propagate fully yet?

On Tue, Jul 5, 2022 at 6:13 PM Adam Stack ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-06 01:47] aspirer commented on #856
opencurve.io has been transferred successfully.

[2022-07-06 02:03] aspirer commented on #856
These tasks have been completed:
- Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
- Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
- Review the

[2022-07-06 03:23] dwbrown2 commented on #854
Based on whatsmydns, it looks like it's currently propagating: https://www.whatsmydns.net/#A/opencost.io

Vercel asks for these entries:

A                  @                 76.76.21.21
CNAME        www           cname.vercel-dns.com

[2022-07-06 10:56] tun0 commented on #854
The problem isn't propagation, it's DNSSEC: https://dnsviz.net/d/opencost.io/dnssec/

[2022-07-06 14:24] cjyabraham commented on #859
@KeHaohaoke the spelling issue is [now fixed](https://www.cncf.io/projects/devstream/).

[2022-07-06 15:28] jeefy commented on #854
@dwbrown2 Was DNSSEC on before the DNS transfer?

[2022-07-06 15:35] dwbrown2 commented on #854
I didn't actually set up the domain. @Ajaytripathy can you confirm?

[2022-07-06 15:42] AjayTripathy commented on #854
I believe its on by default where we set the domain up previously, but if it's causing issues can we just get it disabled on your end?

[2022-07-06 16:22] jeefy commented on #854
If there's a way for you to disable it still on your end, that might
resolve it. Otherwise I think we'll have to transfer the domain back and
then have you disable it.

The DNS Haiku meme is pretty on point here. :)

On Wed, Jul 6, 2022 at 10:42 AM Ajay Tripathy ***@***.***>
wrote:

[2022-07-06 16:25] dwbrown2 commented on #854
It's fully transferred from our Google domains account so don't think we can do anything currently.

[2022-07-06 17:40] beeme1mr commented on #857
PR to add OpenFeature to the CNCF maintainers CSV.

https://github.com/cncf/foundation/pull/382

[2022-07-06 18:27] AjayTripathy commented on #854
Standing by to receive. Can someone transfer when ready? Sadly this has taken down all of our documentation

[2022-07-06 18:36] caniszczyk commented on #854
jeefy, I'd go ping LF IT on Slack and coordinate the xfer back ASAP

On Wed, Jul 6, 2022 at 1:27 PM Ajay Tripathy ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-06 23:04] Adam-Stack-PM commented on #854
Thanks everyone for your help getting this resolved.

[2022-07-07 00:34] jberkus commented on #867
+1 to all of Dim's suggested changes.  Aside from that, in /people we really ought to have a way to indicate that someone is a TAG/WG lead, which currently we don't.

At least half the people currently listed under "TOC Contributors" have never actually contributed anything measurable.  There was a time when you could take that badge just based on being *interested* in contributing.  That's why th

[2022-07-08 03:11] xcaspar commented on #647
Hi @amye , this transfer has been completed.

[2022-07-10 07:58] fanux commented on #831
- [x]  Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements
- [x] Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of

[2022-07-11 20:15] amye commented on #831
Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements -- we'll need a fully executed copy from both sides. I don't have anything in the project onboarding inbox? project-onboarding@cncf.io is a great place to put that.

[2022-07-11 20:17] amye commented on #859
@cjyabraham  - this might be relevant to your team. Looks like there's a space stripped out from the data that's coming from the landscape.

[2022-07-11 20:34] beeme1mr commented on #857
Hi @amye, @jeefy, and @caniszczyk,

Does the CNCF offer an email service? We would like to use a vendor neutral email address if possible. Currently, we've `groups.io`  but it seems to be blocked by some services (i.e. NuGet).

Thanks!

[2022-07-11 21:11] amye commented on #857
Groups.io is what we typically have for projects, but describe where you're running into issues?

[2022-07-11 21:17] beeme1mr commented on #857
I'm trying to confirm the OpenFeature organization in NuGet using openfeature-core@groups.io but the email never shows up. My theory is that NuGet blocks generic domains like `groups.io` but I haven't confirmed that. I tried to email the NuGet support team a few days ago but haven't received a response.

[2022-07-11 21:33] beeme1mr commented on #857
I'll see if we accidently made it a moderated list. We set it up ourselves, so it's likely just a misconfiguration. Thanks for your help.

[2022-07-11 23:37] dwbrown2 commented on #854
@amye in addition to those points above we've also completed the following. we're almost done here and expect to have the remaining pieces completed this week.

Is there anything else you need from us on these items?

[2022-07-12 16:17] KeHaohaoke commented on #859
Hi, @amye
Update on the status of this jira issue via CNCF : https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24241?sda_source=notification-email,   "transfer domain to the CNCF"  has been completed。

![image](https://user-images.githubusercontent.com/103085894/178542273-8e294e92-6faa-419a-a00b-61023ed340ad.png)

[2022-07-12 21:00] amye commented on #855
Marking lots off! You should have gotten invites for the maintainers list and service desk, let me know if not.

[2022-07-13 03:38] Xunzhuo commented on #855
Thanks! I have been invited to maintainer list and service desk now!
Amye Scavarda Perrin ***@***.***>于2022年7月13日 周三05:00写道：

--

Kind regards,
[image: Xunzhuo Liu]

Xunzhuo Liu
cloud native engineer, Tencent
Wechat: XunzhuoTalk
| https://istiod.cn
| ***@***.***  ***@***.***>
<http://github.com/xunzhuo> <http://us.linkedin.com/in/bitliu>
<http://twitter.com/liuxunzhuo>

"Try not to become a man of

[2022-07-13 06:44] Xunzhuo commented on #855
Got a question, now maintainer list for aeraki mesh has been created, but it is for maintainers, right? Can we create a mail list for aeraki users/contributors? @amye

[2022-07-13 17:11] #788 closed

[2022-07-14 00:35] AjayTripathy commented on #854
@amye I think we're mostly done here minus the last couple items we plan to finalize soon. Anything we need to do update the checklist in the initial comment?

[2022-07-14 13:48] csantanapr commented on #794
@amye Could you mark the following 2 items done?

All our docs were updated and meets the CNCF IP Policy
We now are using easyCLA for all repos.

[2022-07-14 19:44] amye commented on #855
Taken care of in ServiceDesk!

[2022-07-15 00:31] basicthinker commented on #859
@amye I've signed and sent "CNCF Trademark and Account Assignment Agreement (2020 - reg trademarks)_DevStream_7-14-22" to project-onboarding@cncf.io through Docusign.

[2022-07-15 02:11] dwbrown2 commented on #854
We also have now completed these, which I believe are the last outstanding items on our end!

[2022-07-16 00:37] devsachinsharma opened #875 "Add Hindi translation to DEFINITION.md"
I saw all the different types of languages present in definition.md but Hindi was missing. So I really wanted to add it.

[2022-07-19 12:18] jondot commented on #830
@amye @caniszczyk hi, we are ready to move the main teller repo, to the new org, called `tellerops`.
we want to verify with you, that stars, watchers, forks will be preserved with the transfer,
what are your thoughts?

[2022-07-19 12:48] caniszczyk commented on #830
yes, stars/watchers/forks remain (there will be an automatic re-direct too
from the old location)

https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository

On Tue, Jul 19, 2022 at 2:18 PM Dotan J. Nahum ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-19 15:04] amye commented on #830
@jeefy and @nate-double-u can help on what domain you want! We're happy to get a domain for you.

[2022-07-19 16:15] joshgav commented on #867
+1 to integrating TOC "contributors" with TAG contributors. We should consider TAGs to be the first-line contributors and supporters of TOC's research and decisions, so a TOC contributor should ideally by definition be a TAG contributor.

As a corollary, it would be helpful to provide a common structure for TAGs to enable them to effectively contribute to TOC. For example, we might state that when

[2022-07-19 17:38] jberkus commented on #867
Again, to be clear: there is no reason to believe that anyone currently listed as a "TOC Contributor" is an actual contributor of any kind.  There is no reason to retain that list.

[2022-07-19 17:58] mrbobbytables commented on #867
Big +1 from me. We should be shining a light on the TAGs/WGs and pushing for more folk to get involved with them. I'd also like to 2nd @jberkus's comments on the TOC contributors list. The vast majority of people on the list haven't been involved in community at large, and should be removed and/or pruned significantly.

[2022-07-20 00:41] dshaw commented on #867
+1 for shifting focus away from TOC Contributors to the TAG/WGs. My only recommendation is to comb the TAG docs for references to "TOC Contributor" status before removing it completely. As one of the co-creators of the first SIG (now TAG), I recall that TOC Contributor status was a prerequisite to taking on a leadership role. I'm so proud to see how TAGs have evolved and think its a better indicat

[2022-07-20 06:51] alolita commented on #867
+1 to @dims suggestions and to @jberkus ' comments. Active participation guidelines (e.g. 3+ month inactivity) as well as not having the same person holding multiple roles (and hence not being able to spare time for any of them) could also be considered as criteria for retiring from leadership roles.

[2022-07-20 07:27] kaplanelad commented on #830
Hey @amye,
How can we continue with the other bulleted list?

Done:
- `Understand the project proposal process and reqs` -> the attached link is broken
- `Understand the services available for your project at CNCF` -> We read and understand
- `Ensure your project meets the CNCF IP Policy` -> Our project meets the IP Policy
- `Understand the trademark guidelines` -> understand
- `Understand the lic

[2022-07-20 10:33] lizrice commented on #867
I'm generally very much in favour of this, but let's make sure that however we express it, we continue to encourage people to turn up and participate directly at TOC meetings/TOC mailing list. People shouldn't feel that they have to "qualify" to attend a TOC meeting by being a representative of a TAG/WG first.

[2022-07-20 15:01] dims opened #877 "Best Practices for code attribution"
The CNCF policy on copyright notices are here (specifically the case where third party code is included):
https://github.com/cncf/foundation/blob/main/copyright-notices.md#what-about-third-party-code

However there are some best practices in several projects including guidance like:
- Have a well-marked directory indicating third-party code
- Ensure LICENSES and NOTICES of the third-party code is

[2022-07-20 15:02] amye commented on #830
A few things have changed here!
(1) Best email for maintainers: project-onboarding@cncf.io
(2) Analytics should go to projects@cncf.io
I'll mark the rest of those off.

[2022-07-20 15:02] amye commented on #830
https://github.com/cncf/toc/blob/main/process/project_proposals.md < -- we moved from .adoc to .md

[2022-07-20 18:38] jzelinskie commented on #877
I'm sure there have been discussions about DCO/CLA, but that seems pretty important for existing contributions.

This might also tie into tracking bill of materials for projects, too. It's a slippery slope into SBOMs.

[2022-07-20 18:46] cathyhongzhang commented on #867
I like the suggestion of @joshgav on providing a common structure for TAGs to contribute to TOC effectively when TOC needs evaluation help and suggestion on a project.

[2022-07-20 18:49] cathyhongzhang commented on #867
@angellk raised a great point. If TAG chairs/leads are struggling with keeping up with current responsibilities and can not find contributors, we may need to take into consideration WHY people are no longer contributing to that TAG.

[2022-07-21 17:14] beeme1mr commented on #857
Hi @caniszczyk, I believe you own the openfeature.dev domain already. Does this fulfil the CNCF domain ownership requirements?

[2022-07-21 17:17] caniszczyk commented on #857
yes, CNCF/LF own it now

On Thu, Jul 21, 2022 at 12:14 PM Michael Beemer ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-21 17:34] amye commented on #857
Marking a bunch of things off! Anything I missed?

[2022-07-22 16:31] dims commented on #824
@jeefy could we do this before kubecon NA? :)

[2022-07-22 16:32] dims commented on #413
Looks like we have done this already thanks to @TheFoxAtWork. closing for now.

[2022-07-22 16:32] #413 closed

[2022-07-22 16:33] dims commented on #875
@devsachinsharma please feel free to open a PR. thanks!

[2022-07-22 16:40] dims commented on #867
ok, as i understand it so far ... let's divide this into two parts. A cleanup phase first and then a better model to bring in people to TAG + how TAGs can better support TOC.

We can start with the cleanup, first this will be:
1: Notify folks in [CONTRIBUTORS.md](https://github.com/cncf/toc/blob/main/CONTRIBUTORS.md), that the CONTRIBUTORS.md will be taken down and they are welcome to engage with

[2022-07-22 16:42] dims commented on #877
Agreed @jzelinskie. I want to start in the shoes of someone who wants to get something done and realizes that there is something already they could use (and how they can go about it the right way).

[2022-07-22 18:13] AjayTripathy commented on #854
@amye @caniszczyk I believe we are now all done! Is there anything we need to do on our end to close out this task list?

[2022-07-22 18:16] caniszczyk commented on #824
it's almost done I think if you go to
https://landscape.cncf.io/card-mode?project=hosted and click "Download as
CSV" you almost have everything

Jeefy to start double checking on any missing metadata

On Fri, Jul 22, 2022 at 11:31 AM Davanum Srinivas ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-22 18:20] cathyhongzhang commented on #783
Done

[2022-07-24 19:57] devsachinsharma commented on #875
@dims https://github.com/cncf/toc/pull/878

[2022-07-25 21:16] amye commented on #854
I think I'm just seeing:
GitHub: ensure that hat the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md) (or your adopted version of it) are explicitly referenced at the project's README on GitHub
 Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't

[2022-07-25 22:04] srpomeroy commented on #854
@amye
The [code of conduct](https://github.com/opencost/opencost/blob/develop/CODE_OF_CONDUCT.md) is available in the main project repo.
The LF footer is present on [opencost.io](https://www.opencost.io/) and all guidelines have been reviewed.

[2022-07-25 22:22] amye commented on #854
Awesome!
Do you want a space on community.cncf.io?

[2022-07-26 15:09] dwbrown2 commented on #854
Hi @amye, we haven't set any in-person community events yet, would it be ok if we follow up on community.cncf.io?

Also, we have now moved our project to its own separate neutral github organization! https://github.com/opencost

[2022-07-26 16:48] amye opened #879 "[SANDBOX PROJECT ONBOARDING] Hexa"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-07-26 16:48] amye opened #880 "[SANDBOX PROJECT ONBOARDING] Konveyor"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-07-26 16:48] amye opened #881 "[SANDBOX PROJECT ONBOARDING] Armada"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-07-26 16:48] amye opened #882 "[SANDBOX PROJECT ONBOARDING] External Secrets Operator"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-07-27 14:49] dims opened #884 "Documenting request and response from TAGs for sandbox projects"
Discussion on slack https://cloud-native.slack.com/archives/C0MP69YF4/p1658858779093989

We should write this down somewhere.

[2022-07-27 15:15] kgamanji commented on #783
Done!

[2022-07-27 19:58] moolen commented on #882
Hey there! We're thrilled about this! :tada: :partying_face:
We've created the above :point_up_2: linked issue to assign/track the work on our end. I'm sure there will be questions, we'll post them here.

Do you want us to post a proof of something when we've finished some piece of work: E.g. a screenshot of adding the LF footer to the website or a screenshot of GitHub Org ownership?

[2022-07-27 20:10] amye commented on #882
Marking it off in comments is completely fine, and thank you!

[2022-07-27 21:55] gusfcarvalho commented on #882
Hey all! Some questions came up to this one:

Is it enough to add projects@cncf.io to owner in our google analytics, or does transfer mean a different thing here? If we need to transfer it, can anyone point us to the direction? :smile:

[2022-07-27 22:02] amye commented on #882
Try the first one and I'll check it for you

[2022-07-27 22:43] jeefy commented on #824
Yep I think (at a glance) things that are missing are links to the TOC decks.

As I start "enriching" the Landscape data I can backfill those in.

[2022-07-27 22:55] resouer commented on #783
Done!

[2022-07-28 09:20] gusfcarvalho commented on #882
Thanks for your help! We've done it here on our end!😄

[2022-07-28 10:18] knelasevero commented on #882
Another Question, we have an Opencollective sponsoring page, with individual contributors and Organisation contributors. Is there a problem with keeping it? Is there any action items related to that that we are not aware of?

[2022-07-28 10:21] knelasevero commented on #882
Regarding the slack channel, we wanted to check if we could get admin rights in the channel that we already have in K8S slack space? We have a lot of movement there, I think we would confuse some users migrating to a new space.

[2022-07-28 10:41] knelasevero commented on #882
For the domain, we have it in Google Domains. Is it enough to add that email as owner? Or do we have to go through the actual transfer to the other service?

[2022-07-28 15:51] amye commented on #884
Bringing everything into one place:
@dims:
"Documenting request and response from TAGs for sandbox projects :thread:  (spun off from the sandbox call today)"
"Quite often during the sandbox review calls, we request TAGs to talk to the incoming projects and respond back to TOC in some form or fashion.
The request(s) go out in a summary email from Amye and projects often watch the video of the sandb

[2022-07-28 15:59] AjayTripathy commented on #854
@amye we also meet the CNCF IP Policy. So it looks like everything is done! Can you confirm we're finished?

[2022-07-28 16:21] amye commented on #854
Marking as closed, welcome onboard!

[2022-07-28 16:21] #854 closed

[2022-07-28 20:05] jberkus commented on #884
Why not use GH issues in this repo for the initial project questions?  Speaking based on helping out the Konveyor team, "edit your application" is not a good workflow.  It doesn't allow you to directly answer questions, it doesn't permit discussion or follow-up questions, and the appropriate TAG can't weigh in.  And the applications are pretty hard for the TOC to read to see exactly what's been ch

[2022-08-01 14:11] xmulligan commented on #729
We have created the meeting place at https://community.cncf.io/cilium-community/ just working on the license scanner now

[2022-08-01 20:59] ggebel commented on #879
- [x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
- [x]  Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- [x] Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
- [x] Review the online programs

[2022-08-01 21:24] knelasevero commented on #882
Emails from maintainers :)

Lucas Severo Alves, knelasevero, lucassalves65@gmail.com
Moritz johner, moolen, beller.moritz@googlemail.com
Gustavo Fernandes de Carvaloho, gusfcarvalho, gusfcarvalho@gmail.com

@gusfcarvalho @moolen do you think we should add more emails here? We have more people as emeritus approvers, etc.

[2022-08-02 10:44] lukaszgryglicki commented on #879
DevStats [page](https://hexapolicyorchestrator.devstats.cncf.io) added.

[2022-08-02 10:49] lukaszgryglicki commented on #882
DevStats [page](https://externalsecretsoperator.devstats.cncf.io) added.

[2022-08-02 11:45] lukaszgryglicki commented on #881
DevStats [page](https://armada.devstats.cncf.io) added.

[2022-08-02 16:11] RichiH commented on #783
Done

[2022-08-02 20:22] moolen commented on #882
Don't think so, we're good!

[2022-08-02 20:26] TheFoxAtWork opened #889 "Explore possibility of projects existing as a part of or under two or more foundations"
CNCF provides a home for cloud native projects, the nature of "cloud native" applies modern software development methodologies, practices, and processes to gain efficiencies and grow high velocity projects, however cloud native is not the only open source community that benefits from these principles. In particular, the general principles and best practices in supply chain security and application

[2022-08-03 05:40] kaplanelad commented on #830
Hey @amye
Any updates regarding the domain?

Can you please marked them as done?

[2022-08-03 18:29] beeme1mr commented on #857
Hi @idvoretskyi, I noticed that you helped other projects setup Synk. Would you be able to help get us setup as well? We've configured an org already named "open-feature" but it's using the free plan. Thanks!

[2022-08-03 18:34] beeme1mr commented on #857
Hi @amye, are web analytics required by the CNCF. If they are, is there a preferred tool? Also, what's the best way to get you the signed trademark and logo transfer doc?

[2022-08-03 18:36] amye commented on #857
Ihor's out of the office, @jeefy can help with Synk.
(1) If you have web analytics, we'll need to be added as owners
(2) If you're ready for that, send the PDF to project-onboarding@cncf.io and we'll return a fully executed copy to you.

[2022-08-05 13:50] bishal7679 opened #892 "Typo in keptn.adoc"
There are two typos in this file `brige` and `supporte`

![Screenshot (256)](https://user-images.githubusercontent.com/70086051/183090939-7a119f51-2a3a-4d91-a1d9-6bb93f850e73.png)

![Screenshot (257)](https://user-images.githubusercontent.com/70086051/183090945-18798fd1-cfde-42a6-8f35-4a640d0e3f2a.png)

[2022-08-05 14:55] dims commented on #892
@bishal7679 these docs we do not touch as they are not living docs.

[2022-08-05 14:55] #892 closed

[2022-08-05 15:27] dims commented on #875
Marking as done. #878 has merged.

[2022-08-05 15:27] #875 closed

[2022-08-05 15:28] dims commented on #824
thanks @jeefy

[2022-08-05 15:28] dims commented on #783
We are DONE! thanks you all!

[2022-08-05 15:28] #783 closed

[2022-08-05 15:33] dims commented on #884
For now the guidance/process is:

- Immediate after sandbox review, @amye will send one line summaries with accept/deny/more-info along with a link to the TOC playlist on youtube
- projects are welcome to review the recording to see what items TOC was debating about (when the recording is available on the playlist above later in the day)
- sandbox projects can use regular public or private communi

[2022-08-05 17:56] jberkus commented on #884
... that sounds like the existing process, which has already been shown to be vulnerable to communications failures.  What's the reason to never clearly communicate to the project the questions they need to answer?  What is gained by making it difficult for the project to figure that out?

[2022-08-05 18:37] joshgav commented on #884
projects are welcome to review the recording to see what items TOC was debating about (when the recording is available on the playlist above later in the day)

Particularly for projects requiring further support/review, how about @amye opens an issue in the correct TAG's repo with these details and a timestamped link to the TOC discussion. We can choose a standard label like "TOC review" so these

[2022-08-05 20:33] beeme1mr commented on #857
@amye is the [CNCF Trademark and Account Assignment Agreement PDF](https://github.com/cncf/foundation/blob/main/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20(2020%20-%20no%20reg%20trademarks).pdf) supposed to be editable?

[2022-08-05 21:19] amye commented on #857
I can email you an editable copy, drop a note to amye@linuxfoundation.org.

[2022-08-05 21:44] jberkus commented on #884
... or, heck, just assign a TOC member at the sandbox review meeting to send an email to the form submitter asking the questions, if dealing with this by GH issue isn't achievable right now.

"Listen to the meeting video to figure out what your project needs to clarify" just doesn't work.  Those discussions are often unclear, and do not indicate any TOC consensus on what needs to be answered.

[2022-08-08 02:20] linsun commented on #884
Hey folks!

I recently tried to take our bumblebee project through the sandbox process, and I appreciate all the reviewers to take the time to review the project.  After going through the rejection, here are a few things I would I would share about our experience and some areas that could be improved:

- The wait time is quite long.  I submitted the project in March and it didn't get reviewed till

[2022-08-08 14:01] gusfcarvalho commented on #882
Hello! some questions regarding the trademark transfer (non registered):
Paragraph 3.a As Container Solutions, are we allowed to still refer to eso logo? What are the rules for that? (e.g. running meetups, social media content, blog posts)

ESO is a joint community project. In so, Container Solutions does not own any top level domain bound to the ESO Logo. How would  Paragraph 3.b apply in this ca

[2022-08-08 15:07] amye commented on #882
Short answer: https://www.linuxfoundation.org/trademarks/
Longer answer: The project is still allowed to use the logo, we at CNCF/LF just hold the logo as part of the neutral home for IP.
If you don't have a domain, that's fine.

[2022-08-08 17:41] #647 closed

[2022-08-09 12:23] gusfcarvalho commented on #882
Thanks for the answer, but something is still not clear! the project does have a domain, but it is not owned by the organization that owns the logos. The domain is onwed personally by another maintainer and would be donated anyways. The question would be: do we need the maintainer that owns the domain to also sign a separate document? Or just the one from Container Solutions would be enough?

Sorr

[2022-08-09 17:56] dims commented on #877
also see https://github.com/cncf/foundation/issues/354

[2022-08-09 21:56] jzelinskie commented on #877
What's might further complicate things is derivative works or non-clean room implementations of things.

I can use a fairly concrete, but outlier example: when folks were attempting to reimplement a free version of Flash in the 2000s.
Because so many developers had agreed to the terms of service to install Flash player, they were actually incapable of legally contributing towards the implementatio

[2022-08-09 23:15] dims commented on #877
@jzelinskie for sure there are plenty of things to game plan out.

for this issue, i want to gather some general guidelines that we can tell folks to reasonably follow (across projects), then projects can have their own higher bar for things.. oh also, we need to tell people to ask for help with situations that may be "smelly"