[2022-08-12 21:16] TheFoxAtWork commented on #884
In response the community’s feedback, suggestions, and experiences in the sandbox process, the TOC is exploring the following changes.  Over the next several weeks we will be establishing a new process, form, and tracking model to provide better granularity in feedback, increased transparency of the queue, and clear expectations for stakeholders of the sandbox process.

* We will be leveraging a d

[2022-08-12 23:31] jberkus commented on #884
+1 NB

[2022-08-15 17:26] dims opened #898 "Health of etcd project"
The `etcd` project is a critical dependency of Kubernetes. The project has been struggling with both turnover of critical folks and lack of new folks with sufficient knowledge/experience to offset the loss of members.

original email from maintainers of etcd:
https://groups.google.com/a/kubernetes.io/g/steering/c/e-O-tVSCJOk/m/N9IkiWLEAgAJ

More recent health check:
https://groups.google.com/a/kub

[2022-08-15 17:40] dims opened #899 "Health of cortex project"
Grafana folks now have a new project called Mimir, here's the announcement:
https://grafana.com/blog/2022/03/30/announcing-grafana-mimir/

Project stats have been dropping off, example:
https://cortex.devstats.cncf.io/d/15/new-prs-in-repository-groups?orgId=1

Here's the current list of maintainers (2 from AWS, rest from Grafana as of Aug 15):
https://github.com/cortexproject/cortex/blob/master/MA

[2022-08-15 18:21] dims commented on #898
Process to cleanup maintainer list:
https://github.com/etcd-io/etcd/pull/14238

[2022-08-15 18:42] alvinlin123 commented on #899
Hi

Currently there are 3 active maintainers for Cortex @alanprot, @friedrich-at-adobe, and myself AWS and Adobe). Currently I am trying to recruit more maintainers from different organizations. We might have more maintainers from AWS to help reviewing PRs, but my goal is to have more maintainers from other organizations.

I am going to give a talk for Cortex during KubeCon  2022 NA, I am trying t

[2022-08-15 21:40] ahrtr commented on #898
Update versioning support :

- https://github.com/etcd-io/website/pull/601
- https://github.com/etcd-io/etcd/pull/14306

[2022-08-16 09:03] friedrich-at-adobe commented on #899
I am a maintainer too. I am not from AWS

[2022-08-16 09:35] RichiH commented on #899
For completeness' sake, @jtlisi is also a maintainer, but he has not been active since changing jobs.

This is mirroring other discussions we have had on GB, TOC and project levels over the last few months: Cortex has several large users and it would be best if they increased hiring and staffing for the projects they derive value from.

TOC could also make a public call for users to support Cortex

[2022-08-16 13:41] dims opened #900 "Health of Brigade project"
In the last annual review of Brigade, the maintainers requested either for some new folks to step up or archive the project:
https://github.com/cncf/toc/pull/845/files#diff-f60234e8ebf42cf703af9378082fd419b6c7cf03a8764af6a58f2ff6a180fde6R137-R139

At that point, some new folks stepped up, but the transition was not complete and the new folks have requested archival as well:
https://github.com/cncf

[2022-08-16 15:18] TheFoxAtWork commented on #884
On today's TOC call, we invited the community to also propose changes, removals, and additions to the questions we asking applying projects, please feel free to add them here.

[2022-08-16 15:30] TheFoxAtWork commented on #867
Recommendation from today's TOC call is to replace the existing TOC Contributors listing with the TAGs and their leadership in a YAML file that allows us pull this information as needed

[2022-08-16 15:33] TheFoxAtWork commented on #867
and listing these folks on cncf.io https://www.cncf.io/people/technical-oversight-committee/

[2022-08-16 15:33] jberkus opened #901 "Review list of Sandbox Questions"
With #884, the Sandbox Application Process is changing.  As such, we should revisit what questions we're asking of potential new sandbox projects.  The current list of questions hasn't been reviewed in two years, and isn't necessarily 100% what the TOC needs to know.

Please offer your suggestions on which questions should be added, and which removed, and why.

## Current list of questions

* Emai

[2022-08-16 15:34] jberkus commented on #884
I've created a new issue to specifically discuss the questions: https://github.com/cncf/toc/issues/901

[2022-08-16 15:42] halcyondude commented on #899
High level overview of Cortex vs. Mimir, side-by-side courtesy of [cauldron.io](http://cauldron.io/).  Dawn Foster pointed me to cauldron.

https://cauldron.io/compare?projects=6274&projects=6273

nice high level quantified "data based" summary of Commits, Issues, PR/MR, and the Community #'s.

the Cortex project started back in 2016, here's those reports w/ timescale (for context) going back to t

[2022-08-16 15:53] TheFoxAtWork commented on #889
@caniszczyk this sounds like your area.... there was discussion on today's TOC call that this may need to go to the GB but getting your gut check on this would be nice

[2022-08-16 16:38] jberkus commented on #901
Here's my suggestions based on experience as a sandbox submitter.  It changes the questions in a few ways:

1. It reorders the questions to put the URL and yes/no questions at the top, and the "essay" questions at the bottom, as well as grouping closely related questions together.
2. It splits some questions that currently ask for two different things into two different questions.
3. It adds quest

[2022-08-16 17:45] caniszczyk opened #902 "Create a checklist for archiving/offboarding a project"
Similar to what we have when a project is onboarded, we should create something for when the project is archived.

e.g., https://github.com/cncf/toc/blob/main/.github/ISSUE_TEMPLATE/project-onboarding.md

[2022-08-16 19:06] bridgetkromhout commented on #900
Hi, @dims! Thanks for following up. As you correctly noted, the annual report mentioned that new maintainers would be needed or the project would need to be archived; all the active maintainers had transitioned to other projects and weren't able to continue with this project. While there was some interest, in the end it wasn't feasible for a new maintainer to take over. We all agree at this junctu

[2022-08-17 01:05] jorgearteiro commented on #900
Agree with @bridgetkromhout. I haven't started anything as maintainer. I just tried to help a project that i really believe, in my free time.

[2022-08-17 05:18] alvinlin123 commented on #899
Thank you for all the feedbacks and data. As a Cortex maintainer, I am wondering what would be needed to resolve this issue? I would definitely do anything I can to move Corte toward the CNCF graduation path.

[2022-08-17 07:14] aantn commented on #900
Hi all, sorry to see the news on this. I love the concept behind Brigade and it's nice to see a code-based approach and not just more YAML.

I work on https://github.com/robusta-dev/robusta which also does code-based automation [1], but is more narrowly focused on alerting and SRE use cases. We're not a CNCF project (yet?) but if there is anything we can do to help then we are happy to do so. E.g.

[2022-08-17 12:10] dims commented on #899
@alvinlin123 at the moment, we use this to signal folks that more contributors are needed for Cortex. So no action items for the cortex team itself other than, please be ready to welcome folks if/when they show up.

[2022-08-17 14:38] dims commented on #900
thanks everyone for the discussion in https://github.com/cncf/toc/pull/845 and here. Will leave this open for two weeks (Aug 31st) and we can wrap this up at that time.

[2022-08-17 20:35] alvinlin123 commented on #899
Got it, thanks for the response @dims

[2022-08-17 22:38] jberkus commented on #901
Removed "link to project artwork" per Amye above.

However, I think it's very useful for the TOC to be able to see a list of maintainers; that tells you a LOT about a project.

[2022-08-18 02:48] halcyondude commented on #824
Hi @jeefy, I have a question :)

## Context / Background

I'm pulling data (daily) into https://github.com/cncf/landscape-graph (with a GH Action [here](https://github.com/cncf/landscape-graph/blob/main/.github/workflows/flat.yml#L25)).

TLDR: it's putting the landscape metadata into a Graph Database, uses GraphQL as an interface definition language (WIP), and hopes to provide a data model that ca

[2022-08-18 03:51] amye commented on #824
"How does the landscape-items.json get generated today?
How can I engage with existing efforts around landscape metadata curation / implementation?
Is there a schema, or de facto schema in use?"
You should ask this question in https://github.com/cncf/landscape/issues where @AndreyKozlov1984 will be better able to answer this

[2022-08-18 14:25] dims opened #905 "Health of OpenEBS"
Chatter from TOC folks looking at Incubation prospects of OpenEBS:
- https://github.com/cncf/toc/pull/506
- https://cloud-native.slack.com/archives/C0MP69YF4/p1656112677562789

Looking at the devstats graphs:
- [Company Statistics by Repository Group](https://openebs.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&search=open)
- [Activity Repository Groups](https://openebs.devs

[2022-08-18 14:34] dims commented on #905
cc @xing-yang @quinton-hoole @chira001

[2022-08-18 17:25] AkihiroSuda opened #906 "`toc/FAQ.md` might need to be updated for consistency with `foundation/dco-guidelines.md` about "pseudonyms""
I'm not really sure about the definition of "pseudonyms" but the latest `foundation/dco-guidelines.md` seems to allow using pseudonyms while `toc/FAQ.md` prohibits that.
Any chance to get `toc/FAQ.md` updated for consistency and clarity?

#### `foundation/dco-guidelines.md`: `DCO and Real Names`
https://github.com/cncf/foundation/blob/e0060f51/dco-guidelines.md

#### `toc/FAQ.md`: `Do I have to us

[2022-08-18 17:32] amye commented on #906
It's probably best to just link to the /foundation repo, keeps information in one place.

[2022-08-18 19:43] DMajrekar commented on #905
Here at Civo we're using the mayastor driver pretty extensively. We've been heavily involved in the testing and proving the scalability of the driver and are looking forward the 2.0 release that's predicted for early September.

Talking to the team at DataCore, they are committed to the project at the moment and keeping it OpenSource and available for the community to use. The OpenSource side of O

[2022-08-18 20:19] dims commented on #905
@DMajrekar can you please tag the folks in DataCore here on this issue? (so we can hear from them?) thanks!

[2022-08-18 20:31] nconnolly1 commented on #905
@DMajrekar - we're listening! ... and will be replying shortly. I'd rather give you a coherent picture than a set of piecemeal responses.

[2022-08-19 13:06] nconnolly1 commented on #905
Hi @dims  – yes, OpenEBS is still very much alive and kicking!

DataCore is fully committed to the ongoing development of OpenEBS and is applying its know-how and expertise to enrich the project with a full range of data services as well as investing in growing the community.

Since the acquisition of MayaData, OpenEBS has reached a milestone 3.1 release, including the production ready Mayastor 1.

[2022-08-19 14:55] savitharaghunathan commented on #880
Hi @amye, this repo 'https://github.com/cncf/contribute' has the following note - `This repository has been archived by the owner. It is now read-only.`  Is there another repo that I can refer to for creating required PR?

[2022-08-19 15:44] amye commented on #880
It's fine to leave it out, that site just re-launched and the pathways to adding projects there have changed. @cjyabraham, what's the correct way to add sites now?

[2022-08-19 16:34] gusfcarvalho commented on #882
Hello!

Regarding the ongoing process for onboarding, there are only two points that we remaing to do, and we still some help on them:

1. the first one is regarding the domain transfer to the CNCF. We currently have our domain in Google Domains, and we would like to know if it would be enough to add owner permissions there, or if a domain transfer would really be necessary

2. The second one is m

[2022-08-19 19:13] cjyabraham commented on #880
[The projects page on the Contribute site](https://contribute.cncf.io/contributors/projects/) is now automatically updating by pulling info from the CNCF Landscape, so once the project is added there it should be shown on the Contribute site within a couple of days.

[2022-08-19 19:18] amye commented on #880
Neat! We'll drop this requirement for onboarding moving forward.

[2022-08-19 19:21] savitharaghunathan commented on #880
Thank you @amye @cjyabraham for your super quick response.

[2022-08-19 21:05] ggebel commented on #879
Hi @amye , here are some more updates for you:

-[x] Is your project working on written, open governance? see https://contribute.cncf.io/maintainers/governance/
-[x] Is your project in its own separate neutral github organization?
-[x] Create maintainer list + add to aggregated https://maintainers.cncf.io/ list by submitting a PR to it

[2022-08-21 22:59] #902 closed

[2022-08-21 23:35] dims commented on #906
/assign @caniszczyk @amye

[2022-08-22 13:46] TheFoxAtWork opened #907 "Community stability for maturing projects - updates to Graduation"
As the ecosystem continues to grow, mature, and expand, we are experiencing more and more the the importance of positive, transparent, and kind community relations.  These characteristics of a mature and functional project are absolutely essential for community and project health and something we often reflect on when reviewing project updates and applications.

In recent weeks we’ve noticed incre

[2022-08-22 14:19] monadic commented on #907
Hi,

IMO it is very important that projects demonstrate a degree of sustainability and longevity before Graduation.  A one year delay after Incubation seems fair.  And the idea of verifying that the core people and community rules are stable(-ish) is a good question to ask.

But surely the issues we have seen with the projects under current scrutiny are not arising due to applications for graduati

[2022-08-22 17:08] lizrice commented on #907
The gist of this makes a lot of sense but one point of clarification: I hope this doesn't mean that projects can't have made any governance changes at all in the year prior to graduation as that might encourage projects to sweep known issues under the carpet in the hope that they can sort them out post-graduation.

For example, in the Cilium project we have a few processes that have been working f

[2022-08-22 17:15] dims commented on #907
for sure @lizrice

[2022-08-22 17:32] TheFoxAtWork commented on #907
Completely agree and a great clarification!

[2022-08-23 14:03] caniszczyk commented on #906
fixed https://github.com/cncf/toc/commit/aac8c46d5d397637c84036be0a14448b60735de0

[2022-08-23 14:03] #906 closed

[2022-08-23 15:16] serathius commented on #898
Update on maintainer cleanup:
We introduced procedure for removing maintainers, analysed activity and proposed to remove 6 inactive maintainers https://github.com/etcd-io/etcd/pull/14373, leaving etcd with 6 maintainers.

Seems like enough but I expect that within next 6 months another 2 maintainers will leave the project.

[2022-08-25 11:02] RichiH commented on #905
Thanks a lot for the details, @nconnolly1.

Are you able to guesstimate a timeline of the planned and started actions gaining traction? It's not urgent, we just want to anticipate a timeline for the graduation process.

[2022-08-26 23:32] jberkus commented on #907
Both of these requirements make sense, I'm wondering how we'd verify them on a consistent basis?  This suggests that we need a new section in the Due Dilligence for graduation.

[2022-08-29 18:42] krancour commented on #900
Just commenting that I hope no one has lost track of this. August 31 is just two days away and still no one has communicated the intention to archive Brigade to its community. The Brigade Slack channel is semi-active and people are trying/using Brigade and asking question about it and being met with silence. It would be better for the community, small as it may be, to hear sooner rather than later

[2022-08-29 21:14] savitharaghunathan commented on #880
Hi @amye, can you or the team provide some guidance on how to adopt a licensing scanning tool, please?

[2022-08-29 21:17] amye commented on #880
We can help you get set up with FOSSA or Snyk

[2022-08-29 21:23] savitharaghunathan commented on #880
Thank you, @amye . Once we (Konveyor maintainers) decide between FOSSA/Synk, should I create a service request or add a comment here with the tool name?

[2022-08-29 22:21] amye commented on #882
We'll need to have that transferred, it's part of the assets for the project overall. https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 is the best place to start.

What we've done in the past is have the group of maintainers who contributed the project over, is that the group that's listed in your PR for maintainers.cncf.io?

[2022-08-30 22:50] bridgetkromhout commented on #900
@krancour based on https://github.com/cncf/toc/blob/main/process/archiving.md I believe that the TOC (of which @dims is a member) informs the community; perhaps a link to this issue is needed in that channel, so I'll add it there.

[2022-08-31 15:36] krancour commented on #900
@amye it was proposed in #845, which was merged. I apologize, for I didn't know there was a dedicated process for proposing archival.

Now that I understand that... whose responsibility is it to PR that?

[2022-08-31 15:46] gusfcarvalho commented on #882
We internally arranged a transfer of the domain to Container Solutions, so our legal team was comfortable with signing the agreement -> [Assignment - Signed by CS.pdf](https://github.com/cncf/toc/files/9462738/Assignment.-.Signed.by.CS.pdf). Is it enough to upload it here?

[2022-08-31 18:35] nconnolly1 commented on #905
Hi @RichiH - I spoke to @GlennBullingham today and he is actively working on cleaning up the maintainers list, including contacting people to check whether they still wish to be involved. He's also cleaning up the permissions on the repos and will move on to the other areas afterwards.

I'll let @GlennBullingham comment on timescales.

[2022-09-01 00:00] bridgetkromhout commented on #900
Thanks, @amye. @krancour I've carried out the required proposal step in https://github.com/cncf/toc/pull/915. @karenhchu and I will take care of any remaining tasks. Thanks!

[2022-09-01 16:14] krancour commented on #900
Thanks, @bridgetkromhout!

[2022-09-05 11:18] jondot commented on #830
Hi @amye @caniszczyk -- friendly ping :)
Any news?

[2022-09-05 17:03] GlennBullingham commented on #905
@RichiH @nconnolly1

Hi @RichiH.  As Nick has already said, I and some of the other maintainers/contributors are actively working to make updates and improvements to project administration in a number of areas, as well to put processes and documentation in place to ensure that this will be just the beginning of a sustainable initiative of better community engagement.

- **Maintainers list**  I'm r

[2022-09-05 18:15] RichiH commented on #905
Thanks for the level of detail; looks good and we can mentally pencil in
mid/end of October.

Sent by mobile; please excuse my brevity..

[2022-09-06 14:50] halcyondude commented on #899
## Concerns

* longevity of the Cortex Project
* Abandonment by project by maintainers shortly after Incubation.
* Customers don't have vendor support for (Cortex) Apache2 based project.

## Action: Determine Adopter position(s): "Cortex vs. Mimir"

* [ ] Amazon Web Services (AWS)
* [ ] Aspen Mesh
* [ ] Buoyant
* [ ] DigitalOcean
* [ ] Electronic Arts
* [ ] Etsy
* [ ] EverQuote
* [ ] GoJek
* [ ] G

[2022-09-06 18:44] monadic commented on #899
this happened because one vendor decided to fork cortex and replace it with its own AGPL option

[2022-09-06 20:23] ggebel commented on #879
@amye, here is the latest batch of updates... can we have a call to discuss the remaining open items?

- [x] Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/
- [x] Have added your project to https://github.com/cncf/contribute (apparently this is superseded by the landscape pull request)
- [x] Artwork: Submit a pull request to https://github.com/cncf/a

[2022-09-06 20:40] amye commented on #879
Let me catch up on these, if we have your project maintainer emails at project-onboarding@cncf.io or cncf-maintainer-changes@cncf.io, we'll be able to communicate through your maintainer lists.

[2022-09-06 20:44] amye commented on #879
Seeing hexa-org failed to associate? I might have the org wrong?

[2022-09-06 20:46] amye commented on #879
[amye deleted a comment because wrong associated org] -  but Trademarks - https://github.com/cncf/foundation/tree/main/agreements has both registered and non-registered trademarks.

[2022-09-06 20:46] ggebel commented on #879
https://github.com/hexa-org is the right org and the main repo is https://github.com/hexa-org/policy-orchestrator

[2022-09-06 20:47] amye commented on #690
Marking as closed, we can help transfer FOSSA through Servicedesk

[2022-09-06 20:47] #690 closed

[2022-09-06 20:51] amye commented on #829
You should just be able to add projects@cncf.io as an owner to analytics, we're trying not to have this tied to any one person.

[2022-09-06 20:56] amye commented on #830
-- we moved from .adoc to .md

@jeefy and @nate-double-u can help on what domain you want! We're happy to get a domain for you

[2022-09-07 06:32] jondot commented on #830
perfect, looking forward ❤️

[2022-09-08 09:04] benjaminhuo commented on #829
I have invited mailto:projects@cncf.io)  to openfunction.dev on netlify as an owner
![image](https://user-images.githubusercontent.com/18525465/189081960-9d068d70-2609-48a7-a5ff-37041a83b10a.png)

[2022-09-08 11:07] friedrichg commented on #899
I find it odd that we are avoiding the elefant in the room.

**Is Mimir a healthy open source project?**

Mimir is a fork of cortex that uses AGPL instead of GPL and is solely maintained by Grafana Labs developers. That license excludes all possible meaningful collaboration from other companies.  So yes, you can fork mimir and create a new AGPL mimir fork, but you can't contribute the ideas in Mim

[2022-09-08 13:32] dims commented on #899
@friedrich-at-adobe that's fair. We can take a checkpoint again say at the year end? In the meanwhile, please link any positive news ("more public about the stuff that is happening in Cortex") here?

[2022-09-08 20:17] ewilderj commented on #907
TL;DR some slight wording suggestions to better embody the spirit of the changes.

Echoing @lizrice’s points, the spirit of this change makes sense.  I too am a bit nervous of inadvertently interpreting all change as instability. For example, Falco has recently renewed its governance documentation in the way Liz references for Cilium, documenting existing practice and implementing some fixes. In t

[2022-09-08 20:33] TheFoxAtWork commented on #907
@ewilderj this is precisely spot on,  thank you so much for the suggested reword, i have updated the issue to reflect your suggestion verbatim.

[2022-09-08 20:39] ggebel commented on #879
@amye Does CNCF share a license for FOSSA or snyk or does the project get its own license?

[2022-09-08 20:55] ggebel commented on #879
We receive an "internal error" when attempting to move website analytics to projects@cncf.io

![image](https://user-images.githubusercontent.com/83663628/189224222-15b1f72d-c669-426b-a2a8-c3b3fa2d2d89.png)

[2022-09-08 21:05] amye commented on #879
Try making them an owner instead of moving directly?

[2022-09-08 21:06] amye commented on #829
Right, the analytics piece relates to Google Analytics, not Netlify. Here, I can see that Nate and Chris are already added.

[2022-09-08 21:06] amye commented on #722
I've responded in email on this, this is still with Legal.

[2022-09-08 21:07] amye commented on #882
We will need to review this, please send this to project-onboarding@cncf.io

[2022-09-08 21:08] amye commented on #880
Adding a comment here is fine, we'll route from there.

[2022-09-08 21:09] amye commented on #859
Responded in email, but just sending us a PDF is better.

[2022-09-08 21:25] nate-double-u commented on #830
Hi, let us know what domain you'd like and I'd be happy to help register it and get it set up!

[2022-09-09 05:51] benjaminhuo commented on #829
Add [projects@cncf.io](mailto:projects@cncf.io) to
![image](https://user-images.githubusercontent.com/18525465/189280457-0374789e-34de-4b6c-9725-39b8faa4a8ed.png)

[2022-09-09 07:40] jondot commented on #830
Thanks @nate-double-u
I understand that it is a subdomain under CNCF (but maybe I'm mistaken?), so I guess we can name this subdomain just `teller.`?

[2022-09-09 15:03] amye commented on #830
No, we do not do subdomains for projects, project need full domains.

[2022-09-09 15:03] amye commented on #829
Super! You're almost done!

[2022-09-09 15:12] amye commented on #857
Not quite, still waiting on a signed copy :)

[2022-09-09 15:25] jondot commented on #830
oh, got it, so we might have mixed that up.

since `teller.io` is taken, we'll be happy to go with `tellerproject.io` hopefully that's in spirit of CNCF as far as naming?

[2022-09-09 15:28] amye commented on #830
That's perfect!

[2022-09-09 15:58] nate-double-u commented on #830
I'm traveling today, but I'll get that set up as soon as I can

[2022-09-12 11:55] gusfcarvalho commented on #882
Done!

We're also done with these following items:

[x] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
 [x] Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
 [x] Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.m

[2022-09-12 15:37] dims opened #918 "Documenting "Freeze period" before/during KCCN NA and improving for future KCCNs"
We tried it this time, please see https://lists.cncf.io/g/cncf-toc/message/7356

Let's gather thoughts/feedback on what worked and what didn't to write down the policy so it is clear to everyone.

text used in the email was:
[code]

And during the period we ended up taking the stance that:
[code]

Feedback welcome!

[2022-09-12 15:54] amye commented on #882
Not seeing a domain transfer or Github, can you check for me?
Invites have been sent to maintainers lists and Service desk.

[2022-09-12 16:13] amye commented on #882
Taken care of!
Do you want a space on community.cncf.io?

[2022-09-12 19:18] gusfcarvalho commented on #882
Yes please 😁

[2022-09-13 13:12] TheFoxAtWork commented on #918
Based on community feedback around this process, we're proposing the below modifications moving forward, we would love community feedback on this, especially where it improves clarity and reduces confusion.

- New and to-be sponsored applications to move levels are frozen 8 weeks before each KCCN, resuming the following week.
- Applications with an existing TOC sponsor can continue to progress the

[2022-09-13 13:57] tomkerkhove commented on #918
Out of curiosity - What's the reasoning about the time periods? 8 weeks seems a bit long given there are 3 KCCN's every year which means a freeze of 24w/5-6mo per year for new applications?

[2022-09-13 14:01] makkes commented on #918
Given there's two KubeCons each year this means there will be a yearly levelling freeze for projects of 4 months, i.e. for 1/3 of the year there will be no progress in that regard for any project. My concern is that this will just increase the pressure especially on the TOC as anything around levelling up (e.g. DD docs, conversations) will pile up for that amount of time.

Is KubeCon more importan

[2022-09-13 14:03] dims commented on #918
@tomkerkhove the Kubecon EU does not affect us as much. So this is more for Kubecon NA.

Sorry if it wasn't clear, this is not just for "TOC be freed up". there's work all around by everyone involved in DDs for example.

[2022-09-13 14:04] xmulligan commented on #918
"frozen" is unclear to me. In #917 CRI-O applied for graduation, is that allowed and just no work will be done until after KubeCon or should applications also not be made in the frozen timeframe?

[2022-09-13 14:06] dims commented on #918
@xmulligan folks can open PR(s), it's just that ... "don't expect progress in this time frame"

[2022-09-13 14:16] tomkerkhove commented on #918
@dims That's interesting - What is the difference in terms of workload if it's KubeCon NA or KubeCon EU? I don't see much of a difference, but it might be my lack of knowledge.

[2022-09-13 14:17] makkes commented on #918
Thanks for the explanation @dims. Maybe the freeze period should be a little more relaxed from "strictly no progress" to "progress based on individual availability". If a certain sponsor would not be affected by KCCN prep they can still move a project's application forward.

[2022-09-13 14:37] dims commented on #918
@tomkerkhove this is anecdotal, the pressure to do things/deadlines is less for EU (vs US). If this spikes up, we'll have to iterate and figure out if we want to use the same freeze guidelines or something lesser.

[2022-09-13 15:12] makkes commented on #918
Comparing

to

we might still need to think about how to give TOC folks more time to work on moving projects forward, no?

[2022-09-13 15:43] makkes commented on #918
I wouldn't be able to do that until I completely understand the requirements that went into the proposal. I perceive it like this:

1. TOC needs 8 weeks (or 6?) prior to KCCN to fully focus on KCCN preparation.
2. Projects are increasingly asking for expedition of their levelling process prior to KCCN.

As much as I can understand that it's not feasible to expedite the process just for KCCN I woul

[2022-09-13 16:19] hiddeco commented on #918
I would argue that with projects having their own focus weeks before KCCN as well, this policy will result in more pressure as they now have to deal with this and the "unavailability" of the TOC.

In addition to this, the push to get things done for next KubeCon is right after current KubeCon. Which means that you end up in a situation where the loop between conferences will now be closed with all

[2022-09-13 16:32] tomkerkhove commented on #918
This is also what I wonder

[2022-09-13 16:46] hiddeco commented on #918
Additional food for thought: making both as important would also help with creating more sustainable conferences. As you will not "miss out" if you do not take the plane from EU to US for a year (and while I am in favor of virtual attendance, this is not the same).

[2022-09-13 17:27] TheFoxAtWork commented on #918
Thank you to everyone for the questions to understand the constraints or circumstances that drove this proposal in order to improve upon it.

For additional clarification to assist in improving the proposed change:

- **8 weeks for new applications without sponsors** : undergoing due diligence is non-insignificant amount of work. conducting adopter interviews takes time and scheduling which become

[2022-09-13 17:45] tomkerkhove commented on #918
Thanks for the clarification!

For this ☝️, it might be good to rename the issue to avoid this confusion.

[2022-09-13 18:00] amye opened #919 "[SANDBOX PROJECT ONBOARDING] Serverless Devs"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:00] amye opened #920 "[SANDBOX PROJECT ONBOARDING] ContainerSSH"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:00] amye opened #921 "[SANDBOX PROJECT ONBOARDING] OpenFGA"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:00] amye opened #922 "[SANDBOX PROJECT ONBOARDING] Kured"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:00] amye opened #923 "[SANDBOX PROJECT ONBOARDING] Carvel"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:00] amye opened #924 "[SANDBOX PROJECT ONBOARDING] Lima"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-13 18:08] TheFoxAtWork commented on #918
adjusted. thanks !

[2022-09-13 20:45] jzelinskie commented on #877
Has the CNCF thought about hiring a firm that would perform due diligence for IP donated? This is pretty standard in M&A of software businesses, so I think it probably makes sense here, too.

[2022-09-13 21:31] caniszczyk commented on #877
We have lawyers on staff that do this type of thing Jimmy.

We have someone that constantly scans CNCF project code bases on a
quarterly basis too for licensing issues.

On Tue, Sep 13, 2022 at 9:45 PM Jimmy Zelinskie ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-09-14 12:50] kevin-wangzefeng commented on #918
I would like to add that we actually has 3 KCCNs now each year, KCCN China is the one besides KCCN NA and KCCN EU.

[2022-09-14 14:38] kevin-wangzefeng commented on #918
It might be clearer if we can phrase as a guideline/recommandation like this:
- For projects wish to graduate or move levels right before KCCN, please start the application 8 weeks before the KCCN.

If I understand correctly, we don't really want to stop/slow down projects from applying for graduation/incubation, but to clarify people's expectation that, regarding the current situation, the closer

[2022-09-14 14:58] TheFoxAtWork commented on #918
@kevin-wangzefeng thank you for the comments, i've corrected the conference section to reflect consideration for each of the three.

I've also captured your suggestion on the guideline-it reads much clearer and purpose driven.

regarding KCCN prep - You caught it - a lot of people have multiple roles, not just the TOC. Even if we exclude the enormous task of reviewing CFPs as a program committee m

[2022-09-15 02:36] anycodes commented on #919
Submitted a Pull request to add your project as a sandbox project to https://landscape.cncf.io/

[2022-09-15 02:39] anycodes commented on #919
GitHub: ensure [DCO](https://github.com/apps/dco) or [CLA](https://github.com/cncf/cla) are enabled for all GitHub repositories of the project

[2022-09-15 03:28] anycodes commented on #919
Artwork: Submit a pull request to https://github.com/cncf/artwork with your artwork

[2022-09-15 03:28] anycodes commented on #919
Create maintainer list + add to aggregated https://maintainers.cncf.io/ list by submitting a PR to it

[2022-09-15 03:30] anycodes commented on #919
Is your project in its own separate neutral github organization?

[2022-09-15 03:37] amye commented on #919
Point me to the repo so that I have it? (I'm sure I do, I just want to make sure)

[2022-09-15 03:54] anycodes commented on #919
I have already checked the followed items:

- Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.md#introduction
- Understand the services available for your project at CNCF https://www.cncf.io/services-for-projects/
- Ensure your project meets the CNCF IP Policy: https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy
-

[2022-09-15 03:56] anycodes commented on #919
The org： https://github.com/Serverless-Devs/

[2022-09-15 03:59] anycodes commented on #919
GitHub: ensure that hat the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md) (or your adopted version of it) are explicitly referenced at the project's README on GitHub

[2022-09-15 06:18] anycodes commented on #919
CII: Start on a CII best practices badge https://bestpractices.coreinfrastructure.org/en

[2022-09-15 07:24] dholbach commented on #922
- [x] CNCF Slack channel is created and advertised in our main README - we will keep the old channel around for some time to transition
- [x] Maintainers added to `maintainer.cncf.io`
- [x] PR against `cncf/artwork` is filed
- [x] GitHub org `kubereboot` (`kured` was already taken) is created and has Chris A and `linuxfoundation` as owners
- [x] Ticket to create `kubereboot` Docker Hub org is file

[2022-09-15 10:41] anycodes commented on #919
Have added your project to https://github.com/cncf/contribute

[2022-09-15 10:47] anycodes commented on #919
GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2022-09-15 10:54] anycodes commented on #919
Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of your project on GitHub).

[2022-09-15 12:31] anycodes commented on #919
Slack: Are your slack channels migrated to the Kubernetes or CNCF Slack? (see https://slack.com/help/articles/217872578-Import-data-from-one-Slack-workspace-to-another for more details)

[2022-09-15 15:37] amye commented on #919
You will want to migrate any slack channels that you have to either the Kubernetes or CNCF slack

[2022-09-15 17:42] nate-double-u commented on #830
tellerproject.io has been registered.

Do you have a website repo prepared? Do you need Netlify setup? (i'd recommend we do, it is a good tool for web hosting as well as selfserve DNS)

[2022-09-15 18:21] TheFoxAtWork commented on #918
So about 5 months for graduations, we can work backwards and estimate roughly 4 months to get the DD done/ refreshed and interviews conducted.  Interviews occur sporadically but i believe they are usually done _after_ the DD is considered near-complete. If you estimate a month for scheduling, holding, writing up interview summaries (this assumes the interviewee can be attributed as anonymous inter

[2022-09-15 18:29] amye commented on #918
"@amye & @dims can you estimate the time from application to sponsorship?" < - Varies widely, as it's up to individual availability on the TOC.

[2022-09-15 20:19] dims commented on #918
reminds me of the SEC Rule 156 - "Past Performance Is Not Indicative Of Future Results"

[2022-09-16 02:37] anycodes commented on #919
At present, we do not have Slack. At present, we communicate in real time through Wechat and DingTalk. Do we need to register Slack，and create the Serverless Devs channel?

[2022-09-16 07:09] anycodes commented on #919
Trademarks: transfer any trademark and logo mark assets over to the LF - https://github.com/cncf/foundation/tree/master/agreements has agreements

[2022-09-16 07:11] anycodes commented on #919
- [ ] Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of your project on GitHub).
- [ ] Is your project in its own separate neutral github organization?
- [ ] GitHub: ensure 'thelinuxfoundation' and 'caniszczy

[2022-09-16 07:12] anycodes commented on #919
Website: Analytics transferred to [projects@cncf.io](mailto:projects@cncf.io)

[2022-09-16 09:24] yanjianbo1983 commented on #798
Hi @amye, I'm the successor of JingLun-Shang who has already quit. I have a question to ask:

The repository in this task is already archived, how should I do to finish this task? Expect your reply, thanks.

[2022-09-16 15:11] amye commented on #919
Ah, that's fine. You can add those to your landscape entry!

[2022-09-16 15:14] amye commented on #798
The contribute site now pulls from the landscape.
Also, please add projects@cncf.io to your Google Analytics account.

[2022-09-16 15:26] anycodes commented on #919
OK.

By the way, I have completed the following tasks here:

- [ ] Website: ensure LF footer is there and [website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) followed (if your project doesn't have a dedicated website, please adopt those guidelines to the README file of your project on GitHub).
- [ ]  Is your project in its own separate neutral github organiza

[2022-09-16 17:45] aaguiarz commented on #921
@amye our CI/CD pipeline currently uses tools like Semgrep/Snyk for vulnerability scanning/FOSSA for licensing, in their non-free tiers, paid by Okta. Those runs from Github Actions.

I see we can get FOSSA with CNCF's help, not sure if we can get Snyk for vulnerability scanning.

Can we keep using Snyk for vulnerability scanning and the paid Semgrep tier, or should we move to free tiers?

Thanks

[2022-09-16 18:11] aaguiarz commented on #921
We are currently using Discord. Should we start using Slack?

https://github.com/cncf/foundation/pull/422

Adrian Tam <adrian.tam@okta.com> (@adriantam)
Andres Aguiar <andres.aguiar@okta.com (@aaguiarz)
Craig Pastro <craig.pastro@okta.com> (@craigpastro)
Damian Schenkelman <damian@okta.com> (@dschenkelman)
Jakub Hertyk <jakub.hertyk@okta.com> (@curfew-marathon)
Jonathan Whitaker <jonathan.whitaker

[2022-09-16 18:23] aaguiarz commented on #921
Do you have a preference?

We are currently using https://cla-assistant.io/ for CLAs, can we use https://easycla.lfx.linuxfoundation.org/#/ instead?

[2022-09-16 20:28] aaguiarz commented on #921
We don't have analytics on the website. Should we integrate an analytics service? Any preference?

[2022-09-16 20:39] amye commented on #921
If you don't already have one, no need!

[2022-09-16 20:40] amye commented on #921
Yes, the EasyCLA team is at https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/create/143 - they'll be able to help you out!

[2022-09-16 20:41] amye commented on #921
@jeefy can help with Synk or FOSSA

[2022-09-16 20:52] aaguiarz commented on #921
@amye  Can we keep Semgrep using our Okta license, or do we need to move to create an account for OpenFGA and move to a free tier?

Thanks!

[2022-09-19 01:57] anycodes commented on #919
@amye About the task “Provide emails for the maintainers added to https://maintainers.cncf.io/ in order to get access to the maintainers mailing list and ServiceDesk”，I want to make sure, is it alright if I provide you with the corresponding email address?

[2022-09-19 14:04] lukaszgryglicki commented on #921
DevStats page [added](https://openfga.devstats.cncf.io).

[2022-09-19 15:08] aaguiarz commented on #921
For transferring the domain here https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 should I set it this way?

Project: "None"
LF Stakeholder email: @caniszczyk's
Community Stakeholder email: mine

Thanks!

[2022-09-19 16:23] amye commented on #921
You want Project to be 'CNCF'.

[2022-09-19 16:23] amye commented on #919
Send an email to project-onboarding@cncf.io!

[2022-09-19 19:18] amye opened #929 "[ARCHIVE] Brigade"
- [x] TOC vote to archive passed
- [x] Move logo to archived on CNCF.io
- [x] Remove from landscape
- [x] Archive maintainers mailing list
- [x] Remove ML from maintainers@ mailing group
- [x] Remove/Archive on maintainers.cncf.io
- [x] Remove logo from all slide decks
- [x] Remove logo from event sites
- [x] Move logo to archived in artwork
- [x] Archive DevStats (or archive?)
- [x] Notify Speake

[2022-09-19 19:26] amye commented on #929
https://github.com/cncf/artwork/pull/360

[2022-09-19 19:37] amye commented on #929
https://github.com/cncf/landscape/pull/2764

[2022-09-20 02:26] anycodes commented on #919
Thank you，I just sent th email:
![image](https://user-images.githubusercontent.com/21079031/191153637-51163fb9-a23e-4800-94bf-6e21adeaca9a.png)

[2022-09-20 05:16] lukaszgryglicki commented on #924
DevStats [page](https://lima.devstats.cncf.io) added.

[2022-09-20 05:17] lukaszgryglicki commented on #919
DevStats [page](https://serverlessdevs.devstats.cncf.io) added.

[2022-09-20 05:22] lukaszgryglicki commented on #920
DevStats [page](https://containerssh.devstats.cncf.io) added.

[2022-09-20 05:33] lukaszgryglicki commented on #922
DevStats [page](https://kured.devstats.cncf.io) added.

[2022-09-20 05:39] lukaszgryglicki commented on #923
DevStats [page](https://carvel.devstats.cncf.io) added.

[2022-09-20 10:06] viccuad commented on #858
Thanks! The Kubewarden team is working on the list, see linked GH issue.

Link seems dead, now under https://www.linuxfoundation.org/legal/trademark-usage (can't edit this issue, yet good litmus test though! :))

[2022-09-20 17:33] aaguiarz commented on #921
https://github.com/cncf/landscape/pull/2766

[2022-09-21 02:39] SimonCqk opened #931 "[Annual Review] KubeDL 2022 Annual Review"
# KubeDL 2022 Annual Review

## Table of Contents

## Backgroud
KubeDL is a suite of Kubernentes controllers that enable running machine learning workloads on Kubernentes, such as model training and inferences, configuration tuning for model deployments.
Project website https://kubedl.io/

## DevStats
CNCF [devstats](https://kubedl.devstats.cncf.io/d/8/dashboards?orgId=1&refresh=15m) website
Docke

[2022-09-21 10:26] AkihiroSuda commented on #924
404

Pending:
- https://github.com/lima-vm/lima/issues/1062

GitHub org: https://github.com/lima-vm

- https://github.com/cncf/landscape/pull/2773

- https://github.com/cncf/foundation/pull/424

The `cncf/contribute` repo is archived

- https://github.com/cncf/artwork/pull/361

We do not have a domain.
Should we request CNCF to register a domain like `lima.io` or `lima-vm.io` ?

- @AkihiroSuda: su

[2022-09-21 11:56] dholbach commented on #922
Everything aside from CNCF Landscape (need to find somebody to create SVG for us) and governance guidelines (TBD at our next meetings(s)) should be done or N/A.

ServiceDesk request to add everyone to ServiceDesk is CNCFSD-1404.

[2022-09-22 12:58] aaguiarz commented on #921
https://github.com/cncf/artwork/pull/362

[2022-09-22 14:30] caniszczyk commented on #929
Before we close this, we need to ensure the website has an opentracing.io style "Archived" banner

Patrice will work on this

[2022-09-23 08:55] yanjianbo1983 commented on #798
Hi @amye , we have already add projects@cncf.io to our Google Analytics accounts as asked.

![image](https://user-images.githubusercontent.com/87515637/191925500-d0c4cf40-f042-410b-abfd-88fda5957a0e.png)

May you please tick this task now?

[2022-09-23 09:02] yanjianbo1983 commented on #798
Hi, @amye, I have one question about this task:

'caniszczyk' is already an owner of fabedge.  But 'thelinuxfoundation' didn't response to our invitation for a long time, what should I do?

[2022-09-23 15:53] ggebel commented on #879
@amye can you verify if the web site analytics are properly configured now?

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/83663628/192002030-e37ecd2d-ac3a-435c-b982-47cf8bc8b5e0.png">

[2022-09-23 21:05] ggebel commented on #879
- [x] GitHub: ensure [DCO](https://github.com/apps/dco) or [CLA](https://github.com/cncf/cla) are enabled for all GitHub repositories of the project

[2022-09-25 15:42] xmulligan commented on #918
Taking a first stab at writing this up. Feel free to comment/edit. I think it could be added [here](https://github.com/cncf/toc/blob/main/process/project_proposals.md) under a new "Timelines" section. I'm guessing a bit a the spirit of what everyone means so if I missed the mark, please let me know. Also going to add wording for sandbox since that also frequently comes up.

[code]

[2022-09-27 06:13] yanjianbo1983 commented on #798
@amye , we have alread finished this task:

https://jira.linuxfoundation.org/plugins/servlet/desk/portal/2/IT-24563

Could you please check our works and tick the tasks to complete them?

[2022-09-27 13:10] TheFoxAtWork commented on #918
@xmulligan i think a timelines section is appropriate as well, were you thinking of that [to go on the proposals page](https://github.com/cncf/toc/blob/main/process/project_proposals.md) with an FAQ that provides additional information/ background?

[2022-09-27 14:16] sanjacodes commented on #920
## Completed

Yes, we have a Working Group and a [charter](https://github.com/ContainerSSH/community/blob/main/CHARTER.md).

Yes, [github.com/containerssh](https://github.com/containerssh).

[CoC](https://github.com/ContainerSSH/community/blob/main/CODE_OF_CONDUCT.md) is linked in the main [README](https://github.com/ContainerSSH/ContainerSSH/blob/main/README.md), the organization's profile page,

[2022-09-27 15:20] TheFoxAtWork commented on #918
Please do!

[2022-09-27 20:58] xmulligan commented on #918
Opened in #933 let me know what you think about the FAQ I added

[2022-09-28 03:46] craigbox commented on #900
Looks like #915 closes this.

[2022-09-28 13:33] caniszczyk commented on #900
archived

[2022-09-28 13:33] #900 closed

[2022-09-28 14:16] dims commented on #900
thanks a ton everyone!

thanks @caniszczyk !

[2022-09-28 16:50] amye opened #935 "[INCUBATING PROJECT ONBOARDING] Istio"
Welcome to CNCF Project Onboarding!
This is an issue created to help onboard your project into the CNCF after the TOC has voted to accept your project.
We would like to complete onboarding within one month of acceptance.

From the project side, please ensure that you:

- [x] Understand the project proposal process and reqs: <https://github.com/cncf/toc/blob/main/process/project_proposals.md#introd

[2022-09-29 10:55] leonardpahlke opened #936 "Ideas to Improve the CNCF TAG formation process"
Hey all, I would like to take this opportunity to share some ideas that I have been thinking about while helping form the TAG Environmental Sustainability over the past few months. I believe there are some opportunities to improve the TAG formation process in the future. I hope that this will first lead to further discussion and then to improvements in the program.

I'll keep it as short as possib

[2022-09-29 13:10] caniszczyk commented on #920
We prefer #1 as we have Slack Enterprise on the CNCF Slack and won't cover
it for others

On Thu, Sep 29, 2022 at 2:29 AM Janos Bonic ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-09-29 13:26] cdeliaRH commented on #936
Thanks for sharing this @leonardpahlke. Let's add to our agenda for discussion during next meeting on Wed Oct 5.

[2022-09-29 14:40] chalin commented on #929
Done. A banner has been added to all sections of the website:

- https://brigade.sh/
- https://github.com/brigadecore/brigade/issues/1983

Note that I chose _not_ to add a banner to the (old) v1 docs. There is a banner in the v1 docs that refers the reader to the (latest) v2 docs, which themselves have a banner saying that Brigade is archived. That seemed enough. Let me know if that works for you,

[2022-09-29 18:48] amye commented on #920
You should. What information are you putting in?

[2022-09-29 20:32] amye commented on #920
https://jira.linuxfoundation.org/plugins/servlet/desk/portal/2/create/37 is the next step, open a ticket with LF IT because the domain transfer shouldn't fail like that.

[2022-09-30 12:11] xmulligan commented on #907
I feel like

would fit better as an Incubation requirement. I think it fits well with the current "Have a healthy number of committers and demonstrate a substantial ongoing flow of commits and merged contributions." requirements.

[2022-10-01 17:50] dholbach commented on #922
We are all on ServiceDesk now. We are using 1password, we moved our meeting videos to a shared youtube brand account. And will look into building a website next.

So even if while some things are still WIP, we feel we are very well onboarded already. :-)

[2022-10-01 18:40] AkihiroSuda commented on #924
Invitation expired after 7 days, retrying
cc @thelinuxfoundation @caniszczyk

[2022-10-04 21:01] #929 closed

[2022-10-04 21:49] amye commented on #935
@craigbox - maintainers emails are the biggest thing to help here!

[2022-10-05 01:26] craigbox commented on #935
Who does one normally list as a maintainer? We have ~87 listed [here](https://eng.istio.io/maintainers). Kubernetes seems to only have listed its Steering members.

[2022-10-05 01:38] amye commented on #935
Correct, these are the people who should be added to your maintainer list + they get voting rights in an election.

[2022-10-05 01:44] craigbox commented on #935
...is it OK to have 87 be listed for voting purposes? Not all will need service desk access.

[2022-10-05 01:48] amye commented on #935
No, establishing a steering committee is probably your best move.

[2022-10-05 01:54] dims commented on #935
LOL no to 87 :)

[2022-10-05 20:31] amye commented on #881
Adding @c-rindi & @Dave-Gantenbein

[2022-10-06 00:14] AkihiroSuda commented on #924
What do we need to get Lima listed in https://www.cncf.io/sandbox-projects/ ?

[2022-10-06 00:33] caniszczyk commented on #924
It should be automatic once you are added to the CNCF landscape as a
sandbox project, so maybe a bug…

On Wed, Oct 5, 2022 at 5:14 PM Akihiro Suda ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-06 00:49] AkihiroSuda commented on #924
Sorry, it is actually listed in https://www.cncf.io/sandbox-projects/ 😅 .
But not just greppable with Command-F/Ctrl-F.

[2022-10-06 14:56] amye commented on #924
This is expected behavior, try it for any of the projects.  :)

[2022-10-06 15:46] lukaszgryglicki commented on #935
DevStats [page](https://istio.devstats.cncf.io) added.

[2022-10-06 17:14] reegnz commented on #924
@amye could that be changed? WRT accessibility it's not that inclusive.

[2022-10-06 17:30] caniszczyk commented on #924
open up an issue here @reegnz https://github.com/cncf/landscape

[2022-10-06 17:31] seanorama commented on #924
+1000

CNCF community members do not land on a website and browser through dozens of items to find the item.
They search.
If they aren't searching, then they are either brand new to tech or aren't a good engineer/tech.

There is also the "accessibility" concerns:

1. search engines won't find it.
2. screen readers won't render it: for the blind and those that don't use it.

Other communities aim t

[2022-10-06 17:32] reegnz commented on #924
@caniszczyk thanks for the help, gonna do that!

[2022-10-07 06:09] AkihiroSuda commented on #924
@caniszczyk
We got this invitation, but we can't find an "accept" button in https://github.com/organizations/lima-vm/settings/billing .
Any further action needed from us?

[2022-10-07 08:12] lukaszgryglicki commented on #935
Added [Istio](https://istio.devstats.cncf.io) DevStats instance, and added Istion in [All CNCF](https://all.devstats.cncf.io) - those are [Project Health](https://all.devstats.cncf.io/d/54/project-health-table?orgId=1&var-repogroup_name=Istio) & [Projects Health](https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1) dashboards that include Istio.

[2022-10-07 16:40] caniszczyk commented on #924
This should be done now, thank you!

On Fri, Oct 7, 2022 at 1:09 AM Akihiro Suda ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-08 01:49] AkihiroSuda commented on #924
Thank you!

[2022-10-08 02:13] yanjianbo1983 commented on #798
Hi, @amye, I have finished this task:

[2022-10-10 09:53] craigbox commented on #935
Some I can tick off immediately; feel free to give me access to edit the first page if you prefer.

[2022-10-11 08:21] caniszczyk commented on #783
Thanks all, we should find a way to make this a requirement for TOC
members moving forward if folks feel comfortable with it.

The next question I'd have @dims is maybe thinking about adding this as a
graduation requirement for maintainers?

On Fri, Aug 5, 2022 at 10:28 AM Davanum Srinivas ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-11 21:54] microwavables commented on #923
Hi! Just getting back from battling covid, still not 100% but I will work through all of this this week and next!!

[2022-10-11 22:09] amye commented on #923
All good! We understand!

[2022-10-14 19:58] aaguiarz commented on #921
@amye Is it OK if we send the agreement in https://github.com/cncf/foundation/tree/main/agreements to @caniszczyk 's email through DocuSign? Should we send it to someone else?

[2022-10-14 20:17] amye commented on #921
Send it to project-onboarding@cncf.io

[2022-10-19 22:39] aaguiarz commented on #921
@jeefy could you please help me with Synk and FOSSA?

[2022-10-20 13:44] aaguiarz commented on #921
@amye In our notice.txt files we have "Copyright 2022 Okta, Inc.". I see other projects use "The <Project> Authors". Is it OK if we use "The OpenFGA Project Authors"? Should we mention CNCF?

[2022-10-20 21:15] caniszczyk commented on #921
Andres, please see:
https://github.com/cncf/foundation/blob/main/copyright-notices.md#copyright-notices

On Thu, Oct 20, 2022 at 8:44 AM Andrés Aguiar ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-20 23:23] cathyhongzhang commented on #884
I like the idea of "Leverage a project board to transparently show the community what is in the backlog, where projects are at or queued, etc.". Currently, we have this link to show the sandbox projects in the backlog https://docs.google.com/spreadsheets/d/1Nnh_usr0tSZxaUpxTusqeIqKxMmvuEViRkyO9e_Do40/edit#gid=1398510353. Whether we will use this link as the project board or refactor this one into

[2022-10-20 23:32] amye commented on #884
So here, it's attached to the sandbox repo - we have a workflow set for any newly created card will be added to 'New'.
https://github.com/orgs/cncf/projects/14

[2022-10-21 12:28] aaguiarz commented on #921
Check https://openfga.dev/

[2022-10-21 13:33] caniszczyk commented on #921
Also make sure you work on any issues found here :)
https://clomonitor.io/projects/cncf/openfga

On Fri, Oct 21, 2022 at 7:28 AM Andrés Aguiar ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-24 21:36] aaguiarz commented on #921
@jeefy now the Github org is part of CNCF's org, would it be possible to setup the integration with Synk and FOSSA? Thanks a lot.

[2022-10-25 09:16] ilixiaocui commented on #856
we have a problem not log in CNCF service desk about create meetings/events. The email send to us may be forgot to complete the confirmation, can you send it again? @amye

[2022-10-25 17:29] DavidPHirsch commented on #857
Hi @amye  is the trademark transfer still missing?

[2022-10-27 08:48] Tetita opened #953 "[ARCHIVE] project"
- [x] TOC vote to archive passed
- [ ] Move logo to archived on CNCF.io
- [ ] Remove from landscape
- [ ] Archive maintainers mailing list
- [ ] Remove ML from maintainers@ mailing group
- [ ] Remove/Archive on maintainers.cncf.io
- [ ] Remove logo from all slide decks
- [ ] Remove logo from event sites
- [ ] Move logo to archived in artwork
- [ ] Archive DevStats (or archive?)
- [ ] Notify Speake

[2022-10-27 09:30] yanjianbo1983 commented on #798
@amye I haven't received your reply for a long time? May you please check our tasks and  mark those I metioned above as completed? Thanks for your help?

[2022-10-27 13:04] #953 closed

[2022-10-27 22:31] microwavables commented on #923
How do I provide emails of my maintainers for Carvel?

[2022-10-30 12:39] JustinCappos commented on #889
I'd like to quickly add here a few reasons why projects that are in the CNCF might want to consider this:

- Additional channel to promote the project.  A different audience comes to KubeCon vs Open Source Summit vs AGL, etc. and if your work is applicable, it can help to have it seen by more eyes.  For example, the OpenSSF project [Sigstore](https://www.sigstore.dev/) just got a lot of visibility

[2022-10-31 16:11] microwavables commented on #923
Also, what would be the deadline for us to get everything in, in time to get a kiosk spot in the project pavilion in Amsterdam?

[2022-10-31 16:13] amye commented on #923
Events team will reach out when that's time, emails can go to project-onboarding@cncf.io :)

[2022-11-01 14:09] aaguiarz commented on #921
@amye can you confirm if I should use @caniszczyk 's emails as "LF Stakeholder" when transferring the domains? Thanks!

[2022-11-01 16:43] amye commented on #921
It can be me, that's fine.

[2022-11-01 16:51] aaguiarz commented on #921
I think we are done from our side, we still need help to:

- Setup EasyCLA
- Setup FOSSA/Snyk

Thanks for your help!

[2022-11-03 07:11] jondot commented on #830
@nate-double-u sorry we just had a kind of big holiday season here. Yes, we have a website prepared, I have my own netlify account too.
I guess I can start with deploying to some kind of netlify account, and you can take a look at the CNAME etc. or do you prefer something else more convenient?

[2022-11-04 16:41] amye commented on #798
We've still got Github and CLA/DCO outstanding, any updates here?

[2022-11-07 02:56] thincat75 commented on #856
These tasks have been completed:
1. Is your project working on written, open governance,  We put a reference to the governance in the CURVE README, and the link to the specific governance document is https://github.com/opencurve/community/blob/master/GOVERNANCE.md
2. Is your project in its own separate neutral github organization? Yes, the curve project is in its separate neutral github organizati

[2022-11-07 05:20] yanjianbo1983 commented on #798
@amye I choosed DCO.
![image](https://user-images.githubusercontent.com/87515637/200232016-3085a6e2-79b9-4763-979c-760f534c3282.png)

[2022-11-07 18:18] amye commented on #879
Checking back in on this -- we don't have your emails yet so we can't communicate with you!

[2022-11-07 18:19] amye commented on #858
Checking back in on this, it's been open for a bit! @viccuad  - anything we can do to help?

[2022-11-07 18:23] amye commented on #880
Checking back in on this,  GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership is important!

[2022-11-07 18:23] amye commented on #881
Hi all,
Checking in on this! Anything we can do to assist?

[2022-11-07 18:27] savitharaghunathan commented on #880
Thanks for the reminder @amye. I have added them to the org. I clicked invite too fast and it sent two invites to 'thelinuxfoundation`, please ignore one.

[2022-11-07 18:28] amye commented on #882
https://community.cncf.io/external-secrets-operator-community/ is live, who should get access?

[2022-11-07 18:35] amye commented on #880
Done!

[2022-11-07 18:46] ggebel commented on #879
Ok, just sent an email to [cncf-maintainer-changes@cncf.io]

[2022-11-08 11:32] stackedsax commented on #881
@amye I think we've completed a lot of these (almost all?), we just need to come back and update these checkboxes.  I'll leave that to Dave and his team since they're the ones actually doing the work.  Thanks for checking in on us!

[2022-11-08 15:49] amye commented on #881
Comments in here are fine, would like to get y'all closed out by December 15th!

[2022-11-08 19:38] savitharaghunathan commented on #880
@amye - hi 👋 for the website transfer, can I get an email address to enter for the LF stakeholder?

[2022-11-08 19:39] amye commented on #880
Use me! amye@linuxfoundation.org is fine!

[2022-11-09 09:49] viccuad commented on #858
Hi @amye, we are moving the missing 3 tasks about handovers in our side, we will update this card with the progress.
In the meantime, the linked issue has the current progress from our side (we can't edit this issue).

[2022-11-09 14:34] knelasevero commented on #882
@amye

Lucas Severo Alves, knelasevero, [lucassalves65@gmail.com](mailto:lucassalves65@gmail.com)
Moritz johner, moolen, [beller.moritz@googlemail.com](mailto:beller.moritz@googlemail.com)
Gustavo Fernandes de Carvalho, gusfcarvalho, [gusfcarvalho@gmail.com](mailto:gusfcarvalho@gmail.com)

Us 3 I think. @moolen @gusfcarvalho anybody else?

[2022-11-09 16:08] amye commented on #858
Comments are best in here, we can confirm from there!

[2022-11-10 15:02] dave-gantenbein commented on #881
Our main blocker now is the move to the neutral repo. We're going to schedule this for during the slow holiday week between Christmas and New Year's, so that if any of the workflows get disrupted it will not be as impactful.

[2022-11-10 15:11] savitharaghunathan commented on #880
@amye: can the team help us get started with FOSSA?

[2022-11-11 16:06] aaguiarz commented on #921
EasyCLA is now integrated.

[2022-11-11 16:06] aaguiarz commented on #921
Domain transfer was completed.

[2022-11-11 16:12] aaguiarz commented on #921
@amye The rest of the items that are unchecked are completed too:

https://github.com/cncf/artwork/tree/master/projects/openfga

We don't have Slack channels, we are using Discord. Should we create a Slack channel in CNCF's Slack?

https://github.com/openfga/.github/blob/main/CODE_OF_CONDUCT.md

In Openfga.dev, there's a CNCF icon at the bottom left that links to https://www.linuxfoundation.org/le

[2022-11-15 01:20] yanjianbo1983 commented on #798
Hi, @amye.  I had sent two invitation to "thelinuxfoundation" to be an owner of FabEdge organization, but this account had never responsed, what should I do now?

![image](https://user-images.githubusercontent.com/87515637/201802957-de476d46-8d30-4b47-a99a-a70cde78cba4.png)

[2022-11-15 14:17] caniszczyk commented on #798
you're all good here since you're invited to the CNCF github enterprise
instance

On Mon, Nov 14, 2022 at 7:20 PM yanjianbo ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-11-15 15:51] aaguiarz commented on #921
@amye @jeefy can we get help with FOSSA/Snyk? We are using our own configuration and we want to make sure the license checks are compliant with CNCF's.

Thanks a lot

[2022-11-15 21:19] microwavables commented on #923
@amye I have the signed transfer of trademark/IP agreement... Where do I send that to? project-onboarding@cncf.io?

[2022-11-15 21:21] amye commented on #923
Yep! We'll return a signed copy to you.

[2022-11-16 00:00] LukasGentele commented on #884
@amye Are the projects in this [google sheet](https://docs.google.com/spreadsheets/d/1Nnh_usr0tSZxaUpxTusqeIqKxMmvuEViRkyO9e_Do40/edit#gid=1398510353) still being worked on? We submitted DevSpace quite a while ago and it got pushed back during the last TOC meeting due to lack of time. Now, with the new issue-based process (love it btw!), I'm not sure if DevSpace will still be looked at during the

[2022-11-16 00:09] amye commented on #884
We'll be reviewing the google sheet at the next sandbox review meeting on December 13th.

[2022-11-16 08:51] LukasGentele commented on #884
Thanks for confirming, @amye. That's great news. I appreciate the quick reply. Thanks!

[2022-11-23 15:16] dholbach commented on #922
Website is up at https://kured.dev, we are on the landscape and governance has just been merged as well.

[2022-11-28 09:26] yanjianbo1983 commented on #798
Hi, @amye , according to this reply, does that mean this task

[code]
is completed?

[2022-11-28 14:55] TheFoxAtWork commented on #918
closing issue as PR #933  makes this complete

[2022-11-28 14:55] #918 closed

[2022-11-28 15:22] TheFoxAtWork opened #961 "Sustainable Sandbox and project maturity growth"
This issue is to capture some initial discussion items from the TOC and TAGs and invite the community to comment and provide additional suggestions, improvements based on their experience.

**Problem:**
Sandbox is a rapidly growing cluster of early maturity projects in the ecosystem. When Sandbox was initiated, one core element  was to provide an experimental, vendor neutral area to determine the

[2022-11-28 16:10] amye commented on #798
Yes.